Repository ggml-org/llama.cpp, pull requests merged in 2023-12, with the labels that each got.

#4092 feat: Allow overriding GGUF metadata when loading model
  common/common.cpp
  common/common.h
  llama.cpp
  llama.h
Labels: enhancement

#4312 llama : support quantum K cache
  common/common.cpp
  common/common.h
  examples/llama-bench/llama-bench.cpp
  examples/quantize-stats/quantize-stats.cpp
  examples/server/server.cpp
  ggml-cuda.cu
  ggml-metal.m
  ggml-metal.metal
  llama.cpp
  llama.h
Labels: need feedback

#4347 server : recognize cache_prompt parameter in OAI API
  examples/server/server.cpp
Labels: need feedback

#4309 llama : per-layer KV cache
  README.md
  common/common.cpp
  common/common.h
  examples/llama-bench/llama-bench.cpp
  examples/quantize-stats/quantize-stats.cpp
  examples/server/server.cpp
  ggml-cuda.cu
  ggml-metal.m
  ggml-metal.metal
  llama.cpp
  llama.h
Labels: performance, breaking change, need feedback

#4449 ROCm AMD Unified Memory Architecture (UMA) handling
  CMakeLists.txt
  README.md
  ggml-cuda.cu
Labels: need feedback

#4520 llama : initial ggml-backend integration
  Makefile
  ggml-alloc.c
  ggml-backend-impl.h
  ggml-backend.c
  ggml-backend.h
  ggml-cuda.cu
  ggml-metal.h
  ggml-metal.m
  ggml.c
  ggml.h
  llama.cpp
Labels: high priority, need feedback

#3727 server : allow to specify custom prompt for penalty calculation
  common/sampling.cpp
  common/sampling.h
  examples/server/README.md
  examples/server/server.cpp
Labels: need feedback

#4606 cuda : improve cuda pool efficiency using virtual memory
  CMakeLists.txt
  Makefile
  ggml-backend.c
  ggml-cuda.cu
  ggml.c
  ggml.h
  llama.cpp
  tests/test-grad0.cpp
Labels: high priority, need feedback

#4585 python: add check-requirements.sh and GitHub workflow
  .devops/full-cuda.Dockerfile
  .devops/full-rocm.Dockerfile
  .devops/full.Dockerfile
  .devops/main-rocm.Dockerfile
  .github/workflows/python-check-requirements.yml
  convert-hf-to-gguf.py
  convert-lora-to-ggml.py
  convert-persimmon-to-gguf.py
  requirements-hf-to-gguf.txt
  requirements.txt
  requirements/requirements-convert-hf-to-gguf.txt
  requirements/requirements-convert-llama-ggml-to-gguf.txt
  requirements/requirements-convert-lora-to-ggml.txt
  requirements/requirements-convert-persimmon-to-gguf.txt
  requirements/requirements-convert.txt
  scripts/check-requirements.sh
Labels: script
