Repository ggml-org/llama.cpp, pull requests merged in 2023-05, with the labels that each got.

#1232 Add git-based build information for better issue tracking
  .gitignore
  CMakeLists.txt
  Makefile
  examples/benchmark/CMakeLists.txt
  examples/benchmark/benchmark-matmult.cpp
  examples/embedding/CMakeLists.txt
  examples/embedding/embedding.cpp
  examples/main/CMakeLists.txt
  examples/main/main.cpp
  examples/perplexity/CMakeLists.txt
  examples/perplexity/perplexity.cpp
  examples/quantize-stats/quantize-stats.cpp
  examples/quantize/CMakeLists.txt
  examples/quantize/quantize.cpp
  examples/save-load-state/CMakeLists.txt
  examples/save-load-state/save-load-state.cpp
  scripts/build-info.cmake
  scripts/build-info.sh
Labels: enhancement, build

#1289 fix build-info.h for git submodules
  CMakeLists.txt
  scripts/build-info.cmake
  scripts/build-info.h.in
Labels: build

#1271 ci : add cublas to windows release
  .github/workflows/build.yml
Labels: build, windows

#1277 CI: add Windows CLBlast and OpenBLAS builds
  .github/workflows/build.yml
Labels: build, windows

#1303 llama : require first token to be BOS
  .gitignore
  README.md
  examples/common.cpp
  examples/main/main.cpp
  examples/perplexity/perplexity.cpp
  llama.cpp
  scripts/ppl-run-all.sh
Labels: high priority, generation quality

#1405 ggml : remove bit shuffling
  .gitignore
  README.md
  SHA256SUMS
  examples/quantize/quantize.cpp
  ggml-cuda.cu
  ggml-opencl.c
  ggml.c
  ggml.h
  llama.cpp
  llama.h
  scripts/perf-run-all.sh
  scripts/ppl-run-all.sh
Labels: performance, breaking change

#1360 Implement backward passes for llama with small training llama from scratch example
  examples/CMakeLists.txt
  examples/baby-llama/CMakeLists.txt
  examples/baby-llama/baby-llama.cpp
  ggml.c
  ggml.h
  llama.cpp
  tests/CMakeLists.txt
  tests/test-grad0.c
  tests/test-opt.c
Labels: high priority

#1412 GPU-accelerated token generation (new quantization format)
  examples/common.cpp
  examples/common.h
  ggml-cuda.cu
  ggml-cuda.h
  ggml.c
  ggml.h
  llama.cpp
  llama.h
Labels: performance

#1453 Deduplicated dequantization code
  ggml-cuda.cu
Labels: refactoring

#1508 ggml : use F16 instead of F32 in Q4_0, Q4_1, Q8_0
  README.md
  ggml-cuda.cu
  ggml.c
  ggml.h
  llama.cpp
  llama.h
Labels: performance, breaking change

#1483 Loading models directly into VRAM, norm calculation on GPUs, broadcasting for ggml_mul
  ggml-cuda.cu
  ggml-cuda.h
  ggml.c
  llama-util.h
  llama.cpp
Labels: enhancement

#1530 CUDA performance optimizations
  CMakeLists.txt
  Makefile
  ggml-cuda.cu
Labels: performance

#1606 [CI] CLBlast: Fix directory name
  .github/workflows/build.yml
Labels: high priority, build
