Repository ggml-org/llama.cpp, pull requests merged in 2023-09, with the labels that each got.

#2966 logging: Fix creating empty file even when disabled
  common/log.h
Labels: bug

#2984 gguf: Fix special vocab handling when id < 0
  gguf-py/gguf/gguf.py
  gguf-py/pyproject.toml
Labels: bug, script

#3023 convert-llama-ggmlv3-to-gguf: Try to handle files older than GGJTv3
  convert-llama-ggml-to-gguf.py
Labels: script

#3024 Parallel RoPE on metal
  ggml-metal.m
  ggml-metal.metal
Labels: need feedback

#2995 metal: Q3_K speedup
  ggml-metal.metal
Labels: need feedback

#3009 Feature: support baichuan serial models, by now, including Baichuan-7…
  convert-baichuan-hf-to-gguf.py
  gguf-py/gguf/gguf.py
  llama.cpp
  prompts/chat-with-baichuan.txt
Labels: need feedback

#3095 gguf-py: Support identity operation in TensorNameMap
  gguf-py/gguf/gguf.py
  gguf-py/pyproject.toml
Labels: script

#3115 llama : make quantize example up to 2.7x faster
  llama.cpp
Labels: high priority

#2632 Finetune LORA
  .gitignore
  Makefile
  common/CMakeLists.txt
  common/common.cpp
  common/common.h
  common/train.cpp
  common/train.h
  examples/CMakeLists.txt
  examples/baby-llama/baby-llama.cpp
  examples/export-lora/CMakeLists.txt
  examples/export-lora/README.md
  examples/export-lora/export-lora.cpp
  examples/finetune/CMakeLists.txt
  examples/finetune/README.md
  examples/finetune/convert-finetune-checkpoint-to-gguf.py
  examples/finetune/finetune.cpp
  examples/server/server.cpp
  examples/train-text-from-scratch/README.md
  examples/train-text-from-scratch/convert-train-checkpoint-to-gguf.py
  examples/train-text-from-scratch/train-text-from-scratch.cpp
  ggml-alloc.c
  ggml-alloc.h
  ggml.c
  ggml.h
  llama.cpp
  llama.h
  tests/test-grad0.cpp
Labels: high priority, training

#3301 llama.cpp : split llama_context_params into model and context params
  common/common.cpp
  common/common.h
  common/train.cpp
  examples/batched/batched.cpp
  examples/beam-search/beam-search.cpp
  examples/embd-input/embd-input-lib.cpp
  examples/embd-input/embd-input-test.cpp
  examples/embedding/embedding.cpp
  examples/finetune/finetune.cpp
  examples/llama-bench/llama-bench.cpp
  examples/main/README.md
  examples/main/main.cpp
  examples/parallel/parallel.cpp
  examples/perplexity/perplexity.cpp
  examples/quantize-stats/quantize-stats.cpp
  examples/save-load-state/save-load-state.cpp
  examples/server/README.md
  examples/server/server.cpp
  examples/simple/simple.cpp
  examples/speculative/speculative.cpp
  examples/train-text-from-scratch/train-text-from-scratch.cpp
  ggml-cuda.cu
  llama.cpp
  llama.h
  tests/test-tokenizer-0-falcon.cpp
  tests/test-tokenizer-0-llama.cpp
  tests/test-tokenizer-1-llama.cpp
Labels: high priority, breaking change, refactoring
