Repository ggml-org/llama.cpp, pull requests merged in 2023-06, with the labels that each got.

#1642 llama : Metal inference
  .gitignore
  CMakeLists.txt
  Makefile
  README.md
  examples/CMakeLists.txt
  examples/common.cpp
  examples/common.h
  examples/main/main.cpp
  examples/metal/CMakeLists.txt
  examples/metal/metal.cpp
  ggml-metal.h
  ggml-metal.m
  ggml-metal.metal
  ggml.c
  ggml.h
  llama.cpp
  llama.h
Labels: performance

#1638 fix(avx): workaround for missing _mm256_set_m128i in GCC < 8
  ggml.c
Labels: build

#1691 Support requantizing models instead of only allowing quantization from 16/32bit
  examples/quantize/quantize.cpp
  llama.cpp
  llama.h
Labels: research 🔬

#1789 Fix issue where interactive mode crashes when input exceeds ctx size
  examples/common.cpp
  examples/common.h
  examples/main/main.cpp
Labels: bug

#1652 Train Text from scratch
  examples/CMakeLists.txt
  examples/baby-llama/baby-llama.cpp
  examples/train-text-from-scratch/CMakeLists.txt
  examples/train-text-from-scratch/README.md
  examples/train-text-from-scratch/train-text-from-scratch.cpp
  ggml.c
  ggml.h
  llama.cpp
  llama.h
  tests/test-grad0.c
Labels: high priority, 🦙., training

#1827 CUDA full GPU acceleration, KV cache in VRAM
  examples/common.cpp
  examples/common.h
  examples/main/README.md
  examples/server/README.md
  examples/server/server.cpp
  ggml-cuda.cu
  ggml-cuda.h
  ggml.c
  ggml.h
  llama.cpp
  llama.h
Labels: performance, high priority, hardware

#1913 Convert vector to f16 for dequantize mul mat vec
  CMakeLists.txt
  Makefile
  README.md
  ggml-cuda.cu
  llama.cpp
Labels: performance, hardware

#1937 [Fix] Reenable server embedding endpoint
  examples/server/README.md
  examples/server/server.cpp
Labels: enhancement

#1797 Make model stateless and context stateful (llama_state)
  examples/common.cpp
  examples/common.h
  examples/embedding/embedding.cpp
  examples/main/main.cpp
  examples/perplexity/perplexity.cpp
  examples/quantize-stats/quantize-stats.cpp
  examples/save-load-state/save-load-state.cpp
  examples/server/server.cpp
  examples/simple/simple.cpp
  examples/train-text-from-scratch/train-text-from-scratch.cpp
  llama.cpp
  llama.h
  tests/test-tokenizer-0.cpp
Labels: refactoring

#1556 Numa
  examples/common.cpp
  examples/common.h
  examples/embedding/embedding.cpp
  examples/main/README.md
  examples/main/main.cpp
  examples/perplexity/perplexity.cpp
  examples/quantize/quantize.cpp
  examples/server/server.cpp
  examples/simple/simple.cpp
  ggml.c
  ggml.h
  llama-util.h
  llama.cpp
  llama.h
Labels: performance, high priority, threading
