Repository ggml-org/llama.cpp, pull requests merged in 2023-08, with the labels that each got.

#2618 adds simple llama grammar tests
  Makefile
  tests/CMakeLists.txt
  tests/test-llama-grammar.cpp
Labels: high priority, testing

#2626 llama : add benchmark example
  .gitignore
  Makefile
  examples/CMakeLists.txt
  examples/llama-bench/CMakeLists.txt
  examples/llama-bench/llama-bench.cpp
  ggml-cuda.cu
  ggml-cuda.h
  llama.cpp
  llama.h
Labels: high priority

#2398 GGUF
  .gitignore
  CMakeLists.txt
  Makefile
  README.md
  ci/run.sh
  common/CMakeLists.txt
  common/common.cpp
  common/common.h
  common/console.cpp
  common/console.h
  common/grammar-parser.cpp
  common/grammar-parser.h
  convert-falcon-hf-to-gguf.py
  convert-gptneox-hf-to-gguf.py
  convert-llama-7b-pth-to-gguf.py
  convert-llama-ggmlv3-to-gguf.py
  convert-llama-hf-to-gguf.py
  convert.py
  docs/token_generation_performance_tips.md
  examples/CMakeLists.txt
  examples/convert-llama2c-to-ggml/convert-llama2c-to-ggml.cpp
  examples/embd-input/embd-input-lib.cpp
  examples/embedding/embedding.cpp
  examples/gguf/gguf.cpp
  examples/gptneox-wip/cmpnct_gpt2bpe.hpp
  examples/gptneox-wip/falcon-main.cpp
  examples/gptneox-wip/gptneox-main.cpp
  examples/llama-bench/llama-bench.cpp
  examples/main/main.cpp
  examples/metal/metal.cpp
  examples/perplexity/perplexity.cpp
  examples/quantize-stats/quantize-stats.cpp
  examples/quantize/quantize.cpp
  examples/save-load-state/save-load-state.cpp
  examples/server/README.md
  examples/server/server.cpp
  examples/simple/simple.cpp
  examples/train-text-from-scratch/train-text-from-scratch.cpp
  ggml-metal.h
  ggml-metal.m
  ggml.c
  ggml.h
  gguf.py
  llama-util.h
  llama.cpp
  llama.h
  models/.editorconfig
  models/ggml-vocab-llama.gguf
  models/ggml-vocab.bin
  tests/CMakeLists.txt
  tests/test-grammar-parser.cpp
  tests/test-llama-grammar.cpp
  tests/test-tokenizer-0.cpp
  tests/test-tokenizer-1.cpp
Labels: high priority, breaking change, refactoring

#2489 server : display token probabilities in the UI
  examples/server/index.html.hpp
  examples/server/public/index.html
  examples/server/server.cpp
Labels: high priority, 🦙.

#2753 Allow convert.py to convert directly to q8_0
  convert.py
Labels: script

#2439 Train mem usage and other improvements
  common/common.cpp
  examples/convert-llama2c-to-ggml/convert-llama2c-to-ggml.cpp
  examples/gguf/CMakeLists.txt
  examples/train-text-from-scratch/README.md
  examples/train-text-from-scratch/convert-train-checkpoint-to-gguf.py
  examples/train-text-from-scratch/train-text-from-scratch.cpp
  ggml-alloc.c
  ggml.c
  ggml.h
  llama.cpp
  tests/test-grad0.cpp
Labels: high priority, training

#2842 Various script cleanups/fixes + convert merges and special token handling
  convert-falcon-hf-to-gguf.py
  convert-gptneox-hf-to-gguf.py
  convert-llama-7b-pth-to-gguf.py
  convert-llama-ggmlv3-to-gguf.py
  convert-llama-hf-to-gguf.py
  convert-lora-to-ggml.py
  convert.py
  gguf-py/gguf/gguf.py
  gguf-py/gguf/py.typed
  gguf-py/pyproject.toml
Labels: script
