Repository ggml-org/llama.cpp, pull requests merged in 2023-11, with the labels that each got.

#3837 llama : refactor graph build code
  ggml-metal.m
  ggml.h
  llama.cpp
Labels: refactoring

#3710 metal : multi-simd softmax kernel
  ggml-metal.m
  ggml-metal.metal
Labels: need feedback

#2268 llama: implement YaRN RoPE scaling
  common/common.cpp
  common/common.h
  convert-baichuan-hf-to-gguf.py
  convert.py
  examples/finetune/finetune.cpp
  examples/server/server.cpp
  examples/train-text-from-scratch/train-text-from-scratch.cpp
  ggml-cuda.cu
  ggml-metal.m
  ggml-metal.metal
  ggml.c
  ggml.h
  gguf-py/gguf/gguf.py
  llama.cpp
  llama.h
Labels: demo

#3882 cuda : do not use batched GEMM when tensor cores are not available
  ggml-cuda.cu
Labels: performance, Nvidia GPU

#3879 build : link against build info instead of compiling against it
  .gitignore
  CMakeLists.txt
  Makefile
  build.zig
  common/CMakeLists.txt
  common/build-info.cpp.in
  common/common.cpp
  common/common.h
  examples/benchmark/CMakeLists.txt
  examples/benchmark/benchmark-matmult.cpp
  examples/embedding/CMakeLists.txt
  examples/embedding/embedding.cpp
  examples/infill/CMakeLists.txt
  examples/infill/infill.cpp
  examples/llama-bench/CMakeLists.txt
  examples/llama-bench/llama-bench.cpp
  examples/llava/CMakeLists.txt
  examples/main/CMakeLists.txt
  examples/main/main.cpp
  examples/parallel/CMakeLists.txt
  examples/parallel/parallel.cpp
  examples/perplexity/CMakeLists.txt
  examples/perplexity/perplexity.cpp
  examples/quantize-stats/CMakeLists.txt
  examples/quantize-stats/quantize-stats.cpp
  examples/quantize/CMakeLists.txt
  examples/quantize/quantize.cpp
  examples/save-load-state/CMakeLists.txt
  examples/save-load-state/save-load-state.cpp
  examples/server/CMakeLists.txt
  examples/server/server.cpp
  examples/speculative/CMakeLists.txt
  examples/speculative/speculative.cpp
  scripts/build-info.cmake
  scripts/build-info.h.in
  scripts/build-info.sh
Labels: build

#3918 Add ROCM aliases for CUDA pool stuff
  ggml-cuda.cu
Labels: bug, build, AMD GPU

#3943 gguf-py: Support 01.AI Yi models
  gguf-py/gguf/gguf.py
Labels: model, script

#3613 Expose Llava as a shared library for downstream projects
  .gitignore
  Makefile
  common/CMakeLists.txt
  common/base64.hpp
  examples/llava/CMakeLists.txt
  examples/llava/README.md
  examples/llava/clip.cpp
  examples/llava/clip.h
  examples/llava/llava-cli.cpp
  examples/llava/llava-utils.h
  examples/llava/llava.cpp
  examples/llava/llava.h
  examples/server/CMakeLists.txt
Labels: help wanted, good first issue

#3946 supports running on CPU for GGML_USE_CUBLAS=ON build
  ggml-cuda.cu
  ggml-cuda.h
  llama.cpp
Labels: need feedback

#3981 gguf-py: Refactor and allow reading/modifying existing GGUF files
  convert-baichuan-hf-to-gguf.py
  convert-llama-ggml-to-gguf.py
  convert-persimmon-to-gguf.py
  convert.py
  examples/train-text-from-scratch/convert-train-checkpoint-to-gguf.py
  gguf-py/README.md
  gguf-py/examples/writer.py
  gguf-py/gguf/__init__.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/gguf.py
  gguf-py/gguf/gguf_reader.py
  gguf-py/gguf/gguf_writer.py
  gguf-py/gguf/tensor_mapping.py
  gguf-py/gguf/vocab.py
  gguf-py/pyproject.toml
  gguf-py/scripts/__init__.py
  gguf-py/scripts/gguf-convert-endian.py
  gguf-py/scripts/gguf-dump.py
  gguf-py/scripts/gguf-set-metadata.py
  gguf-py/tests/test_gguf.py
Labels: enhancement, script

#4051 gguf-py: gguf_writer: Use bytearray to build metadata
  gguf-py/gguf/gguf_writer.py
  gguf-py/pyproject.toml
Labels: script

#4041 Add ReLU and SQR CUDA ops to fix Persimmon offloading
  ggml-cuda.cu
  llama.cpp
Labels: bug, model, Nvidia GPU

#4040 Respect tokenizer.ggml.add_bos_token value when tokenizing
  common/common.cpp
  common/common.h
  examples/infill/infill.cpp
  examples/llava/llava-cli.cpp
  examples/main/main.cpp
  examples/perplexity/perplexity.cpp
  examples/server/server.cpp
  gguf-py/gguf/vocab.py
  gguf-py/pyproject.toml
  gguf-py/scripts/gguf-dump.py
  llama.cpp
  llama.h
Labels: enhancement, generation quality

#4079 Use BLAS to implement ggml_compute_forward_out_prod_f32 for matrix src0, src1 (finetuning speedup ~5x).
  ggml.c
Labels: performance, training

#4124 Clean up ggml-cuda.cu warnings when compiling with clang (for ROCM)
  ggml-cuda.cu
Labels: need feedback, Nvidia GPU

#4170 llama : KV cache view API + better KV cache management
  common/common.cpp
  common/common.h
  examples/parallel/parallel.cpp
  llama.cpp
  llama.h
Labels: need feedback

#3972 fix oai proxy
  examples/server/api_like_OAI.py
Labels: need feedback
