Repository ggml-org/llama.cpp, pull requests merged in 2023-07, with the labels that each got.

#1995 broken change: deprecate GGML_TASK_INIT and GGML_TASK_FINALIZE
  ggml.c
  ggml.h
Labels: performance, high priority

#2092 CI: make the brew update temporarily optional
  .github/workflows/build.yml
Labels: high priority

#1237 Generalize `quantize_fns` for simpler FP16 handling
  .github/workflows/build.yml
  examples/quantize-stats/quantize-stats.cpp
  ggml.c
  ggml.h
  llama.cpp
  pocs/vdot/q8dot.cpp
  pocs/vdot/vdot.cpp
  tests/test-quantize-fns.cpp
  tests/test-quantize-perf.cpp
Labels: help wanted, high priority, refactoring

#1999 ggml : change ggml_graph_compute() API to not require context
  .github/workflows/build.yml
  examples/baby-llama/baby-llama.cpp
  examples/benchmark/benchmark-matmult.cpp
  examples/metal/metal.cpp
  examples/train-text-from-scratch/train-text-from-scratch.cpp
  ggml-metal.h
  ggml-metal.m
  ggml.c
  ggml.h
  llama.cpp
  tests/CMakeLists.txt
  tests/test-grad0.c
  tests/test-opt.c
Labels: high priority, refactoring

#2099 Distributed inference via MPI
  .github/workflows/build.yml
  .gitignore
  CMakeLists.txt
  Makefile
  README.md
  examples/embd-input/embd-input-lib.cpp
  examples/embedding/embedding.cpp
  examples/main/main.cpp
  examples/perplexity/perplexity.cpp
  examples/quantize/quantize.cpp
  examples/server/server.cpp
  examples/simple/simple.cpp
  ggml-metal.m
  ggml-mpi.c
  ggml-mpi.h
  llama.cpp
  llama.h
  tests/test-tokenizer-0.cpp
Labels: high priority

#2188 metal: new q4_0 mat-vec mul kernel
  ggml-metal.m
  ggml-metal.metal
Labels: performance, high priority

#2212 Metal: faster Q4_0 and Q4_1 matrix x vector kernels
  ggml-metal.m
  ggml-metal.metal
Labels: performance, high priority

#2219 fixed runtime bugs and compile errors related to GGML_PERF and GGML_DEBUG
  ggml.c
Labels: bug

#2312 Perplexity: Compute scores correlated to HellaSwag
  examples/common.cpp
  examples/common.h
  examples/perplexity/perplexity.cpp
Labels: high priority, generation quality

#1773 llama : add grammar-based sampling
  Makefile
  examples/CMakeLists.txt
  examples/common.cpp
  examples/common.h
  examples/grammar-parser.cpp
  examples/grammar-parser.h
  examples/main/main.cpp
  grammars/arithmetic.gbnf
  grammars/chess.gbnf
  grammars/japanese.gbnf
  grammars/json.gbnf
  grammars/list.gbnf
  llama.cpp
  llama.h
Labels: enhancement, high priority, generation quality

#2420 supporting more diverse tokenizers
  llama.cpp
Labels: help wanted
