Repository ggml-org/llama.cpp, pull requests merged in 2023-04, with the labels that each got.

#775 Avoid heavy V transpose operation + improvements
  ggml.c
  ggml.h
  llama.cpp
Labels: high priority

#407 Add support for batch size to `--perplexity`
  examples/perplexity/perplexity.cpp
Labels: enhancement, high priority, generation quality

#545 New conversion script
  README.md
  convert-ggml-to-pth.py
  convert-gpt4all-to-ggml.py
  convert-gptq-to-ggml.py
  convert-pth-to-ggml.py
  convert-unversioned-ggml-to-ggml.py
  convert.py
  migrate-ggml-2023-03-30-pr613.py
  requirements.txt
Labels: enhancement, high priority, script

#951 Add Q8_0 quantization for intermediate results
  Makefile
  ggml.c
  ggml.h
Labels: help wanted, high priority, generation quality

#933 ≈65% speedup of the AVX-512 implementation of `ggml_vec_dot_q4_0()`
  CMakeLists.txt
  ggml.c
  ggml.h
  llama.cpp
Labels: performance, high priority

#1046 ggml : Q4_2 ARM
  examples/quantize/quantize.cpp
  ggml.c
  ggml.h
  llama.cpp
  llama.h
Labels: generation quality

#1047 ggml : use 8-bit precision for Q4_1 intermediate results
  .gitignore
  ggml.c
Labels: high priority, generation quality

#1075 Multi-threaded quantization
  examples/quantize-stats/quantize-stats.cpp
  examples/quantize/quantize.cpp
  ggml.c
  ggml.h
  llama.cpp
  llama.h
Labels: performance

#1083 A faster version for Q4_1 x Q8_0 dot products
  ggml.c
  pocs/vdot/CMakeLists.txt
  pocs/vdot/q8dot.cpp
Labels: performance, high priority

#1042 fix: ld link test-tokenizer-0 error
  CMakeLists.txt
Labels: need more info, build

#953 Unit test for quantization functions
  tests/CMakeLists.txt
  tests/test-quantize-fns.cpp
  tests/test-quantize-perf.cpp
  tests/test-quantize.c
Labels: high priority, testing

#1143 llama : refactor get / set state + remove redundant kv cache API
  llama.cpp
  llama.h
Labels: refactoring

#729 Use full range for q4_0 quantization
  ggml.c
Labels: high priority, research 🔬

#1179 ggml : add Q8_0 quantization format (rename the old one to Q8_1) (ARM NEON)
  examples/quantize/quantize.cpp
  ggml-cuda.cu
  ggml-cuda.h
  ggml.c
  ggml.h
  llama.cpp
  llama.h
  tests/test-quantize-fns.cpp
Labels: generation quality

#1181 Update SHA256SUMS after quantization change
  SHA256SUMS
Labels: help wanted

#1187 ggml : add Q5_0 and Q5_1 quantization
  .gitignore
  examples/quantize/quantize.cpp
  ggml-cuda.cu
  ggml-cuda.h
  ggml.c
  ggml.h
  llama.cpp
  llama.h
Labels: high priority, generation quality

#1169 Save and restore prompt evaluation state for much faster startup times
  examples/chat-13B.sh
  examples/common.cpp
  examples/common.h
  examples/main/main.cpp
  llama.cpp
  llama.h
Labels: enhancement, high priority
