Repository ggml-org/llama.cpp, pull requests merged in 2023-03, with the labels that each got.

#230 CI Improvements
  .github/workflows/build.yml
Labels: build

#109 Refactoring `convert-pth-to-ggml.py`: more concise and readable
  convert-pth-to-ggml.py
Labels: duplicate

#181 Add parameter to ignore end of text token
  main.cpp
  utils.cpp
  utils.h
Labels: enhancement

#222 Improved quantize script
  README.md
  quantize.py
  quantize.sh
Labels: enhancement

#221 fix coloring of last `n_batch` of prompt, and refactor line input
  main.cpp
Labels: bug

#235 Docker - Fix publish docker image in GitHub Registry
  .github/workflows/docker.yml
Labels: enhancement, good first issue, build

#319 move file magic/version to header, print expected version
  main.cpp
  quantize.cpp
  utils.h
Labels: enhancement

#325 Fixed tokenizer.model not found error when model dir is symlink
  convert-pth-to-ggml.py
Labels: bug

#131 Adding missing features of CMakeLists.txt & Refactoring
  CMakeLists.txt
Labels: enhancement, build

#348 cmdline option for custom amount of model parts (--n_parts N)
  main.cpp
  utils.cpp
  utils.h
Labels: enhancement

#318 fix typo in comment
  convert-pth-to-ggml.py
Labels: bug

#218 makefile: Fix CPU feature detection on Haiku
  Makefile
Labels: bug, build

#270 Compute perplexity over prompt
  main.cpp
  utils.cpp
  utils.h
Labels: enhancement, generation quality

#312 Fix color codes emitting mid-UTF8 code.
  main.cpp
Labels: bug

#368 fix typo in chatLLaMa
  examples/chatLLaMa
Labels: enhancement

#371 fix ctest in windows ci
  .github/workflows/build.yml
Labels: build

#338 sha256 check sums to verify original and converted model data
  README.md
  SHA256SUMS
Labels: documentation, enhancement, model

#370 IMPORTANT: Introduce C-style API - Major Refactoring
  CMakeLists.txt
  Makefile
  convert-pth-to-ggml.py
  ggml.c
  ggml.h
  llama.cpp
  llama.h
  main.cpp
  models/ggml-vocab.bin
  quantize.cpp
  tests/CMakeLists.txt
  tests/test-tokenizer-0.cpp
  utils.cpp
  utils.h
Labels: enhancement, high priority

#390 fix perplexity after c-api refactor
  main.cpp
  utils.cpp
Labels: bug

#354 Don't force immediate interactive without `-i`
  main.cpp
  utils.cpp
  utils.h
Labels: enhancement

#383 Deduplicate q4 quantization functions
  .github/workflows/build.yml
  ggml.c
  ggml.h
  tests/CMakeLists.txt
  tests/test-quantize.c
Labels: enhancement

#376 CI: CMake: Separate build and test steps
  .github/workflows/build.yml
Labels: bug, build

#421 Move model section from issue template to README.md
  .github/ISSUE_TEMPLATE/custom.md
  README.md
Labels: documentation

#380 Fix Nix build
  flake.nix
Labels: build

#424 Command line args bounds checking
  utils.cpp
Labels: bug

#333 Replace EOS with newline to prevent context/memory being flushed by EOS in interactive mode
  main.cpp
Labels: enhancement, generation quality

#444 Update README.md to explicitly state model linking and download policy
  README.md
Labels: documentation, model

#420 (Windows) Set console to UTF-8 on init
  examples/main/main.cpp
Labels: bug

#497 CMake / CI additions
  .github/workflows/build.yml
  CMakeLists.txt
Labels: enhancement, build

#540 Add embedding example to Makefile
  Makefile
Labels: build

#458 Be more strict about converting float to double
  CMakeLists.txt
  Makefile
  examples/common.cpp
  examples/main/main.cpp
  examples/perplexity/perplexity.cpp
  examples/quantize/quantize.cpp
  ggml.c
  llama.cpp
  llama.h
  tests/CMakeLists.txt
  tests/test-double-float.c
Labels: enhancement, build

#403 Converting GGML back to Torch checkpoint for HuggingFace/Pytorch consumption/training/finetuning
  convert_ggml_to_pth.py
Labels: enhancement

#539 Add script to convert old ggml files to newer version
  convert-unversioned-ggml-to-ggml.py
  llama.cpp
Labels: enhancement, script

#515 Add AVX2 implementation of quantize_row_q4_1
  ggml.c
Labels: enhancement, performance, hardware, generation quality

#551 Revert 7e53955 (#542) and fix properly
  examples/embedding/CMakeLists.txt
  examples/main/CMakeLists.txt
  examples/perplexity/CMakeLists.txt
  examples/quantize/CMakeLists.txt
  llama.h
Labels: bug, help wanted, build

#546 CI: fix subdirectory path globbing
  .github/workflows/build.yml
Labels: bug, high priority, build

#375 Enable Fused-Multiply-Add (FMA) and F16C/CVT16 vector extensions on MSVC
  ggml.c
Labels: bug, performance

#584 CI: Re-enable AVX512 testing (Windows-MSVC)
  .github/workflows/build.yml
Labels: build, testing
