Repository ggml-org/llama.cpp, pull requests merged in 2023-10, with the labels that each got.

#3296 infill mode for main and server
  .gitignore
  Makefile
  common/common.cpp
  common/common.h
  examples/infill/CMakeLists.txt
  examples/infill/README.md
  examples/infill/infill.cpp
  examples/server/README.md
  examples/server/server.cpp
  llama.cpp
  llama.h
Labels: enhancement

#3400 llama : fix session saving/loading
  examples/chat-persistent.sh
  examples/main/main.cpp
  examples/parallel/parallel.cpp
  examples/server/server.cpp
  examples/speculative/speculative.cpp
  llama.cpp
  llama.h
Labels: need feedback

#3468 sync : ggml (conv 1d + 2d updates)
  ggml.c
  ggml.h
  k_quants.c
  tests/test-grad0.cpp
  tests/test-opt.cpp
  tests/test-quantize-perf.cpp
Labels: need feedback

#3410 Support Adept Persimmon 8b
  convert-persimmon-to-gguf.py
  ggml-metal.m
  ggml-metal.metal
  gguf-py/gguf/gguf.py
  llama.cpp
Labels: high priority, model

#3534 Fix trying to strip newline from empty prompt and cfg prompt file content
  common/common.cpp
Labels: bug

#3535 Fix missing break in Persimmon arch case statements
  llama.cpp
Labels: bug

#3524 metal : support MTLGPUFamily < Apple7, formatting, style
  ggml-metal.m
  ggml-metal.metal
Labels: performance, need feedback

#3508 fixes infill incorrect tokenization
  examples/infill/infill.cpp
  examples/server/server.cpp
Labels: need feedback

#3417 MPT support in llama.cpp
  convert-mpt-hf-to-gguf.py
  ggml-cuda.cu
  ggml-metal.m
  ggml.c
  llama.cpp
Labels: high priority, model

#3553 feat: Support bloom models
  convert-bloom-hf-to-gguf.py
  gguf-py/gguf/gguf.py
  llama.cpp
Labels: model, need feedback

#3545 batched : add bench tool
  .gitignore
  Makefile
  examples/CMakeLists.txt
  examples/batched-bench/CMakeLists.txt
  examples/batched-bench/README.md
  examples/batched-bench/batched-bench.cpp
  examples/batched/batched.cpp
Labels: need feedback

#3543 Fix mirostat state when using multiple sequences
  Makefile
  build.zig
  common/CMakeLists.txt
  common/common.cpp
  common/common.h
  common/sampling.cpp
  common/sampling.h
  examples/embd-input/embd-input-lib.cpp
  examples/infill/infill.cpp
  examples/main/main.cpp
  examples/parallel/parallel.cpp
  examples/save-load-state/save-load-state.cpp
  examples/server/server.cpp
  examples/speculative/speculative.cpp
Labels: bug, need feedback

#3582 server : add completion mode (no chat)
  examples/server/index.html.hpp
  examples/server/public/index.html
Labels: need feedback

#3436 Implement multimodal models (LLaVA)
  .gitignore
  Makefile
  common/common.cpp
  common/common.h
  common/stb_image.h
  examples/CMakeLists.txt
  examples/llava/CMakeLists.txt
  examples/llava/README.md
  examples/llava/clip.cpp
  examples/llava/clip.h
  examples/llava/convert-image-encoder-to-gguf.py
  examples/llava/llava-surgery.py
  examples/llava/llava-utils.h
  examples/llava/llava.cpp
  ggml.c
Labels: high priority, model, need feedback

#3538 tokenizer : special token handling
  common/common.cpp
  common/common.h
  common/train.cpp
  examples/batched.swift/Sources/main.swift
  examples/main/main.cpp
  llama.cpp
  llama.h
Labels: need feedback

#3624 speculative : add tree-based sampling example
  Makefile
  common/common.cpp
  common/common.h
  common/log.h
  common/sampling.cpp
  common/sampling.h
  examples/batched-bench/batched-bench.cpp
  examples/batched.swift/Sources/main.swift
  examples/batched/batched.cpp
  examples/embd-input/embd-input-lib.cpp
  examples/infill/infill.cpp
  examples/llava/llava-utils.h
  examples/llava/llava.cpp
  examples/main/main.cpp
  examples/parallel/parallel.cpp
  examples/server/server.cpp
  examples/simple/simple.cpp
  examples/speculative/speculative.cpp
  llama.cpp
  llama.h
  prompts/assistant.txt
Labels: refactoring, need feedback

#3552 Enable llama.cpp on s390x big endian platform
  convert-baichuan-hf-to-gguf.py
  convert.py
  examples/convert-llama2c-to-ggml/convert-llama2c-to-ggml.cpp
  ggml.c
  ggml.h
  gguf-py/gguf/gguf.py
  gguf-py/pyproject.toml
  k_quants.c
  tests/test-double-float.cpp
Labels: need feedback

#3696 sampling : refactor init to use llama_sampling_params
  Makefile
  README.md
  common/common.cpp
  common/common.h
  common/sampling.cpp
  common/sampling.h
  examples/CMakeLists.txt
  examples/embd-input/.gitignore
  examples/embd-input/CMakeLists.txt
  examples/embd-input/README.md
  examples/embd-input/embd-input-lib.cpp
  examples/embd-input/embd-input-test.cpp
  examples/embd-input/embd-input.h
  examples/embd-input/embd_input.py
  examples/embd-input/llava.py
  examples/embd-input/minigpt4.py
  examples/embd-input/panda_gpt.py
  examples/gptneox-wip/cmpnct_gpt2bpe.hpp
  examples/gptneox-wip/falcon-main.cpp
  examples/gptneox-wip/gptneox-main.cpp
  examples/infill/CMakeLists.txt
  examples/infill/infill.cpp
  examples/llava/llava-utils.h
  examples/main/main.cpp
  examples/parallel/parallel.cpp
  examples/server/server.cpp
  examples/speculative/speculative.cpp
  llama.cpp
  llama.h
  tests/test-sampling.cpp
Labels: need feedback

#3677 server : parallel decoding and multimodal (cont)
  .gitignore
  Makefile
  build.zig
  examples/llava/CMakeLists.txt
  examples/llava/clip.cpp
  examples/server/CMakeLists.txt
  examples/server/README.md
  examples/server/api_like_OAI.py
  examples/server/chat.mjs
  examples/server/index.html.hpp
  examples/server/public/index.html
  examples/server/server.cpp
Labels: need feedback

#3720 remove token functions with `context` args in favor of `model`
  common/common.cpp
  common/sampling.cpp
  common/train.cpp
  examples/batched/batched.cpp
  examples/beam-search/beam-search.cpp
  examples/infill/infill.cpp
  examples/llama-bench/llama-bench.cpp
  examples/llava/llava-utils.h
  examples/main/main.cpp
  examples/parallel/parallel.cpp
  examples/perplexity/perplexity.cpp
  examples/server/server.cpp
  examples/simple/simple.cpp
  examples/speculative/speculative.cpp
  llama.cpp
  llama.h
Labels: need feedback

#3749 cuda : add batched cuBLAS GEMM for faster attention
  CMakeLists.txt
  examples/batched/batched.cpp
  ggml-cuda.cu
  ggml.c
Labels: performance, high priority, need feedback, Nvidia GPU

#3849 llama : add llm_build_ffn helper function
  llama.cpp
Labels: refactoring

#3848 llama : add llm_build helper functions
  llama.cpp
Labels: refactoring, need feedback
