Repository ggml-org/llama.cpp, pull requests merged in 2024-03, with the labels that each got.

#5772 cleanup unused --no-mul-mat-q,-nommq, -mmq, --mul-mat-q, mul_mat_q
  common/common.cpp
  common/common.h
  examples/batched-bench/batched-bench.cpp
  examples/llama-bench/README.md
  examples/llama-bench/llama-bench.cpp
  examples/server/server.cpp
  llama.cpp
  llama.h
  scripts/compare-llama-bench.py
Labels: breaking change

#5687 build(nix): Introduce flake.formatter for `nix fmt`
  .devops/nix/sif.nix
  flake.nix
Labels: nix

#5826 workflows : remove nocleanup arg for check-requirements.sh
  .github/workflows/python-check-requirements.yml
Labels: script

#5842 nix: update flake.lock
  flake.lock
Labels: nix

#5625 Implement stochastic speculative sampling
  common/common.cpp
  common/common.h
  common/sampling.cpp
  common/sampling.h
  examples/speculative/README.md
  examples/speculative/speculative.cpp
Labels: need feedback

#5969 nix: update flake.lock
  flake.lock
Labels: nix

#5971 Better 1.5 bit quantization
  ggml-common.h
  ggml-cuda.cu
  ggml-metal.metal
  ggml-quants.c
  ggml-quants.h
Labels: breaking change

#5999 1.5 bit: we can do even better
  ggml-common.h
  ggml-cuda.cu
  ggml-metal.metal
  ggml-quants.c
Labels: breaking change

#5943 ggml : reuse quantum structs across backends
  ggml-common.h
  ggml-cuda.cu
  ggml-metal.m
  ggml-metal.metal
  ggml-quants.c
  ggml-quants.h
  ggml-sycl.cpp
Labels: need feedback

#6017 llama : add pipeline parallelism support
  CMakeLists.txt
  Makefile
  common/common.cpp
  common/common.h
  examples/batched-bench/batched-bench.cpp
  examples/embedding/embedding.cpp
  examples/llama-bench/llama-bench.cpp
  examples/llama.swiftui/llama.cpp.swift/LibLlama.swift
  examples/perplexity/perplexity.cpp
  examples/server/server.cpp
  examples/server/tests/features/embeddings.feature
  examples/server/tests/features/steps/steps.py
  ggml-alloc.c
  ggml-alloc.h
  ggml-backend-impl.h
  ggml-backend.c
  ggml-backend.h
  ggml-cuda.cu
  ggml-kompute.cpp
  ggml-metal.m
  ggml-sycl.cpp
  ggml-vulkan.cpp
  ggml.c
  llama.cpp
  llama.h
Labels: high priority

#6053 issues: ci - close inactive issue with workflow
  .github/workflows/close-issue.yml
Labels: need feedback

#6083 backend : offload large batches to GPU
  examples/imatrix/imatrix.cpp
  examples/llama-bench/llama-bench.cpp
  ggml-alloc.c
  ggml-backend-impl.h
  ggml-backend.c
  ggml-backend.h
  ggml-cuda.cu
  ggml-cuda.h
  ggml-kompute.cpp
  ggml-metal.m
  ggml-sycl.cpp
  ggml-vulkan.cpp
  ggml.c
  llama.cpp
Labels: high priority

#6109 nix: update flake.lock
  flake.lock
Labels: nix

#6170 cuda : refactor to remove global resources
  ggml-cuda.cu
Labels: high priority

#6262 split: add gguf-split in the make build target
  Makefile
Labels: split

#6217 [SYCL] offload op
  ggml-sycl.cpp
  ggml-sycl.h
  ggml.c
  llama.cpp
Labels: Intel GPU

#6266 nix: update flake.lock
  flake.lock
Labels: nix

#6118 nix: make `xcrun` visible in Nix sandbox for precompiling Metal shaders
  .devops/nix/package.nix
  CMakeLists.txt
Labels: nix

#6283 server: continuous performance monitoring and PR comment
  .github/workflows/bench.yml
  examples/server/bench/bench.py
  examples/server/bench/prometheus.yml
  examples/server/bench/requirements.txt
  examples/server/tests/features/steps/steps.py
Labels: performance, server/webui, need feedback
