Repository ggml-org/llama.cpp, pull requests merged in 2024-10, with the labels that each got.

#9396 convert : refactor rope_freqs generation
  convert_hf_to_gguf.py
  convert_lora_to_gguf.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
Labels: refactoring, bugfix, Review Complexity : Low, python, merge ready

#9698 metal : reduce command encoding overhead
  examples/cvector-generator/pca.hpp
  examples/llava/clip.cpp
  ggml/include/ggml-metal.h
  ggml/src/ggml-metal.m
  src/llama.cpp
Labels: examples, ggml, Apple Metal

#9704 examples : remove benchmark
  Makefile
  examples/CMakeLists.txt
  examples/benchmark/CMakeLists.txt
  examples/benchmark/benchmark-matmult.cpp
Labels: examples

#9619 make sure params --split and --merge are not specified at same time in gguf-split
  examples/gguf-split/gguf-split.cpp
Labels: examples

#9407 vulkan : do not use tensor->extra
  ggml/src/ggml-vulkan.cpp
Labels: Vulkan, ggml

#9658 sycl: initial cmake support of SYCL for AMD GPUs
  docs/backend/SYCL.md
  ggml/src/CMakeLists.txt
Labels: documentation, SYCL

#9707 ggml-backend : add device and backend reg interfaces
  .github/workflows/bench.yml.disabled
  Makefile
  Package.swift
  ggml/include/ggml-backend.h
  ggml/include/ggml-blas.h
  ggml/include/ggml-cann.h
  ggml/include/ggml-cuda.h
  ggml/include/ggml-metal.h
  ggml/include/ggml-rpc.h
  ggml/include/ggml-sycl.h
  ggml/include/ggml-vulkan.h
  ggml/include/ggml.h
  ggml/src/CMakeLists.txt
  ggml/src/ggml-backend-impl.h
  ggml/src/ggml-backend.cpp
  ggml/src/ggml-blas.cpp
  ggml/src/ggml-cann.cpp
  ggml/src/ggml-cuda.cu
  ggml/src/ggml-kompute.cpp
  ggml/src/ggml-metal.m
  ggml/src/ggml-rpc.cpp
  ggml/src/ggml-sycl.cpp
  ggml/src/ggml-vulkan.cpp
  ggml/src/ggml.c
  scripts/sync-ggml-am.sh
  scripts/sync-ggml.sh
  src/llama.cpp
  tests/test-backend-ops.cpp
Labels: script, testing, Nvidia GPU, Vulkan, devops, ggml, SYCL, Apple Metal, Kompute

#9711 [SYCL] Fixed GET_ROWS failing unit-tests for type 1 quantizations
  ggml/src/ggml-sycl/dequantize.hpp
Labels: SYCL

#9714 rpc : enable vulkan
  examples/rpc/rpc-server.cpp
Labels: examples

#9709 ggml: unify backend logging mechanism
  ggml/include/ggml-backend.h
  ggml/include/ggml-cann.h
  ggml/include/ggml-cuda.h
  ggml/include/ggml-metal.h
  ggml/include/ggml.h
  ggml/src/ggml-backend-impl.h
  ggml/src/ggml-backend.cpp
  ggml/src/ggml-cann.cpp
  ggml/src/ggml-cuda.cu
  ggml/src/ggml-impl.h
  ggml/src/ggml-metal.m
  ggml/src/ggml.c
  src/llama.cpp
Labels: Nvidia GPU, ggml, Apple Metal

#9720 ggml-backend : add device description to CPU backend
  ggml/src/ggml-backend.cpp
Labels: ggml

#9723 Fixed RNG seed docs
  common/arg.cpp
  examples/server/README.md
Labels: examples, server

#9710 ci : fine-grant permission
  .github/workflows/build.yml
  .github/workflows/close-issue.yml
  .github/workflows/nix-ci-aarch64.yml
  .github/workflows/nix-ci.yml
Labels: nix, devops

#9737 rerank : use [SEP] token instead of [BOS]
  ci/run.sh
  common/common.cpp
  examples/server/server.cpp
  src/llama-vocab.h
  src/llama.cpp
Labels: examples, devops, server

#9713 ggml : add metal backend registry / device
  ggml/include/ggml-backend.h
  ggml/include/ggml-metal.h
  ggml/src/ggml-backend.cpp
  ggml/src/ggml-cuda.cu
  ggml/src/ggml-metal.m
  src/llama.cpp
Labels: script, testing, Nvidia GPU, nix, Vulkan, examples, python, devops, server, ggml, SYCL, Apple Metal, Kompute

#9753 nix: update flake.lock
  flake.lock
Labels: nix

#9672 Update building for Android
  docs/android.md
  ggml/src/CMakeLists.txt
Labels: documentation, merge ready

#9752 ggml : add backend registry / device interfaces to BLAS backend
  ggml/include/ggml-backend.h
  ggml/include/ggml-blas.h
  ggml/src/CMakeLists.txt
  ggml/src/ggml-backend-impl.h
  ggml/src/ggml-backend.cpp
  ggml/src/ggml-blas.cpp
  src/llama.cpp
  tests/test-backend-ops.cpp
Labels: testing, ggml

#9782 scripts : Fix spelling typo in messages and comments
  scripts/debug-test.sh
Labels: script

#9776 server : better security control for public deployments
  common/arg.cpp
  common/common.h
  examples/server/README.md
  examples/server/server.cpp
  examples/server/tests/features/security.feature
  examples/server/tests/features/steps/steps.py
  examples/server/utils.hpp
  src/unicode-data.cpp
Labels: examples, python, server

#9775 ggml : fix BLAS with unsupported types
  examples/export-lora/export-lora.cpp
  examples/quantize-stats/quantize-stats.cpp
  ggml/include/ggml.h
  ggml/src/ggml-backend.cpp
  ggml/src/ggml-blas.cpp
  ggml/src/ggml-vulkan.cpp
  ggml/src/ggml.c
  pocs/vdot/q8dot.cpp
  pocs/vdot/vdot.cpp
  src/llama.cpp
  tests/test-backend-ops.cpp
  tests/test-quantize-fns.cpp
  tests/test-quantize-perf.cpp
Labels: testing, Vulkan, examples, ggml

#9783 perplexity : fix integer overflow
  examples/perplexity/perplexity.cpp
Labels: examples

#9804 cmake : do not build common library by default when standalone
  CMakeLists.txt
  examples/llama.android/llama/build.gradle.kts
Labels: build, android, examples

#9803 examples : do not use common library in simple example
  examples/simple/CMakeLists.txt
  examples/simple/simple.cpp
Labels: examples

#9685 musa: add docker image support
  .devops/full-musa.Dockerfile
  .devops/llama-cli-musa.Dockerfile
  .devops/llama-server-musa.Dockerfile
  .github/workflows/docker.yml
  docs/docker.md
  ggml/src/CMakeLists.txt
Labels: documentation, devops

#9812 rpc : add backend registry / device interfaces
  common/arg.cpp
  examples/llama-bench/llama-bench.cpp
  examples/rpc/rpc-server.cpp
  ggml/include/ggml-rpc.h
  ggml/src/ggml-backend.cpp
  ggml/src/ggml-rpc.cpp
  include/llama.h
  src/llama.cpp
Labels: examples, ggml

#9805 common : use common_ prefix for common library functions
  common/arg.cpp
  common/arg.h
  common/common.cpp
  common/common.h
  common/log.cpp
  common/log.h
  common/ngram-cache.cpp
  common/ngram-cache.h
  common/sampling.cpp
  common/sampling.h
  examples/batched-bench/batched-bench.cpp
  examples/batched/batched.cpp
  examples/convert-llama2c-to-ggml/convert-llama2c-to-ggml.cpp
  examples/cvector-generator/cvector-generator.cpp
  examples/embedding/embedding.cpp
  examples/eval-callback/eval-callback.cpp
  examples/export-lora/export-lora.cpp
  examples/gen-docs/gen-docs.cpp
  examples/gritlm/gritlm.cpp
  examples/imatrix/imatrix.cpp
  examples/infill/infill.cpp
  examples/llama.android/llama/src/main/cpp/llama-android.cpp
  examples/llava/llava-cli.cpp
  examples/llava/minicpmv-cli.cpp
  examples/lookahead/lookahead.cpp
  examples/lookup/lookup-create.cpp
  examples/lookup/lookup-merge.cpp
  examples/lookup/lookup-stats.cpp
  examples/lookup/lookup.cpp
  examples/main/main.cpp
  examples/parallel/parallel.cpp
  examples/passkey/passkey.cpp
  examples/perplexity/perplexity.cpp
  examples/retrieval/retrieval.cpp
  examples/save-load-state/save-load-state.cpp
  examples/server/server.cpp
  examples/server/utils.hpp
  examples/speculative/speculative.cpp
  examples/tokenize/tokenize.cpp
  tests/test-arg-parser.cpp
  tests/test-chat-template.cpp
  tests/test-log.cpp
  tests/test-tokenizer-0.cpp
  tests/test-tokenizer-1-bpe.cpp
  tests/test-tokenizer-1-spm.cpp
Labels: testing, android, examples, server

#9839 ggml : move more prints to the ggml log system
  ggml/src/ggml-alloc.c
  ggml/src/ggml-backend.cpp
  ggml/src/ggml-blas.cpp
  ggml/src/ggml-cuda.cu
Labels: ggml

#9856 musa: update doc
  README.md
  docs/build.md
Labels: documentation

#9798 llama : improve infill support and special token detection
  common/arg.cpp
  common/common.cpp
  common/common.h
  examples/infill/infill.cpp
  examples/server/README.md
  examples/server/server.cpp
  gguf-py/gguf/constants.py
  gguf-py/gguf/gguf_writer.py
  include/llama.h
  src/llama-vocab.cpp
  src/llama-vocab.h
  src/llama.cpp
Labels: examples, python, server

#9857 server : remove legacy system_prompt feature
  common/arg.cpp
  common/common.h
  examples/server/README.md
  examples/server/server.cpp
Labels: examples, server

#9860 server : remove self-extend features
  common/arg.cpp
  examples/server/README.md
  examples/server/server.cpp
  examples/server/tests/features/ctx_shift.feature
Labels: examples, server

#9865 server : add option to time limit the generation phase
  examples/server/README.md
  examples/server/server.cpp
Labels: examples, server

#9870 nix: update flake.lock
  flake.lock
Labels: nix

#9866 server : reuse context chunks
  common/arg.cpp
  common/common.h
  examples/server/README.md
  examples/server/server.cpp
  examples/server/utils.hpp
Labels: examples, server

#9874 server : accept extra_context for the infill endpoint
  examples/server/README.md
  examples/server/server.cpp
  src/llama.cpp
Labels: examples, server

#9816 Vectorize load instructions in dmmv f16 CUDA kernel
  ggml/src/ggml-cuda/dmmv.cu
Labels: Nvidia GPU

#9871 server: Handle "logprobs" field with false value
  examples/server/utils.hpp
Labels: examples, server

#9895 server : update preact
  examples/server/public/index.js
Labels: examples, server

#9742 sampling : add XTC sampler
  common/arg.cpp
  common/common.cpp
  common/common.h
  common/sampling.cpp
  examples/main/README.md
  examples/server/public/index-new.html
  examples/server/public/index.html
  examples/server/server.cpp
  include/llama.h
  src/llama-sampling.cpp
  tests/test-sampling.cpp
Labels: testing, examples, server

#9894 server : improve infill context reuse
  examples/server/README.md
  examples/server/server.cpp
Labels: examples, server

#9891 Fix cann compilation error after llama.cpp supports dynamically loadable backends
  ggml/src/ggml-cann.cpp
Labels: bug, ggml, Ascend NPU

#9867 server: fix the disappearance of the end of the text when streaming with stop strings
  examples/server/server.cpp
Labels: examples, server

#9903 Fix JSON Schema to Grammar for string regexp with top-level alternation.
  common/json-schema-to-grammar.cpp
  examples/json_schema_to_grammar.py
  examples/server/public/json-schema-to-grammar.mjs
  tests/test-json-schema-to-grammar.cpp
Labels: testing, examples, python, server

#9884 llava : fix typo in error message [no ci]
  examples/llava/llava.cpp
Labels: examples

#9875 fix: use `vm_allocate` to allocate CPU backend buffer on macOS
  ggml/src/ggml-backend.cpp
  ggml/src/ggml-impl.h
  ggml/src/ggml.c
Labels: ggml

#9917 fix: allocating CPU buffer with size `0`
  ggml/src/ggml-backend.cpp
Labels: ggml

#9721 vulkan : add backend registry / device interfaces
  ggml/include/ggml-vulkan.h
  ggml/src/ggml-backend.cpp
  ggml/src/ggml-vulkan.cpp
  src/llama.cpp
Labels: Vulkan, ggml

#8881 llama : rename batch_all to batch
  src/llama.cpp
Labels: refactoring, Review Complexity : Low

#9929 server : add n_indent parameter for line indentation requirement
  examples/server/README.md
  examples/server/server.cpp
Labels: examples, server

#8998 Add Intel Advanced Matrix Extensions (AMX) support to ggml
  CMakeLists.txt
  Makefile
  README.md
  ggml/CMakeLists.txt
  ggml/include/ggml-amx.h
  ggml/include/ggml.h
  ggml/src/CMakeLists.txt
  ggml/src/ggml-amx.cpp
  ggml/src/ggml-amx/common.h
  ggml/src/ggml-amx/mmq.cpp
  ggml/src/ggml-amx/mmq.h
  ggml/src/ggml-backend.cpp
  ggml/src/ggml.c
  src/llama.cpp
Labels: build, ggml

#9705 [SYCL] Add SYCL Backend registry, device and Event Interfaces
  examples/llama-bench/llama-bench.cpp
  ggml/include/ggml-sycl.h
  ggml/src/ggml-backend.cpp
  ggml/src/ggml-sycl.cpp
  src/llama.cpp
Labels: examples, ggml, SYCL

#9912 rpc : backend refactoring
  ggml/src/ggml-rpc.cpp
Labels: ggml

#9745 llama : remove all_pos_0, all_pos_1, all_seq_id from llama_batch
  common/common.cpp
  examples/batched-bench/batched-bench.cpp
  examples/cvector-generator/cvector-generator.cpp
  examples/eval-callback/eval-callback.cpp
  examples/imatrix/imatrix.cpp
  examples/infill/infill.cpp
  examples/llama-bench/llama-bench.cpp
  examples/llama.android/llama/src/main/cpp/llama-android.cpp
  examples/llava/llava-cli.cpp
  examples/llava/llava.cpp
  examples/llava/minicpmv-cli.cpp
  examples/lookahead/lookahead.cpp
  examples/lookup/lookup.cpp
  examples/main/main.cpp
  examples/parallel/parallel.cpp
  examples/perplexity/perplexity.cpp
  examples/save-load-state/save-load-state.cpp
  examples/server/server.cpp
  examples/simple/simple.cpp
  examples/speculative/speculative.cpp
  include/llama.h
  src/llama.cpp
Labels: breaking change, android, examples, server

#9939 [SYCL]fix mul_mat_vec_q error
  ggml/src/ggml-sycl/mmvq.cpp
Labels: SYCL

#9963 speculative : fix batch sizes at initialization
  examples/speculative/speculative.cpp
Labels: examples

#9897 llama : default sampling changes + greedy update
  common/sampling.cpp
  examples/llama.swiftui/llama.cpp.swift/LibLlama.swift
  examples/save-load-state/save-load-state.cpp
  examples/speculative/speculative.cpp
  include/llama.h
  src/llama-sampling.cpp
  tests/test-sampling.cpp
Labels: testing, examples

#9959 rpc : pack only RPC structs
  ggml/src/ggml-rpc.cpp
Labels: ggml

#9971 ggml : add asserts for type conversion in fattn kernels
  common/common.cpp
  ggml/src/ggml.c
  src/llama.cpp
Labels: ggml

#9787 llama.vim : plugin for Neovim
  examples/llama.vim
Labels: examples, server

#9970 [CANN] Adapt to dynamically loadable backends mechanism
  ggml/include/ggml-cann.h
  ggml/src/ggml-backend.cpp
  ggml/src/ggml-cann.cpp
  src/llama.cpp
Labels: ggml, Ascend NPU

#9968 Add chat template for RWKV-World
  README.md
  convert_hf_to_gguf.py
  src/llama.cpp
  tests/test-chat-template.cpp
Labels: testing, python

#9948 lora : error message if new token is added in the adapter
  convert_lora_to_gguf.py
Labels: python

#10001 Rwkv chat template fix
  convert_hf_to_gguf.py
  src/llama.cpp
  tests/test-chat-template.cpp
Labels: testing, python

#9955 nix: update flake.lock
  flake.lock
Labels: nix

#9995 llama.vim : add classic vim support
  examples/llama.vim
Labels: examples

#10019 Server - Sampling bug fix
  examples/server/server.cpp
Labels: examples, server

#10021 CUDA: fix MMQ for non-contiguous src0, add tests
  ggml/src/ggml-cuda.cu
  ggml/src/ggml-cuda/mmq.cu
  ggml/src/ggml.c
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, Review Complexity : Medium, ggml

#10032 CUDA: fix insufficient buffer clearing for MMQ
  ggml/src/ggml-cuda.cu
Labels: Review Complexity : Low

#10023 server : refactor slot input data, move tokenizer to HTTP thread
  examples/server/README.md
  examples/server/server.cpp
  examples/server/tests/features/infill.feature
  examples/server/tests/features/steps/steps.py
  examples/server/utils.hpp
Labels: examples, python, server

#10030 server : check that the prompt fits in the slot's context
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  examples/server/server.cpp
Labels: examples, python, server

#10022 llama: string_split fix
  common/arg.cpp
  common/common.cpp
  common/common.h
  examples/server/server.cpp
Labels: examples, server

#10018 server : don't overfill the batch during infill
  examples/server/server.cpp
  examples/server/utils.hpp
Labels: examples, server

#10013 llama : Add IBM granite template
  src/llama.cpp
  tests/test-chat-template.cpp
Labels: testing

#10071 llama : remove Tail-Free sampling
  common/arg.cpp
  common/common.cpp
  common/common.h
  common/sampling.cpp
  examples/main/README.md
  examples/server/README.md
  examples/server/public/index-new.html
  examples/server/public/index.html
  examples/server/server.cpp
  examples/server/themes/buttons-top/index.html
  examples/server/themes/wild/index.html
  examples/server/utils.hpp
  include/llama.h
  scripts/run-with-preset.py
  src/llama-sampling.cpp
  tests/test-sampling.cpp
Labels: script, testing, examples, python, server

#9763 ggml: Add POOL2D OP for GPU acceleration to the Vulkan backend in the MobileVLM model.
  ggml/src/ggml-vulkan.cpp
  ggml/src/vulkan-shaders/pool2d.comp
  ggml/src/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, ggml

#10026 llama : refactor model loader with backend registry
  examples/llama-bench/llama-bench.cpp
  ggml/include/ggml-backend.h
  ggml/include/ggml-cuda.h
  ggml/src/ggml-amx.cpp
  ggml/src/ggml-backend-impl.h
  ggml/src/ggml-backend.cpp
  ggml/src/ggml-blas.cpp
  ggml/src/ggml-cann.cpp
  ggml/src/ggml-cuda.cu
  ggml/src/ggml-kompute.cpp
  ggml/src/ggml-metal.m
  ggml/src/ggml-rpc.cpp
  ggml/src/ggml-sycl.cpp
  ggml/src/ggml-vulkan.cpp
  ggml/src/ggml.c
  include/llama.h
  scripts/compare-llama-bench.py
  src/llama.cpp
Labels: script, Nvidia GPU, Vulkan, examples, python, devops, ggml, SYCL, Kompute

#10029 ggml : Implementations for Q4_0_8_8 quantization based functions - RISC-V vector version
  ggml/src/ggml-aarch64.c
Labels: ggml

#10065 convert : more detailed convert lora usage docs
  convert_lora_to_gguf.py
Labels: python

#10064 readme : more lora detail in main example readme
  examples/main/README.md
Labels: examples

#10094 ggml : fix memory leaks when loading invalid gguf files
  ggml/src/ggml.c
Labels: ggml

#10045 kompute: add backend registry / device interfaces and Q4_K shader
  ggml/include/ggml-kompute.h
  ggml/src/ggml-backend.cpp
  ggml/src/ggml-kompute.cpp
Labels: ggml, Kompute

#10097 kompute: add mul_mat_q4_k shader
  ggml/src/CMakeLists.txt
  ggml/src/ggml-kompute.cpp
  ggml/src/kompute-shaders/common.comp
  ggml/src/kompute-shaders/op_mul_mat_q4_k.comp
Labels: ggml, Kompute

#10100 ggml : check tensor name lengths in gguf files
  ggml/src/ggml.c
  src/llama.cpp
Labels: ggml

#10106 server : include scheme when printing URL
  examples/server/server.cpp
Labels: examples, server

#10111 llama : fix buffer checks for mamba and rwk
  ggml/src/ggml-backend.cpp
  ggml/src/ggml-cuda.cu
  ggml/src/ggml.c
  src/llama.cpp
Labels: ggml
