Repository ggml-org/llama.cpp, pull requests merged in 2024-06, with the labels that each got.

#7681 CUDA: fix Pascal FA, deq. KV to FP16 for batch > 8
  ggml-cuda/fattn-common.cuh
  ggml-cuda/fattn-tile-f16.cu
  ggml-cuda/fattn-tile-f32.cu
  ggml-cuda/fattn-vec-f16.cuh
  ggml-cuda/fattn-vec-f32.cuh
  ggml-cuda/fattn-wmma-f16.cuh
  ggml-cuda/fattn.cu
Labels: Nvidia GPU, ggml

#7548 SimpleChat: Simple histogram/repeatMatching driven garbageTrimming, Settings UI, Streaming mode, OpenAi Compat (Model, Authorization Bearer), Save/Restore session, Auto Settings UI
  README.md
  examples/server/public_simplechat/datautils.mjs
  examples/server/public_simplechat/index.html
  examples/server/public_simplechat/readme.md
  examples/server/public_simplechat/simplechat.css
  examples/server/public_simplechat/simplechat.js
  examples/server/public_simplechat/ui.mjs
Labels: examples, review complexity : medium, server

#7633 Server UI Improvement - New Try
  Makefile
  examples/server/CMakeLists.txt
  examples/server/public/colorthemes.css
  examples/server/public/index-new.html
  examples/server/public/index.html
  examples/server/public/prompt-formats.js
  examples/server/public/style.css
  examples/server/public/system-prompts.js
  examples/server/public/theme-beeninorder.css
  examples/server/public/theme-ketivah.css
  examples/server/public/theme-mangotango.css
  examples/server/public/theme-playground.css
  examples/server/public/theme-polarnight.css
  examples/server/public/theme-snowstorm.css
  examples/server/server.cpp
Labels: examples, review complexity : medium, server, merging soon

#7684 Fix FlashAttention debug test, FP32 assert
  ggml-cuda/fattn-vec-f32.cuh
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, ggml

#7682 [SYCL] Update rpc-server.cpp to include SYCL backend
  examples/rpc/rpc-server.cpp
Labels: examples

#7686 nix: update flake.lock
  flake.lock
Labels: nix

#7701 fix bug introduced in using calloc
  ggml-alloc.c
Labels: ggml

#6403 kompute: implement op_getrows_f32
  CMakeLists.txt
  ggml-kompute.cpp
  kompute-shaders/op_getrows_f32.comp
Labels: bugfix, review complexity : medium

#7654 llama : avoid double token-to-piece cache
  llama.cpp
Labels: review complexity : medium

#7664 MiniCPM Support lm_head
  gguf-py/gguf/constants.py
  llama.cpp
Labels: review complexity : low, python

#7702 add pkg-config spec file for llama.cpp
  CMakeLists.txt
  cmake/llama.pc.in
Labels: build, review complexity : low

#7606 ggml: Support OpenMP for multi-thread processing
  .github/workflows/build.yml
  CMakeLists.txt
  Makefile
  ggml.c
Labels: build, review complexity : medium, devops, ggml

#7640 llama : offload to RPC in addition to other backends
  Makefile
  ggml-alloc.c
  ggml-backend.c
  ggml-backend.h
  ggml-rpc.cpp
  llama.cpp
Labels: review complexity : medium, ggml

#7726 ggml : prevent builds with -ffinite-math-only
  cmake/arm64-windows-llvm.cmake
  ggml.c
Labels: review complexity : low, ggml, merging soon

#7688 refine .gitignore
  .gitignore
Labels: android, review complexity : low, merging soon

#7696 Improve hipBLAS support in CMake
  CMakeLists.txt
Labels: build, review complexity : low

#7722 llama-bench : allow using a different printer for stderr with -oe
  examples/llama-bench/llama-bench.cpp
  scripts/compare-commits.sh
Labels: script, examples

#7736 llama : remove beam search
  Makefile
  examples/CMakeLists.txt
  examples/beam-search/CMakeLists.txt
  examples/beam-search/beam-search.cpp
  llama.cpp
  llama.h
Labels: examples

#7735 ggml : remove OpenCL
  .github/workflows/build.yml
  CMakeLists.txt
  Makefile
  README-sycl.md
  README.md
  common/common.cpp
  examples/llama-bench/README.md
  examples/llama-bench/llama-bench.cpp
  examples/main-cmake-pkg/README.md
  flake.nix
  ggml-metal.h
  ggml-opencl.cpp
  ggml-opencl.h
  ggml.c
  ggml.h
  llama.cpp
  scripts/LlamaConfig.cmake.in
  scripts/compare-llama-bench.py
  scripts/server-llm.sh
  scripts/sync-ggml-am.sh
  scripts/sync-ggml.sh
Labels: build, script, nix, examples, python, devops, ggml, SYCL, Apple Metal

#7675 common : refactor cli arg parsing
  common/common.cpp
  common/common.h
  examples/batched-bench/README.md
  examples/batched-bench/batched-bench.cpp
  examples/batched/README.md
  examples/batched/batched.cpp
  examples/embedding/embedding.cpp
  examples/eval-callback/eval-callback.cpp
  examples/gguf-split/tests.sh
  examples/gritlm/gritlm.cpp
  examples/imatrix/imatrix.cpp
  examples/infill/infill.cpp
  examples/llama-bench/llama-bench.cpp
  examples/llava/llava-cli.cpp
  examples/lookahead/lookahead.cpp
  examples/lookup/lookup-create.cpp
  examples/lookup/lookup-stats.cpp
  examples/lookup/lookup.cpp
  examples/main/README.md
  examples/main/main.cpp
  examples/parallel/parallel.cpp
  examples/passkey/README.md
  examples/passkey/passkey.cpp
  examples/perplexity/perplexity.cpp
  examples/quantize/tests.sh
  examples/retrieval/retrieval.cpp
  examples/save-load-state/save-load-state.cpp
  examples/server/server.cpp
  examples/server/utils.hpp
  examples/simple/README.md
  examples/simple/simple.cpp
  examples/speculative/speculative.cpp
  llama.cpp
  scripts/run-with-preset.py
Labels: script, examples, review complexity : low, python, server

#7634 ggml : unify rope norm/neox
  examples/baby-llama/baby-llama.cpp
  examples/convert-legacy-llama.py
  examples/finetune/finetune.cpp
  examples/train-text-from-scratch/train-text-from-scratch.cpp
  ggml-cuda/rope.cu
  ggml-kompute.cpp
  ggml-metal.m
  ggml-metal.metal
  ggml-sycl.cpp
  ggml-vulkan.cpp
  ggml.c
  ggml.h
  kompute-shaders/op_rope_f16.comp
  kompute-shaders/op_rope_f32.comp
  kompute-shaders/rope_common.comp
  llama.cpp
  tests/test-backend-ops.cpp
  tests/test-grad0.cpp
  tests/test-rope.cpp
Labels: testing, refactoring, Nvidia GPU, Vulkan, examples, python, review complexity : high, ggml, SYCL, Kompute

#7733 Fix encoding in python scripts
  convert-hf-to-gguf-update.py
  convert-hf-to-gguf.py
Labels: review complexity : low, python

#7780 add openmp lib to dockerfiles
  .devops/full-cuda.Dockerfile
  .devops/full.Dockerfile
  .devops/main-cuda.Dockerfile
  .devops/main-vulkan.Dockerfile
  .devops/main.Dockerfile
  .devops/server-cuda.Dockerfile
  .devops/server.Dockerfile
Labels: devops

#7596 feat: add changes to handle jina v2 base code
  convert-hf-to-gguf-update.py
  convert-hf-to-gguf.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  llama.cpp
Labels: python, review complexity : medium

#6640 grammars: x{min,max} repetition operator
  common/grammar-parser.cpp
  common/json-schema-to-grammar.cpp
  examples/json_schema_to_grammar.py
  examples/pydantic_models_to_grammar.py
  examples/server/public/json-schema-to-grammar.mjs
  grammars/README.md
  tests/test-grammar-integration.cpp
  tests/test-grammar-parser.cpp
  tests/test-json-schema-to-grammar.cpp
Labels: enhancement, testing, examples, python, review complexity : high, server

#7798 README minor fixes
  README.md
Labels: review complexity : low

#6467 Added support for . (any character) token in grammar engine.
  common/grammar-parser.cpp
  llama.cpp
  llama.h
  tests/test-grammar-integration.cpp
Labels: enhancement, help wanted, testing, review complexity : low

#7771 imatrix : migrate to gpt_params
  common/common.cpp
  common/common.h
  examples/imatrix/README.md
  examples/imatrix/imatrix.cpp
  examples/server/server.cpp
Labels: examples, server

#7801 server : fix --threads-http arg
  common/common.cpp
  common/common.h
Labels: review complexity : low

#7807 check for nans in imatrix and quantize
  examples/imatrix/imatrix.cpp
  llama.cpp
Labels: examples

#7811 [SYCL] fix softmax r2r result wrong issue
  ggml-sycl.cpp
Labels: SYCL

#7286 avoid to get prompt in infill mode and embedding mode
  examples/server/server.cpp
Labels: examples, review complexity : low, server

#7745 server: update cache_prompt documentation [no ci]
  examples/server/README.md
Labels: documentation, examples, review complexity : low, server

#7803 examples/gguf-split: Change binary multi-byte units to decimal
  examples/gguf-split/gguf-split.cpp
Labels: examples

#7806 vulkan : reuse parent extra for views
  ggml-vulkan.cpp
Labels: Vulkan

#7728 server : Smart selection of available slot using Longest Common Prefix
  common/common.cpp
  common/common.h
  examples/server/server.cpp
  examples/server/utils.hpp
Labels: examples, review complexity : medium, server

#7808 Revert "[SYCL] Update rpc-server.cpp to include SYCL backend"
  examples/rpc/rpc-server.cpp
Labels: examples

#7827 gguf-py : decouple adding metadata from writing in GGUFWriter
  convert-hf-to-gguf.py
  gguf-py/gguf/gguf_writer.py
  gguf-py/scripts/gguf-new-metadata.py
Labels: refactoring, python, review complexity : medium, merge ready

#7687 convert-hf : match model part name prefix and suffix
  convert-hf-to-gguf.py
Labels: bugfix, review complexity : low, python, merge ready

#7693 convert-hf : set the model name based on cli arg, if present
  convert-hf-to-gguf.py
Labels: Review Complexity : Low, python

#7824 CUDA: revise q8_1 data layout for mul_mat_q
  ggml-cuda.cu
  ggml-cuda/mmq.cu
  ggml-cuda/mmq.cuh
  ggml-cuda/quantize.cu
  ggml-cuda/quantize.cuh
Labels: Nvidia GPU, ggml

#7830 server: do not remove whitespace at the start of a completion chunk (reapply to new UI)
  examples/server/public/index-new.html
Labels: examples, server

#7700 docs: Added initial PR template with directions for doc only changes and squash merges [no ci]
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  CONTRIBUTING.md
Labels: documentation, need feedback, Review Complexity : Low, devops, merge ready

#7833 imatrix : handle partial entries
  examples/imatrix/imatrix.cpp
Labels: examples

#7838 nix: update flake.lock
  flake.lock
Labels: nix

#7777 use the correct SYCL context for host USM allocations
  ggml-sycl.cpp
Labels: SYCL

#7676 CUDA: use tensor cores for MMQ
  ggml-cuda/common.cuh
  ggml-cuda/fattn-common.cuh
  ggml-cuda/fattn-tile-f16.cu
  ggml-cuda/fattn-vec-f16.cuh
  ggml-cuda/fattn-wmma-f16.cuh
  ggml-cuda/mma.cuh
  ggml-cuda/mmq.cuh
Labels: Nvidia GPU, Review Complexity : High, ggml

#7847 server : improve "prompt" handling
  examples/server/server.cpp
Labels: examples, server

#7846 examples : remove --instruct remnants
  README.md
  examples/alpaca.sh
  examples/gpt4all.sh
  examples/llama2-13b.sh
  examples/llama2.sh
Labels: examples

#7821 cmake : fix CMake requirement for CUDA
  CMakeLists.txt
Labels: build

#7841 `json`: document schema conversion in GBNF readme, align manual grammar examples & converters
  common/json-schema-to-grammar.cpp
  examples/json_schema_to_grammar.py
  examples/server/public/json-schema-to-grammar.mjs
  grammars/README.md
  grammars/json.gbnf
  grammars/json_arr.gbnf
  tests/test-json-schema-to-grammar.cpp
Labels: testing, examples, python, server

#7866 `json`: refine whitespace rules to avoid runaways
  common/json-schema-to-grammar.cpp
  examples/json_schema_to_grammar.py
  examples/server/public/json-schema-to-grammar.mjs
  grammars/json.gbnf
  grammars/json_arr.gbnf
  tests/test-json-schema-to-grammar.cpp
Labels: testing, examples, python, server

#7861 fix CUDA CI by using a windows-2019 image
  .github/workflows/build.yml
Labels: Review Complexity : Low, devops

#7860 CUDA: int8 tensor cores for MMQ (q4_K, q5_K, q6_K)
  ggml-cuda/mma.cuh
  ggml-cuda/mmq.cuh
Labels: Nvidia GPU, Review Complexity : High, ggml

#7872 tests : check the Python version
  tests/test-json-schema-to-grammar.cpp
Labels: testing

#7868 github: move PR template to .github/ root
  .github/pull_request_template.md
Labels: Review Complexity : Low, devops

#7582 vulkan: select only one device for single gpu with multiple drivers
  ggml-vulkan.cpp
Labels: Vulkan, Review Complexity : Medium

#7794 Fix a typo + add Fedora packages for Vulkan
  README.md
Labels: documentation, Review Complexity : Low

#7894 Revert "[SYCL] fix intel docker"
  .devops/main-intel.Dockerfile
  .devops/server-intel.Dockerfile
Labels: Review Complexity : Low, devops, merge ready

#7883 server : restore numeric prompts
  examples/server/server.cpp
Labels: examples, Review Complexity : Low, server

#7856 ggml : improve ggml_is_contiguous logic
  ggml.c
Labels: Review Complexity : Low, ggml

#7857 tests : add non-cont unary tests
  ggml-cuda.cu
  ggml-cuda/unary.cu
  ggml-kompute.cpp
  ggml-metal.m
  ggml-sycl.cpp
  ggml-vulkan.cpp
  ggml.c
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, Vulkan, Review Complexity : Medium, ggml, SYCL, Kompute

#6210 move BLAS to a separate backend
  CMakeLists.txt
  Makefile
  examples/llama-bench/llama-bench.cpp
  ggml-alloc.c
  ggml-backend-impl.h
  ggml-backend.c
  ggml-backend.h
  ggml-blas.cpp
  ggml-blas.h
  ggml-cuda.cu
  ggml-kompute.cpp
  ggml-metal.m
  ggml-rpc.cpp
  ggml-sycl.cpp
  ggml-vulkan.cpp
  ggml.c
  llama.cpp
Labels: build, refactoring, Vulkan, examples, Review Complexity : High, ggml, SYCL, Kompute

#7914 Remove outdated instructions from README.md
  README.md
Labels: Review Complexity : Low, merge ready

#7713 Poro-34B-chat tokenizer support
  convert-hf-to-gguf-update.py
  convert-hf-to-gguf.py
  llama.cpp
  llama.h
Labels: enhancement, Review Complexity : Low, python

#7644 More checks before assuming FIM tokens
  llama.cpp
Labels: bugfix, Review Complexity : Low, merge ready, medium severity

#7919 sycl-exp : unify rope neox/norm
  ggml-sycl.cpp
Labels: SYCL

#7920 Revert "use the correct SYCL context for host USM allocations"
  ggml-sycl.cpp
Labels: SYCL

#7921 CUDA: faster q2_K, q3_K MMQ + int8 tensor cores
  ggml-cuda.cu
  ggml-cuda/argsort.cu
  ggml-cuda/common.cuh
  ggml-cuda/mmq.cuh
  ggml-cuda/softmax.cu
  ggml-cuda/vecdotq.cuh
Labels: Nvidia GPU, Review Complexity : High, ggml

#7940 Fix macos x86 build
  .github/workflows/build.yml
Labels: devops

#7710 [SYCL] remove global variables
  CMakeLists.txt
  ggml-sycl.cpp
  ggml-sycl.h
  ggml-sycl/backend.hpp
  ggml-sycl/common.cpp
  ggml-sycl/common.hpp
  ggml-sycl/dpct/helper.hpp
  ggml-sycl/presets.hpp
  llama.cpp
Labels: build, refactoring, Intel GPU, Review Complexity : High, ggml, SYCL

#7514 Add `cvector-generator` example
  .editorconfig
  Makefile
  common/common.cpp
  common/common.h
  examples/CMakeLists.txt
  examples/cvector-generator/CMakeLists.txt
  examples/cvector-generator/README.md
  examples/cvector-generator/completions.txt
  examples/cvector-generator/cvector-generator.cpp
  examples/cvector-generator/negative.txt
  examples/cvector-generator/pca.hpp
  examples/cvector-generator/positive.txt
Labels: need feedback, examples, Review Complexity : High, merge ready

#7955 ggml : fix handling of zero blocks in IQ quants
  ggml-quants.c
Labels: Review Complexity : Low, ggml

#7951 nix: update flake.lock
  flake.lock
Labels: nix

#7953 Add support for sqrt on CUDA
  examples/cvector-generator/pca.hpp
  ggml-cuda.cu
  ggml-cuda/unary.cu
  ggml-cuda/unary.cuh
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, examples, Review Complexity : Medium, ggml

#7946 [SYCL] Update README-sycl.md for Chapter "Recommended release" and "News"
  README-sycl.md
Labels: Review Complexity : Low, SYCL

#7853 gguf-dump.py: add --markdown dump output
  gguf-py/scripts/gguf-dump.py
Labels: Review Complexity : Low, python, merge ready

#7948 rpc : fix load/store misaligned addresses
  ggml-rpc.cpp
Labels: bugfix, Review Complexity : Low

#7932 fix: divide 0 exception in mamba
  llama.cpp
Labels: bugfix, Review Complexity : Low, merge ready

#7899 [no ci] Add Nix and Flox install instructions
  README.md
Labels: Review Complexity : Low

#7835 update: support Qwen2-57B-A14B
  convert-hf-to-gguf.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/gguf_writer.py
  llama.cpp
Labels: python, Review Complexity : Medium, merge ready

#7943 [no ci] Add LARS to the UI list in README
  README.md
Labels: documentation, Review Complexity : Low, merge ready

#7981 sycl-exp : Temporarily revert RPC offload (#7640)
  Makefile
  ggml-alloc.c
  ggml-backend.c
  ggml-backend.h
  ggml-rpc.cpp
  llama.cpp
Labels: ggml

#7980 sycl-exp : Revert "Minor arithmetic improvement to mmvq wrapper kernel (#7172)"
  ggml-sycl.cpp
Labels: SYCL

#7751 Fix no gcc pragma on Windows
  sgemm.cpp
Labels: Review Complexity : Low, merge ready

#7648 Only use FIM middle token if it exists
  examples/infill/infill.cpp
  examples/server/server.cpp
Labels: examples, Review Complexity : Low, server, merge ready

#7972 sycl-exp : dequant q4 k improvements
  ggml-sycl.cpp
Labels: Review Complexity : Medium, SYCL

#6408 [SYCL] refactor
  ggml-sycl.cpp
  ggml-sycl/backend.hpp
  ggml-sycl/convert.cpp
  ggml-sycl/convert.hpp
  ggml-sycl/dequantize.hpp
  ggml-sycl/dmmv.cpp
  ggml-sycl/dmmv.hpp
  ggml-sycl/mmq.cpp
  ggml-sycl/mmq.hpp
  ggml-sycl/mmvq.cpp
  ggml-sycl/mmvq.hpp
  ggml-sycl/presets.hpp
  ggml-sycl/vecdotq.hpp
Labels: enhancement, build, Review Complexity : High, ggml, SYCL

#7993 ggml : synchronize threads using barriers
  .github/workflows/server.yml
  ggml.c
Labels: devops, ggml

#7996 un-ignore `build-info.cmake` and `build-info.sh`
  .gitignore
Labels: examples

#8020 server : fix smart slot selection
  examples/server/server.cpp
Labels: examples, Review Complexity : Low, server

#8021 Fix `ggml_metal_supports_op`
  ggml-metal.m
Labels: Review Complexity : Low

#8018 CUDA: stream-k decomposition for MMQ
  ggml-cuda.cu
  ggml-cuda/common.cuh
  ggml-cuda/mmq.cu
  ggml-cuda/mmq.cuh
Labels: Nvidia GPU, Review Complexity : High, ggml

#8003 [SYCL] Fix windows build and inference
  CMakeLists.txt
  CMakePresets.json
  README-sycl.md
  examples/sycl/win-build-sycl.bat
  ggml-sycl.cpp
  ggml-sycl/dpct/helper.hpp
  ggml.h
Labels: build, examples, Review Complexity : Low, devops, ggml, SYCL

#8040 Fix the encoding in the convert-hf-to-gguf-update.py file
  convert-hf-to-gguf-update.py
Labels: python

#8041 Fixed packages versions
  requirements/requirements-convert-hf-to-gguf-update.txt
  requirements/requirements-convert-hf-to-gguf.txt
  requirements/requirements-convert-legacy-llama.txt
Labels: python

#7754 Enable stream updating in the SwiftUI example
  examples/llama.swiftui/llama.swiftui/Models/LlamaState.swift
Labels: examples, Review Complexity : Low

#7477 Allow pooled embeddings on any model
  common/common.cpp
  examples/embedding/embedding.cpp
  examples/gritlm/gritlm.cpp
  examples/retrieval/retrieval.cpp
  llama.cpp
  llama.h
Labels: enhancement, examples, embeddings, Review Complexity : Medium

#7845 AVX IQ Quants
  ggml-quants.c
Labels: Review Complexity : High, ggml

#8022 vulkan: detect multiple devices by deviceUUID instead of deviceID
  ggml-vulkan.cpp
Labels: Vulkan, Review Complexity : Low

#7790 JSON Schema to GBNF integration tests
  Makefile
  tests/test-grammar-integration.cpp
Labels: testing, Review Complexity : Medium

#8058 Update llama-quantize ppl/file size output from LLaMA-v1 to Llama-3 values
  examples/quantize/quantize.cpp
Labels: examples, Review Complexity : Low

#8015 Update convert-hf-to-gguf.py
  convert-hf-to-gguf.py
Labels: Review Complexity : Low, python

#8052 cvector-generator: Moe Moe Fixie-Fixie for Lots of Formats~! ♡(ᐢ ᴥ ᐢ)♡
  examples/cvector-generator/cvector-generator.cpp
  examples/cvector-generator/negative.txt
  examples/cvector-generator/positive.txt
Labels: examples, Review Complexity : Low

#8064 cvector: fix CI + correct help message
  .editorconfig
  common/common.cpp
  examples/cvector-generator/README.md
  examples/cvector-generator/cvector-generator.cpp
Labels: examples

#8066 fix CI failures
  .github/workflows/server.yml
  tests/test-backend-ops.cpp
Labels: testing, devops

#7975 server : fix JSON-Scheme typo
  examples/server/public/index-new.html
Labels: examples, Review Complexity : Low, server

#7931 Add support for BitnetForCausalLM (new model / new datatype)
  convert-hf-to-gguf.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  llama.cpp
Labels: examples, python, ggml, Tensor Encoding Scheme

#8017 ggml : remove ggml_task_type and GGML_PERF
  CMakeLists.txt
  Makefile
  ggml-vulkan.cpp
  ggml.c
  ggml.h
  llama.cpp
  sgemm.cpp
  sgemm.h
Labels: build, Vulkan, Review Complexity : Medium, ggml

#8055 Model conversion support for T5 and FLAN-T5 model variants
  convert-hf-to-gguf.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/gguf_writer.py
  gguf-py/gguf/tensor_mapping.py
Labels: python, Review Complexity : Medium

#7458 Embedding parameters
  common/common.cpp
  common/common.h
  examples/embedding/README.md
  examples/embedding/embedding.cpp
Labels: examples, embeddings, Review Complexity : Medium, merge ready

#8083 disable publishing the full-rocm docker image
  .github/workflows/docker.yml
Labels: devops

#8057 sycl-exp : Re-enabled mul_mat_batched_sycl Path for batched Q*K & KQ*V
  ggml-sycl.cpp
Labels: Review Complexity : Medium, SYCL

#6942 Option to split during conversion
  convert-hf-to-gguf.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/gguf_writer.py
Labels: enhancement, python, Review Complexity : Medium, merge ready

#8062 CUDA: optimize MMQ int8 tensor core performance
  ggml-cuda/common.cuh
  ggml-cuda/mma.cuh
  ggml-cuda/mmq.cuh
Labels: Nvidia GPU, ggml

#8090 Fix tensor groups for encoder-decoder models in gguf-dump.py
  gguf-py/scripts/gguf-dump.py
Labels: Review Complexity : Low, python, merge ready

#8075 CUDA: use MMQ instead of cuBLAS by default
  CMakeLists.txt
  Makefile
  README.md
  ggml-cuda.cu
  ggml-cuda/common.cuh
  ggml-cuda/mmq.cu
  ggml-cuda/mmq.cuh
  ggml-cuda/mmvq.cuh
Labels: build, Nvidia GPU, Review Complexity : Medium, ggml

#8100 CUDA: fix MMQ writeback for int8 tensor cores
  ggml-cuda/mmq.cuh
Labels: Nvidia GPU, ggml

#8095 [SYCL] Re-enabled mul_mat_batched_sycl
  ggml-sycl.cpp
Labels: SYCL

#7950 SimpleChat v3.1: Boolean chat request options in Settings UI, cache_prompt
  examples/server/public_simplechat/readme.md
  examples/server/public_simplechat/simplechat.js
  examples/server/public_simplechat/simplechat_screens.webp
Labels: examples, Review Complexity : Low, server, merge ready

#8068 Add chat template support for llama-cli
  common/common.cpp
  common/common.h
  examples/main/main.cpp
  examples/server/server.cpp
  examples/server/utils.hpp
  llama.cpp
  tests/test-chat-template.cpp
Labels: testing, examples, Review Complexity : Low, server, merge ready

#8069 cvector: better prompt handling, add "mean vector" method
  common/common.cpp
  common/common.h
  examples/cvector-generator/README.md
  examples/cvector-generator/cvector-generator.cpp
  examples/cvector-generator/mean.hpp
  examples/cvector-generator/negative.txt
  examples/cvector-generator/pca.hpp
  examples/cvector-generator/positive.txt
Labels: examples, Review Complexity : Low, merge ready

#8054 Gguf dump start data offset via --data-offset and some extra refactor
  gguf-py/gguf/gguf_reader.py
  gguf-py/scripts/gguf-dump.py
Labels: Review Complexity : Low, python, merge ready

#8081 Add healthchecks to llama-server containers
  .devops/llama-server-cuda.Dockerfile
  .devops/llama-server-intel.Dockerfile
  .devops/llama-server-rocm.Dockerfile
  .devops/llama-server-vulkan.Dockerfile
  .devops/llama-server.Dockerfile
Labels: Review Complexity : Low, devops

#8110 disable docker CI on pull requests
  .github/workflows/docker.yml
Labels: devops

#7797 `json`: support integer minimum, maximum, exclusiveMinimum, exclusiveMaximum
  common/json-schema-to-grammar.cpp
  examples/json-schema-pydantic-example.py
  examples/json_schema_to_grammar.py
  examples/server/public/json-schema-to-grammar.mjs
  tests/test-grammar-integration.cpp
  tests/test-json-schema-to-grammar.cpp
Labels: enhancement, testing, examples, python, Review Complexity : Medium, Review Complexity : High, server

#8093 llama : return nullptr from llama_grammar_init
  common/sampling.cpp
  examples/gbnf-validator/gbnf-validator.cpp
  llama.cpp
  llama.h
  tests/test-grammar-integration.cpp
  tests/test-llama-grammar.cpp
Labels: testing, examples, Review Complexity : Low

#8089 Add Unigram tokenizer needed by T5 and FLAN-T5 model families
  llama.cpp
  llama.h
  unicode.cpp
  unicode.h
Labels: Review Complexity : Medium

#8060 fixes #7999 (adds control vectors to all `build_XXX()` functions in `llama.cpp` [needs testing]
  llama.cpp
Labels: Review Complexity : Medium

#7840 `json`: fix additionalProperties, allow space after enum/const
  common/json-schema-to-grammar.cpp
  examples/json-schema-pydantic-example.py
  examples/json_schema_to_grammar.py
  examples/server/public/json-schema-to-grammar.mjs
  examples/server/tests/features/server.feature
  tests/test-grammar-integration.cpp
  tests/test-json-schema-to-grammar.cpp
Labels: testing, examples, python, Review Complexity : Medium, server

#7863 `json`: better support for "type" unions (e.g. nullable arrays w/ typed items)
  common/json-schema-to-grammar.cpp
  examples/json_schema_to_grammar.py
  examples/server/public/json-schema-to-grammar.mjs
  tests/test-grammar-integration.cpp
  tests/test-json-schema-to-grammar.cpp
Labels: testing, examples, Review Complexity : Low, python, server

#8103 Extend llm_build_ffn() to support _scale tensors
  llama.cpp
Labels: Review Complexity : Low

#8123 CUDA: fix misaligned shared memory read
  ggml-cuda/mma.cuh
Labels: Nvidia GPU, ggml

#8115 Clarify default MMQ for CUDA and LLAMA_CUDA_FORCE_MMQ flag
  README.md
Labels: Review Complexity : Low

#8139 devops : remove clblast + LLAMA_CUDA -> GGML_CUDA
  .devops/full-cuda.Dockerfile
  .devops/full-rocm.Dockerfile
  .devops/llama-cli-cuda.Dockerfile
  .devops/llama-cli-intel.Dockerfile
  .devops/llama-cli-rocm.Dockerfile
  .devops/llama-cli-vulkan.Dockerfile
  .devops/llama-cpp-clblast.srpm.spec
  .devops/llama-cpp-cuda.srpm.spec
  .devops/llama-server-cuda.Dockerfile
  .devops/llama-server-intel.Dockerfile
  .devops/llama-server-rocm.Dockerfile
  .devops/llama-server-vulkan.Dockerfile
Labels: devops

#8140 ggml : add GGML_CUDA_USE_GRAPHS option, restore GGML_CUDA_FORCE_CUBLAS
  CMakeLists.txt
  ggml/CMakeLists.txt
  ggml/src/CMakeLists.txt
Labels: build

#8142 ci : publish new docker images only when the files change
  .github/workflows/build.yml
  .github/workflows/docker.yml
Labels: devops

#8105 clip : suppress unused variable warnings
  examples/llava/clip.cpp
Labels: examples, Review Complexity : Low

#8145 Fixing llama-android.cpp for error - "common/common.h not found"
  examples/llama.android/llama/src/main/cpp/llama-android.cpp
Labels: android, examples

#8135 Added support for Viking pre-tokenizer
  convert-hf-to-gguf-update.py
  convert-hf-to-gguf.py
  include/llama.h
  src/llama.cpp
Labels: python

#8167 CUDA: fix MMQ stream-k for --split-mode row
  ggml/src/ggml-cuda/mmq.cuh
Labels: Nvidia GPU

#8158 Add Qwen2MoE 57B-A14B model identifier
  src/llama.cpp
Labels: Review Complexity : Low

#8165 Delete examples/llama.android/llama/CMakeLists.txt
  examples/llama.android/llama/CMakeLists.txt
  examples/llama.android/llama/src/main/cpp/CMakeLists.txt
Labels: android, examples, Review Complexity : Low

#8137 Control vector loading fixes
  common/common.cpp
Labels: Review Complexity : Medium

#8071 nix: update flake.lock
  flake.lock
Labels: nix, Review Complexity : Medium

#8160 Add chatml fallback for cpp `llama_chat_apply_template`
  common/common.cpp
  common/common.h
Labels: Review Complexity : Low, merge ready

#8171 cmake : fix deprecated option names not working
  CMakeLists.txt
Labels: build

#8170 CI: fix release build (Ubuntu+Mac)
  .github/workflows/build.yml
Labels: devops

#8177 Add missing items in makefile
  Makefile
Labels: Review Complexity : Low

#8156 Add support for Gemma2ForCausalLM
  convert-hf-to-gguf.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  src/llama.cpp
Labels: python, Review Complexity : Medium
