Repository ggml-org/llama.cpp, pull requests merged in 2024-09, with the labels that each got.

#8980 llama : support RWKV v6 models
  convert_hf_to_gguf.py
  ggml/include/ggml.h
  ggml/src/ggml.c
  gguf-py/gguf/constants.py
  gguf-py/gguf/gguf_writer.py
  gguf-py/gguf/tensor_mapping.py
  include/llama.h
  src/llama-vocab.cpp
  src/llama.cpp
Labels: python, ggml

#5664 build(nix): Package gguf-py
  .devops/nix/devshells.nix
  .devops/nix/nixpkgs-instances.nix
  .devops/nix/package-gguf-py.nix
  .devops/nix/package.nix
  .devops/nix/python-scripts.nix
  .devops/nix/scope.nix
  flake.nix
  gguf-py/pyproject.toml
  pyproject.toml
Labels: nix, python, devops

#9275 remove duplicated log message
  examples/main/main.cpp
Labels: examples

#9274 server : refactor multitask handling
  examples/server/server.cpp
  examples/server/tests/features/parallel.feature
  examples/server/tests/features/steps/steps.py
  examples/server/tests/features/wrong_usages.feature
  examples/server/utils.hpp
Labels: examples, python, server

#9258 Add missing pthread includes on FreeBSD
  ggml/src/ggml.c
Labels: ggml

#9278 docker : fix missing binaries in full-cuda image
  .devops/full-cuda.Dockerfile
Labels: devops

#9249 src: make tail invalid when kv cell is intersection for mamba
  src/llama.cpp
Labels: bugfix, Review Complexity : Low, merge ready

#9282 server : test script : add timeout for all requests
  examples/server/tests/features/parallel.feature
  examples/server/tests/features/steps/steps.py
Labels: examples, python, server

#9288 llama-bench : add JSONL (NDJSON) output mode
  examples/llama-bench/README.md
  examples/llama-bench/llama-bench.cpp
Labels: examples

#9261 nix: update flake.lock
  flake.lock
Labels: nix

#9296 rpc : make RPC servers come first in the device list
  common/common.cpp
  examples/llama-bench/llama-bench.cpp
  src/llama.cpp
Labels: examples

#9306 Fix broken links in docker.md
  docs/docker.md
Labels: documentation

#9279 [SYCL] Fix DMMV dequantization
  ggml/src/ggml-sycl/dmmv.cpp
Labels: SYCL

#8713 Implementations for Q4_0_8_8 quantization based functions in AVX2 SIMD architecture
  ggml/src/ggml-aarch64.c
Labels: Review Complexity : Medium, ggml

#9313 llama-bench : fix NUL terminators in CPU name
  examples/llama-bench/llama-bench.cpp
Labels: examples

#9319 cuda : fix defrag with quantized KV
  ggml/src/ggml-backend.c
  ggml/src/ggml-cuda.cu
  ggml/src/ggml-cuda/cpy.cu
Labels: Nvidia GPU, ggml

#8624 CMake: CMakePresets fix, host for msvc compiler can only be x86 or x64
  CMakePresets.json
Labels: build, bugfix, Review Complexity : Low

#9184 Update build.yml, enable rpc for windows cuda builds
  .github/workflows/build.yml
Labels: Review Complexity : Low, devops

#8151 ggml-quants : ternary packing for TriLMs and BitNet b1.58
  convert_hf_to_gguf.py
  examples/quantize/quantize.cpp
  ggml/include/ggml.h
  ggml/src/ggml-common.h
  ggml/src/ggml-impl.h
  ggml/src/ggml-quants.c
  ggml/src/ggml-quants.h
  ggml/src/ggml.c
  gguf-py/gguf/constants.py
  gguf-py/gguf/quants.py
  gguf-py/tests/test_quants.py
  include/llama.h
  src/llama.cpp
  tests/test-backend-ops.cpp
  tests/test-quantize-fns.cpp
Labels: enhancement, testing, examples, python, Review Complexity : High, ggml, merge ready, Tensor Encoding Scheme

#9239 Improve Vulkan shader build system
  ggml/CMakeLists.txt
  ggml/src/CMakeLists.txt
  ggml/src/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Review Complexity : Low

#9334 server : fix missing lock
  examples/server/server.cpp
Labels: examples, server

#9265 ggml: fix build break for the vulkan-debug.
  ggml/src/ggml-vulkan.cpp
Labels: Vulkan, ggml

#9293 batched-bench : JSONL output
  common/common.cpp
  common/common.h
  examples/batched-bench/README.md
  examples/batched-bench/batched-bench.cpp
Labels: examples, server

#9287 llama-bench : log benchmark progress
  examples/llama-bench/llama-bench.cpp
Labels: examples

#9283 server : simplify state machine for slot
  examples/server/server.cpp
  examples/server/tests/features/parallel.feature
  examples/server/tests/features/passkey.feature
  examples/server/tests/features/steps/steps.py
Labels: examples, python, server

#9340 ci : disable rocm image creation
  .github/workflows/docker.yml
Labels: devops

#9336 ggml : fix missing `cpu_set_t` on emscripten
  ggml/src/ggml.c
Labels: ggml

#9294 llama : refactor sampling v2
  Makefile
  common/CMakeLists.txt
  common/common.cpp
  common/common.h
  common/grammar-parser.cpp
  common/grammar-parser.h
  common/sampling.cpp
  common/sampling.h
  examples/batched-bench/batched-bench.cpp
  examples/batched.swift/Sources/main.swift
  examples/batched/batched.cpp
  examples/embedding/embedding.cpp
  examples/eval-callback/eval-callback.cpp
  examples/gbnf-validator/gbnf-validator.cpp
  examples/gritlm/gritlm.cpp
  examples/imatrix/imatrix.cpp
  examples/infill/infill.cpp
  examples/llama-bench/llama-bench.cpp
  examples/llama.android/llama/src/main/cpp/llama-android.cpp
  examples/llama.swiftui/llama.cpp.swift/LibLlama.swift
  examples/llava/llava-cli.cpp
  examples/llava/minicpmv-cli.cpp
  examples/lookahead/lookahead.cpp
  examples/lookup/lookup.cpp
  examples/main/main.cpp
  examples/parallel/parallel.cpp
  examples/passkey/passkey.cpp
  examples/perplexity/perplexity.cpp
  examples/quantize-stats/quantize-stats.cpp
  examples/retrieval/retrieval.cpp
  examples/save-load-state/save-load-state.cpp
  examples/server/README.md
  examples/server/server.cpp
  examples/simple/simple.cpp
  examples/speculative/speculative.cpp
  include/llama.h
  src/llama-grammar.cpp
  src/llama-grammar.h
  src/llama-impl.h
  src/llama-sampling.cpp
  src/llama-sampling.h
  src/llama-vocab.h
  src/llama.cpp
  tests/test-grammar-integration.cpp
  tests/test-grammar-parser.cpp
  tests/test-json-schema-to-grammar.cpp
  tests/test-llama-grammar.cpp
  tests/test-sampling.cpp
Labels: testing, breaking change, android, examples, server

#9354 ggml : always check bounds on get_rows operations
  ggml/src/ggml.c
Labels: ggml

#9308 common : refactor arg parser
  .gitignore
  Makefile
  common/common.cpp
  common/common.h
  examples/batched-bench/batched-bench.cpp
  examples/batched/batched.cpp
  examples/cvector-generator/cvector-generator.cpp
  examples/embedding/embedding.cpp
  examples/eval-callback/eval-callback.cpp
  examples/export-lora/export-lora.cpp
  examples/gen-docs/CMakeLists.txt
  examples/gen-docs/gen-docs.cpp
  examples/gritlm/gritlm.cpp
  examples/imatrix/imatrix.cpp
  examples/infill/infill.cpp
  examples/llava/llava-cli.cpp
  examples/llava/minicpmv-cli.cpp
  examples/lookahead/lookahead.cpp
  examples/lookup/lookup-create.cpp
  examples/lookup/lookup-stats.cpp
  examples/lookup/lookup.cpp
  examples/main/main.cpp
  examples/parallel/parallel.cpp
  examples/passkey/passkey.cpp
  examples/perplexity/perplexity.cpp
  examples/retrieval/retrieval.cpp
  examples/save-load-state/save-load-state.cpp
  examples/server/README.md
  examples/server/server.cpp
  examples/simple/simple.cpp
  examples/speculative/speculative.cpp
  tests/CMakeLists.txt
  tests/test-arg-parser.cpp
Labels: testing, breaking change, examples, server

#9357 llama : sanitize invalid tokens
  common/common.cpp
  examples/server/tests/features/embeddings.feature
  src/llama.cpp
Labels: examples, server

#9350 llama.android : fix build
  examples/llama.android/llama/src/main/cpp/llama-android.cpp
  examples/llama.android/llama/src/main/java/android/llama/cpp/LLamaAndroid.kt
Labels: android, examples

#9366 imatrix : fix arg parser for imatrix
  common/common.cpp
  examples/imatrix/imatrix.cpp
Labels: examples, merge ready

#9346 [SYCL]add check malloc result on device
  ggml/src/ggml-sycl.cpp
Labels: ggml, SYCL

#9370 llama : refactor samplers internal implementation
  src/llama-impl.h
  src/llama-sampling.cpp
  src/llama-sampling.h
  tests/test-sampling.cpp
Labels: testing

#9375 common : bring back missing args, add env var duplication check
  common/common.cpp
  common/common.h
  examples/infill/infill.cpp
  tests/test-arg-parser.cpp
Labels: testing, examples

#9374 cuda : fix FA Q src index (1 -> 0)
  ggml/src/ggml-cuda/fattn.cu
Labels: Nvidia GPU

#9118 Overlap cmdbuffer creation and cmdbuffer execution in Vulkan backend by submitting smaller cmdbuffers early.
  ggml/src/ggml-vulkan.cpp
Labels: Vulkan, Review Complexity : Low, ggml

#9321 Arm AArch64: Documentation updates
  docs/build.md
  examples/quantize/README.md
Labels: documentation, examples

#9320 rpc : update README [no ci]
  examples/rpc/README.md
Labels: examples

#9381 Add LLMUnity to UI projects
  README.md
  examples/rpc/README.md
Labels: examples

#9382 CUDA: fix variable name conflict for Windows build
  ggml/src/ggml-cuda/sum.cu
Labels: Nvidia GPU

#9386 llama : minor sampling refactor (2)
  examples/batched.swift/Sources/main.swift
  examples/batched/batched.cpp
  examples/gritlm/gritlm.cpp
  examples/llama.android/llama/src/main/cpp/llama-android.cpp
  examples/llama.swiftui/llama.cpp.swift/LibLlama.swift
  examples/passkey/passkey.cpp
  examples/save-load-state/save-load-state.cpp
  examples/server/server.cpp
  examples/simple/simple.cpp
  include/llama.h
  src/llama-sampling.cpp
  tests/test-sampling.cpp
Labels: testing, android, examples, server

#9290 Implemented vector length agnostic SVE using switch case for 512-bit, 256-bit, and 128-bit Vector lengths
  ggml/src/ggml-quants.c
Labels: ggml

#9389 rpc : fix segfault with nkvo
  ggml/src/ggml-cuda.cu
  ggml/src/ggml-rpc.cpp
  ggml/src/ggml.c
Labels: ggml

#9388 common : move arg parser code to `arg.cpp`
  Makefile
  common/CMakeLists.txt
  common/arg.cpp
  common/arg.h
  common/common.cpp
  common/common.h
  common/sampling.cpp
  common/sampling.h
  examples/batched-bench/batched-bench.cpp
  examples/batched/batched.cpp
  examples/cvector-generator/cvector-generator.cpp
  examples/cvector-generator/pca.hpp
  examples/embedding/embedding.cpp
  examples/eval-callback/eval-callback.cpp
  examples/export-lora/export-lora.cpp
  examples/gen-docs/gen-docs.cpp
  examples/gritlm/gritlm.cpp
  examples/imatrix/imatrix.cpp
  examples/infill/infill.cpp
  examples/llava/llava-cli.cpp
  examples/llava/minicpmv-cli.cpp
  examples/lookahead/lookahead.cpp
  examples/lookup/lookup-create.cpp
  examples/lookup/lookup-stats.cpp
  examples/lookup/lookup.cpp
  examples/main/main.cpp
  examples/parallel/parallel.cpp
  examples/passkey/passkey.cpp
  examples/perplexity/perplexity.cpp
  examples/retrieval/retrieval.cpp
  examples/save-load-state/save-load-state.cpp
  examples/server/README.md
  examples/server/server.cpp
  examples/simple/simple.cpp
  examples/speculative/speculative.cpp
  tests/test-arg-parser.cpp
Labels: testing, examples, server

#9387 RWKV v6: Add time_mix_decay_w1/w2 in quant exclusion list
  convert_hf_to_gguf.py
  src/llama.cpp
Labels: python

#9398 llama : move random seed generation to the samplers
  common/arg.cpp
  common/sampling.cpp
  common/sampling.h
  examples/embedding/embedding.cpp
  examples/infill/infill.cpp
  examples/main/main.cpp
  examples/perplexity/perplexity.cpp
  examples/server/server.cpp
  include/llama.h
  src/llama-sampling.cpp
Labels: breaking change, examples, server

#9360 nix: update flake.lock
  flake.lock
Labels: nix

#9394 sycl : update support conditions
  ggml/src/ggml-sycl.cpp
Labels: ggml, SYCL

#9421 musa: remove Clang builtins mapping
  ggml/src/ggml-cuda/vendors/musa.h
Labels: Nvidia GPU

#9305 batched-bench : remove unused code
  examples/batched-bench/batched-bench.cpp
Labels: examples

#9413 CUDA: fix --split-mode row race condition
  ggml/src/ggml-cuda/mmq.cu
  ggml/src/ggml-cuda/mmq.cuh
Labels: Nvidia GPU, Review Complexity : Low

#9429 llava : correct args for minicpmv-cli
  examples/llava/minicpmv-cli.cpp
Labels: examples

#7547 Feat: Support of converting local models added to `convert-hf-to-gguf-update.py`
  convert_hf_to_gguf_update.py
Labels: Review Complexity : Low, python

#9424 [CANN]: Fix error when running a non-exist op
  ggml/src/ggml-cann.cpp
Labels: ggml, Ascend NPU

#9448 [SYCL] enhance run script to be easy to change the parameters
  examples/sycl/run-llama2.sh
Labels: examples, SYCL

#9408 ggml : hide ggml_object, ggml_cgraph, ggml_hash_set
  examples/benchmark/benchmark-matmult.cpp
  examples/cvector-generator/pca.hpp
  examples/export-lora/export-lora.cpp
  examples/llava/clip.cpp
  examples/llava/llava.cpp
  ggml/include/ggml.h
  ggml/src/ggml-blas.cpp
  ggml/src/ggml-cann.cpp
  ggml/src/ggml-cuda.cu
  ggml/src/ggml-impl.h
  ggml/src/ggml-kompute.cpp
  ggml/src/ggml-metal.m
  ggml/src/ggml-rpc.cpp
  ggml/src/ggml-sycl.cpp
  ggml/src/ggml-vulkan.cpp
  ggml/src/ggml.c
  src/llama.cpp
  tests/test-backend-ops.cpp
Labels: testing, Vulkan, examples, ggml, merge ready, SYCL, Kompute

#9442 [RISCV] Modify Makefile and Add a RISCV_VECT to print log info
  Makefile
  common/common.cpp
  ggml/include/ggml.h
  ggml/src/ggml.c
  src/llama.cpp
Labels: ggml

#9428 llama: Add special tokens in hf_converter for RWKV v6
  convert_hf_to_gguf.py
Labels: python

#9450 fixed the order of linking libraries for llama-quantize
  examples/quantize/CMakeLists.txt
Labels: examples

#9377 ci: bump actions/checkout to v4
  .github/workflows/build.yml
Labels: devops

#9361 feat: add Phi-1.5/Phi-2 tokenizer
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
Labels: python

#9329 ci: Update HIP SDK to 24.Q3 (ROCm 6.1)
  .github/workflows/build.yml
Labels: devops

#9338 `GGML_TARGET_DEFINES-NOTFOUND` fix for builds without `GGML_CDEF_PUBLIC`
  CMakeLists.txt
Labels: build

#9103 lora : raise error if lm_head is ignored
  convert_lora_to_gguf.py
Labels: python

#9054 fix the script error in MobileVLM README
  examples/llava/MobileVLM-README.md
Labels: examples

#9406 [CANN]: Add host buffer type for Ascend NPU
  ggml/include/ggml-cann.h
  ggml/src/ggml-cann.cpp
  src/llama.cpp
Labels: ggml, Ascend NPU

#9108 server : Add option to return token pieces in /tokenize endpoint
  .github/workflows/server.yml
  examples/server/README.md
  examples/server/server.cpp
  examples/server/tests/features/server.feature
  examples/server/tests/features/steps/steps.py
  examples/server/utils.hpp
Labels: examples, Review Complexity : Low, python, devops, server

#9355 llama : llama_perf + option to disable timings during decode
  common/arg.cpp
  common/common.cpp
  common/common.h
  common/sampling.cpp
  examples/batched-bench/batched-bench.cpp
  examples/batched.swift/Sources/main.swift
  examples/batched/batched.cpp
  examples/embedding/embedding.cpp
  examples/eval-callback/eval-callback.cpp
  examples/imatrix/imatrix.cpp
  examples/llama-bench/llama-bench.cpp
  examples/llava/llava-cli.cpp
  examples/llava/minicpmv-cli.cpp
  examples/lookup/lookup.cpp
  examples/parallel/parallel.cpp
  examples/passkey/passkey.cpp
  examples/perplexity/perplexity.cpp
  examples/retrieval/retrieval.cpp
  examples/simple/simple.cpp
  examples/speculative/speculative.cpp
  include/llama.h
  src/llama-sampling.cpp
  src/llama.cpp
Labels: breaking change, examples

#9468 server : add loading html page while model is loading
  Makefile
  examples/server/CMakeLists.txt
  examples/server/public/loading.html
  examples/server/server.cpp
Labels: examples, server

#9459 server : add [DONE] event to /chat/completions stream response
  examples/server/server.cpp
  examples/server/tests/features/steps/steps.py
Labels: examples, python, server

#9458 ggml : allow using the default ggml_type value in the name function
  ggml/src/ggml.c
Labels: ggml

#9485 nvidia uses the LLaMAForCausalLM string in their config.json, example…
  convert_hf_to_gguf.py
Labels: python

#9499 gguf-split : add basic checks
  examples/gguf-split/gguf-split.cpp
Labels: examples

#9418 common : reimplement logging
  .github/workflows/build.yml
  .github/workflows/server.yml
  Makefile
  ci/run.sh
  common/CMakeLists.txt
  common/arg.cpp
  common/common.cpp
  common/common.h
  common/log.cpp
  common/log.h
  common/ngram-cache.cpp
  common/sampling.cpp
  common/train.cpp
  examples/batched-bench/batched-bench.cpp
  examples/batched/batched.cpp
  examples/convert-llama2c-to-ggml/convert-llama2c-to-ggml.cpp
  examples/cvector-generator/cvector-generator.cpp
  examples/embedding/embedding.cpp
  examples/eval-callback/eval-callback.cpp
  examples/export-lora/export-lora.cpp
  examples/gritlm/gritlm.cpp
  examples/imatrix/imatrix.cpp
  examples/infill/infill.cpp
  examples/llava/clip.cpp
  examples/llava/llava-cli.cpp
  examples/llava/llava.cpp
  examples/llava/minicpmv-cli.cpp
  examples/lookahead/lookahead.cpp
  examples/lookup/lookup-stats.cpp
  examples/lookup/lookup.cpp
  examples/main/main.cpp
  examples/parallel/parallel.cpp
  examples/passkey/passkey.cpp
  examples/perplexity/perplexity.cpp
  examples/retrieval/retrieval.cpp
  examples/server/CMakeLists.txt
  examples/server/README.md
  examples/server/bench/README.md
  examples/server/bench/bench.py
  examples/server/server.cpp
  examples/server/tests/.gitignore
  examples/server/tests/README.md
  examples/server/tests/features/steps/steps.py
  examples/server/utils.hpp
  examples/simple/simple.cpp
  examples/speculative/speculative.cpp
  examples/tokenize/tokenize.cpp
  ggml/include/ggml.h
  ggml/src/ggml-metal.m
  src/llama-impl.h
  src/llama.cpp
  tests/CMakeLists.txt
  tests/test-arg-parser.cpp
  tests/test-log.cpp
Labels: testing, examples, python, devops, server, ggml, merge ready

#9488 nix: update flake.lock
  flake.lock
Labels: nix

#9484 main: option to disable context shift
  common/arg.cpp
  common/common.h
  examples/main/README.md
  examples/main/main.cpp
Labels: examples, server

#9322 Support MiniCPM3.
  convert_hf_to_gguf.py
  gguf-py/gguf/constants.py
  src/llama.cpp
Labels: python

#9462 Implement OLMoE architecture
  README.md
  convert_hf_to_gguf.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  src/llama.cpp
Labels: python

#9422 IQ4_NL sgemm + Q4_0 AVX optimization
  ggml/src/ggml-quants.c
  ggml/src/llamafile/sgemm.cpp
Labels: ggml

#9465 cmake : do not hide GGML options + rename option
  CMakeLists.txt
  Makefile
  ggml/CMakeLists.txt
  ggml/src/CMakeLists.txt
Labels: build

#9397 convert : identify missing model files
  convert_hf_to_gguf.py
Labels: bugfix, Review Complexity : Low, python, merge ready

#9509 ggml : move common CPU backend impl to new header
  ggml/src/ggml-aarch64.c
  ggml/src/ggml-cpu-impl.h
  ggml/src/ggml-impl.h
  ggml/src/ggml-quants.c
  ggml/src/ggml.c
  ggml/src/llamafile/sgemm.cpp
Labels: ggml

#9412 IBM Granite Architecture
  convert_hf_to_gguf.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/gguf_writer.py
  src/llama.cpp
Labels: python

#9461 threadpool: skip polling for unused threads
  ggml/src/ggml.c
  tests/CMakeLists.txt
  tests/test-barrier.cpp
Labels: testing, ggml

#9513 add env variable for parallel
  common/arg.cpp
  examples/server/README.md
Labels: examples, server

#9524 llama-bench: correct argument parsing error message
  examples/llama-bench/llama-bench.cpp
Labels: examples

#9476 [SYCL]set context default value to avoid memory issue, update guide
  docs/backend/SYCL.md
  examples/sycl/run-llama2.sh
Labels: documentation, examples, SYCL

#9529 server : fix OpenSSL build by removing invalid `LOG_INFO` references
  examples/server/server.cpp
Labels: examples, server

#9527 bugfix: structured output response_format does not match openai
  examples/server/README.md
  examples/server/utils.hpp
  grammars/README.md
Labels: examples, server

#9520 scripts : verify py deps at the start of compare
  scripts/compare-commits.sh
  scripts/compare-llama-bench.py
Labels: script, python

#9538 ggml : fix n_threads_cur initialization with one thread
  ggml/src/ggml.c
Labels: ggml

#9543 Imatrix input data should not be unescaped
  examples/imatrix/imatrix.cpp
Labels: examples

#9548 Perplexity input data should not be unescaped
  examples/perplexity/perplexity.cpp
Labels: examples

#9559 examples : flush log upon ctrl+c
  examples/infill/infill.cpp
  examples/main/main.cpp
Labels: examples

#9562 CUDA: fix sum.cu compilation for CUDA < 11.7
  ggml/src/ggml-cuda/sum.cu
Labels: Nvidia GPU, Review Complexity : Low

#9570 quantize : improve type name parsing
  examples/quantize/quantize.cpp
Labels: examples

#9467 CI: Provide prebuilt windows binary for hip
  .github/workflows/build.yml
Labels: devops

#9550 Update CUDA graph on scale change plus clear nodes/params
  ggml/src/ggml-cuda.cu
  ggml/src/ggml-cuda/common.cuh
Labels: Nvidia GPU

#9573 ggml-alloc : fix list of allocated tensors with GGML_ALLOCATOR_DEBUG
  ggml/src/ggml-alloc.c
Labels: ggml

#9454 RWKV v6: RWKV_WKV op CUDA implementation
  ggml/src/ggml-cuda.cu
  ggml/src/ggml-cuda/rwkv-wkv.cu
  ggml/src/ggml-cuda/rwkv-wkv.cuh
  ggml/src/ggml-cuda/unary.cu
  ggml/src/ggml-cuda/unary.cuh
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU

#9574 llama: remove redundant loop when constructing ubatch
  src/llama.cpp
Labels: Review Complexity : Low

#9581 CUDA: enable Gemma FA for HIP/Pascal
  ggml/src/ggml-cuda.cu
  ggml/src/ggml-cuda/fattn.cu
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU

#9526 musa: enable building fat binaries, enable unified memory, and disable Flash Attention on QY1 (MTT S80)
  Makefile
  ggml/src/CMakeLists.txt
  ggml/src/ggml-cuda.cu
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/fattn-tile-f32.cu
  ggml/src/ggml-cuda/vendors/musa.h
Labels: Nvidia GPU

#9579 Revert "[SYCL] fallback mmvq"
  ggml/src/ggml-sycl.cpp
  ggml/src/ggml-sycl/common.hpp
Labels: ggml, SYCL

#9596 perplexity : remove extra new lines after chunks
  examples/perplexity/perplexity.cpp
Labels: examples

#9586 nix: update flake.lock
  flake.lock
Labels: nix

#9598 threads: improve ggml_barrier scaling with large number of threads
  ggml/src/ggml.c
Labels: ggml

#9607 server : add --no-context-shift option
  common/arg.cpp
  examples/server/README.md
  examples/server/server.cpp
  examples/server/tests/features/ctx_shift.feature
  examples/server/tests/features/embeddings.feature
  examples/server/tests/features/steps/steps.py
Labels: examples, python, server

#9571 CUDA: Enable K-shift operation for -ctk q8_0 (limited)
  ggml/src/ggml-cuda.cu
  ggml/src/ggml-cuda/cpy.cu
  src/llama.cpp
Labels: Nvidia GPU

#9615 threads: fix msvc build without openmp
  ggml/src/ggml.c
Labels: ggml

#9605 sampling : avoid expensive softmax during greedy sampling
  common/sampling.cpp
  examples/speculative/speculative.cpp
  include/llama.h
  src/llama-sampling.cpp
  tests/test-sampling.cpp
Labels: testing, examples

#9616 Add newline after chat example in llama-server
  examples/server/server.cpp
Labels: examples, server

#9627 [CANN]: Fix crash when running on multiple cann devices
  ggml/src/ggml-cann/common.h
Labels: Ascend NPU

#9438 IBM Granite MoE Architecture
  convert_hf_to_gguf.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  src/llama.cpp
Labels: python, merge ready

#9635 server : add more env vars, improve gen-docs
  common/arg.cpp
  examples/gen-docs/gen-docs.cpp
  examples/server/README.md
  examples/server/server.cpp
Labels: examples, server

#9217 ggml : remove assert for AArch64 GEMV and GEMM Q4 kernels
  ggml/src/ggml-aarch64.c
Labels: Review Complexity : Medium, ggml

#9638 ci : fix docker build number and tag name
  .dockerignore
  .github/workflows/docker.yml
Labels: devops

#9577 [SYCL] add missed dll file in package
  .github/workflows/build.yml
Labels: devops

#9661 cmake : add option for common library
  CMakeLists.txt
Labels: build

#9251 Enable use to the rebar feature to upload buffers to the device.
  ggml/src/ggml-vulkan.cpp
Labels: Vulkan, Review Complexity : Low, ggml

#9331 ggml: Add run-time detection of neon, i8mm and sve
  ggml/include/ggml.h
  ggml/src/ggml-aarch64.c
  ggml/src/ggml-quants.c
  ggml/src/ggml-quants.h
  ggml/src/ggml.c
Labels: ggml

#8543 Add support for Chameleon
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/gguf_writer.py
  gguf-py/gguf/tensor_mapping.py
  include/llama.h
  models/ggml-vocab-chameleon.gguf.inp
  models/ggml-vocab-chameleon.gguf.out
  src/llama-vocab.cpp
  src/llama.cpp
Labels: python, Review Complexity : Medium

#9449 vocab: refactor tokenizer to reduce the overhead of creating multi times tokenizer
  examples/convert-llama2c-to-ggml/convert-llama2c-to-ggml.cpp
  src/llama-vocab.cpp
  src/llama-vocab.h
  src/llama.cpp
  tests/test-tokenizer-0.cpp
Labels: testing, examples

#9657 test-backend-ops : use flops for some performance tests
  tests/test-backend-ops.cpp
Labels: testing

#9510 llama : add reranking support
  ci/run.sh
  common/arg.cpp
  common/common.cpp
  common/common.h
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  examples/embedding/embedding.cpp
  examples/server/README.md
  examples/server/server.cpp
  examples/server/tests/features/embeddings.feature
  examples/server/tests/features/rerank.feature
  examples/server/tests/features/steps/steps.py
  examples/server/utils.hpp
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  include/llama.h
  src/llama-vocab.cpp
  src/llama.cpp
Labels: examples, python, devops, server, merge ready

#9683 Use new model class for chameleon conversion
  convert_hf_to_gguf.py
Labels: python

#9668 common: ensure token addition to batch does not exceed llama_batch size
  common/common.cpp
Labels: build, testing, Vulkan, examples, python, devops, server, ggml, merge ready

#9684 ggml : define missing HWCAP flags
  ggml/src/ggml.c
Labels: ggml

#9680 nix: update flake.lock
  flake.lock
Labels: nix

#9694 update transfomers version.
  examples/server/tests/requirements.txt
  requirements/requirements-convert_legacy_llama.txt
Labels: examples, python, server

#9697 ci : reduce severity of unused Pyright ignore comments
  .github/workflows/python-type-check.yml
  examples/llava/convert_image_encoder_to_gguf.py
  pyrightconfig.json
Labels: examples, python, devops

#9641 Fix Docker ROCM builds, use AMDGPU_TARGETS instead of GPU_TARGETS
  .devops/full-rocm.Dockerfile
  .devops/llama-cli-rocm.Dockerfile
  .devops/llama-server-rocm.Dockerfile
  .github/workflows/build.yml
Labels: devops
