Repository ggml-org/llama.cpp, pull requests merged in 2024-11, with the labels that each got.

#10121 ggml : remove ggml_scratch
  ggml/include/ggml.h
  ggml/src/ggml.c
Labels: ggml

#9898 vulkan : improve ggml_vk_create_buffer error handling
  ggml/src/ggml-vulkan.cpp
Labels: Vulkan, ggml

#10117 llama : use smart pointers for ggml resources
  ggml/include/ggml-cpp.h
  ggml/src/CMakeLists.txt
  spm-headers/ggml-cpp.h
  src/llama.cpp
Labels: ggml

#10124 llama : add simple-chat example
  Makefile
  examples/CMakeLists.txt
  examples/simple-chat/CMakeLists.txt
  examples/simple-chat/README.md
  examples/simple-chat/simple-chat.cpp
  ggml/include/ggml.h
Labels: examples, ggml

#10110 convert-lora : make `--base` optional
  convert_hf_to_gguf.py
  convert_lora_to_gguf.py
Labels: python

#10129 simple-chat : only add bos on first prompt
  examples/simple-chat/simple-chat.cpp
Labels: examples

#10136 llama : adjust default context size + print warnings
  ci/run.sh
  common/common.h
  src/llama.cpp
Labels: devops

#10135 server : fix endpoint checks
  examples/server/server.cpp
Labels: examples, server

#10126 server : fix slot selection by lru
  examples/server/server.cpp
  examples/server/utils.hpp
Labels: examples, server

#10134 Add apple arm to presets
  CMakePresets.json
  cmake/arm64-apple-clang.cmake
Labels: build

#10146 nix: update flake.lock
  flake.lock
Labels: nix

#10144 ggml : move CPU backend to a separate file
  Makefile
  Package.swift
  common/CMakeLists.txt
  common/common.cpp
  common/train.cpp
  common/train.h
  examples/CMakeLists.txt
  examples/baby-llama/CMakeLists.txt
  examples/baby-llama/baby-llama.cpp
  examples/llava/clip.cpp
  examples/rpc/rpc-server.cpp
  ggml/include/ggml-backend.h
  ggml/include/ggml-cpu.h
  ggml/include/ggml.h
  ggml/src/CMakeLists.txt
  ggml/src/ggml-aarch64.c
  ggml/src/ggml-backend.cpp
  ggml/src/ggml-cpu.c
  ggml/src/ggml-impl.h
  ggml/src/ggml-rpc.cpp
  ggml/src/ggml.c
  include/llama.h
  pocs/vdot/q8dot.cpp
  pocs/vdot/vdot.cpp
  spm-headers/ggml-cpu.h
  src/llama.cpp
  tests/test-backend-ops.cpp
  tests/test-barrier.cpp
  tests/test-grad0.cpp
  tests/test-quantize-fns.cpp
  tests/test-quantize-perf.cpp
  tests/test-rope.cpp
Labels: testing, examples, ggml

#10158 [CANN] Fix compile error for CANN backend as get_name has been removed from ggml_backend_buffer_i
  ggml/src/ggml-cann.cpp
Labels: ggml, Ascend NPU

#10166 fix build break on arm64 linux
  ggml/src/ggml-quants.c
Labels: ggml

#10162 server : clarify /slots endpoint, add is_processing
  examples/server/README.md
  examples/server/server.cpp
  examples/server/tests/features/steps/steps.py
Labels: breaking change, examples, python, server

#10167 ggml : fix q4xx mat mul, increase ggml_aligned_malloc alignment
  ggml/src/ggml-cpu.c
  ggml/src/ggml.c
Labels: ggml

#10172 ggml : fix gelu tables initialization
  ggml/src/ggml-cpu.c
Labels: ggml

#10118 Q6_K AVX improvements
  .github/workflows/build.yml
  ggml/src/ggml-quants.c
Labels: devops, ggml

#10164 ggml : fix arch check in bf16_to_fp32
  ggml/src/ggml.c
Labels: ggml

#10193 ggml : adjust is_first_call init value
  ggml/src/ggml.c
Labels: ggml

#10187 server : remove hack for extra parallel slot
  examples/server/server.cpp
Labels: examples, server

#8439 metal : add BF16 support
  common/common.cpp
  ggml/src/ggml-metal.m
  ggml/src/ggml-metal.metal
  tests/test-backend-ops.cpp
Labels: testing, Review Complexity : High

#10133 Optimize RWKV6 Operator Naming and Implement Multi-core CPU/ SYCL Acceleration
  docs/backend/SYCL.md
  ggml/include/ggml.h
  ggml/src/ggml-cpu.c
  ggml/src/ggml-cuda.cu
  ggml/src/ggml-cuda/rwkv-wkv.cuh
  ggml/src/ggml-cuda/wkv6.cu
  ggml/src/ggml-cuda/wkv6.cuh
  ggml/src/ggml-sycl.cpp
  ggml/src/ggml-sycl/backend.hpp
  ggml/src/ggml-sycl/common.cpp
  ggml/src/ggml-sycl/common.hpp
  ggml/src/ggml-sycl/concat.cpp
  ggml/src/ggml-sycl/element_wise.cpp
  ggml/src/ggml-sycl/element_wise.hpp
  ggml/src/ggml-sycl/outprod.cpp
  ggml/src/ggml-sycl/outprod.hpp
  ggml/src/ggml-sycl/presets.hpp
  ggml/src/ggml-sycl/wkv6.cpp
  ggml/src/ggml-sycl/wkv6.hpp
  ggml/src/ggml.c
  src/llama.cpp
  tests/test-backend-ops.cpp
Labels: documentation, testing, Nvidia GPU, ggml, SYCL

#10198 fix q4_0_8_8 format for corrupted tokens issue
  ggml/src/ggml-cpu.c
Labels: ggml

#10203 Remove identical wte/etw logic for jais
  convert_hf_to_gguf.py
Labels: python

#10207 server : minor UI fix
  examples/server/public/index.html
Labels: examples, server

#10171 metal : optimize FA kernels
  examples/llama-bench/llama-bench.cpp
  ggml/include/ggml.h
  ggml/src/ggml-cuda.cu
  ggml/src/ggml-cuda/fattn.cu
  ggml/src/ggml-metal.m
  ggml/src/ggml-metal.metal
  ggml/src/ggml.c
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, examples, ggml

#10218 metal : opt-in compile flag for BF16
  .github/workflows/build.yml
  Makefile
  ci/run.sh
  ggml/CMakeLists.txt
  ggml/src/CMakeLists.txt
  ggml/src/ggml-metal.m
  ggml/src/ggml-metal.metal
Labels: devops

#10221 scripts: fix pattern and get n_tokens in one go
  examples/chat-persistent.sh
Labels: examples

#10213 ggml: fix zero division in ‘dne’ calculation in CUDA COUNT_EQUAL operator when ‘ne’ is small
  ggml/src/ggml-cuda/count-equal.cu
Labels: Nvidia GPU

#10226 vulkan: Fix newly added tests for permuted mul_mat and 1D im2col
  ggml/src/ggml-vulkan.cpp
Labels: Vulkan, ggml

#10239 server : (web UI) Add back sampler settings
  examples/server/public/index.html
Labels: examples, server

#10243 nix: update flake.lock
  flake.lock
Labels: nix

#10233 server : enable KV cache defrag by default
  common/common.h
  examples/server/README.md
Labels: examples, server

#10257 sycl : Fixes broken build and test-backend-ops
  ggml/src/ggml-sycl.cpp
  ggml/src/ggml-sycl/norm.cpp
  ggml/src/ggml-sycl/outprod.cpp
Labels: ggml, SYCL

#10272 server : fix incorrect res in validate_model_chat_template
  examples/server/server.cpp
Labels: examples, server

#10269 server : add missing docs
  examples/server/README.md
Labels: examples, server

#10259 vulkan: Use macros to make the mat mul pipeline creation more concise
  ggml/src/ggml-vulkan.cpp
Labels: Vulkan, ggml

#10270 vulkan: optimize add/mul/div
  ggml/src/ggml-vulkan.cpp
  ggml/src/vulkan-shaders/acc.comp
  ggml/src/vulkan-shaders/add.comp
  ggml/src/vulkan-shaders/concat.comp
  ggml/src/vulkan-shaders/div.comp
  ggml/src/vulkan-shaders/generic_binary_head.comp
  ggml/src/vulkan-shaders/get_rows.comp
  ggml/src/vulkan-shaders/get_rows_quant.comp
  ggml/src/vulkan-shaders/mul.comp
Labels: testing, Vulkan, ggml

#10289 speculative : fix out-of-bounds access
  examples/speculative/speculative.cpp
Labels: examples

#9921 backend cpu: add online flow for aarch64 Q4_0 GEMV/GEMM kernels
  Makefile
  ggml/CMakeLists.txt
  ggml/include/ggml-cpu.h
  ggml/src/ggml-cpu/CMakeLists.txt
  ggml/src/ggml-cpu/ggml-cpu-aarch64.c
  ggml/src/ggml-cpu/ggml-cpu-aarch64.h
  ggml/src/ggml-cpu/ggml-cpu.c
  ggml/src/ggml-cpu/ggml-cpu.cpp
  src/llama.cpp
Labels: examples, ggml

#10267 sycl: Use syclcompat::dp4a
  .github/workflows/build.yml
  docs/backend/SYCL.md
  ggml/src/ggml-sycl/dpct/helper.hpp
  ggml/src/ggml-sycl/vecdotq.hpp
Labels: documentation, devops, SYCL

#10302 [CANN] dockerfile and doc adjustment
  .devops/llama-cli-cann.Dockerfile
  docs/build.md
Labels: documentation, devops, Ascend NPU

#10242 server : (web UI) add copy button for code block, fix api key
  examples/server/public/index.html
  examples/server/server.cpp
Labels: examples, server

#10298 ci: build test musa with cmake
  .github/workflows/build.yml
Labels: devops

#10212 AVX BF16 and single scale quant optimizations
  ggml/src/ggml-cpu/ggml-cpu-quants.c
  ggml/src/ggml-cpu/ggml-cpu.c
Labels: ggml

#10319 scripts: update compare-llama-bench.py
  scripts/compare-llama-bench.py
Labels: Review Complexity : Low

#10324 ggml: Optimize Q4_0 into Q4_0_X_Y repack
  ggml/src/ggml-aarch64.c
  ggml/src/ggml-cpu/ggml-cpu-aarch64.c
Labels: ggml

#10306 vulkan: cmake preset debug/release
  CMakePresets.json
Labels: build

#10332 scripts : fix missing key in compare-llama-bench.py
  scripts/compare-llama-bench.py
Labels: script, python

#10255 server: (web UI) Add samplers sequence customization
  examples/server/public/index.html
  examples/server/server.cpp
Labels: examples, server

#10339 llama/ex: remove --logdir argument
  common/arg.cpp
  common/common.cpp
  common/common.h
  examples/infill/infill.cpp
  examples/main/main.cpp
  examples/perplexity/perplexity.cpp
  examples/server/README.md
  include/llama.h
  scripts/run-with-preset.py
  src/llama.cpp
Labels: script, examples, Review Complexity : Low, python, server

#10303 docs: vulkan build instructions to use git bash mingw64
  docs/build.md
Labels: documentation

#9930 ggml : fix possible buffer use after free in sched reserve
  ggml/src/ggml-backend.cpp
Labels: ggml

#10320 CMake: default to -arch=native for CUDA build
  README.md
  ggml/src/ggml-cuda/CMakeLists.txt
Labels: documentation, Nvidia GPU

#10318 CUDA: remove DMMV, consolidate F16 mult mat vec
  Makefile
  docs/build.md
  ggml/CMakeLists.txt
  ggml/src/ggml-cuda/CMakeLists.txt
  ggml/src/ggml-cuda/dmmv.cu
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/mmv.cu
  ggml/src/ggml-cuda/mmv.cuh
  ggml/src/ggml-hip/CMakeLists.txt
  ggml/src/ggml-musa/CMakeLists.txt
Labels: documentation, Nvidia GPU, Review Complexity : Medium

#10238 metal : refactor kernel args into structs
  Makefile
  ggml/src/ggml-metal/CMakeLists.txt
  ggml/src/ggml-metal/ggml-metal-impl.h
  ggml/src/ggml-metal/ggml-metal.m
  ggml/src/ggml-metal/ggml-metal.metal
Labels: ggml

#10358 llama : only use default buffer types for the KV cache
  ggml/src/ggml-backend.cpp
  src/llama.cpp
Labels: ggml

#10360 CMake: fix typo in comment [no ci]
  ggml/src/ggml-cuda/CMakeLists.txt
Labels: Nvidia GPU

#10357 CUDA: fix MMV kernel being used for FP16 src1
  ggml/src/ggml-cuda/ggml-cuda.cu
Labels: Nvidia GPU

#10368 docker: use GGML_NATIVE=OFF
  .devops/full-cuda.Dockerfile
  .devops/full-musa.Dockerfile
  .devops/llama-cli-cann.Dockerfile
  .devops/llama-cli-cuda.Dockerfile
  .devops/llama-cli-intel.Dockerfile
  .devops/llama-cli-musa.Dockerfile
  .devops/llama-cli-vulkan.Dockerfile
  .devops/llama-server-cuda.Dockerfile
  .devops/llama-server-intel.Dockerfile
  .devops/llama-server-musa.Dockerfile
  .devops/llama-server-vulkan.Dockerfile
Labels: devops

#10346 nix: update flake.lock
  flake.lock
Labels: nix

#10383 cmake: fix issue with library path during cross-compile
  cmake/llama-config.cmake.in
Labels: build

#10389 cuda : only use native when supported by cmake
  ggml/src/ggml-cuda/CMakeLists.txt
Labels: Nvidia GPU

#10385 sycl: Revert MUL_MAT_OP support changes
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: SYCL

#10301 vulkan: Optimize soft_max
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/soft_max.comp
  tests/test-backend-ops.cpp
Labels: testing

#10266 sycl: Add option to set the SYCL architecture for all targets
  docs/backend/SYCL.md
  ggml/CMakeLists.txt
  ggml/src/ggml-sycl/CMakeLists.txt
Labels: documentation, SYCL

#10394 Add OLMo November 2024 model
  convert_hf_to_gguf.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  src/llama.cpp
Labels: python

#10403 cuda : fix CUDA_FLAGS not being applied
  ggml/src/ggml-blas/CMakeLists.txt
  ggml/src/ggml-cuda/CMakeLists.txt
Labels: Nvidia GPU

#10407 cmake: add required ggml-base and backend libs to cmake pkg
  cmake/llama-config.cmake.in
  ggml/CMakeLists.txt
  ggml/src/CMakeLists.txt
Labels: build

#9989 cmake: force MSVC compiler charset to utf-8
  CMakeLists.txt
Labels: build

#10395 Update recommended release version to 4040
  docs/backend/SYCL.md
Labels: documentation, SYCL

#10415 llama : add .clang-format file
  .clang-format
  examples/llama-bench/llama-bench.cpp
Labels: examples

#10433 cmake: add link dependencies to cmake find pkg
  cmake/llama-config.cmake.in
Labels: build

#10216 CANN Support Ascend310P to accelerate F32 and F16 LLM Model
  ggml/src/ggml-cann/CMakeLists.txt
  ggml/src/ggml-cann/aclnn_ops.cpp
  ggml/src/ggml-cann/kernels/CMakeLists.txt
  ggml/src/ggml-cann/kernels/dup.cpp
  ggml/src/ggml-cann/kernels/get_row_f16.cpp
  ggml/src/ggml-cann/kernels/get_row_f32.cpp
  ggml/src/ggml-cann/kernels/get_row_q4_0.cpp
Labels: enhancement, Ascend NPU

#10426 GitHub: ask for more info in issue templates
  .github/ISSUE_TEMPLATE/01-bug-low.yml
  .github/ISSUE_TEMPLATE/010-bug-compilation.yml
  .github/ISSUE_TEMPLATE/011-bug-results.yml
  .github/ISSUE_TEMPLATE/019-bug-misc.yml
  .github/ISSUE_TEMPLATE/02-bug-medium.yml
  .github/ISSUE_TEMPLATE/020-enhancement.yml
  .github/ISSUE_TEMPLATE/03-bug-high.yml
  .github/ISSUE_TEMPLATE/030-research.yml
  .github/ISSUE_TEMPLATE/04-bug-critical.yml
  .github/ISSUE_TEMPLATE/040-refactor.yml
Labels: Review Complexity : Low, devops

#10428 ci: Update oneAPI runtime dll packaging
  .github/workflows/build.yml
Labels: devops

#9807 fix gguf-py: Conversion error when multiple licenses are configured
  gguf-py/gguf/metadata.py
Labels: python, merge ready

#10458 XLMRoberta Type Vocab Size
  convert_hf_to_gguf.py
Labels: python

#10470 nix: update flake.lock
  flake.lock
Labels: nix

#10362 speculative : refactor and add a simpler example
  Makefile
  common/CMakeLists.txt
  common/arg.cpp
  common/common.cpp
  common/common.h
  common/sampling.cpp
  common/sampling.h
  common/speculative.cpp
  common/speculative.h
  examples/CMakeLists.txt
  examples/batched/batched.cpp
  examples/infill/infill.cpp
  examples/llava/llava-cli.cpp
  examples/llava/minicpmv-cli.cpp
  examples/lookahead/lookahead.cpp
  examples/lookup/lookup-stats.cpp
  examples/lookup/lookup.cpp
  examples/main/main.cpp
  examples/parallel/parallel.cpp
  examples/retrieval/retrieval.cpp
  examples/save-load-state/save-load-state.cpp
  examples/server/server.cpp
  examples/server/utils.hpp
  examples/speculative-simple/CMakeLists.txt
  examples/speculative-simple/README.md
  examples/speculative-simple/speculative-simple.cpp
  examples/speculative/speculative.cpp
  tests/test-arg-parser.cpp
Labels: testing, examples, server

#10483 [SYCL] Fix building Win package for oneAPI 2025.0 update
  .github/workflows/build.yml
Labels: devops

#10469 ggml : add support for dynamic loading of backends
  Makefile
  Package.swift
  common/common.cpp
  examples/CMakeLists.txt
  examples/eval-callback/CMakeLists.txt
  examples/llama-bench/llama-bench.cpp
  examples/main/main.cpp
  examples/simple-chat/simple-chat.cpp
  examples/simple/simple.cpp
  ggml/CMakeLists.txt
  ggml/include/ggml-backend.h
  ggml/include/ggml-cpu.h
  ggml/include/ggml.h
  ggml/src/CMakeLists.txt
  ggml/src/ggml-amx/CMakeLists.txt
  ggml/src/ggml-amx/ggml-amx.cpp
  ggml/src/ggml-backend-impl.h
  ggml/src/ggml-backend-reg.cpp
  ggml/src/ggml-blas/CMakeLists.txt
  ggml/src/ggml-blas/ggml-blas.cpp
  ggml/src/ggml-cann/CMakeLists.txt
  ggml/src/ggml-cann/ggml-cann.cpp
  ggml/src/ggml-cpu/CMakeLists.txt
  ggml/src/ggml-cpu/ggml-cpu.c
  ggml/src/ggml-cpu/ggml-cpu.cpp
  ggml/src/ggml-cuda/CMakeLists.txt
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-hip/CMakeLists.txt
  ggml/src/ggml-kompute/CMakeLists.txt
  ggml/src/ggml-kompute/ggml-kompute.cpp
  ggml/src/ggml-metal/CMakeLists.txt
  ggml/src/ggml-metal/ggml-metal.m
  ggml/src/ggml-musa/CMakeLists.txt
  ggml/src/ggml-rpc/CMakeLists.txt
  ggml/src/ggml-rpc/ggml-rpc.cpp
  ggml/src/ggml-sycl/CMakeLists.txt
  ggml/src/ggml-sycl/ggml-sycl.cpp
  ggml/src/ggml-vulkan/CMakeLists.txt
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml.c
  pocs/CMakeLists.txt
  src/llama.cpp
  tests/CMakeLists.txt
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, examples, ggml, SYCL

#10455 server : add speculative decoding support
  examples/server/server.cpp
Labels: examples, server

#10481 Add download chat feature to server chat
  examples/server/public/index.html
Labels: examples, server

#10497 llama : accept a list of devices to use to offload a model
  common/arg.cpp
  common/common.cpp
  common/common.h
  examples/server/server.cpp
  examples/speculative-simple/speculative-simple.cpp
  examples/speculative/speculative.cpp
  ggml/src/ggml-backend-reg.cpp
  include/llama.h
  src/llama.cpp
Labels: breaking change, examples, server, ggml

#10500 Rename Olmo1124 to Olmo2
  convert_hf_to_gguf.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  src/llama.cpp
Labels: python

#10501 server : enable cache_prompt by default
  examples/server/README.md
  examples/server/server.cpp
Labels: examples, server

#10291 Introduce llama-run
  CMakeLists.txt
  Makefile
  examples/CMakeLists.txt
  examples/run/CMakeLists.txt
  examples/run/README.md
  examples/run/run.cpp
  include/llama-cpp.h
Labels: build, examples

#10488 [CANN] RoPE and CANCAT operator optimization
  ggml/src/ggml-cann/aclnn_ops.cpp
  ggml/src/ggml-cann/ggml-cann.cpp
Labels: Ascend NPU

#10454 [CANN] Improve the Inferencing Performance for Ascend NPU Device
  ggml/src/ggml-cann/aclnn_ops.cpp
  ggml/src/ggml-cann/common.h
  ggml/src/ggml-cann/ggml-cann.cpp
Labels: Ascend NPU

#10513 server : fix parallel speculative decoding
  examples/server/server.cpp
Labels: examples, server

#10456 ci : add ubuntu cuda build, build with one arch on windows
  .github/labeler.yml
  .github/workflows/build.yml
  .github/workflows/nix-ci.yml
  .github/workflows/python-lint.yml
Labels: nix, devops

#10474 cmake : enable warnings in llama
  CMakeLists.txt
  cmake/common.cmake
  common/CMakeLists.txt
  examples/CMakeLists.txt
  examples/speculative-simple/speculative-simple.cpp
  ggml/src/CMakeLists.txt
  ggml/src/ggml-cuda/CMakeLists.txt
  src/CMakeLists.txt
Labels: build, Nvidia GPU, examples

#10507 [SYCL] restore the condition to build & update package when execute merge
  .github/workflows/build.yml
Labels: devops

#10416 server : replace behave with pytest
  .devops/nix/python-scripts.nix
  .github/workflows/server.yml
  examples/server/tests/.gitignore
  examples/server/tests/README.md
  examples/server/tests/conftest.py
  examples/server/tests/features/ctx_shift.feature
  examples/server/tests/features/embeddings.feature
  examples/server/tests/features/environment.py
  examples/server/tests/features/infill.feature
  examples/server/tests/features/issues.feature
  examples/server/tests/features/lora.feature
  examples/server/tests/features/parallel.feature
  examples/server/tests/features/passkey.feature
  examples/server/tests/features/rerank.feature
  examples/server/tests/features/results.feature
  examples/server/tests/features/security.feature
  examples/server/tests/features/server.feature
  examples/server/tests/features/slotsave.feature
  examples/server/tests/features/steps/steps.py
  examples/server/tests/features/wrong_usages.feature
  examples/server/tests/requirements.txt
  examples/server/tests/tests.sh
  examples/server/tests/unit/test_basic.py
  examples/server/tests/unit/test_chat_completion.py
  examples/server/tests/unit/test_completion.py
  examples/server/tests/unit/test_ctx_shift.py
  examples/server/tests/unit/test_embedding.py
  examples/server/tests/unit/test_infill.py
  examples/server/tests/unit/test_lora.py
  examples/server/tests/unit/test_rerank.py
  examples/server/tests/unit/test_security.py
  examples/server/tests/unit/test_slot_save.py
  examples/server/tests/unit/test_tokenize.py
  examples/server/tests/utils.py
Labels: nix, examples, python, devops, server

#10496 vulkan: fix group_norm
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/group_norm.comp
  tests/test-backend-ops.cpp
Labels: testing

#10527 llama : disable warnings for 3rd party sha1 dependency
  examples/gguf-hash/CMakeLists.txt
Labels: examples

#10526 ci : remove nix workflows
  .github/workflows/nix-ci-aarch64.yml
  .github/workflows/nix-ci.yml
  .github/workflows/nix-flake-update.yml
  .github/workflows/nix-publish-flake.yml
Labels: nix, devops

#10532 ci : fix cuda releases
  .github/workflows/build.yml
Labels: devops

#10498 Add some minimal optimizations for CDNA
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/mmq.cu
  ggml/src/ggml-cuda/mmq.cuh
  ggml/src/ggml-cuda/mmvq.cu
  ggml/src/ggml-cuda/vendors/hip.h
Labels: Nvidia GPU, ggml

#10550 common : fix duplicated file name with hf_repo and hf_file
  common/arg.cpp
  common/common.cpp
  common/common.h
  examples/server/tests/utils.py
Labels: examples, python, server

#10519 CANN: cann backend build failed when manually specify SOC_TYPE or gcc version that isn't verified
  docs/backend/CANN.md
  ggml/src/ggml-cann/CMakeLists.txt
  ggml/src/ggml-cann/kernels/CMakeLists.txt
  ggml/src/ggml-cann/kernels/dup.cpp
  ggml/src/ggml-cann/kernels/get_row_q4_0.cpp
  ggml/src/ggml-cann/kernels/quantize_f16_q8_0.cpp
  ggml/src/ggml-cann/kernels/quantize_f32_q8_0.cpp
  ggml/src/ggml-cann/kernels/quantize_float_to_q4_0.cpp
Labels: documentation, ggml, Ascend NPU

#10538 Update cann.md to ensure it displays correctly on all platforms.
  docs/backend/CANN.md
Labels: documentation, Ascend NPU

#10542 kompute: improve backend to pass test_backend_ops
  ggml/src/ggml-kompute/CMakeLists.txt
  ggml/src/ggml-kompute/ggml-kompute.cpp
  ggml/src/ggml-kompute/kompute-shaders/common.comp
  ggml/src/ggml-kompute/kompute-shaders/op_mul_mat_f16.comp
  ggml/src/ggml-kompute/kompute-shaders/op_mul_mat_q4_k.comp
  ggml/src/ggml-kompute/kompute-shaders/op_mul_mat_q6_k.comp
  ggml/src/ggml-kompute/kompute-shaders/op_mul_mv_q_n.comp
  ggml/src/ggml-kompute/kompute-shaders/op_mul_mv_q_n_pre.comp
  ggml/src/ggml-kompute/kompute-shaders/op_rope_f16.comp
  ggml/src/ggml-kompute/kompute-shaders/op_rope_f32.comp
  ggml/src/ggml-kompute/kompute-shaders/op_rope_neox_f16.comp
  ggml/src/ggml-kompute/kompute-shaders/op_rope_neox_f32.comp
  ggml/src/ggml-kompute/kompute-shaders/op_rope_norm_f16.comp
  ggml/src/ggml-kompute/kompute-shaders/op_rope_norm_f32.comp
  ggml/src/ggml-kompute/kompute-shaders/op_softmax.comp
  ggml/src/ggml-kompute/kompute-shaders/rope_common.comp
Labels: ggml, Kompute

#10541 ggml-cpu: support IQ4_NL_4_4 by runtime repack
  ggml/include/ggml-cpu.h
  ggml/include/ggml.h
  ggml/src/ggml-common.h
  ggml/src/ggml-cpu/ggml-cpu-aarch64.c
  ggml/src/ggml-cpu/ggml-cpu-aarch64.h
  ggml/src/ggml-cpu/ggml-cpu.c
  ggml/src/ggml-cpu/ggml-cpu.cpp
  ggml/src/ggml.c
Labels: ggml

#10543 cmake : fix ARM feature detection
  ggml/src/ggml-cpu/CMakeLists.txt
Labels: ggml

#10561 ggml : fix row condition for i8mm kernels
  ggml/src/ggml-cpu/ggml-cpu-quants.c
  ggml/src/ggml-cpu/ggml-cpu.c
Labels: ggml

#10566 ci : fix tag name in cuda and hip releases
  .github/workflows/build.yml
Labels: devops

#10565 docs: fix outdated usage of llama-simple
  docs/android.md
  examples/simple/README.md
Labels: documentation, examples

#10546 llava: return false instead of exit
  examples/llava/clip.cpp
  examples/llava/llava.cpp
Labels: examples

#10499 vulkan: get the first command buffer submitted sooner
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan

#10563 [cann] RoPE operator optimization
  ggml/src/ggml-cann/aclnn_ops.cpp
  ggml/src/ggml-cann/ggml-cann.cpp
Labels: Ascend NPU

#10408 sycl : permuted mul_mat through oneMKL
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: SYCL

#10432 sycl : offload of get_rows set to false
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: SYCL

#10580 ggml-cpu: fix typo in gemv/gemm iq4_nl_4_4
  ggml/src/ggml-cpu/ggml-cpu-aarch64.c
Labels: ggml

#10562 ggml : fix I8MM Q4_1 scaling factor conversion
  ggml/src/ggml-cpu/ggml-cpu-quants.c
  ggml/src/ggml-cpu/ggml-cpu.c
  tests/test-backend-ops.cpp
Labels: testing, ggml

#10492 imatrix-combine-only idea
  examples/imatrix/imatrix.cpp
Labels: examples

#10569 server : add more test cases
  examples/server/tests/unit/test_basic.py
  examples/server/tests/unit/test_chat_completion.py
  examples/server/tests/unit/test_infill.py
  examples/server/tests/unit/test_rerank.py
  examples/server/tests/unit/test_speculative.py
  examples/server/tests/utils.py
Labels: examples, python, server

#10536 vulkan: Dynamic subgroup size support for Q6_K mat_vec
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_q6_k.comp
Labels: Vulkan, ggml

#10567 ggml-cpu: replace AArch64 NEON assembly with intrinsics in ggml_gemv_q4_0_4x4_q8_0()
  ggml/src/ggml-cpu/ggml-cpu-aarch64.c
Labels: ggml
