Repository ggml-org/llama.cpp, pull requests merged in 2024-08, with the labels that each got.

#8800 cuda : fix dmmv cols requirement to 2*GGML_CUDA_DMMV_X
  ggml/src/ggml-cuda.cu
  ggml/src/ggml-cuda/dmmv.cu
  ggml/src/ggml-cuda/dmmv.cuh
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, bugfix, Review Complexity : Low

#8783 Build: Only include execinfo.h on linux systems that support it
  ggml/src/ggml.c
Labels: Review Complexity : Low, ggml

#8035 ggml-cuda: Adding support for unified memory
  docs/build.md
  ggml/src/ggml-cuda.cu
Labels: documentation, Review Complexity : Low

#8812 [SYCL] Fixing IQ4_NL failing tests
  ggml/src/ggml-sycl/mmvq.cpp
Labels: SYCL

#8819 cann: Fix ggml_cann_im2col for 1D im2col
  ggml/src/ggml-cann/aclnn_ops.cpp
  tests/test-backend-ops.cpp
Labels: testing, Ascend NPU

#7843 Fix conversion of unnormalized BF16->BF16 weights
  convert_hf_to_gguf.py
  ggml/include/ggml.h
  ggml/src/ggml-impl.h
  ggml/src/ggml.c
  gguf-py/gguf/quants.py
Labels: Review Complexity : Low, python, ggml, merge ready

#8709 ggml : reading the runtime sve config of the cpu
  ggml/src/ggml-aarch64.c
  ggml/src/ggml-impl.h
  ggml/src/ggml-quants.c
  ggml/src/ggml-quants.h
  ggml/src/ggml.c
Labels: examples, Review Complexity : Low, ggml

#8847 nix: update flake.lock
  flake.lock
Labels: nix

#8846 baby-llama : remove duplicate vector include
  examples/baby-llama/baby-llama.cpp
Labels: examples

#8839 [example] batched-bench "segmentation fault"
  examples/batched-bench/batched-bench.cpp
Labels: examples

#8754 Server: Don't ignore llama.cpp params
  examples/server/server.cpp
  examples/server/utils.hpp
Labels: examples, Review Complexity : Low, server

#8822 [CANN] Support Q4_0 for Ascend NPU
  ggml/src/ggml-cann.cpp
  ggml/src/ggml-cann/acl_tensor.cpp
  ggml/src/ggml-cann/acl_tensor.h
  ggml/src/ggml-cann/aclnn_ops.cpp
  ggml/src/ggml-cann/kernels/CMakeLists.txt
  ggml/src/ggml-cann/kernels/ascendc_kernels.h
  ggml/src/ggml-cann/kernels/quantize_float_to_q4_0.cpp
Labels: testing, ggml, Ascend NPU

#8855 Fix Vulkan Quantized Matrix Vector Multiplication on AMD GPUs when ncols < 64
  ggml/src/vulkan-shaders/mul_mat_vec.comp
  tests/test-backend-ops.cpp
Labels: testing, Vulkan

#8573 cmake: fix paths for vulkan shaders compilation on Windows
  ggml/src/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Review Complexity : Low

#8858 Stop the generation when <|eom_id|> token is encountered (needed for llama 3.1 tool call support)
  gguf-py/gguf/constants.py
  gguf-py/gguf/gguf_writer.py
  src/llama-vocab.cpp
  src/llama-vocab.h
  src/llama.cpp
Labels: python

#8810 py: Add more authorship metadata from model card
  gguf-py/gguf/metadata.py
Labels: Review Complexity : Low, python

#8866 Fix overflows in elu function
  ggml/src/ggml.c
Labels: ggml

#8811 README: add ramalama to the availables UI
  README.md
Labels: examples, Review Complexity : Low

#8865 [CANN] Fix buffer_num and runtime speed slowly error
  ggml/src/ggml-cann.cpp
  ggml/src/ggml-cann/kernels/quantize_float_to_q4_0.cpp
Labels: bugfix, Review Complexity : Low, ggml

#8823 common : Changed tuple to struct (TODO fix)
  common/common.cpp
  common/common.h
  examples/cvector-generator/cvector-generator.cpp
  examples/embedding/embedding.cpp
  examples/eval-callback/eval-callback.cpp
  examples/imatrix/imatrix.cpp
  examples/infill/infill.cpp
  examples/lookahead/lookahead.cpp
  examples/lookup/lookup-create.cpp
  examples/lookup/lookup-stats.cpp
  examples/lookup/lookup.cpp
  examples/main/main.cpp
  examples/parallel/parallel.cpp
  examples/perplexity/perplexity.cpp
  examples/retrieval/retrieval.cpp
  examples/save-load-state/save-load-state.cpp
  examples/server/server.cpp
  examples/speculative/speculative.cpp
Labels: examples, Review Complexity : Low, server

#8871 [CANN]: Fix ggml_backend_cann_buffer_get_tensor
  ggml/src/ggml-cann.cpp
Labels: bugfix, Review Complexity : Low, ggml, Ascend NPU

#8658 Add support for XLMRoberta embedding models
  convert_hf_to_gguf.py
  src/llama-vocab.cpp
Labels: Review Complexity : Low, python

#8818 ggml: Add epsilon as a parameter for group_norm
  ggml/include/ggml.h
  ggml/src/ggml-cann/aclnn_ops.cpp
  ggml/src/ggml-cuda/norm.cu
  ggml/src/ggml-metal.m
  ggml/src/ggml-sycl/norm.cpp
  ggml/src/ggml.c
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, Review Complexity : Low, ggml, SYCL

#8880 [Vulkan] Fix compilation of `vulkan-shaders-gen` on w64devkit after `e31a4f6`
  ggml/src/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: bugfix, Review Complexity : Low

#8835 cmake : Link vulkan-shaders-gen with pthreads
  ggml/src/vulkan-shaders/CMakeLists.txt
Labels: Review Complexity : Low

#8857 server : add lora hotswap endpoint (WIP)
  common/common.cpp
  common/common.h
  examples/export-lora/export-lora.cpp
  examples/server/README.md
  examples/server/server.cpp
  examples/server/tests/features/lora.feature
  examples/server/tests/features/steps/steps.py
  examples/server/tests/requirements.txt
  gguf-py/gguf/metadata.py
Labels: examples, Review Complexity : Low, python, server

#8889 quantize : update usage comment in quantize.cpp [no ci]
  examples/quantize/quantize.cpp
Labels: examples

#8824 Add support for getting cpu info on Windows for llama_bench
  examples/llama-bench/llama-bench.cpp
Labels: examples, Review Complexity : Low

#8896 CUDA/HIP: fix tests/test-backend-ops
  ggml/src/ggml-cuda.cu
Labels: testing

#8901 [SYCL] Updated SYCL device filtering
  examples/sycl/README.md
  ggml/src/ggml-sycl/dpct/helper.hpp
Labels: examples, SYCL

#8838 gguf-py : simplify support for quant types
  convert_hf_to_gguf.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/lazy.py
  gguf-py/gguf/quants.py
Labels: refactoring, Review Complexity : Low, python

#8916 llama : reduce useless copies when saving session
  src/llama.cpp
Labels: performance, bugfix, Review Complexity : Low

#8936 Add one level list nesting for embeddings
  examples/server/server.cpp
Labels: examples, server

#8937 llama : fix typo in llama_tensor_get_type comment [no ci]
  src/llama.cpp
Labels: Review Complexity : Low

#8934 embedding : add --pooling option to README.md [no ci]
  examples/embedding/README.md
Labels: examples

#7599 support MiniCPM-V-2.5
  .gitignore
  Makefile
  examples/llava/CMakeLists.txt
  examples/llava/README-minicpmv2.5.md
  examples/llava/clip.cpp
  examples/llava/clip.h
  examples/llava/llava.cpp
  examples/llava/llava.h
  examples/llava/minicpmv-cli.cpp
  examples/llava/minicpmv-convert-image-encoder-to-gguf.py
  examples/llava/minicpmv-surgery.py
  examples/llava/requirements.txt
Labels: build, examples, python, Review Complexity : Medium

#8926 llama : better replace_all (cont)
  common/common.cpp
  common/common.h
  examples/export-lora/export-lora.cpp
  examples/llava/clip.cpp
  src/llama-impl.h
  src/llama-vocab.cpp
  src/llama.cpp
Labels: refactoring, examples, Review Complexity : Low

#8946 make : fix llava obj file race
  Makefile
Labels: bugfix, Review Complexity : Low

#8952 gguf-py: fix gguf-py/examples/writer.py
  gguf-py/examples/writer.py
Labels: python

#8960 Add support for encoder-only T5 models
  common/common.cpp
  convert_hf_to_gguf.py
  examples/embedding/embedding.cpp
  gguf-py/gguf/constants.py
  include/llama.h
  src/llama.cpp
Labels: examples, python, Review Complexity : Medium

#8931 llama : default n_swa for phi-3
  src/llama.cpp
Labels: Review Complexity : Low, merge ready

#8943 Optimize Vulkan backend for better CPU performance and less GPU synchronization overhead.
  ggml/src/ggml-vulkan.cpp
Labels: performance, Vulkan, Review Complexity : Low, ggml

#8909 [SYCL] update guide
  docs/backend/SYCL.md
Labels: documentation, Review Complexity : Low, SYCL

#8979 nix: update flake.lock
  flake.lock
Labels: nix, Review Complexity : Low

#8939 gguf-py : Numpy dequantization for most types
  gguf-py/gguf/quants.py
  gguf-py/tests/test_quants.py
Labels: enhancement, python, Review Complexity : Medium, merge ready, Tensor Encoding Scheme

#8997 server : handle models with missing EOS token
  examples/server/server.cpp
Labels: examples, server

#8982 py : fix requirements check '==' -> '~='
  .github/workflows/python-check-requirements.yml
  examples/llava/requirements.txt
Labels: examples, devops, merge ready

#8873 docs: introduce gpustack and gguf-parser
  README.md
Labels: documentation, Review Complexity : Low

#8970 llama : model-based max number of graph nodes calculation
  src/llama.cpp
Labels: Review Complexity : Low, merge ready

#9006 ci : enable RPC in all of the released builds
  .github/workflows/build.yml
Labels: devops

#9002 export-lora : throw error if lora is quantized
  examples/export-lora/README.md
  examples/export-lora/export-lora.cpp
Labels: examples

#8949 ggml : move rope type enum to ggml.h
  ggml/include/ggml.h
  ggml/src/ggml-cann/aclnn_ops.cpp
  ggml/src/ggml-cuda/rope.cu
  ggml/src/ggml-metal.m
  ggml/src/ggml-sycl/rope.cpp
  ggml/src/ggml-vulkan.cpp
  ggml/src/ggml.c
  ggml/src/kompute-shaders/op_rope_f16.comp
  ggml/src/kompute-shaders/op_rope_f32.comp
  ggml/src/kompute-shaders/rope_common.comp
  include/llama.h
Labels: Nvidia GPU, Vulkan, Review Complexity : Low, ggml, SYCL

#8987 server : fix segfault on long system prompt
  examples/server/server.cpp
Labels: examples, bugfix, Review Complexity : Low, server

#8959 Vulkan Optimizations and Fixes
  Makefile
  ggml/CMakeLists.txt
  ggml/src/CMakeLists.txt
  ggml/src/ggml-vulkan.cpp
  ggml/src/vulkan-shaders/concat.comp
  ggml/src/vulkan-shaders/mul_mat_vec.comp
  ggml/src/vulkan-shaders/mul_mat_vec_nc.comp
  ggml/src/vulkan-shaders/mul_mat_vec_p021.comp
  ggml/src/vulkan-shaders/mul_mat_vec_q2_k.comp
  ggml/src/vulkan-shaders/mul_mat_vec_q3_k.comp
  ggml/src/vulkan-shaders/mul_mat_vec_q4_k.comp
  ggml/src/vulkan-shaders/mul_mat_vec_q5_k.comp
  ggml/src/vulkan-shaders/mul_mat_vec_q6_k.comp
  ggml/src/vulkan-shaders/mul_mm.comp
  ggml/src/vulkan-shaders/repeat.comp
  ggml/src/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: performance, Vulkan, bugfix, Review Complexity : Medium, ggml

#9026 Setting stop and error fields of the result struct
  examples/server/server.cpp
Labels: examples, server

#9010 ci : disable bench workflow
  .github/workflows/bench.yml.disabled
Labels: devops

#8850 Add pre-tokenizer regexes for BLOOM and gpt3-finnish
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  include/llama.h
  src/llama-vocab.cpp
  src/llama.cpp
Labels: bugfix, Review Complexity : Low, python, merge ready

#8778 src: remove duplicate function llama_should_add_bos_token
  common/common.cpp
  common/common.h
  examples/cvector-generator/cvector-generator.cpp
  examples/eval-callback/eval-callback.cpp
  examples/imatrix/imatrix.cpp
  examples/infill/infill.cpp
  examples/main/main.cpp
  examples/perplexity/perplexity.cpp
  examples/server/server.cpp
  examples/tokenize/tokenize.cpp
  include/llama.h
  src/llama-vocab.cpp
  src/llama-vocab.h
  src/llama.cpp
Labels: refactoring, examples, Review Complexity : Low, server

#8994 fix: duplication n_predict key in the generation_settings
  examples/server/server.cpp
Labels: examples, server

#8955 Retrieval: Fix Memory Leak in Retrieval Query Handling
  examples/retrieval/retrieval.cpp
Labels: examples, bugfix, Review Complexity : Low

#9047 ggml : dynamic ggml_sched_max_splits based on graph_size
  ggml/src/ggml-backend.c
Labels: ggml

#8922 Add Nemotron/Minitron GGUF Conversion & Inference Support
  convert_hf_to_gguf.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  src/llama.cpp
Labels: python, Review Complexity : Medium

#8771 Add support for cpu_get_num_physical_cores() on Windows
  common/common.cpp
Labels: performance, windows, Review Complexity : Low

#9025 add EXAONE model support
  README.md
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  include/llama.h
  src/llama-vocab.cpp
  src/llama.cpp
Labels: model, Review Complexity : Low, python

#9051 gguf-py : bump version from 0.9.1 to 0.10.0
  gguf-py/pyproject.toml
Labels: Review Complexity : Low, python

#9035 Doc: Fix inference example lacks required parameters
  examples/quantize/README.md
Labels: examples

#8928 fix: Fixes wrong input type for raw_dtype in ggml to gguf scripts
  convert_llama_ggml_to_gguf.py
Labels: bugfix, Review Complexity : Low, python, merge ready

#9056 server : refactor middleware and /health endpoint
  examples/server/README.md
  examples/server/server.cpp
  examples/server/tests/features/steps/steps.py
Labels: examples, python, server

#8957 tests : add integration test for lora adapters
  .gitignore
  tests/test-lora-conversion-inference.sh
Labels: testing, bugfix, Review Complexity : Low

#9068 nix: update flake.lock
  flake.lock
Labels: nix

#9040 rpc : prevent crashes on invalid input
  ggml/src/ggml-rpc.cpp
Labels: ggml

#9042 rpc : print error message when failed to connect endpoint
  ggml/src/ggml-rpc.cpp
Labels: ggml

#8867 [CANN] Add doc and docker image
  .devops/llama-cli-cann.Dockerfile
  README.md
  docs/backend/CANN.md
  docs/build.md
Labels: documentation, Review Complexity : Low, devops, Ascend NPU

#9099 tests : add missing comma in grammar integration tests
  tests/test-grammar-integration.cpp
Labels: testing

#9052 [SYCL] Fix SYCL `im2col` and `convert` Overflow with Large Dims
  ggml/src/ggml-sycl.cpp
  ggml/src/ggml-sycl/backend.hpp
  ggml/src/ggml-sycl/common.cpp
  ggml/src/ggml-sycl/common.hpp
  ggml/src/ggml-sycl/convert.cpp
  ggml/src/ggml-sycl/convert.hpp
  ggml/src/ggml-sycl/dequantize.hpp
  ggml/src/ggml-sycl/dmmv.cpp
  ggml/src/ggml-sycl/im2col.cpp
  ggml/src/ggml-sycl/im2col.hpp
  tests/test-backend-ops.cpp
Labels: testing, ggml, SYCL

#9088 [SYCL] fallback mmvq
  ggml/src/ggml-sycl.cpp
  ggml/src/ggml-sycl/common.hpp
Labels: ggml, SYCL

#8984 llava: Add ACC OP for GPU acceleration to the Vulkan backend in the LLAVA CLIP model.
  examples/llava/clip.cpp
  ggml/src/ggml-vulkan.cpp
  ggml/src/vulkan-shaders/acc.comp
  ggml/src/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, examples, ggml

#9082 llava : zero-initialize clip_ctx structure fields with aggregate initialization
  examples/llava/clip.cpp
Labels: examples

#9074 Feat: Support for `falcon-mamba` architecture
  README.md
  convert_hf_to_gguf.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/gguf_writer.py
  src/llama.cpp
Labels: python, merge ready

#9105 server : support reading arguments from environment variables
  common/common.cpp
  common/common.h
  examples/server/README.md
  examples/server/server.cpp
Labels: examples, server

#8526 llama : simplify Mamba with advanced batch splits
  ggml/include/ggml.h
  ggml/src/ggml.c
  include/llama.h
  src/llama.cpp
Labels: testing, refactoring, Review Complexity : Medium, ggml, merge ready

#9091 [SYCL] Add oneDNN primitive support
  CMakePresets.json
  docs/backend/SYCL.md
  ggml/src/CMakeLists.txt
  ggml/src/ggml-sycl.cpp
  ggml/src/ggml-sycl/common.hpp
  ggml/src/ggml-sycl/gemm.hpp
Labels: documentation, build, ggml, SYCL

#9117 lora : fix llama conversion script with model having ROPE_FREQS
  convert_hf_to_gguf.py
  convert_lora_to_gguf.py
  tests/test-lora-conversion-inference.sh
Labels: testing, python

#9145 quantize : fix typo in usage help of `quantize.cpp`
  examples/quantize/quantize.cpp
Labels: examples

#8542 CPU/CUDA: Gemma 2 FlashAttention support
  ggml/include/ggml.h
  ggml/src/ggml-cuda/fattn-common.cuh
  ggml/src/ggml-cuda/fattn-tile-f16.cu
  ggml/src/ggml-cuda/fattn-tile-f32.cu
  ggml/src/ggml-cuda/fattn-vec-f16.cuh
  ggml/src/ggml-cuda/fattn-vec-f32.cuh
  ggml/src/ggml-cuda/fattn-wmma-f16.cuh
  ggml/src/ggml-cuda/fattn.cu
  ggml/src/ggml-metal.m
  ggml/src/ggml.c
  src/llama.cpp
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, Review Complexity : Medium, ggml

#9163 Fix time complexity of string replacement
  common/common.cpp
  examples/llava/clip.cpp
  src/llama-impl.h
Labels: performance, examples, bugfix, Review Complexity : Low

#9160 ggml-ci : try to improve build time
  ci/run.sh
Labels: devops

#9159 metal : gemma2 flash attention support
  ggml/src/ggml-metal.m
  ggml/src/ggml-metal.metal
  tests/test-backend-ops.cpp
Labels: testing

#9183 server : update deps
  examples/server/public/index.js
Labels: examples, server

#9185 tests : fix compile warnings for unreachable code
  tests/test-sampling.cpp
Labels: testing

#8546 ggml : add SSM Metal kernels
  ggml/src/ggml-metal.m
  ggml/src/ggml-metal.metal
  ggml/src/ggml.c
  tests/test-backend-ops.cpp
Labels: testing, Review Complexity : High, ggml

#9192 ggml : do not crash when quantizing q4_x_x with an imatrix
  ggml/src/ggml-aarch64.c
Labels: ggml

#9141 fix: llama3.1 rope_freqs not respecting custom head_dim
  convert_hf_to_gguf.py
  src/llama.cpp
Labels: python

#9116 server : add some missing env variables
  .devops/llama-server-cuda.Dockerfile
  .devops/llama-server-intel.Dockerfile
  .devops/llama-server-rocm.Dockerfile
  .devops/llama-server-vulkan.Dockerfile
  .devops/llama-server.Dockerfile
  common/common.cpp
  examples/server/README.md
Labels: examples, devops, server

#9156 llama : fix qs.n_attention_wv for DeepSeek-V2
  src/llama.cpp
Labels: bugfix, Review Complexity : Low

#9111 llava: fix minicpm example directory
  examples/llava/README-minicpmv2.5.md
Labels: examples

#9213 docker : update CUDA images
  .devops/full-cuda.Dockerfile
  .devops/llama-cli-cuda.Dockerfile
  .devops/llama-server-cuda.Dockerfile
  docs/docker.md
Labels: documentation, devops

#9225 docker : build images only once
  .github/workflows/docker.yml
Labels: devops

#9162 nix: update flake.lock
  flake.lock
Labels: nix

#9210 server : fix crash when error handler dumps invalid utf-8 json
  examples/server/server.cpp
Labels: examples, server

#8672 Threadpool: take 2
  common/common.cpp
  common/common.h
  examples/baby-llama/baby-llama.cpp
  examples/benchmark/benchmark-matmult.cpp
  examples/cvector-generator/cvector-generator.cpp
  examples/export-lora/export-lora.cpp
  examples/llama-bench/llama-bench.cpp
  examples/llama.swiftui/llama.cpp.swift/LibLlama.swift
  examples/llava/llava-cli.cpp
  examples/llava/minicpmv-cli.cpp
  examples/main/main.cpp
  examples/server/server.cpp
  examples/speculative/speculative.cpp
  ggml/include/ggml-alloc.h
  ggml/include/ggml-backend.h
  ggml/include/ggml.h
  ggml/src/CMakeLists.txt
  ggml/src/ggml-backend.c
  ggml/src/ggml.c
  include/llama.h
  src/llama.cpp
  tests/test-rope.cpp
Labels: testing, examples, Review Complexity : Medium, server, ggml

#9237 the function "clip" should be int
  examples/llava/clip.cpp
Labels: examples

#9149 Correct typo run_llama2.sh > run-llama2.sh
  docs/backend/SYCL.md
Labels: documentation, Review Complexity : Low, merge ready, SYCL

#9132 llama : fix typo in xcda_array_view comment [no ci]
  src/llama-vocab.cpp
Labels: Review Complexity : Low

#8908 Introduction of gemm4xN and gemmMx4 for Q4_0 and Q8_0 for better performance results
  ggml/src/llamafile/sgemm.cpp
Labels: Review Complexity : Medium

#9137 Fix nix CUDA build: replace deprecated autoAddOpenGLRunpathHook
  .devops/nix/package.nix
Labels: nix, Review Complexity : Low, devops
