Repository ggml-org/llama.cpp, pull requests merged in 2024-12, with the labels that each got.

#10590 server : bind to any port when specified
  examples/server/server.cpp
Labels: examples, server

#10606 ggml : automatic selection of best CPU backend
  .devops/llama-server.Dockerfile
  CMakeLists.txt
  Package.swift
  ggml/CMakeLists.txt
  ggml/src/ggml-backend-impl.h
  ggml/src/ggml-backend-reg.cpp
  ggml/src/ggml-cpu/CMakeLists.txt
  ggml/src/ggml-cpu/amx/common.h
  ggml/src/ggml-cpu/amx/mmq.cpp
  ggml/src/ggml-cpu/cpu-feats-x86.cpp
  ggml/src/ggml-cpu/ggml-cpu-aarch64.c
  scripts/build-cpu.sh
Labels: build, script, devops, ggml

#10608 ci: add error handling for Python venv creation in run.sh
  ci/run.sh
Labels: devops

#10572 Add `mistral-v1`, `mistral-v3`, `mistral-v3-tekken` and `mistral-v7` chat template types
  src/llama.cpp
  tests/test-chat-template.cpp
Labels: testing

#10593 contrib : refresh
  .github/pull_request_template.md
  CODEOWNERS
  CONTRIBUTING.md
Labels: devops

#10579 SYCL: Fix and switch to GGML_LOG system instead of fprintf
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: ggml, SYCL

#10548 server: Add "tokens per second" information in the backend
  common/common.h
  examples/server/README.md
  examples/server/server.cpp
  examples/server/tests/unit/test_chat_completion.py
  examples/server/utils.hpp
Labels: examples, python, server

#10514 make : deprecate
  .github/workflows/build.yml
  Makefile
  docs/backend/BLIS.md
  docs/build.md
  examples/base-translate.sh
  examples/convert-llama2c-to-ggml/README.md
  examples/imatrix/README.md
  examples/server/README.md
  scripts/compare-commits.sh
  scripts/pod-llama.sh
  scripts/server-llm.sh
Labels: documentation, script, examples, devops, server

#10623 llama : add enum for built-in chat templates
  common/arg.cpp
  examples/server/README.md
  include/llama.h
  src/llama.cpp
  tests/test-chat-template.cpp
Labels: testing, examples, server

#10586 server : fix default draft model parameters
  examples/server/server.cpp
Labels: examples, server

#10581 metal : small-batch mat-mul kernels
  ggml/src/ggml-metal/ggml-metal-impl.h
  ggml/src/ggml-metal/ggml-metal.m
  ggml/src/ggml-metal/ggml-metal.metal
  tests/test-backend-ops.cpp
Labels: testing, ggml, Apple Metal

#10271 readme : add option, update default value, fix formatting
  docs/build.md
  examples/infill/README.md
  examples/main/README.md
  examples/server/README.md
Labels: documentation, examples, server

#10599 server : (web ui) Various improvements, now use vite as bundler
  .github/workflows/server.yml
  .gitignore
  Makefile
  examples/server/CMakeLists.txt
  examples/server/README.md
  examples/server/deps.sh
  examples/server/public/deps_daisyui.min.css
  examples/server/public/deps_markdown-it.js
  examples/server/public/deps_tailwindcss.js
  examples/server/public/deps_vue.esm-browser.js
  examples/server/public/index.html
  examples/server/server.cpp
  examples/server/webui/index.html
  examples/server/webui/package-lock.json
  examples/server/webui/package.json
  examples/server/webui/postcss.config.js
  examples/server/webui/src/completion.js
  examples/server/webui/src/main.js
  examples/server/webui/src/styles.css
  examples/server/webui/tailwind.config.js
  examples/server/webui/vite.config.js
Labels: examples, devops, server

#10637 vulkan: optimize and reenable split_k
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_split_k_reduce.comp
Labels: Vulkan, ggml

#10630 Add docs for creating a static build (#10268)
  docs/build.md
Labels: documentation

#10616 Avoid using __fp16 on ARM with old nvcc, fixes #10555
  ggml/src/ggml-impl.h
Labels: ggml

#10584 SYCL : Move to compile time oneMKL interface backend selection for NVIDIA backend
  ggml/src/ggml-sycl/CMakeLists.txt
  ggml/src/ggml-sycl/dpct/helper.hpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
  ggml/src/ggml-sycl/outprod.cpp
Labels: ggml, SYCL

#10642 vulkan: Implement "fast divide" (mul+shift) for unary ops like copy
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/generic_unary_head.comp
  tests/test-backend-ops.cpp
Labels: testing, Vulkan, ggml

#10559 llama: Support MiniCPM-1B (with & w/o longrope)
  convert_hf_to_gguf.py
  gguf-py/gguf/constants.py
  include/llama.h
  src/llama.cpp
Labels: python

#10649 Fix HF repo commit to clone lora test models
  tests/test-lora-conversion-inference.sh
Labels: testing

#10646 ggml-cpu : fix HWCAP2_I8MM value
  ggml/src/ggml-cpu/ggml-cpu.c
Labels: ggml

#10626 ggml : add predefined list of CPU backend variants to build
  .devops/full.Dockerfile
  .devops/llama-cli.Dockerfile
  .devops/llama-server.Dockerfile
  ggml/CMakeLists.txt
  ggml/src/CMakeLists.txt
  ggml/src/ggml-backend-reg.cpp
  ggml/src/ggml-cpu/CMakeLists.txt
  ggml/src/ggml-cpu/cpu-feats-x86.cpp
  ggml/src/ggml-cpu/ggml-cpu.c
  ggml/src/ggml-cpu/ggml-cpu.cpp
  scripts/build-cpu.sh
Labels: script, devops, ggml

#10641 server : fix speculative decoding with context shift
  examples/server/server.cpp
  examples/server/tests/unit/test_speculative.py
Labels: examples, python, server

#10619 Update deprecation-warning.cpp
  examples/deprecation-warning/deprecation-warning.cpp
Labels: examples

#10667 py : update outdated copy-paste instructions [no ci]
  convert_hf_to_gguf_update.py
Labels: python

#10206 vulkan: Add VK_NV_cooperative_matrix2 support for mul_mat and FlashAttention2
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/CMakeLists.txt
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_funcs_cm2.comp
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn_cm2.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mm_cm2.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: testing, Vulkan, ggml

#10674 fix(server) : handling DONE message in simple chat
  examples/server/public_simplechat/simplechat.js
Labels: examples, server

#10643 server : (refactoring) do not rely on JSON internally
  common/common.h
  examples/server/README.md
  examples/server/server.cpp
  examples/server/tests/README.md
  examples/server/tests/tests.sh
  examples/server/tests/unit/test_chat_completion.py
  examples/server/tests/unit/test_completion.py
  examples/server/utils.hpp
Labels: breaking change, examples, python, server

#10695 feat: add support for Roberta embeddings
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  models/ggml-vocab-roberta-bpe.gguf.inp
  models/ggml-vocab-roberta-bpe.gguf.out
Labels: python

#10676 metal : Extend how Llama.cpp locates metal resources (#10675)
  ggml/src/ggml-metal/ggml-metal.m
Labels: ggml, Apple Metal

#10597 Vulkan: VK_KHR_cooperative_matrix support to speed up prompt processing
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mm.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, ggml

#10651 server : fix free of spec context and batch
  common/speculative.cpp
  examples/server/server.cpp
Labels: examples, server

#10446 Refactor/online repacking
  Makefile
  Package.swift
  docs/build.md
  examples/quantize/README.md
  examples/quantize/quantize.cpp
  ggml/include/ggml-cpu.h
  ggml/include/ggml.h
  ggml/src/CMakeLists.txt
  ggml/src/ggml-aarch64.c
  ggml/src/ggml-aarch64.h
  ggml/src/ggml-cann/ggml-cann.cpp
  ggml/src/ggml-common.h
  ggml/src/ggml-cpu/CMakeLists.txt
  ggml/src/ggml-cpu/amx/amx.cpp
  ggml/src/ggml-cpu/amx/amx.h
  ggml/src/ggml-cpu/amx/common.h
  ggml/src/ggml-cpu/amx/mmq.cpp
  ggml/src/ggml-cpu/amx/mmq.h
  ggml/src/ggml-cpu/ggml-cpu-aarch64.cpp
  ggml/src/ggml-cpu/ggml-cpu-aarch64.h
  ggml/src/ggml-cpu/ggml-cpu-hbm.cpp
  ggml/src/ggml-cpu/ggml-cpu-hbm.h
  ggml/src/ggml-cpu/ggml-cpu-traits.cpp
  ggml/src/ggml-cpu/ggml-cpu-traits.h
  ggml/src/ggml-cpu/ggml-cpu.c
  ggml/src/ggml-cpu/ggml-cpu.cpp
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-quants.c
  ggml/src/ggml-sycl/ggml-sycl.cpp
  ggml/src/ggml.c
  gguf-py/gguf/constants.py
  include/llama.h
  src/llama.cpp
Labels: documentation, Nvidia GPU, examples, python, ggml, SYCL

#10704 server : various fixes
  examples/server/CMakeLists.txt
  examples/server/README.md
  examples/server/server.cpp
  examples/server/utils.hpp
Labels: breaking change, examples, server

#10709 ggml : disable iq4_nl interleave size 8
  ggml/src/ggml-cpu/ggml-cpu-aarch64.cpp
Labels: ggml

#10691 server : (refactor) no more json in server_task input
  examples/server/README.md
  examples/server/server.cpp
  examples/server/tests/unit/test_basic.py
  examples/server/tests/unit/test_chat_completion.py
  examples/server/tests/utils.py
  examples/server/utils.hpp
Labels: examples, python, server

#10698 add 128k yarn context for Qwen
  convert_hf_to_gguf.py
  gguf-py/gguf/constants.py
Labels: python

#10713 vulkan: compile a test shader in cmake to check for coopmat2 support
  ggml/src/ggml-vulkan/CMakeLists.txt
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/test_coopmat2_support.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, ggml

#10525 llama : use cmake for swift build
  .github/workflows/build.yml
  Package.swift
  Sources/llama/llama.h
  Sources/llama/module.modulemap
  cmake/llama.pc.in
  examples/llama.swiftui/llama.cpp.swift/LibLlama.swift
  examples/llama.swiftui/llama.swiftui.xcodeproj/project.pbxproj
Labels: build, examples, devops

#10723 Vulkan: fix NaN in tanh.comp with AMD proprietary driver on Windows
  ggml/src/ggml-vulkan/vulkan-shaders/tanh.comp
Labels: Vulkan, ggml

#10722 server : bring back info of final chunk in stream mode
  examples/server/server.cpp
  examples/server/tests/unit/test_completion.py
Labels: examples, python, server

#10724 server : fix format_infill
  examples/server/server.cpp
  examples/server/tests/unit/test_infill.py
  examples/server/tests/utils.py
Labels: examples, python, server

#10672 cmake : simplify msvc charsets
  CMakeLists.txt
Labels: build

#10731 vulkan: fix compile warnings
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#10668 Changes to CMakePresets.json to add ninja clang target on windows
  CMakePresets.json
  cmake/x64-windows-llvm.cmake
  docs/build.md
Labels: documentation, build

#10740 CUDA: fix shared memory access condition for mmv
  ggml/src/ggml-cuda/mmv.cu
Labels: Nvidia GPU, ggml

#10751 server: add flag to disable the web ui
  common/arg.cpp
  examples/server/README.md
  examples/server/server.cpp
  examples/server/tests/unit/test_basic.py
  examples/server/tests/utils.py
Labels: examples, python, server

#10745 vulkan: dynamic subgroup size for the remaining k quants
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_base.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_q2_k.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_q3_k.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_q4_k.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_q5_k.comp
Labels: Vulkan, ggml

#10767 vulkan: request round-to-even for fp16 in im2col/rope_head
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/im2col.comp
  ggml/src/ggml-vulkan/vulkan-shaders/rope_head.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, ggml

#10699 ggml: load all backends from a user-provided search path
  ggml/include/ggml-backend.h
  ggml/src/ggml-backend-reg.cpp
Labels: ggml

#10776 docs: fix server documentation formatting
  examples/server/README.md
Labels: examples, server

#10419 bug-fix: snprintf prints NULL in place of the last character
  examples/server/utils.hpp
  include/llama.h
Labels: examples, server

#10779 ci : pin nodejs to 22.11.0
  .github/workflows/server.yml
Labels: devops

#10772 Fix a small typo in the Quantization Docs
  examples/quantize/README.md
Labels: examples

#10786 server : (UI) add tok/s, get rid of completion.js
  examples/server/public/index.html
  examples/server/webui/index.html
  examples/server/webui/package-lock.json
  examples/server/webui/package.json
  examples/server/webui/src/completion.js
  examples/server/webui/src/main.js
Labels: examples, server

#9519 docs: update server streaming mode documentation
  examples/server/README.md
Labels: examples, server

#10798 Vulkan: Use improved q4_k and q5_k dequant code in dequant shaders
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_q4_k.comp
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_q5_k.comp
Labels: Vulkan, ggml

#10797 remove CMAKE_WINDOWS_EXPORT_ALL_SYMBOLS
  examples/CMakeLists.txt
  examples/gguf-split/gguf-split.cpp
  examples/llama-bench/llama-bench.cpp
  examples/retrieval/retrieval.cpp
  examples/tokenize/tokenize.cpp
  ggml/CMakeLists.txt
  ggml/src/CMakeLists.txt
  ggml/src/ggml-cpu/amx/amx.cpp
  ggml/src/ggml-cpu/ggml-cpu.c
  ggml/src/ggml-impl.h
  ggml/src/ggml-threading.h
  src/CMakeLists.txt
  src/llama.cpp
  tests/CMakeLists.txt
Labels: testing, examples, ggml

#10760 [backend](cuda): faster uncontiguous concat
  ggml/src/ggml-cuda/concat.cu
Labels: Nvidia GPU, ggml

#10806 common : improve -ctv -ctk CLI arguments
  common/arg.cpp
  common/common.cpp
  common/common.h
  examples/CMakeLists.txt
  examples/server/README.md
Labels: examples, server

#10811 ggml: Fix compilation issues on ARM platform when building without fp16
  ggml/src/ggml-cpu/ggml-cpu.c
Labels: ggml

#10748 SYCL: Reduce most of the compiler warnings
  ggml/src/ggml-sycl/common.cpp
  ggml/src/ggml-sycl/common.hpp
  ggml/src/ggml-sycl/concat.cpp
  ggml/src/ggml-sycl/convert.cpp
  ggml/src/ggml-sycl/dmmv.cpp
  ggml/src/ggml-sycl/dpct/helper.hpp
  ggml/src/ggml-sycl/element_wise.cpp
  ggml/src/ggml-sycl/gemm.hpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
  ggml/src/ggml-sycl/im2col.cpp
  ggml/src/ggml-sycl/mmq.cpp
  ggml/src/ggml-sycl/mmvq.cpp
  ggml/src/ggml-sycl/norm.cpp
  ggml/src/ggml-sycl/rope.cpp
  ggml/src/ggml-sycl/softmax.cpp
  ggml/src/ggml-sycl/tsembd.cpp
  ggml/src/ggml-sycl/wkv6.cpp
Labels: ggml, SYCL

#10812 Fix crash caused by ggml_backend_load_all when launching on Android Activity
  ggml/src/ggml-backend-reg.cpp
Labels: ggml

#9772 [gguf-py] gguf_reader: numpy 2 newbyteorder fix
  gguf-py/gguf/gguf_reader.py
Labels: python

#10815 fix: graceful shutdown for Docker images
  .devops/tools.sh
Labels: devops

#10508 Opt class for positional argument handling
  README.md
  common/CMakeLists.txt
  common/common.cpp
  common/common.h
  examples/run/CMakeLists.txt
  examples/run/README.md
  examples/run/run.cpp
Labels: examples

#10693 Introducing experimental OpenCL backend with support for Qualcomm Adreno GPUs
  .github/workflows/build.yml
  ggml/CMakeLists.txt
  ggml/include/ggml-opencl.h
  ggml/src/CMakeLists.txt
  ggml/src/ggml-backend-reg.cpp
  ggml/src/ggml-opencl/CMakeLists.txt
  ggml/src/ggml-opencl/ggml-opencl.cpp
  ggml/src/ggml-opencl/kernels/embed_kernel.py
  ggml/src/ggml-opencl/kernels/ggml-opencl.cl
  ggml/src/ggml-opencl/kernels/ggml-opencl_cvt.cl
  ggml/src/ggml-opencl/kernels/ggml-opencl_gemv_noshuffle.cl
  ggml/src/ggml-opencl/kernels/ggml-opencl_gemv_noshuffle_general.cl
  ggml/src/ggml-opencl/kernels/ggml-opencl_mm.cl
  ggml/src/ggml-opencl/kernels/ggml-opencl_mul_mat_Ab_Bi_8x4.cl
  ggml/src/ggml-opencl/kernels/ggml-opencl_transpose_16.cl
  ggml/src/ggml-opencl/kernels/ggml-opencl_transpose_32.cl
  ggml/src/ggml-opencl/kernels/ggml-opencl_transpose_32_16.cl
Labels: python, devops, ggml

#10771 Removes spurious \r in output that causes logging in journalctl to tr…
  examples/server/server.cpp
Labels: examples, server

#10361 Add support for Qwen2VL
  Makefile
  README.md
  convert_hf_to_gguf.py
  examples/llava/CMakeLists.txt
  examples/llava/clip.cpp
  examples/llava/clip.h
  examples/llava/llava.cpp
  examples/llava/qwen2_vl_surgery.py
  examples/llava/qwen2vl-cli.cpp
  ggml/include/ggml.h
  ggml/src/ggml-cann/ggml-cann.cpp
  ggml/src/ggml-cpu/ggml-cpu.c
  ggml/src/ggml-cuda/rope.cu
  ggml/src/ggml-kompute/ggml-kompute.cpp
  ggml/src/ggml-metal/ggml-metal.m
  ggml/src/ggml-sycl/ggml-sycl.cpp
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml.c
  gguf-py/gguf/constants.py
  gguf-py/gguf/gguf_writer.py
  include/llama.h
  src/llama.cpp
  tests/test-backend-ops.cpp
  tests/test-rope.cpp
Labels: build, testing, Nvidia GPU, Vulkan, examples, python, ggml, SYCL, Apple Metal, Kompute

#10794 nix: allow to override rocm gpu targets
  .devops/nix/package.nix
Labels: nix, devops

#10818 server: Fix `has_next_line` in JSON response
  examples/server/server.cpp
  examples/server/tests/unit/test_completion.py
  examples/server/utils.hpp
Labels: examples, python, server

#10808 server: (UI) add syntax highlighting and latex math rendering
  examples/server/CMakeLists.txt
  examples/server/public/index.html
  examples/server/public/index.html.gz
  examples/server/server.cpp
  examples/server/webui/index.html
  examples/server/webui/package-lock.json
  examples/server/webui/package.json
  examples/server/webui/public/demo-conversation.json
  examples/server/webui/src/highlight-config.js
  examples/server/webui/src/katex-gpt.js
  examples/server/webui/src/main.js
  examples/server/webui/src/styles.css
  examples/server/webui/src/styles.scss
  examples/server/webui/vite.config.js
Labels: examples, server

#10836 scripts : change build path to "build-bench" for compare-commits.sh
  scripts/compare-commits.sh
Labels: script

#10827 Add Deepseek MoE v1 & GigaChat models
  README.md
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  src/llama.cpp
  tests/test-chat-template.cpp
Labels: testing, python

#10833 Allow locally downloaded models for QwenVL
  examples/llava/qwen2_vl_surgery.py
Labels: examples, python

#10829 rwkv6: add wkv6 support for Vulkan backend
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/wkv6.comp
Labels: Vulkan, ggml

#10809 vulkan: bugfixes for small subgroup size systems + llvmpipe test
  .github/workflows/build.yml
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, devops, ggml

#10857 server : (UI) fix missing async generator on safari
  examples/server/public/index.html.gz
  examples/server/webui/package-lock.json
  examples/server/webui/package.json
  examples/server/webui/src/main.js
Labels: examples, server

#10864 Add Falcon3 model support
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  src/llama.cpp
Labels: python

#10852 server : fill usage info in embeddings and rerank responses
  examples/server/server.cpp
  examples/server/tests/unit/test_embedding.py
  examples/server/tests/unit/test_rerank.py
  examples/server/utils.hpp
Labels: examples, python, server

#10867 ggml : update ggml_backend_cpu_device_supports_op
  ggml/src/ggml-cpu/ggml-cpu.cpp
  tests/test-backend-ops.cpp
Labels: testing, ggml

#10830 tests: add tests for GGUF
  ggml/src/ggml-impl.h
  ggml/src/ggml.c
  tests/CMakeLists.txt
  tests/test-gguf.cpp
Labels: testing, ggml

#10876 Revert "Add Falcon3 model support"
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  src/llama.cpp
Labels: python

#10872 server : (embeddings) using same format for "input" and "content"
  examples/server/server.cpp
  examples/server/tests/unit/test_embedding.py
  examples/server/utils.hpp
Labels: examples, python, server

#10861 server : output embeddings for all tokens when pooling = none
  common/common.cpp
  common/common.h
  examples/gritlm/gritlm.cpp
  examples/retrieval/retrieval.cpp
  examples/server/README.md
  examples/server/server.cpp
  examples/server/tests/unit/test_embedding.py
  examples/server/tests/utils.py
Labels: breaking change, examples, python, server

#10878 server: avoid overwriting Authorization header
  examples/server/public/index.html.gz
  examples/server/webui/src/main.js
Labels: examples, server

#10784 tts : add OuteTTS support
  common/arg.cpp
  common/common.cpp
  common/common.h
  convert_hf_to_gguf.py
  examples/CMakeLists.txt
  examples/llava/clip.cpp
  examples/tts/CMakeLists.txt
  examples/tts/convert_pt_to_hf.py
  examples/tts/tts-outetts.py
  examples/tts/tts.cpp
  ggml/include/ggml.h
  ggml/src/ggml.c
  gguf-py/gguf/constants.py
  gguf-py/gguf/gguf_writer.py
  gguf-py/gguf/tensor_mapping.py
  gguf-py/tests/test_quants.py
  include/llama.h
  src/llama-vocab.cpp
  src/llama.cpp
Labels: examples, python, server, ggml

#10890 ggml : fix arm build
  examples/llama.android/llama/build.gradle.kts
  ggml/CMakeLists.txt
  ggml/src/ggml-cpu/CMakeLists.txt
  ggml/src/ggml-cpu/ggml-cpu.cpp
  ggml/src/ggml-cpu/llamafile/sgemm.cpp
Labels: android, examples, ggml

#10821 Improve progress bar
  README.md
  examples/run/README.md
  examples/run/run.cpp
Labels: examples

#10886 tests: disable GGUF test for bad value size
  tests/test-gguf.cpp
Labels: testing

#10817 Add support for Microsoft Phi-4 model
  convert_hf_to_gguf.py
  src/llama.cpp
Labels: python

#10856 Roberta embeddings fixes
  convert_hf_to_gguf.py
  src/llama.cpp
Labels: python

#10783 server : fix logprobs, make it OAI-compatible
  examples/server/README.md
  examples/server/server.cpp
  examples/server/tests/unit/test_chat_completion.py
  examples/server/tests/unit/test_completion.py
  examples/server/tests/unit/test_embedding.py
  examples/server/utils.hpp
Labels: breaking change, examples, python, server

#10897 llama : minor grammar refactor
  examples/gbnf-validator/gbnf-validator.cpp
  src/llama-grammar.cpp
  src/llama-grammar.h
  tests/test-grammar-integration.cpp
  tests/test-llama-grammar.cpp
Labels: testing, examples

#10896 clip : disable GPU support
  examples/llava/clip.cpp
Labels: examples

#10913 Fix RWKV v6 model conversion
  common/arg.cpp
  convert_hf_to_gguf.py
Labels: python

#10840 SYCL: Migrate away from deprecated ggml_tensor->backend
  ggml/src/ggml-sycl/common.cpp
  ggml/src/ggml-sycl/common.hpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: ggml, SYCL

#10874 ggml-cpu: replace NEON asm with intrinsics in ggml_gemv_q4_0_4x8_q8_0()
  ggml/src/ggml-cpu/ggml-cpu-aarch64.cpp
Labels: ggml

#10855 vulkan: optimize coopmat2 dequant functions
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_funcs_cm2.comp
Labels: Vulkan, ggml

#10919 convert : add BertForMaskedLM
  convert_hf_to_gguf.py
Labels: python

#10927 vulkan: build fixes for 32b
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#10883 Add Falcon3 support and Fix issue #10875
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  src/llama.cpp
Labels: python

#10832 added docker-multi-stage builds
  .devops/cpu.Dockerfile
  .devops/cuda.Dockerfile
  .devops/full-cuda.Dockerfile
  .devops/full-musa.Dockerfile
  .devops/full-rocm.Dockerfile
  .devops/full.Dockerfile
  .devops/intel.Dockerfile
  .devops/llama-cli-cuda.Dockerfile
  .devops/llama-cli-intel.Dockerfile
  .devops/llama-cli-musa.Dockerfile
  .devops/llama-cli-rocm.Dockerfile
  .devops/llama-cli-vulkan.Dockerfile
  .devops/llama-cli.Dockerfile
  .devops/llama-server-cuda.Dockerfile
  .devops/llama-server-intel.Dockerfile
  .devops/llama-server-musa.Dockerfile
  .devops/llama-server-rocm.Dockerfile
  .devops/llama-server-vulkan.Dockerfile
  .devops/llama-server.Dockerfile
  .devops/musa.Dockerfile
  .devops/rocm.Dockerfile
  .devops/vulkan.Dockerfile
  .github/workflows/docker.yml
Labels: devops

#10948 Fix run-time on FreeBSD in get_executable_path()
  ggml/src/ggml-backend-reg.cpp
Labels: ggml

#10899 Update llama-run to include temperature option
  examples/run/README.md
  examples/run/run.cpp
Labels: examples

#10669 Support for Llama-3_1-Nemotron-51B
  convert_hf_to_gguf.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  src/llama.cpp
Labels: python

#10893 Support InfiniAI Megrez 3b
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  src/llama.cpp
  tests/test-chat-template.cpp
Labels: testing, python

#10934 rpc-server : add support for the SYCL backend
  examples/rpc/rpc-server.cpp
Labels: examples

#10917 server : add system_fingerprint to chat/completion
  examples/server/README.md
  examples/server/server.cpp
  examples/server/tests/unit/test_chat_completion.py
  examples/server/utils.hpp
Labels: examples, python, server

#10957 server : fix missing model id in /model endpoint
  examples/server/server.cpp
Labels: examples, server

#10962 ggml : fix const usage in SSE path
  ggml/src/ggml-cpu/ggml-cpu.c
Labels: ggml

#10961 ggml : fix arm enabled features check
  ggml/src/ggml-cpu/CMakeLists.txt
Labels: ggml

#10960 ggml : use wstring for backend search paths
  ggml/src/CMakeLists.txt
  ggml/src/ggml-backend-reg.cpp
  ggml/src/ggml-cpu/CMakeLists.txt
Labels: ggml

#10940 server: allow filtering llama server response fields
  examples/server/README.md
  examples/server/server.cpp
  examples/server/tests/unit/test_completion.py
  examples/server/utils.hpp
Labels: examples, python, server

#10714 more perfo with llamafile tinyblas on x86_64.
  examples/server/tests/unit/test_completion.py
  ggml/src/ggml-cpu/ggml-cpu.c
  ggml/src/ggml-cpu/llamafile/sgemm.cpp
  ggml/src/ggml-cpu/llamafile/sgemm.h
  scripts/compare-llama-bench.py
  scripts/hf.sh
Labels: script, examples, python, server, ggml

#10967 server : add support for "encoding_format": "base64" to the */embeddings endpoints
  examples/server/CMakeLists.txt
  examples/server/server.cpp
  examples/server/tests/unit/test_embedding.py
  examples/server/utils.hpp
Labels: examples, python, server

#10983 examples, ggml : fix GCC compiler warnings
  examples/cvector-generator/mean.hpp
  examples/cvector-generator/pca.hpp
  examples/export-lora/export-lora.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, examples, ggml

#10846 vulkan: multi-row k quants
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_q2_k.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_q3_k.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_q4_k.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_q5_k.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_q6_k.comp
Labels: Vulkan, ggml

#10995 server: added more docs for response_fields field
  examples/server/README.md
Labels: examples, server

#10987 vulkan: Use push constant offset to handle misaligned descriptors
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/acc.comp
  ggml/src/ggml-vulkan/vulkan-shaders/add.comp
  ggml/src/ggml-vulkan/vulkan-shaders/clamp.comp
  ggml/src/ggml-vulkan/vulkan-shaders/concat.comp
  ggml/src/ggml-vulkan/vulkan-shaders/contig_copy.comp
  ggml/src/ggml-vulkan/vulkan-shaders/copy.comp
  ggml/src/ggml-vulkan/vulkan-shaders/cos.comp
  ggml/src/ggml-vulkan/vulkan-shaders/div.comp
  ggml/src/ggml-vulkan/vulkan-shaders/generic_binary_head.comp
  ggml/src/ggml-vulkan/vulkan-shaders/generic_unary_head.comp
  ggml/src/ggml-vulkan/vulkan-shaders/get_rows.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul.comp
  ggml/src/ggml-vulkan/vulkan-shaders/pad.comp
  ggml/src/ggml-vulkan/vulkan-shaders/repeat.comp
  ggml/src/ggml-vulkan/vulkan-shaders/scale.comp
  ggml/src/ggml-vulkan/vulkan-shaders/sin.comp
  ggml/src/ggml-vulkan/vulkan-shaders/square.comp
  ggml/src/ggml-vulkan/vulkan-shaders/upscale.comp
Labels: Vulkan, ggml

#10942 vulkan: im2col and matmul optimizations for stable diffusion
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/im2col.comp
  tests/test-backend-ops.cpp
Labels: testing, Vulkan, ggml

#10991 vulkan: optimize mul_mat for small values of N
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_base.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_q2_k.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_q3_k.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_q4_k.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_q5_k.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_q6_k.comp
  tests/test-backend-ops.cpp
Labels: testing, Vulkan, ggml

#11008 Fixed Llama-3_1-Nemotron-51B doesn't work when 4K or more tokens
  convert_hf_to_gguf.py
Labels: python

#10974 server : add OAI compat for /v1/completions
  examples/server/README.md
  examples/server/server.cpp
  examples/server/tests/unit/test_chat_completion.py
  examples/server/tests/unit/test_completion.py
  examples/server/utils.hpp
Labels: breaking change, examples, python, server

#11026 server : clean up built-in template detection
  common/common.cpp
  common/common.h
  examples/server/server.cpp
  examples/server/tests/unit/test_chat_completion.py
  examples/server/tests/utils.py
  examples/server/utils.hpp
Labels: examples, python, server

#11027 Fixes for AVXVNNI instruction set - Clang Compiler
  ggml/src/CMakeLists.txt
  ggml/src/ggml-cpu/CMakeLists.txt
  ggml/src/ggml-cpu/ggml-cpu-aarch64.cpp
  ggml/src/ggml-cpu/ggml-cpu-quants.c
  ggml/src/ggml-cpu/llamafile/sgemm.cpp
Labels: ggml
