Repository ggml-org/llama.cpp, pull requests merged in 2024-05, with the labels that each got.

#7079 nix: update flake.lock
  flake.lock
Labels: nix

#6766 Introduction of CUDA Graphs to LLama.cpp
  CMakeLists.txt
  Makefile
  ggml-cuda.cu
  ggml-cuda/clamp.cu
  ggml-cuda/common.cuh
  ggml-cuda/convert.cu
  ggml-cuda/cpy.cu
  ggml-cuda/cpy.cuh
  ggml-cuda/mmq.cu
  ggml-cuda/mmvq.cu
  ggml-cuda/scale.cu
Labels: performance, need feedback

#7075 convert-hf : save memory with lazy evaluation
  convert-hf-to-gguf.py
  convert.py
  examples/server/tests/features/steps/steps.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/gguf_reader.py
  gguf-py/gguf/gguf_writer.py
  gguf-py/gguf/vocab.py
  gguf-py/pyproject.toml
  gguf-py/scripts/gguf-dump.py
  gguf-py/scripts/gguf-new-metadata.py
  pyrightconfig.json
  requirements/requirements-convert-hf-to-gguf-update.txt
  requirements/requirements-convert-hf-to-gguf.txt
  requirements/requirements-convert.txt
Labels: enhancement, high priority, need feedback

#7173 Add warning if token is invalid in convert-hf-to-gguf-update.py
  convert-hf-to-gguf-update.py
Labels: easy to review, python

#7061 CUDA: generalize FP16 fattn vec kernel
  ggml-cuda/common.cuh
  ggml-cuda/fattn.cu
  llama.cpp
  tests/test-backend-ops.cpp
Labels: enhancement, review complexity : high

#6965 llama3 custom regex split
  convert-hf-to-gguf-update.py
  llama.cpp
  scripts/gen-unicode-data.py
  tests/test-tokenizer-random.py
  unicode-data.cpp
  unicode-data.h
  unicode.cpp
  unicode.h
Labels: enhancement, review complexity : medium

#7172 [SYCL] Minor arithmetic improvement to MMVQ wrapper kernel
  ggml-sycl.cpp
Labels: performance, review complexity : high

#7163 Fix moondream support
  README.md
  examples/llava/clip.cpp
Labels: bugfix, review complexity : medium

#7097 main-interactive-mode: optionally allow for special tokens from user in interactive mode for fill-in-middle etal
  common/common.cpp
  common/common.h
  examples/main/main.cpp
Labels: enhancement, review complexity : low

#7194 Fix memory bug in grammar parser
  common/common.cpp
  common/grammar-parser.cpp
  examples/llava/llava-cli.cpp
  examples/main/main.cpp
Labels: bugfix, review complexity : low

#7169 metal : fix flash attention kernel requirements
  ggml-metal.m
Labels: need feedback, bugfix, review complexity : high

#7199 llama-bench : add pp+tg test type
  examples/llama-bench/README.md
  examples/llama-bench/llama-bench.cpp
  scripts/compare-llama-bench.py
Labels: enhancement, testing, review complexity : medium

#7192 ggml : full ALiBi support
  convert-hf-to-gguf.py
  ggml-cuda.cu
  ggml-cuda/alibi.cu
  ggml-cuda/alibi.cuh
  ggml-cuda/fattn.cu
  ggml-cuda/softmax.cu
  ggml-kompute.cpp
  ggml-metal.m
  ggml-metal.metal
  ggml-sycl.cpp
  ggml-vulkan.cpp
  ggml.c
  ggml.h
  gguf-py/gguf/tensor_mapping.py
  llama.cpp
  tests/test-backend-ops.cpp
Labels: enhancement, model, refactoring, review complexity : high

#6826 feat: add potential to run Jina Embeddings architecture
  convert-hf-to-gguf-update.py
  convert-hf-to-gguf.py
  examples/embedding/embedding.cpp
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  llama.cpp
Labels: enhancement, review complexity : high

#7203 server: fix reported top tokens for temperature 0
  common/sampling.cpp
  common/sampling.h
  examples/server/server.cpp
Labels: bugfix, review complexity : low, server

#7193 fix : lookup word in vocab before doing BPE merges
  llama.cpp
  models/ggml-vocab-llama-bpe.gguf.inp
  models/ggml-vocab-llama-bpe.gguf.out
  tests/CMakeLists.txt
  tests/test-tokenizer-1-bpe.cpp
Labels: bugfix, review complexity : medium

#7212 [server] Cleanup a memory leak on exit
  examples/server/server.cpp
Labels: bugfix, review complexity : low, server

#7210 error capturing in convert-hf-to-gguf-update if repo not reachable due to lack of licensed access
  convert-hf-to-gguf-update.py
Labels: bugfix, review complexity : low

#7153 Server: Fix system_prompt handling
  examples/server/server.cpp
Labels: help wanted, bugfix, review complexity : low

#7096 Scripting & documenting debugging one test without anything else in the loop.
  docs/debugging-tests.md
  scripts/debug-test.sh
Labels: documentation, review complexity : low

#7204 remove convert-lora-to-ggml.py
  CMakeLists.txt
  ci/run.sh
  convert-lora-to-ggml.py
  requirements.txt
  requirements/requirements-convert-lora-to-ggml.txt
Labels: refactoring, review complexity : low

#7188 CUDA: add FP32 FlashAttention vector kernel
  ggml-cuda.cu
  ggml-cuda/common.cuh
  ggml-cuda/fattn-common.cuh
  ggml-cuda/fattn-vec-f16.cu
  ggml-cuda/fattn-vec-f16.cuh
  ggml-cuda/fattn-vec-f32.cu
  ggml-cuda/fattn-vec-f32.cuh
  ggml-cuda/fattn.cu
  tests/test-backend-ops.cpp
Labels: performance, Nvidia GPU, review complexity : high

#7235 [SYCL]update CI with oneapi 2024.1
  .github/workflows/build.yml
Labels: review complexity : medium, devops

#7241 [SYCL] Add oneapi runtime dll files to win release package
  .github/workflows/build.yml
Labels: build, review complexity : low

#7226 change default temperature of OAI compat API from 0 to 1
  examples/server/tests/features/steps/steps.py
  examples/server/utils.hpp
Labels: examples, review complexity : low, server/api

#4858 convert.py: Outfile default name change and additional metadata support
  convert.py
Labels: need feedback

#7249 refactor: rename jina tokenizers to v2
  convert-hf-to-gguf-update.py
  convert-hf-to-gguf.py
  llama.cpp
Labels: refactoring, review complexity : low

#7233 [SYCL]rm wait() to improve the performance
  ggml-sycl.cpp
Labels: review complexity : high, ggml

#7150 perplexity: add BF16 vs. FP16 results
  examples/perplexity/README.md
Labels: documentation, need feedback, review complexity : low

#7248 llava-cli: fix base64 prompt
  examples/llava/llava-cli.cpp
Labels: bugfix, review complexity : low

#7257 llama : less KV padding when FA is off
  llama.cpp
Labels: refactoring, review complexity : medium

#7026 docs: Fix typo and update description for --embeddings flag
  examples/server/README.md
Labels: documentation, review complexity : low, merging soon

#7083 Add left recursion check: quit early instead of going into an infinite loop
  llama.cpp
  tests/test-grammar-integration.cpp
Labels: bugfix, review complexity : medium

#6951 move ndk code to a new library
  examples/llama.android/app/build.gradle.kts
  examples/llama.android/app/src/main/java/com/example/llama/MainViewModel.kt
  examples/llama.android/build.gradle.kts
  examples/llama.android/llama/.gitignore
  examples/llama.android/llama/CMakeLists.txt
  examples/llama.android/llama/consumer-rules.pro
  examples/llama.android/llama/proguard-rules.pro
  examples/llama.android/llama/src/androidTest/java/android/llama/cpp/ExampleInstrumentedTest.kt
  examples/llama.android/llama/src/main/AndroidManifest.xml
  examples/llama.android/llama/src/main/cpp/CMakeLists.txt
  examples/llama.android/llama/src/main/cpp/llama-android.cpp
  examples/llama.android/llama/src/main/java/android/llama/cpp/LLamaAndroid.kt
  examples/llama.android/llama/src/test/java/android/llama/cpp/ExampleUnitTest.kt
  examples/llama.android/settings.gradle.kts
Labels: android, refactoring, review complexity : low

#7265 llama : disable pipeline parallelism with nkvo
  llama.cpp
Labels: bugfix, review complexity : low, merging soon

#6829 ggml : add RPC backend
  .github/workflows/build.yml
  CMakeLists.txt
  common/common.cpp
  common/common.h
  examples/CMakeLists.txt
  examples/rpc/CMakeLists.txt
  examples/rpc/README.md
  examples/rpc/rpc-server.cpp
  ggml-rpc.cpp
  ggml-rpc.h
  llama.cpp
  llama.h
Labels: enhancement, review complexity : high

#7282 Revert "move ndk code to a new library"
  examples/llama.android/app/build.gradle.kts
  examples/llama.android/app/src/main/cpp/CMakeLists.txt
  examples/llama.android/app/src/main/cpp/llama-android.cpp
  examples/llama.android/app/src/main/java/com/example/llama/Llm.kt
  examples/llama.android/app/src/main/java/com/example/llama/MainViewModel.kt
  examples/llama.android/build.gradle.kts
  examples/llama.android/llama/.gitignore
  examples/llama.android/llama/CMakeLists.txt
  examples/llama.android/llama/consumer-rules.pro
  examples/llama.android/llama/proguard-rules.pro
  examples/llama.android/llama/src/androidTest/java/android/llama/cpp/ExampleInstrumentedTest.kt
  examples/llama.android/llama/src/main/AndroidManifest.xml
  examples/llama.android/llama/src/test/java/android/llama/cpp/ExampleUnitTest.kt
  examples/llama.android/settings.gradle.kts
Labels: build, review complexity : low

#7264 server: free sampling contexts on exit
  examples/server/server.cpp
Labels: examples, review complexity : low

#7278 ggml : fa without mask + add asserts
  ggml-metal.m
  ggml-metal.metal
  ggml.c
  ggml.h
  tests/test-backend-ops.cpp
Labels: refactoring, review complexity : high

#7284 server bench: fix bench not waiting for model load
  examples/server/bench/bench.py
Labels: examples, review complexity : low, python

#7297 embedding: free the batch after execution
  examples/embedding/embedding.cpp
Labels: bugfix, review complexity : low

#7290 ggml : tag ggml_tensor::backend as deprecated
  examples/llava/llava.cpp
  ggml-backend.c
  ggml.c
  ggml.h
Labels: refactoring, review complexity : medium

#7302 Avoid unnecessarily disabling CUDA graphs
  ggml-cuda.cu
Labels: Nvidia GPU, review complexity : low

#6915 ggml : use dynamic thread scheduling for matrix multiplication
  ggml.c
Labels: enhancement, review complexity : high

#7191 Add support for properly optimized Windows ARM64 builds with LLVM and MSVC
  .github/workflows/build.yml
  CMakeLists.txt
  CMakePresets.json
  cmake/arm64-windows-llvm.cmake
  cmake/arm64-windows-msvc.cmake
  common/log.h
  ggml-quants.c
Labels: review complexity : high, devops

#7317 ci: fix bin/Release path for windows-arm64 builds
  .github/workflows/build.yml
Labels: bugfix, review complexity : low, devops, merging soon

#7288 doc: add references to hugging face GGUF-my-repo quantisation web tool.
  README.md
  examples/quantize/README.md
Labels: documentation, review complexity : low, merging soon

#7273 grammar, json, llama: replace push on emplace if it possible
  common/grammar-parser.cpp
  common/json-schema-to-grammar.cpp
  llama.cpp
Labels: refactoring, review complexity : low, merging soon

#5615 convert : get general.name from model dir, not its parent
  convert.py
Labels: refactoring, review complexity : low, merging soon

#7304 rpc : add command line arg for specifying backend memory
  examples/rpc/README.md
  examples/rpc/rpc-server.cpp
  ggml-rpc.cpp
Labels: enhancement, review complexity : low, server, merging soon

#7319 rpc : get available mem for the CPU backend
  examples/rpc/rpc-server.cpp
Labels: examples, review complexity : low, server

#7335 [Server] Added --verbose option to README
  examples/server/README.md
Labels: documentation, review complexity : low

#7154 ggml : rewrite silu and softmax for cpu
  ggml.c
Labels: refactoring, review complexity : high, merging soon

#7305 server : add support for the RPC backend
  examples/server/server.cpp
Labels: review complexity : low, server

#7308 Qwen/Qwen-7b HF to GGUF Conversion Support Fix
  convert-hf-to-gguf.py
Labels: python, review complexity : medium

#7274 ggml-quants, llama: removed excess checks, it has already been checked before
  common/common.cpp
  ggml-quants.c
  llama.cpp
Labels: refactoring, review complexity : medium

#7332 tokenization: add warning for double BOS
  llama.cpp
Labels: enhancement, review complexity : low

#7327 llama : use n_embd_head_v instead of n_embd_head_k when reshaping kqv
  llama.cpp
Labels: bugfix, review complexity : medium

#7279 Added a single test function script and fix debug-test.sh to be more robust
  docs/debugging-tests.md
  scripts/debug-test.sh
Labels: script, review complexity : low

#7320 rpc : set SO_REUSEADDR for the server socket
  examples/rpc/rpc-server.cpp
  ggml-rpc.cpp
Labels: review complexity : low, server

#5966 ROCm: use native CMake HIP support
  .devops/nix/package.nix
  .github/workflows/build.yml
  CMakeLists.txt
  Makefile
  README.md
Labels: enhancement, review complexity : medium

#7314 CUDA: faster large batch FA without tensor cores
  ggml-cuda/fattn-tile-f16.cu
  ggml-cuda/fattn-tile-f16.cuh
  ggml-cuda/fattn-tile-f32.cu
  ggml-cuda/fattn-tile-f32.cuh
  ggml-cuda/fattn-vec-f16.cu
  ggml-cuda/fattn-vec-f32.cu
  ggml-cuda/fattn.cu
Labels: Nvidia GPU, review complexity : high

#7313 ggml : fix quants nans when all the group weights are very close to zero
  ggml-quants.c
  tests/test-backend-ops.cpp
Labels: bugfix, review complexity : medium

#6866 convert : fix set_vocab_sentencepiece
  convert-hf-to-gguf.py
Labels: need feedback, bugfix, review complexity : low, merging soon

#7330 github-actions-labeler: initial commit
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: review complexity : medium, devops

#7348 Fix floating point error with ndot progress printing in Perplexity and show stats with < 100 tasks
  examples/perplexity/perplexity.cpp
Labels: bugfix, review complexity : low

#7324 Add support for larger Granite Code Models (20B, 34B)
  llama.cpp
Labels: model, review complexity : medium

#7263 cuda : add half2 __shfl_xor() for ROCm 5.5
  ggml-cuda/common.cuh
Labels: Nvidia GPU, review complexity : medium

#7362 server: correct --threads documentation [no ci]
  examples/server/README.md
Labels: documentation, review complexity : low, merging soon

#7352 CUDA: deduplicate FlashAttention code
  ggml-cuda/common.cuh
  ggml-cuda/fattn-common.cuh
  ggml-cuda/fattn-tile-f16.cu
  ggml-cuda/fattn-tile-f32.cu
  ggml-cuda/fattn-vec-f16.cu
  ggml-cuda/fattn-vec-f32.cu
  ggml-cuda/fattn.cu
  ggml-cuda/softmax.cu
Labels: refactoring, Nvidia GPU, review complexity : high, merging soon

#7341 android : use "ci-android" branch for CI
  examples/llama.android/app/src/main/cpp/CMakeLists.txt
  ggml.c
Labels: high priority, android, examples, review complexity : low, devops, merging soon

#7358 ci : re-enable sanitizer runs
  .github/workflows/build.yml
  .github/workflows/server.yml
  CMakeLists.txt
Labels: high priority, build, review complexity : low, devops, merging soon

#7298 Capture CUDA logging output
  ggml-cuda.cu
  ggml-cuda.h
  llama.cpp
Labels: enhancement, Nvidia GPU, review complexity : medium, ggml

#7363 labeler.yml: Use settings from ggerganov/llama.cpp [no ci]
  .github/workflows/labeler.yml
Labels: review complexity : low, devops

#7349 Add StableLM2 pre-tokenizer
  convert-hf-to-gguf-update.py
  convert-hf-to-gguf.py
  llama.cpp
  llama.h
Labels: model, review complexity : low, python

#7382 server: fix seed being reported back
  examples/server/server.cpp
Labels: examples, server

#7347 server: add test for token probs
  examples/server/README.md
  examples/server/tests/features/results.feature
  examples/server/tests/features/steps/steps.py
Labels: enhancement, testing, examples, python, review complexity : medium, server

#7374 fix inverted strcmp checking for `quantize --keep-split`
  examples/quantize/quantize.cpp
Labels: examples

#7395 llama : remove MPI backend
  .devops/nix/package.nix
  .github/workflows/build.yml
  CMakeLists.txt
  Makefile
  README.md
  ggml-mpi.c
  ggml-mpi.h
  llama.cpp
  scripts/LlamaConfig.cmake.in
Labels: build, script, nix, devops, ggml

#7258 Windows support for AVX512_BF16 and associated bug fixes for BF16 model
  CMakeLists.txt
  ggml-impl.h
  ggml.c
  ggml.h
  llama.cpp
Labels: build, bugfix, review complexity : high, merging soon

#7389 server : return error on too large embedding input
  examples/server/server.cpp
Labels: refactoring, examples, review complexity : low, server

#7388 server : tuning tests
  examples/server/tests/features/results.feature
  examples/server/tests/features/steps/steps.py
Labels: refactoring, examples, review complexity : low, python, server

#6454 add loongarch lsx and lasx optimize code
  CMakeLists.txt
  Makefile
  ggml-impl.h
  ggml-quants.c
  ggml.c
Labels: performance, build, review complexity : high, ggml

#7272 ggml-opencl, llama: using reserve() if count already known
  ggml-opencl.cpp
  llama.cpp
Labels: refactoring, review complexity : high

#7321 [SYCL] Update SYCL upscale operation
  ggml-sycl.cpp
Labels: generation quality, review complexity : medium, SYCL

#7409 server : fix temperature + disable some tests
  .github/workflows/server.yml
  examples/server/tests/features/results.feature
Labels: examples, review complexity : low, devops, server, merging soon

#7411 rpc : track allocated buffers
  ggml-rpc.cpp
Labels: review complexity : medium, server

#7413 perplexity: update README FP16 results [no ci]
  examples/perplexity/README.md
Labels: documentation, examples

#7397 CUDA: deduplicate mmq code
  ggml-cuda/mmq.cu
Labels: refactoring, Nvidia GPU, review complexity : high, ggml

#7353 examples: cache hf model when --model not provided
  common/common.cpp
  common/common.h
  examples/main/README.md
Labels: enhancement, examples, review complexity : low

#7442 CUDA: fix unused warning in mmq.cu
  ggml-cuda/mmq.cu
Labels: Nvidia GPU, review complexity : low, merging soon

#7424 `grammars`: fix resampling logic regression
  common/sampling.cpp
  examples/main/main.cpp
Labels: performance, examples, review complexity : low

#7434 metal : handle -inf values in FA kernel
  ggml-metal.metal
Labels: review complexity : high

#7225 Add phi3 128K model support
  convert-hf-to-gguf.py
  examples/finetune/finetune.cpp
  examples/train-text-from-scratch/train-text-from-scratch.cpp
  ggml-cuda/rope.cu
  ggml-kompute.cpp
  ggml-metal.m
  ggml-metal.metal
  ggml-sycl.cpp
  ggml-vulkan.cpp
  ggml.c
  ggml.h
  gguf-py/gguf/constants.py
  gguf-py/gguf/gguf_writer.py
  llama.cpp
  tests/test-backend-ops.cpp
Labels: model, testing, Nvidia GPU, Vulkan, examples, python, review complexity : high, ggml, merging soon, SYCL

#7452 cuda : fix rope pos data
  ggml-cuda/rope.cu
  ggml.c
  ggml.h
  tests/test-backend-ops.cpp
Labels: Nvidia GPU, ggml

#7454 CUDA: remove incorrect precision check
  ggml-cuda/fattn-tile-f32.cu
Labels: Nvidia GPU, ggml

#7445 Add missing model type names
  llama.cpp
Labels: bugfix, review complexity : low, merging soon

#7426 vulkan: fix clang-cl debug build
  CMakeLists.txt
Labels: build, Vulkan, review complexity : low

#7447 phi3 : duplicate rope factors in each layer
  examples/llama-bench/llama-bench.cpp
  llama.cpp
Labels: model, examples, review complexity : medium

#7465 CUDA: fix FA out-of-bounds writes
  ggml-cuda/fattn-tile-f16.cu
  ggml-cuda/fattn-tile-f32.cu
  ggml-cuda/fattn-vec-f16.cu
  ggml-cuda/fattn-vec-f32.cu
Labels: Nvidia GPU, ggml

#7462 common : normalize naming style
  build.zig
  common/common.cpp
  common/common.h
  common/sampling.cpp
  common/sampling.h
  common/train.cpp
  examples/batched/batched.cpp
  examples/embedding/embedding.cpp
  examples/eval-callback/eval-callback.cpp
  examples/imatrix/imatrix.cpp
  examples/infill/infill.cpp
  examples/llama-bench/llama-bench.cpp
  examples/llava/llava-cli.cpp
  examples/lookahead/lookahead.cpp
  examples/lookup/lookup.cpp
  examples/main/main.cpp
  examples/parallel/parallel.cpp
  examples/perplexity/perplexity.cpp
  examples/quantize/quantize.cpp
  examples/retrieval/retrieval.cpp
  examples/server/server.cpp
Labels: refactoring, examples, review complexity : medium, server

#7350 SimpleChat: a simple and dumb web front end for testing /chat/completions and /completions end points and try chat
  examples/server/public_simplechat/index.html
  examples/server/public_simplechat/readme.md
  examples/server/public_simplechat/simplechat.css
  examples/server/public_simplechat/simplechat.js
Labels: enhancement, testing, examples, review complexity : medium, server, merging soon

#7479 CUDA: fix FA out-of-bounds reads
  ggml-cuda/fattn-tile-f16.cu
  ggml-cuda/fattn-tile-f32.cu
  ggml-cuda/fattn-vec-f16.cu
  ggml-cuda/fattn-vec-f32.cu
Labels: Nvidia GPU, ggml

#7473 ggml : drop support for QK_K=64
  CMakeLists.txt
  Makefile
  ci/run.sh
  ggml-common.h
  ggml-cuda/convert.cu
  ggml-cuda/dmmv.cu
  ggml-cuda/mmq.cu
  ggml-cuda/vecdotq.cuh
  ggml-metal.m
  ggml-metal.metal
  ggml-opencl.cpp
  ggml-quants.c
  ggml-sycl.cpp
  ggml.c
  gguf-py/gguf/constants.py
  llama.cpp
Labels: build, refactoring, Nvidia GPU, python, review complexity : medium, devops, ggml, SYCL

#7463 ggml : remove ggml_flash_attn and ggml_flash_ff
  examples/finetune/finetune.cpp
  examples/train-text-from-scratch/train-text-from-scratch.cpp
  ggml.c
  ggml.h
  tests/test-grad0.cpp
Labels: testing, examples, review complexity : medium

#7482 labeler.yml: add embedding label detector
  .github/labeler.yml
Labels: review complexity : low, devops

#7461 Add missing inference support for GPTNeoXForCausalLM (Pythia and GPT-NeoX base models)
  convert-hf-to-gguf.py
  llama.cpp
Labels: model, python, review complexity : medium

#7470 ci : start using Pythia models over OpenLlama
  ci/run.sh
  llama.cpp
Labels: review complexity : medium, devops

#7464 llama : add getters for n_threads/n_threads_batch
  llama.cpp
  llama.h
Labels: enhancement, review complexity : low, devops

#7469 Added Bunny in Supported Models [no ci]
  README.md
Labels: documentation, review complexity : low

#7449 Fix phi3 chat template confusion with zephyr
  llama.cpp
  tests/test-chat-template.cpp
Labels: model, testing, review complexity : low

#7438 [SYCL ]add build shared lib in win release package
  examples/sycl/win-build-sycl.bat
Labels: build, examples, review complexity : low

#7515 docker.yml: disable light-intel and server-intel test
  .github/workflows/docker.yml
Labels: review complexity : low, devops, merging soon

#7232 nix: update flake.lock
  flake.lock
Labels: nix, review complexity : medium

#7483 gguf-py : fix and simplify quantized shape round-trip
  convert-hf-to-gguf.py
  gguf-py/gguf/gguf_reader.py
  gguf-py/gguf/gguf_writer.py
  gguf-py/gguf/quants.py
  gguf-py/scripts/gguf-new-metadata.py
Labels: bugfix, review complexity : low, python, merging soon

#6188 Make tokenize CLI tool have nicer command line arguments.
  examples/tokenize/tokenize.cpp
Labels: enhancement, examples, review complexity : medium, merging soon

#7502 Android module
  examples/llama.android/app/build.gradle.kts
  examples/llama.android/app/src/main/java/com/example/llama/MainViewModel.kt
  examples/llama.android/build.gradle.kts
  examples/llama.android/llama/.gitignore
  examples/llama.android/llama/CMakeLists.txt
  examples/llama.android/llama/build.gradle.kts
  examples/llama.android/llama/consumer-rules.pro
  examples/llama.android/llama/proguard-rules.pro
  examples/llama.android/llama/src/androidTest/java/android/llama/cpp/ExampleInstrumentedTest.kt
  examples/llama.android/llama/src/main/AndroidManifest.xml
  examples/llama.android/llama/src/main/cpp/CMakeLists.txt
  examples/llama.android/llama/src/main/cpp/llama-android.cpp
  examples/llama.android/llama/src/main/java/android/llama/cpp/LLamaAndroid.kt
  examples/llama.android/llama/src/test/java/android/llama/cpp/ExampleUnitTest.kt
  examples/llama.android/settings.gradle.kts
Labels: android, examples, review complexity : medium

#7433 ggml: aarch64: implement SVE kernels for q8_0_q8_0, q4_0_q8_0 vector dot
  CMakeLists.txt
  common/common.cpp
  ggml-impl.h
  ggml-quants.c
  ggml.c
  ggml.h
  llama.cpp
Labels: build, review complexity : high, ggml

#6923 main : don't print special tokens with --grammar
  common/common.cpp
  common/common.h
  examples/main/main.cpp
  llama.cpp
  llama.h
Labels: examples, bugfix, review complexity : low, merging soon

#7529 labeler: added Apple Metal detector (+Kompute)
  .github/labeler.yml
Labels: review complexity : low, devops, Apple Metal, Kompute

#7480 SimpleChat Completion Mode flexibility and cleanup, Settings gMe, Optional sliding window
  examples/server/public_simplechat/index.html
  examples/server/public_simplechat/readme.md
  examples/server/public_simplechat/simplechat.css
  examples/server/public_simplechat/simplechat.js
Labels: examples, review complexity : low, server, merging soon

#7402 Add Smaug 70B support to conversion
  convert-hf-to-gguf-update.py
  convert-hf-to-gguf.py
  llama.cpp
  llama.h
Labels: enhancement, model, review complexity : low, python

#7539 Fix aya-23 conversion script
  convert-hf-to-gguf.py
Labels: python

#7534 main: replace --no-special with --special (and also set control token output to stdout to off by default)
  common/common.cpp
  common/common.h
  examples/main/main.cpp
Labels: examples, bugfix, review complexity : low, merging soon

#7540 nix: update flake.lock
  flake.lock
Labels: nix

#7543 github: add self sorted issue ticket forms
  .github/ISSUE_TEMPLATE/01-bug-low.yml
  .github/ISSUE_TEMPLATE/02-bug-medium.yml
  .github/ISSUE_TEMPLATE/03-bug-high.yml
  .github/ISSUE_TEMPLATE/04-bug-critical.yml
  .github/ISSUE_TEMPLATE/05-enhancement.yml
  .github/ISSUE_TEMPLATE/06-question.yml
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/enhancement.md
Labels: review complexity : low, devops

#7459 [SYCL] Prevent q_xxs using mul_mat_q
  ggml-sycl.cpp
Labels: review complexity : medium, SYCL

#7542 make: add --device-debug to NVCC debug flags
  Makefile
Labels: review complexity : low

#7574 Fix missing option in visual studio.
  CMakePresets.json
Labels: build

#7414 update HIP_UMA #7399
  ggml-cuda.cu
  ggml-cuda/common.cuh
Labels: enhancement, performance, need feedback, Nvidia GPU, review complexity : medium, ggml

#7580 llava : update clip.h
  examples/llava/clip.h
Labels: examples, review complexity : low

#7524 server: do not remove whitespace at the start of a completion chunk
  examples/server/public/index.html
Labels: examples, review complexity : low, server, merging soon

#7563 ggml : generalize GGML_OP_CONCAT
  ggml-cuda/concat.cu
  ggml-metal.m
  ggml-metal.metal
  ggml-sycl.cpp
  ggml.c
  ggml.h
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, review complexity : high, ggml, SYCL

#7436 [SYCL]fix ggml_sycl_mul_mat_id() to match the change of api
  ggml-sycl.cpp
Labels: review complexity : high, SYCL

#7561 github: add refactor to issue template
  .github/ISSUE_TEMPLATE/05-enhancement.yml
  .github/ISSUE_TEMPLATE/06-question.yml
  .github/ISSUE_TEMPLATE/07-refactor.yml
Labels: review complexity : low, devops

#7562 rpc : resource management rework
  ggml-rpc.cpp
Labels: refactoring, review complexity : medium

#7481 llama: extend for small granite models
  convert-hf-to-gguf.py
  llama.cpp
Labels: model, python, review complexity : medium

#7566 [SYCL] Align GEMM dispatch
  CMakeLists.txt
  README.md
  ggml-sycl.cpp
Labels: build, review complexity : medium, SYCL

#7603 fix typo in ggml.c
  ggml.c
Labels: ggml

#7605 [Readme-SYCL][no ci]Added Arc A750 and Arch linux to readme-sycl.md as verified
  README-sycl.md
Labels: documentation, review complexity : low, SYCL

#7435 llama-bench : add support for the RPC backend
  examples/llama-bench/llama-bench.cpp
  ggml.c
  ggml.h
Labels: examples, review complexity : low, ggml

#7610 cuda : non-cont concat support
  ggml-cuda/concat.cu
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, review complexity : high, ggml

#7617 ggml : fix YARN + add tests + add asserts
  ggml-cuda.cu
  ggml-cuda/norm.cu
  ggml-cuda/rope.cu
  ggml-kompute.cpp
  ggml-metal.m
  ggml-metal.metal
  ggml-sycl.cpp
  ggml.c
  ggml.h
  ggml_vk_generate_shaders.py
  llama.cpp
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, Vulkan, python, review complexity : medium, ggml, SYCL, Kompute

#7627 Add tokenizer.ggml.pre to gguf-new-metadata.py
  gguf-py/scripts/gguf-new-metadata.py
Labels: review complexity : low, python, merging soon

#7630 [SYCL] fix intel docker
  .devops/main-intel.Dockerfile
  .devops/server-intel.Dockerfile
  .github/workflows/docker.yml
Labels: review complexity : low, devops, merging soon

#7618 README: explain parallel build [no ci]
  README.md
Labels: documentation, review complexity : low, merging soon

#7551 faster avx512 exp implementation
  ggml.c
Labels: performance, refactoring, review complexity : high, ggml

#7430 Move convert.py to examples/convert-legacy-llama.py
  .devops/tools.sh
  CMakeLists.txt
  README.md
  ci/run.sh
  convert-hf-to-gguf.py
  docs/HOWTO-add-model.md
  examples/convert-legacy-llama.py
  examples/llava/MobileVLM-README.md
  examples/llava/README.md
  examples/llava/requirements.txt
  examples/make-ggml.py
  gguf-py/gguf/vocab.py
  requirements.txt
  requirements/requirements-convert-hf-to-gguf-update.txt
  requirements/requirements-convert-hf-to-gguf.txt
  requirements/requirements-convert-legacy-llama.txt
  requirements/requirements-convert-llama-ggml-to-gguf.txt
  scripts/check-requirements.sh
  scripts/convert-gg.sh
  scripts/pod-llama.sh
Labels: documentation, build, script, examples, review complexity : low, python, devops, merging soon

#7612 github: add contact links to issues and convert question into researc…
  .github/ISSUE_TEMPLATE/06-question.yml
  .github/ISSUE_TEMPLATE/06-research.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: review complexity : low, devops

#7616 Extend README with brew installation instruction [no ci]
  README.md
Labels: documentation, review complexity : low, merging soon
