Repository ggml-org/llama.cpp, pull requests merged in 2024-04, with the labels that each got.

#6402 nix: update flake.lock
  flake.lock
Labels: nix

#6387 ggml : update mul_mat_id to use the same tensor for all the experts
  convert-hf-to-gguf.py
  convert.py
  examples/imatrix/imatrix.cpp
  examples/quantize/quantize.cpp
  ggml-cuda.cu
  ggml-cuda/argsort.cu
  ggml-metal.m
  ggml-metal.metal
  ggml.c
  ggml.h
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  gguf-py/pyproject.toml
  llama.cpp
  tests/test-backend-ops.cpp
Labels: breaking change

#6466 ci: bench: add more ftype, fix triggers and bot comment
  .github/workflows/bench.yml
  examples/server/bench/bench.py
  examples/server/bench/script.js
Labels: performance, server/webui

#6517 nix: update flake.lock
  flake.lock
Labels: nix

#6565 docs: how to add a model
  README.md
  docs/HOWTO-add-model.md
Labels: documentation, model, need feedback

#6576 eval-callback: Example how to use eval callback for debugging
  .github/workflows/build.yml
  .gitignore
  Makefile
  common/common.cpp
  common/common.h
  docs/HOWTO-add-model.md
  examples/CMakeLists.txt
  examples/eval-callback/CMakeLists.txt
  examples/eval-callback/README.md
  examples/eval-callback/eval-callback.cpp
  examples/imatrix/imatrix.cpp
  llama.cpp
Labels: model, demo

#6637 server: coherent log output for KV cache full
  examples/server/server.cpp
Labels: server/webui

#6515 model: support arch `DbrxForCausalLM`
  README.md
  convert-hf-to-gguf.py
  examples/eval-callback/eval-callback.cpp
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  llama.cpp
  scripts/get-wikitext-2.sh
Labels: help wanted, model, need feedback

#6655 Fix --split-max-size
  ci/run.sh
  examples/gguf-split/README.md
  examples/gguf-split/gguf-split.cpp
  examples/gguf-split/tests.sh
Labels: split

#6669 nix: update flake.lock
  flake.lock
Labels: nix

#6765 server: static: upstream upgrade
  examples/server/index.js.hpp
  examples/server/public/index.js
Labels: server/webui

#6799 nix: update flake.lock
  flake.lock
Labels: nix

#6781 ci: fix job are cancelling each other
  .github/workflows/bench.yml
  .github/workflows/server.yml
Labels: build

#6688 Implement '--keep-split' to quantize model into several shards
  examples/quantize/quantize.cpp
  examples/quantize/test.sh
  llama.cpp
  llama.h
Labels: split

#6917 ci: fix concurrency for pull_request_target (again)
  .github/workflows/bench.yml
  .github/workflows/server.yml
Labels: build

#6918 ci: server: fix python installation
  .github/workflows/server.yml
Labels: testing, server/webui

#6922 ci: server: fix python installation again
  .github/workflows/server.yml
Labels: build, server/webui

#6638 server: stop generation at `n_ctx_train` if `n_predict` is not set
  examples/server/server.cpp
Labels: server/webui

#6658 `quantize`: add imatrix and dataset metadata in GGUF
  Makefile
  common/common.cpp
  common/common.h
  examples/imatrix/imatrix.cpp
  examples/quantize/CMakeLists.txt
  examples/quantize/quantize.cpp
  examples/server/server.cpp
  llama.cpp
  llama.h
Labels: model, generation quality, need feedback

#6952 nix: update flake.lock
  flake.lock
Labels: nix

#5021 ggml : add Flash Attention
  ci/run.sh
  common/common.cpp
  common/common.h
  examples/batched-bench/batched-bench.cpp
  examples/llama-bench/llama-bench.cpp
  examples/server/bench/bench.py
  examples/server/server.cpp
  ggml-cuda.cu
  ggml-cuda/common.cuh
  ggml-cuda/fattn.cu
  ggml-cuda/fattn.cuh
  ggml-cuda/softmax.cu
  ggml-kompute.cpp
  ggml-metal.m
  ggml-metal.metal
  ggml-sycl.cpp
  ggml-vulkan.cpp
  ggml.c
  ggml.h
  llama.cpp
  llama.h
  tests/test-backend-ops.cpp
Labels: performance, need feedback
