Repository ggml-org/llama.cpp, pull requests merged in 2024-07, with the labels that each got.

#8235 nix : remove OpenCL remnants
  .devops/nix/package.nix
Labels: nix, devops

#8043 enable curl in nix build
  .devops/nix/package.nix
Labels: nix, Review Complexity : Low, devops

#8209 [no ci] Added gppm to Tool list in README
  README.md
Labels: Review Complexity : Low

#8227 gemma2: add sliding window mask
  README.md
  convert-hf-to-gguf.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/gguf_writer.py
  src/llama.cpp
Labels: help wanted, python, merge ready

#8215 CUDA: refactor and optimize IQ MMVQ
  ggml/src/ggml-common.h
  ggml/src/ggml-cuda.cu
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/fattn-common.cuh
  ggml/src/ggml-cuda/mmvq.cu
  ggml/src/ggml-cuda/vecdotq.cuh
  ggml/src/ggml-sycl/mmvq.cpp
  ggml/src/ggml-sycl/vecdotq.hpp
Labels: Nvidia GPU, Review Complexity : High, ggml

#8244 Fix gemma2 tokenizer convert
  convert-hf-to-gguf.py
Labels: python

#8106 [SYCL] Fix the sub group size of Intel
  ggml/src/CMakeLists.txt
  ggml/src/ggml-sycl.cpp
  ggml/src/ggml-sycl/backend.hpp
  ggml/src/ggml-sycl/common.hpp
  ggml/src/ggml-sycl/dmmv.cpp
  ggml/src/ggml-sycl/mmvq.cpp
  ggml/src/ggml-sycl/norm.cpp
  ggml/src/ggml-sycl/norm.hpp
  ggml/src/ggml-sycl/presets.hpp
Labels: build, Review Complexity : High, ggml, SYCL

#8230 [SYCL] Fix win build conflict of math library
  CMakePresets.json
  ggml/src/CMakeLists.txt
Labels: build

#8245 cuda : update supports_op for matrix multiplication
  ggml/src/ggml-cuda.cu
  tests/test-backend-ops.cpp
Labels: testing

#8181 convert-hf : print output file name when completed
  convert-hf-to-gguf.py
Labels: Review Complexity : Low, python

#8118 Add `JAIS` model(s)
  convert-hf-to-gguf-update.py
  convert-hf-to-gguf.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  include/llama.h
  src/llama.cpp
Labels: python, Review Complexity : Medium

#8255 Dequant improvements rebase
  ggml/src/ggml-sycl/common.hpp
  ggml/src/ggml-sycl/convert.cpp
  ggml/src/ggml-sycl/dequantize.hpp
Labels: SYCL

#8267 fix typo in comments of `ggml_mul_mat_id`
  ggml/src/ggml.c
Labels: ggml

#8262 Fix phi 3 conversion
  convert-hf-to-gguf.py
Labels: python

#8277 ppl : fix n_seq_max for perplexity
  examples/perplexity/perplexity.cpp
Labels: examples, Review Complexity : Low

#8085 gfx1010 optimizations
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/mmq.cuh
Labels: Nvidia GPU, Review Complexity : Low, ggml

#8248 convert : fix gemma v1 tokenizer convert
  convert-hf-to-gguf-update.py
  convert-hf-to-gguf.py
  models/ggml-vocab-bert-bge.gguf.inp
  models/ggml-vocab-bert-bge.gguf.out
  models/ggml-vocab-command-r.gguf.inp
  models/ggml-vocab-command-r.gguf.out
  models/ggml-vocab-deepseek-coder.gguf.inp
  models/ggml-vocab-deepseek-coder.gguf.out
  models/ggml-vocab-deepseek-llm.gguf.inp
  models/ggml-vocab-deepseek-llm.gguf.out
  models/ggml-vocab-falcon.gguf.inp
  models/ggml-vocab-falcon.gguf.out
  models/ggml-vocab-gpt-2.gguf.inp
  models/ggml-vocab-gpt-2.gguf.out
  models/ggml-vocab-llama-bpe.gguf.inp
  models/ggml-vocab-llama-bpe.gguf.out
  models/ggml-vocab-llama-spm.gguf.inp
  models/ggml-vocab-llama-spm.gguf.out
  models/ggml-vocab-mpt.gguf.inp
  models/ggml-vocab-mpt.gguf.out
  models/ggml-vocab-phi-3.gguf.inp
  models/ggml-vocab-phi-3.gguf.out
  models/ggml-vocab-qwen2.gguf.inp
  models/ggml-vocab-qwen2.gguf.out
  models/ggml-vocab-refact.gguf.inp
  models/ggml-vocab-refact.gguf.out
  models/ggml-vocab-starcoder.gguf.inp
  models/ggml-vocab-starcoder.gguf.out
Labels: python, Review Complexity : Medium

#8150 llama : suppress unref var in Windows MSVC
  src/llama.cpp
Labels: Review Complexity : Low

#8231 tests : add _CRT_SECURE_NO_WARNINGS for WIN32
  CMakeLists.txt
  src/CMakeLists.txt
Labels: build, Review Complexity : Low

#8299 tokenize : add --show-count (token) option
  examples/tokenize/tokenize.cpp
Labels: examples

#7359 OpenELM support
  convert_hf_to_gguf.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/gguf_writer.py
  gguf-py/gguf/tensor_mapping.py
  src/llama.cpp
Labels: model, python, Review Complexity : High

#8296 cli: add EOT when user hit Ctrl+C
  common/common.cpp
  examples/main/main.cpp
Labels: examples

#8286 [SYCL] replace get_work_group_size() by local cache for performance
  ggml/src/ggml-sycl.cpp
  ggml/src/ggml-sycl/common.hpp
  ggml/src/ggml-sycl/norm.cpp
Labels: ggml, SYCL

#8305 py : switch to snake_case
  README.md
  ci/run.sh
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  docs/HOWTO-add-model.md
  examples/convert_legacy_llama.py
  examples/finetune/convert_finetune_checkpoint_to_gguf.py
  examples/json_schema_pydantic_example.py
  examples/llava/MobileVLM-README.md
  examples/llava/README.md
  examples/llava/convert_image_encoder_to_gguf.py
  examples/llava/llava_surgery.py
  examples/llava/llava_surgery_v2.py
  examples/llava/requirements.txt
  examples/pydantic_models_to_grammar_examples.py
  examples/regex_to_grammar.py
  examples/server_embd.py
  examples/train-text-from-scratch/convert_train_checkpoint_to_gguf.py
  gguf-py/README.md
  gguf-py/scripts/__init__.py
  gguf-py/scripts/gguf_convert_endian.py
  gguf-py/scripts/gguf_dump.py
  gguf-py/scripts/gguf_new_metadata.py
  gguf-py/scripts/gguf_set_metadata.py
  requirements.txt
  requirements/requirements-convert_hf_to_gguf.txt
  requirements/requirements-convert_hf_to_gguf_update.txt
  requirements/requirements-convert_legacy_llama.txt
  requirements/requirements-convert_llama_ggml_to_gguf.txt
  scripts/check-requirements.sh
  scripts/convert-gg.sh
  scripts/pod-llama.sh
Labels: documentation, script, examples, python, devops

#8317 passkey : add short intro to README.md [no-ci]
  examples/passkey/README.md
Labels: examples

#8314 fix minor typos [no ci]
  examples/server/README.md
Labels: examples, server

#8311 CUDA: fix MMQ stream-k rounding if ne00 % 128 != 0
  ggml/src/ggml-cuda/mmq.cuh
Labels: Nvidia GPU, Review Complexity : Medium

#8087 Streamline embeddings from "non-embedding" models
  common/common.cpp
  common/common.h
  include/llama.h
  src/llama.cpp
Labels: Review Complexity : Low

#8309 CUDA: revert part of the RDNA1 optimizations
  ggml/src/ggml-cuda/mmq.cuh
Labels: Nvidia GPU

#8278 CUDA: MMQ support for iq4_nl, iq4_xs
  ggml/src/ggml-cuda/fattn-common.cuh
  ggml/src/ggml-cuda/mmq.cu
  ggml/src/ggml-cuda/mmq.cuh
  ggml/src/ggml-cuda/template-instances/generate_cu_files.py
  ggml/src/ggml-cuda/template-instances/mmq-instance-iq4_nl.cu
  ggml/src/ggml-cuda/template-instances/mmq-instance-iq4_xs.cu
  ggml/src/ggml-cuda/vecdotq.cuh
Labels: Nvidia GPU, python, Review Complexity : High

#8320 convert : remove AWQ remnants
  convert_hf_to_gguf.py
Labels: python

#8236 [SYCL] Enabled more data types for oneMKL's gemm_batch API
  ggml/src/ggml-sycl.cpp
  ggml/src/ggml-sycl/dpct/helper.hpp
Labels: Review Complexity : Medium, ggml, SYCL

#8325 Reorganize documentation pages
  .gitignore
  README.md
  docs/android.md
  docs/backend/BLIS.md
  docs/backend/SYCL.md
  docs/build.md
  docs/development/HOWTO-add-model.md
  docs/development/debugging-tests.md
  docs/development/llama-star/idea-arch.key
  docs/development/llama-star/idea-arch.pdf
  docs/development/token_generation_performance_tips.md
  docs/docker.md
  docs/install.md
  examples/quantize/README.md
Labels: documentation, examples

#8333 [no ci] add Build & Supported backends section to README
  README.md
  docs/build.md
Labels: documentation

#8337 server: Retrieve prompt template in /props
  examples/server/README.md
  examples/server/server.cpp
Labels: examples, server

#8344 finetune: Rename an old command name in finetune.sh
  examples/finetune/finetune.sh
Labels: examples

#8343 finetune: Rename command name in README.md
  examples/finetune/README.md
Labels: examples

#8335 py : use cpu-only torch in requirements.txt
  examples/llava/requirements.txt
  requirements/requirements-convert_hf_to_gguf.txt
  requirements/requirements-convert_hf_to_gguf_update.txt
Labels: examples, Review Complexity : Low, python

#8031 Support glm3 and glm4.
  convert_hf_to_gguf.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  include/llama.h
  src/llama.cpp
  tests/test-chat-template.cpp
Labels: testing, examples, python, Review Complexity : Medium, server

#8048 gguf-hash: model wide and per tensor hashing using xxhash and sha1
  Makefile
  examples/CMakeLists.txt
  examples/gguf-hash/CMakeLists.txt
  examples/gguf-hash/README.md
  examples/gguf-hash/deps/rotate-bits/package.json
  examples/gguf-hash/deps/rotate-bits/rotate-bits.h
  examples/gguf-hash/deps/sha1/package.json
  examples/gguf-hash/deps/sha1/sha1.c
  examples/gguf-hash/deps/sha1/sha1.h
  examples/gguf-hash/deps/sha256/package.json
  examples/gguf-hash/deps/sha256/sha256.c
  examples/gguf-hash/deps/sha256/sha256.h
  examples/gguf-hash/deps/xxhash/clib.json
  examples/gguf-hash/deps/xxhash/xxhash.c
  examples/gguf-hash/deps/xxhash/xxhash.h
  examples/gguf-hash/gguf-hash.cpp
  gguf-py/scripts/gguf_hash.py
Labels: examples, Review Complexity : Low, python, devops, merge ready

#8222 adding guile_llama_cpp to binding list
  README.md
Labels: Review Complexity : Low

#8200 Added checks for cmake,make and ctest in ci->run.sh
  ci/run.sh
Labels: Review Complexity : Low, devops

#8315 Update llama-cli documentation
  examples/main/README.md
Labels: examples

#8341 py : type-check all Python scripts with Pyright
  .devops/nix/package.nix
  .github/workflows/python-type-check.yml
  convert_hf_to_gguf.py
  convert_llama_ggml_to_gguf.py
  examples/convert_legacy_llama.py
  examples/finetune/convert_finetune_checkpoint_to_gguf.py
  examples/json_schema_pydantic_example.py
  examples/json_schema_to_grammar.py
  examples/llava/convert_image_encoder_to_gguf.py
  examples/llava/llava_surgery_v2.py
  examples/pydantic_models_to_grammar.py
  examples/pydantic_models_to_grammar_examples.py
  examples/server/bench/bench.py
  examples/server/tests/features/steps/steps.py
  examples/server/tests/requirements.txt
  examples/server_embd.py
  examples/train-text-from-scratch/convert_train_checkpoint_to_gguf.py
  ggml/ggml_vk_generate_shaders.py
  gguf-py/gguf/gguf_reader.py
  gguf-py/gguf/lazy.py
  gguf-py/scripts/__init__.py
  gguf-py/scripts/gguf_hash.py
  gguf-py/scripts/gguf_new_metadata.py
  gguf-py/tests/test_gguf.py
  pyrightconfig.json
  requirements/requirements-all.txt
  requirements/requirements-compare-llama-bench.txt
  requirements/requirements-pydantic.txt
  requirements/requirements-test-tokenizer-random.txt
  scripts/check-requirements.sh
  scripts/compare-llama-bench.py
  scripts/gen-unicode-data.py
  tests/test-tokenizer-random.py
Labels: script, testing, nix, Vulkan, examples, python, Review Complexity : Medium, devops, server, merge ready

#8351 infill : assert prefix/suffix tokens + remove old space logic
  common/log.h
  examples/infill/infill.cpp
Labels: examples

#8373 labeler : updated sycl backend to match new structure
  .github/labeler.yml
Labels: devops

#7472 gguf-py : do not use internal numpy types
  gguf-py/gguf/lazy.py
Labels: bugfix, Review Complexity : Low, python

#8370 cmake : allow external ggml
  CMakeLists.txt
Labels: build

#8372 sycl : Reenabled mmvq path for the SYCL Nvidia Backend
  ggml/src/ggml-sycl.cpp
Labels: ggml, SYCL

#8392 make/cmake: LLAMA_NO_CCACHE -> GGML_NO_CCACHE
  CMakeLists.txt
  Makefile
Labels: build, Review Complexity : Low

#8283 Deprecation warning to assist with migration to new binary names
  Makefile
  examples/deprecation-warning/README.md
  examples/deprecation-warning/deprecation-warning.cpp
Labels: examples

#8402 Server: Enable setting default sampling parameters via command-line
  examples/server/server.cpp
Labels: examples, server

#8407 Fix convert_hf_to_gguf.py space errors in code
  convert_hf_to_gguf.py
Labels: python

#8321 Fix converter for internlm2
  convert_hf_to_gguf.py
Labels: python

#8410 Gguf py rel pipeline
  gguf-py/README.md
  gguf-py/pyproject.toml
Labels: python

#5780 Arm AArch64: optimized GEMV and GEMM kernels for q4_0_q8_0, and q8_0_q8_0 quantization
  Makefile
  Package.swift
  docs/build.md
  examples/quantize/quantize.cpp
  ggml/include/ggml.h
  ggml/src/CMakeLists.txt
  ggml/src/ggml-aarch64.c
  ggml/src/ggml-aarch64.h
  ggml/src/ggml-common.h
  ggml/src/ggml-impl.h
  ggml/src/ggml-quants.c
  ggml/src/ggml.c
  include/llama.h
  src/llama.cpp
Labels: documentation, enhancement, build, examples, Review Complexity : Medium, ggml

#8306 ggml : remove K_QUANTS_PER_ITERATION
  Makefile
  README.md
  ggml/CMakeLists.txt
  ggml/src/CMakeLists.txt
  ggml/src/ggml-cuda/dmmv.cu
  ggml/src/ggml-sycl/dmmv.cpp
  ggml/src/ggml-sycl/presets.hpp
  ggml/src/ggml-vulkan.cpp
  ggml/src/vulkan-shaders/mul_mat_vec_base.comp
  ggml/src/vulkan-shaders/mul_mat_vec_q2_k.comp
  ggml/src/vulkan-shaders/mul_mat_vec_q3_k.comp
  ggml/src/vulkan-shaders/mul_mat_vec_q4_k.comp
  ggml/src/vulkan-shaders/mul_mat_vec_q6_k.comp
Labels: Nvidia GPU, Vulkan, ggml

#8394 ggml : move sgemm sources to llamafile subfolder
  Makefile
  ggml/CMakeLists.txt
  ggml/src/CMakeLists.txt
  ggml/src/ggml.c
  ggml/src/llamafile/sgemm.cpp
  ggml/src/llamafile/sgemm.h
Labels: ggml

#8256 [SYCL] Use multi_ptr to clean up deprecated warnings
  ggml/src/ggml-sycl/common.hpp
  ggml/src/ggml-sycl/convert.cpp
  ggml/src/ggml-sycl/mmq.cpp
  ggml/src/ggml-sycl/norm.cpp
  ggml/src/ggml-sycl/softmax.cpp
Labels: Review Complexity : Low, ggml, SYCL

#8418 Server: Update /props endpoint to correctly return default server parameters
  examples/server/server.cpp
Labels: examples, server

#8423 tokenize : add --no-parse-special option
  examples/tokenize/tokenize.cpp
Labels: enhancement, examples, Review Complexity : Low

#8416 CUDA: optimize and refactor MMQ
  ggml/src/ggml-cuda/mma.cuh
  ggml/src/ggml-cuda/mmq.cuh
  ggml/src/ggml-cuda/quantize.cu
  ggml/src/ggml-cuda/quantize.cuh
  ggml/src/ggml-cuda/vecdotq.cuh
Labels: Nvidia GPU, Review Complexity : High

#8414 cuda : suppress 'noreturn' warn in no_device_code
  ggml/src/ggml-cuda/common.cuh
Labels: Nvidia GPU

#8425 ggml : add NVPL BLAS support (#8329)
  Makefile
  ggml/src/ggml-blas.cpp
Labels: ggml

#8427 [SYCL] fix the mul_mat_id ut issues
  ggml/src/ggml-backend.c
  ggml/src/ggml-sycl.cpp
  src/llama.cpp
Labels: ggml, SYCL

#8433 ggml : minor naming changes
  examples/quantize-stats/quantize-stats.cpp
  ggml/include/ggml.h
  ggml/src/ggml-aarch64.c
  ggml/src/ggml-aarch64.h
  ggml/src/ggml-quants.c
  ggml/src/ggml-quants.h
  ggml/src/ggml.c
  tests/test-double-float.cpp
  tests/test-quantize-fns.cpp
  tests/test-quantize-perf.cpp
Labels: testing, examples, ggml

#8434 examples : sprintf -> snprintf
  examples/eval-callback/eval-callback.cpp
  examples/gguf-hash/gguf-hash.cpp
Labels: examples

#8237 Removing fsep token from GPTRefactForCausalLM
  convert_hf_to_gguf.py
Labels: python, Review Complexity : Medium

#8441 Docker: Fix filename for convert-hf-to-gguf.py in tools.sh
  .devops/tools.sh
Labels: devops

#8420 server: Ensure batches are either all embed or all completion (#8076)
  examples/server/server.cpp
Labels: examples, server

#8456 main : print error on empty input
  examples/main/main.cpp
Labels: examples

#8449 server : handle content array in chat API
  examples/server/utils.hpp
Labels: examples, server

#8447 metal : template-ify some of the kernels
  ggml/src/ggml-metal.m
  ggml/src/ggml-metal.metal
Labels: Review Complexity : High

#8228 llama : fix pre-tokenization of non-special added tokens
  convert_hf_to_gguf.py
  src/llama.cpp
  tests/test-tokenizer-0.cpp
  tests/test-tokenizer-random.py
Labels: generation quality, testing, bugfix, python, Review Complexity : Medium, merge ready

#8470 gguf_hash.py: Add sha256
  gguf-py/scripts/gguf_hash.py
Labels: Review Complexity : Low, python, merge ready

#8473 llama : fix Gemma-2 Query scaling factors
  convert_hf_to_gguf.py
  src/llama.cpp
Labels: Review Complexity : Low, python

#8475 nix: update flake.lock
  flake.lock
Labels: nix, Review Complexity : Medium

#8474 pydantic : replace uses of __annotations__ with get_type_hints
  examples/pydantic_models_to_grammar.py
  examples/pydantic_models_to_grammar_examples.py
  requirements/requirements-pydantic.txt
Labels: examples, bugfix, Review Complexity : Low, python

#8479 Vulkan MMQ Fix
  ggml/src/ggml-vulkan.cpp
  ggml/src/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, ggml

#8472 server: update README.md with llama-server --help's output [no ci]
  examples/server/README.md
Labels: examples, Review Complexity : Low, server

#8460 ggml : suppress unknown pragma 'GCC' on windows
  ggml/src/ggml-aarch64.c
Labels: Review Complexity : Low, ggml

#8494 fix ci
  examples/server/README.md
Labels: examples, server

#8332 Refactor lora adapter support
  common/common.cpp
  convert_hf_to_gguf.py
  convert_lora_to_gguf.py
  ggml/src/ggml-cuda.cu
  ggml/src/ggml.c
  gguf-py/gguf/constants.py
  gguf-py/gguf/gguf_writer.py
  gguf-py/gguf/quants.py
  include/llama.h
  requirements.txt
  requirements/requirements-convert_lora_to_gguf.txt
  src/llama.cpp
Labels: python, Review Complexity : Medium, ggml, merge ready

#8482 convert_hf : faster lazy safetensors
  convert_hf_to_gguf.py
  gguf-py/gguf/lazy.py
  gguf-py/gguf/tensor_mapping.py
Labels: Review Complexity : Low, python, merge ready

#8497 handle export-lora help argument
  examples/export-lora/export-lora.cpp
Labels: examples

#8491 Update clib.json to point to Cyan4973 original xxhash repo
  examples/gguf-hash/README.md
  examples/gguf-hash/deps/xxhash/clib.json
Labels: examples, Review Complexity : Low, merge ready

#8515 make/cmake: add missing force MMQ/cuBLAS for HIP
  Makefile
  ggml/src/CMakeLists.txt
Labels: Review Complexity : Low

#8527 batched: fix n_predict parameter
  examples/batched/batched.cpp
Labels: examples

#6035 [CANN] Add Ascend NPU backend
  CMakeLists.txt
  examples/llama-bench/llama-bench.cpp
  examples/llava/clip.cpp
  ggml/include/ggml-cann.h
  ggml/include/ggml.h
  ggml/src/CMakeLists.txt
  ggml/src/ggml-backend.c
  ggml/src/ggml-cann.cpp
  ggml/src/ggml-cann/.clang-format
  ggml/src/ggml-cann/Doxyfile
  ggml/src/ggml-cann/acl_tensor.cpp
  ggml/src/ggml-cann/acl_tensor.h
  ggml/src/ggml-cann/aclnn_ops.cpp
  ggml/src/ggml-cann/aclnn_ops.h
  ggml/src/ggml-cann/common.h
  ggml/src/ggml-cann/kernels/CMakeLists.txt
  ggml/src/ggml-cann/kernels/ascendc_kernels.h
  ggml/src/ggml-cann/kernels/dup.cpp
  ggml/src/ggml-cann/kernels/get_row_f16.cpp
  ggml/src/ggml-cann/kernels/get_row_f32.cpp
  ggml/src/ggml-cann/kernels/get_row_q4_0.cpp
  ggml/src/ggml-cann/kernels/get_row_q8_0.cpp
  ggml/src/ggml-cann/kernels/quantize_f16_q8_0.cpp
  ggml/src/ggml-cann/kernels/quantize_f32_q8_0.cpp
  ggml/src/ggml.c
  src/llama.cpp
  tests/test-backend-ops.cpp
Labels: model, build, testing, examples, Review Complexity : High, server, ggml

#8541 Update CONTRIBUTING.md to remove mention of noci
  CONTRIBUTING.md
Labels: Review Complexity : Low

#8537 build : Fix docker build warnings (#8535)
  .devops/full-cuda.Dockerfile
  .devops/full-rocm.Dockerfile
  .devops/full.Dockerfile
  .devops/llama-cli-cuda.Dockerfile
  .devops/llama-cli-intel.Dockerfile
  .devops/llama-cli-rocm.Dockerfile
  .devops/llama-cli-vulkan.Dockerfile
  .devops/llama-cli.Dockerfile
  .devops/llama-server-cuda.Dockerfile
  .devops/llama-server-intel.Dockerfile
  .devops/llama-server-rocm.Dockerfile
  .devops/llama-server-vulkan.Dockerfile
  .devops/llama-server.Dockerfile
Labels: devops

#8548 lookup: fibonacci hashing, fix crashes
  common/ngram-cache.h
  examples/lookup/lookup-stats.cpp
  examples/lookup/lookup.cpp
Labels: examples, Review Complexity : Low

#8553 fix special not work for llama-server
  examples/server/server.cpp
Labels: examples, server

#7499 convert-*.py: GGUF Naming Convention Refactor and Metadata Override Refactor
  convert_hf_to_gguf.py
  convert_lora_to_gguf.py
  examples/convert_legacy_llama.py
  gguf-py/README.md
  gguf-py/gguf/__init__.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/gguf_writer.py
  gguf-py/gguf/metadata.py
  gguf-py/gguf/utility.py
  gguf-py/pyproject.toml
  gguf-py/tests/__init__.py
  gguf-py/tests/test_gguf.py
  gguf-py/tests/test_metadata.py
Labels: help wanted, refactoring, nix, examples, python, Review Complexity : Medium, devops, merge ready

#8552 server: use relative routes for static files in new UI
  examples/server/public/completion.js
  examples/server/public/index-new.html
  examples/server/public/index.html
Labels: examples, server

#8572 CUDA: fix partial offloading for ne0 % 256 != 0
  ggml/include/ggml-backend.h
  ggml/src/ggml-alloc.c
  ggml/src/ggml-backend.c
  ggml/src/ggml-cuda.cu
Labels: ggml

#8571 convert-*.py: add general.name kv override
  gguf-py/gguf/metadata.py
Labels: Review Complexity : Low, python

#8575 Add friendlier error message to fopen errors
  ggml/src/ggml.c
Labels: ggml

#8590 convert-*.py: remove add_name from ChatGLMModel class
  convert_hf_to_gguf.py
Labels: bugfix, Review Complexity : Low, python

#8556 ggml : fix odd blocks for ARM_NEON
  ggml/src/ggml-metal.m
  ggml/src/ggml-metal.metal
  ggml/src/ggml-quants.c
Labels: testing, Review Complexity : High, ggml

#8549 ggml : fix iq4_nl dot product with odd number of blocks
  ggml/src/ggml-metal.m
  ggml/src/ggml-metal.metal
  ggml/src/ggml-quants.c
  tests/test-backend-ops.cpp
Labels: testing, Review Complexity : High, ggml

#8588 gguf_dump.py: fix markddown kv array print
  gguf-py/scripts/gguf_dump.py
Labels: bugfix, Review Complexity : Low, python, merge ready

#8268 llama.swiftui: Fix a small bug
  examples/llama.swiftui/llama.cpp.swift/LibLlama.swift
  examples/llama.swiftui/llama.swiftui/Models/LlamaState.swift
Labels: examples, Review Complexity : Low

#8579 llama : Added support for Tekken pre-tokenizer (#8577)
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  include/llama.h
  src/llama.cpp
Labels: Review Complexity : Low, python

#8587 gguf : handle null name during init
  examples/gguf/gguf.cpp
  ggml/src/ggml.c
Labels: examples, Review Complexity : Low, ggml, merge ready

#8495 CUDA: MMQ code deduplication + iquant support
  .github/workflows/build.yml
  ggml/src/ggml-cuda/mmq.cu
  ggml/src/ggml-cuda/mmq.cuh
  ggml/src/ggml-cuda/template-instances/generate_cu_files.py
  ggml/src/ggml-cuda/template-instances/mmq-instance-iq1_s.cu
  ggml/src/ggml-cuda/template-instances/mmq-instance-iq2_s.cu
  ggml/src/ggml-cuda/template-instances/mmq-instance-iq2_xs.cu
  ggml/src/ggml-cuda/template-instances/mmq-instance-iq2_xxs.cu
  ggml/src/ggml-cuda/template-instances/mmq-instance-iq3_s.cu
  ggml/src/ggml-cuda/template-instances/mmq-instance-iq3_xxs.cu
  ggml/src/ggml-cuda/vecdotq.cuh
Labels: Nvidia GPU, python, Review Complexity : High, devops

#8597 convert_hf : fix Gemma v1 conversion
  convert_hf_to_gguf.py
Labels: bugfix, Review Complexity : Low, python

#8591 gguf-py : fix some metadata name extraction edge cases
  convert_hf_to_gguf.py
  convert_lora_to_gguf.py
  gguf-py/gguf/metadata.py
  gguf-py/gguf/utility.py
  gguf-py/tests/test_metadata.py
Labels: bugfix, Review Complexity : Low, python, merge ready

#8493 examples : Rewrite pydantic_models_to_grammar_examples.py
  examples/pydantic_models_to_grammar_examples.py
Labels: examples, Review Complexity : Low, python

#8610 nix: update flake.lock
  flake.lock
Labels: nix

#8621 examples: fix android example cannot be generated continuously
  examples/llama.android/llama/src/main/cpp/llama-android.cpp
Labels: android, examples

#8623 ggml: fix compile error for RISC-V
  ggml/src/ggml-quants.c
Labels: ggml

#8619 server : update doc to clarify n_keep count when there is bos token
  examples/server/README.md
Labels: examples, server

#8604 Mistral Nemo inference support (#8577)
  convert_hf_to_gguf.py
  src/llama.cpp
Labels: python

#8611 tests : re-enable tokenizer tests
  models/ggml-vocab-gpt2.gguf
  models/ggml-vocab-stablelm.gguf
  tests/CMakeLists.txt
Labels: testing

#8233 Stylistic adjustments for python scripts
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  convert_llama_ggml_to_gguf.py
Labels: Review Complexity : Low, python

#8609 llama : Added support for SmolLm pre-tokenizer (#8608)
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  include/llama.h
  src/llama.cpp
Labels: python

#8599 llama : fix codeshell support (#8250)
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  include/llama.h
  src/llama.cpp
Labels: python

#8642 [SYCL] Fix the accuracy bug of long context length
  ggml/src/ggml-sycl/softmax.cpp
Labels: SYCL

#8629 Allow all RDNA2 archs to use sdot4 intrinsic
  ggml/src/ggml-cuda/common.cuh
Labels: Nvidia GPU

#8508 llama : refactoring
  Makefile
  Package.swift
  common/sampling.cpp
  examples/gbnf-validator/gbnf-validator.cpp
  include/llama.h
  src/CMakeLists.txt
  src/llama-grammar.cpp
  src/llama-grammar.h
  src/llama-impl.h
  src/llama-sampling.cpp
  src/llama-sampling.h
  src/llama-vocab.cpp
  src/llama-vocab.h
  src/llama.cpp
  src/unicode.cpp
  src/unicode.h
  tests/test-grammar-integration.cpp
  tests/test-llama-grammar.cpp
Labels: testing, examples, Review Complexity : Medium

#8607 examples : Fix `llama-export-lora` example
  Makefile
  common/common.cpp
  common/common.h
  examples/export-lora/README.md
  examples/export-lora/export-lora.cpp
Labels: examples, merge ready

#8651 llama : update Swift and Android bindings for refactor sampling
  examples/batched.swift/Sources/main.swift
  examples/llama.android/llama/src/main/cpp/llama-android.cpp
  examples/llama.swiftui/llama.cpp.swift/LibLlama.swift
  include/llama.h
Labels: android, examples

#8657 llama : fix `llama_chat_format_single` for mistral
  common/common.cpp
  examples/main/main.cpp
  tests/test-chat-template.cpp
Labels: testing, examples, merge ready

#8505 docs: added AI Studio to the list of UIs [no ci]
  README.md
Labels: Review Complexity : Low

#8668 Build Llama SYCL Intel with static libs
  .devops/llama-cli-intel.Dockerfile
  .devops/llama-server-intel.Dockerfile
Labels: devops

#8627 llama: use sliding window for phi3
  convert_hf_to_gguf.py
  src/llama.cpp
Labels: python

#8666 Documentation fix: Quantum -> Quantized.
  examples/imatrix/README.md
  examples/server/README.md
Labels: examples, server

#8669 examples : remove `finetune` and `train-text-from-scratch`
  .devops/nix/apps.nix
  .devops/tools.sh
  Makefile
  examples/CMakeLists.txt
  examples/deprecation-warning/README.md
  examples/export-lora/README.md
  examples/finetune/CMakeLists.txt
  examples/finetune/README.md
  examples/finetune/convert_finetune_checkpoint_to_gguf.py
  examples/finetune/finetune.cpp
  examples/finetune/finetune.sh
  examples/train-text-from-scratch/CMakeLists.txt
  examples/train-text-from-scratch/README.md
  examples/train-text-from-scratch/convert_train_checkpoint_to_gguf.py
  examples/train-text-from-scratch/train-text-from-scratch.cpp
Labels: nix, examples, python, devops

#8664 ggml : add and use ggml_cpu_has_llamafile()
  ggml/include/ggml.h
  ggml/src/ggml.c
  src/llama.cpp
Labels: ggml

#8554 [SYCL] fix multi-gpu issue on sycl
  docs/backend/SYCL.md
  ggml/src/ggml-sycl/common.hpp
  ggml/src/ggml-sycl/dpct/helper.hpp
  src/llama.cpp
Labels: documentation, Review Complexity : High, SYCL

#8531 Improvements for running on Windows with Snapdragon X
  docs/build.md
  ggml/src/ggml-aarch64.c
Labels: documentation, build, Review Complexity : Low, ggml

#8692 ggml: handle ggml_init failure to fix NULL pointer deref
  ggml/src/ggml.c
Labels: ggml

#8687 export-lora : fix issue with quantized base models
  examples/export-lora/export-lora.cpp
Labels: examples

#8679 server : add Speech Recognition & Synthesis to UI
  examples/server/public/index.html
Labels: examples, server

#8698 ggml : reduce hash table reset cost
  Makefile
  examples/eval-callback/eval-callback.cpp
  examples/imatrix/imatrix.cpp
  examples/llama-bench/llama-bench.cpp
  examples/llava/clip.cpp
  examples/tokenize/tokenize.cpp
  ggml/include/ggml.h
  ggml/src/ggml-alloc.c
  ggml/src/ggml-backend.c
  ggml/src/ggml-blas.cpp
  ggml/src/ggml-cann.cpp
  ggml/src/ggml-cann/aclnn_ops.cpp
  ggml/src/ggml-cuda.cu
  ggml/src/ggml-cuda/argsort.cu
  ggml/src/ggml-cuda/binbcast.cu
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/cpy.cu
  ggml/src/ggml-cuda/dmmv.cu
  ggml/src/ggml-cuda/fattn-common.cuh
  ggml/src/ggml-cuda/fattn-tile-f16.cu
  ggml/src/ggml-cuda/fattn-tile-f32.cu
  ggml/src/ggml-cuda/fattn.cu
  ggml/src/ggml-cuda/getrows.cu
  ggml/src/ggml-cuda/mmq.cu
  ggml/src/ggml-cuda/mmq.cuh
  ggml/src/ggml-cuda/mmvq.cu
  ggml/src/ggml-cuda/quantize.cu
  ggml/src/ggml-cuda/rope.cu
  ggml/src/ggml-impl.h
  ggml/src/ggml-kompute.cpp
  ggml/src/ggml-metal.m
  ggml/src/ggml-quants.c
  ggml/src/ggml-sycl.cpp
  ggml/src/ggml-sycl/common.hpp
  ggml/src/ggml-sycl/dmmv.cpp
  ggml/src/ggml-sycl/dpct/helper.hpp
  ggml/src/ggml-sycl/mmq.cpp
  ggml/src/ggml-sycl/mmvq.cpp
  ggml/src/ggml-sycl/rope.cpp
  ggml/src/ggml-vulkan.cpp
  ggml/src/ggml.c
  src/llama-grammar.cpp
  src/llama-vocab.cpp
  src/llama.cpp
  tests/test-backend-ops.cpp
  tests/test-sampling.cpp
Labels: testing, Nvidia GPU, Vulkan, examples, ggml, SYCL, Kompute

#8710 [CANN] Fix Multi-NPU execution error
  ggml/src/ggml-cann.cpp
Labels: ggml, Ascend NPU

#8622 llama : model-based max number of graph nodes
  src/llama.cpp
Labels: Review Complexity : Low

#8676 Add llama 3.1 rope scaling factors to llama conversion and inference
  convert_hf_to_gguf.py
  src/llama.cpp
Labels: Nvidia GPU, python

#8383 feat: Support Moore Threads GPU
  Makefile
  README.md
  docs/build.md
  ggml/CMakeLists.txt
  ggml/include/ggml-cuda.h
  ggml/src/CMakeLists.txt
  ggml/src/ggml-common.h
  ggml/src/ggml-cuda.cu
  ggml/src/ggml-cuda/common.cuh
Labels: documentation, Nvidia GPU, Review Complexity : Medium, ggml

#8699 llama : refactor session file management
  examples/save-load-state/save-load-state.cpp
  include/llama.h
  src/llama.cpp
Labels: breaking change, refactoring, examples, Review Complexity : Medium, merge ready

#8477 chore : Fix vulkan related compiler warnings, add help text, improve CLI options
  .gitignore
  ggml/src/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Review Complexity : Low

#8740 cmake: use 1 more thread for non-ggml in CI
  .github/workflows/build.yml
Labels: devops

#8746 refactor: Organize vendor-specific headers into vendors directory
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/vendors/cuda.h
  ggml/src/ggml-cuda/vendors/hip.h
  ggml/src/ggml-cuda/vendors/musa.h
Labels: Nvidia GPU

#8748 ggml: bugfix: fix the inactive elements is agnostic for risc-v vector
  ggml/src/ggml-quants.c
Labels: ggml

#8707 [SYCL] Add `TIMESTEP_EMBEDDING` OP
  ggml/src/ggml-sycl.cpp
  ggml/src/ggml-sycl/backend.hpp
  ggml/src/ggml-sycl/presets.hpp
  ggml/src/ggml-sycl/tsembd.cpp
  ggml/src/ggml-sycl/tsembd.hpp
Labels: ggml, SYCL

#8729 nix: update flake.lock
  flake.lock
Labels: nix

#8751 added android implementation of ggml_print_backtrace_symbols
  ggml/src/ggml.c
Labels: ggml

#8774 py: add_array() will not add to kv store if value is an empty array
  gguf-py/gguf/gguf_writer.py
Labels: bugfix, Review Complexity : Low, python, merge ready

#8772 nix: rely on propagatedBuild{Inputs,Outputs} for cuda
  .devops/nix/package.nix
Labels: nix, devops
