Repository ggml-org/llama.cpp, pull requests merged in 2024-01, with the labels that each got.

#4700 flake.nix: fix typo
  .devops/nix/package.nix
Labels: nix

#3856 examples : add passkey test
  .gitignore
  Makefile
  examples/CMakeLists.txt
  examples/batched/batched.cpp
  examples/passkey/CMakeLists.txt
  examples/passkey/README.md
  examples/passkey/passkey.cpp
  llama.cpp
  llama.h
Labels: demo

#4773 SOTA 2-bit quants
  ggml-cuda.cu
  ggml-metal.m
  ggml-metal.metal
  ggml-quants.c
  ggml-quants.h
  ggml.c
  ggml.h
  llama.cpp
  llama.h
  tests/test-quantize-fns.cpp
Labels: high priority

#4856 SOTA 2-bit quants - part 2
  ggml-cuda.cu
  ggml-metal.m
  ggml-metal.metal
  ggml-quants.c
  ggml-quants.h
  ggml.c
  ggml.h
  llama.cpp
  llama.h
  tests/test-quantize-fns.cpp
Labels: high priority, need feedback

#4833 server : try to fix infill when prompt is empty
  examples/server/server.cpp
Labels: need feedback

#4766 llama : ggml-backend integration
  common/common.cpp
  common/common.h
  examples/batched-bench/batched-bench.cpp
  examples/llama-bench/llama-bench.cpp
  examples/server/server.cpp
  ggml-alloc.c
  ggml-alloc.h
  ggml-backend-impl.h
  ggml-backend.c
  ggml-backend.h
  ggml-cuda.cu
  ggml-cuda.h
  ggml-impl.h
  ggml-metal.m
  ggml-opencl.cpp
  ggml-opencl.h
  ggml.c
  ggml.h
  llama.cpp
  llama.h
  tests/test-backend-ops.cpp
Labels: high priority, need feedback

#4903 convert : update phi-2 to latest HF repo
  convert-hf-to-gguf.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  llama.cpp
Labels: need feedback

#4794 metal : refactor kernel loading code
  ggml-metal.m
Labels: high priority, refactoring

#3419 Windows XP: support MinGW 8.1.0
  CMakeLists.txt
  llama.cpp
Labels: demo

#4920 nix: update flake.lock
  flake.lock
Labels: nix

#4971 py : fix missing added_tokens_dict for SPM and BPE vocabs
  convert.py
Labels: need feedback

#4935 backend : add eval callback
  ggml-backend.c
  ggml-backend.h
  llama.cpp
  llama.h
Labels: sync

#5024 perplexity : faster Winogrande via batching
  examples/perplexity/perplexity.cpp
Labels: performance

#5035 perplexity: avoid unnecessary alloocations and logit copies
  examples/perplexity/perplexity.cpp
Labels: performance

#5054 nix: update flake.lock
  flake.lock
Labels: nix

#5066 Revert LLAMA_NATIVE to OFF in flake.nix
  .devops/nix/package.nix
Labels: nix

#5078 nix: add cc to devShell LD_LIBRARY_PATH
  .devops/nix/package.nix
Labels: nix

#4586 Overhaul ci/run.sh and enable tests with openllama model files
  .github/workflows/build.yml
  .gitignore
  Makefile
  ci/run.sh
  scripts/ci-run.sh
  tests/.gitignore
  tests/CMakeLists.txt
  tests/get-model.cpp
  tests/get-model.h
  tests/test-autorelease.cpp
  tests/test-model-load-cancel.cpp
Labels: testing

#5065 Server: try to refactor server.cpp
  Makefile
  examples/server/CMakeLists.txt
  examples/server/oai.hpp
  examples/server/server.cpp
  examples/server/utils.hpp
Labels: need feedback

#5162 nix: update flake.lock
  flake.lock
Labels: nix

#2690 Feature: Integrate with unified SYCL backend for Intel GPUs
  .github/workflows/build.yml
  CMakeLists.txt
  README.md
  README_sycl.md
  ci/README.md
  ci/run.sh
  common/common.cpp
  examples/CMakeLists.txt
  examples/server/server.cpp
  examples/sycl/CMakeLists.txt
  examples/sycl/README.md
  examples/sycl/build.sh
  examples/sycl/ls-sycl-device.cpp
  examples/sycl/run-llama2.sh
  ggml-backend.c
  ggml-sycl.cpp
  ggml-sycl.h
  ggml.c
  ggml.h
  llama.cpp
  llama.h
  tests/test-backend-ops.cpp
Labels: high priority, need feedback

#2059 Vulkan Implementation
  CMakeLists.txt
  Makefile
  examples/llama-bench/llama-bench.cpp
  ggml-alloc.c
  ggml-backend-impl.h
  ggml-backend.c
  ggml-backend.h
  ggml-cuda.cu
  ggml-metal.m
  ggml-opencl.cpp
  ggml-sycl.cpp
  ggml-vulkan-shaders.hpp
  ggml-vulkan.cpp
  ggml-vulkan.h
  ggml.c
  ggml.h
  ggml_vk_generate_shaders.py
  llama.cpp
  llama.h
Labels: high priority, need feedback
