Repository ggml-org/llama.cpp, pull requests merged in 2024-02, with the labels that each got.

#5270 [SYCL] get MAX_MEM_ALLOC from device property
  ggml-sycl.cpp
Labels: Intel GPU

#5315 nix: update flake.lock
  flake.lock
Labels: nix

#5289 [SYCL] Fix cpy with dims of 3
  ggml-sycl.cpp
Labels: Intel GPU

#5300 Server: various fixes for the prompt field in /completion
  examples/server/server.cpp
Labels: need feedback

#5321 Basic Vulkan Multi-GPU implementation
  common/common.cpp
  ggml-vulkan.cpp
  ggml-vulkan.h
  ggml.c
  llama.cpp
Labels: Vulkan

#4966 ggml: aarch64: implement mmla kernels for q8_0_q8_0, q4_0_q8_0 and q4_1_q8_1 quantized gemm
  common/common.cpp
  ggml-quants.c
  ggml-quants.h
  ggml.c
  ggml.h
  llama.cpp
  pocs/vdot/q8dot.cpp
  pocs/vdot/vdot.cpp
  tests/test-quantize-fns.cpp
  tests/test-quantize-perf.cpp
Labels: performance, high priority, need feedback

#5448 nix: update flake.lock
  flake.lock
Labels: nix

#5267 Llava 1.6 support
  convert.py
  examples/llava/README.md
  examples/llava/clip.cpp
  examples/llava/clip.h
  examples/llava/convert-image-encoder-to-gguf.py
  examples/llava/llava-cli.cpp
  examples/llava/llava-surgery-v2.py
  examples/llava/llava.cpp
  examples/llava/llava.h
  examples/server/server.cpp
Labels: help wanted

#5558 nix: update flake.lock
  flake.lock
Labels: nix

#5453 1.5 bit quantization
  examples/quantize/quantize.cpp
  ggml-backend.c
  ggml-cuda.cu
  ggml-metal.m
  ggml-metal.metal
  ggml-quants.c
  ggml-quants.h
  ggml.c
  ggml.h
  llama.cpp
  llama.h
  tests/test-backend-ops.cpp
Labels: enhancement, demo

#5663 workflows: nix: hardcode cachix ids, build unconditionally
  .github/workflows/nix-ci-aarch64.yml
  .github/workflows/nix-ci.yml
Labels: nix

#5056 nix: init images
  .devops/nix/docker.nix
  .devops/nix/scope.nix
  .devops/nix/sif.nix
Labels: nix

#5647 py : add Gemma conversion from HF models
  convert-hf-to-gguf.py
  llama.cpp
Labels: need feedback

#5566 server: init functional tests
  .github/ISSUE_TEMPLATE/bug.md
  .github/workflows/server.yml
  examples/server/README.md
  examples/server/server.cpp
  examples/server/tests/README.md
  examples/server/tests/features/environment.py
  examples/server/tests/features/issues.feature
  examples/server/tests/features/parallel.feature
  examples/server/tests/features/security.feature
  examples/server/tests/features/server.feature
  examples/server/tests/features/steps/steps.py
  examples/server/tests/features/wrong_usages.feature
  examples/server/tests/requirements.txt
  examples/server/tests/tests.sh
Labels: testing, server/webui

#5699 server: continue to update other slots on embedding concurrent request
  examples/server/server.cpp
  examples/server/tests/features/issues.feature
  examples/server/tests/features/parallel.feature
  examples/server/tests/features/server.feature
  examples/server/tests/features/steps/steps.py
Labels: bug, server/webui

#5700 server: logs - unified format and --log-format option
  examples/server/README.md
  examples/server/server.cpp
  examples/server/tests/README.md
  examples/server/tests/features/server.feature
  examples/server/tests/features/steps/steps.py
  examples/server/utils.hpp
Labels: server/webui

#5705 nix: update flake.lock
  flake.lock
Labels: nix
