Repository ggml-org/llama.cpp, pull requests merged in 2025-01, with the labels that each got.

#10994 server : allow using LoRA adapters per-request
  examples/server/README.md
  examples/server/server.cpp
  examples/server/tests/README.md
  examples/server/tests/requirements.txt
  examples/server/tests/unit/test_lora.py
  examples/server/tests/unit/test_speculative.py
  examples/server/tests/utils.py
  examples/server/utils.hpp
Labels: examples, python, server

#10765 server: bench: minor fixes
  examples/server/bench/README.md
  examples/server/bench/bench.py
  examples/server/bench/script.js
Labels: performance, server

#10900 llama : add support for Cohere2ForCausalLM
  convert_hf_to_gguf.py
  gguf-py/gguf/constants.py
  src/llama-arch.cpp
  src/llama-arch.h
  src/llama-model.cpp
  src/llama.cpp
Labels: python

#11047 [GGML][RPC] Support for models with non-512-aligned tensors over RPC.
  ggml/src/ggml-rpc/ggml-rpc.cpp
Labels: ggml

#11049 Add support for DeepSeek V3
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/gguf_writer.py
  gguf-py/gguf/tensor_mapping.py
  include/llama.h
  src/llama-arch.cpp
  src/llama-arch.h
  src/llama-chat.cpp
  src/llama-chat.h
  src/llama-hparams.h
  src/llama-model.cpp
  src/llama-model.h
  src/llama-vocab.cpp
  src/llama.cpp
  src/unicode.cpp
Labels: python

#11074 Vulkan: Add device-specific blacklist for coopmat for the AMD proprietary driver
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#11093 CUDA: add BF16 support
  ggml/src/ggml-cuda/convert.cu
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/mmv.cu
  ggml/src/ggml-cuda/vendors/cuda.h
  ggml/src/ggml-cuda/vendors/hip.h
  ggml/src/ggml-cuda/vendors/musa.h
Labels: Nvidia GPU, ggml

#11062 llama : use LLAMA_TOKEN_NULL
  common/common.cpp
  common/ngram-cache.cpp
  common/ngram-cache.h
  examples/batched/batched.cpp
  examples/convert-llama2c-to-ggml/convert-llama2c-to-ggml.cpp
  examples/main/main.cpp
  examples/server/utils.hpp
  include/llama.h
  src/llama-model.cpp
  src/llama-sampling.cpp
  src/llama-vocab.cpp
Labels: examples, server

#11058 tokenize : escape the prompt
  examples/tokenize/tokenize.cpp
Labels: examples

#11063 llama : update llama_model API names
  common/common.cpp
  examples/batched-bench/batched-bench.cpp
  examples/batched/batched.cpp
  examples/gritlm/gritlm.cpp
  examples/llama-bench/llama-bench.cpp
  examples/llava/llava-cli.cpp
  examples/llava/minicpmv-cli.cpp
  examples/llava/qwen2vl-cli.cpp
  examples/passkey/passkey.cpp
  examples/quantize-stats/quantize-stats.cpp
  examples/run/run.cpp
  examples/simple-chat/simple-chat.cpp
  examples/simple/simple.cpp
  examples/tokenize/tokenize.cpp
  include/llama-cpp.h
  include/llama.h
  src/llama-model.cpp
  src/llama.cpp
  tests/test-autorelease.cpp
  tests/test-model-load-cancel.cpp
  tests/test-tokenizer-0.cpp
  tests/test-tokenizer-1-bpe.cpp
  tests/test-tokenizer-1-spm.cpp
Labels: testing, examples

#11106 server : fix extra BOS in infill endpoing
  examples/server/server.cpp
  examples/server/tests/unit/test_infill.py
Labels: examples, python, server

#11090 github : add cmd line field to bug report
  .github/ISSUE_TEMPLATE/010-bug-compilation.yml
  .github/ISSUE_TEMPLATE/019-bug-misc.yml
  CODEOWNERS
Labels: devops

#11094 llama-run : fix context size
  examples/run/run.cpp
Labels: examples

#11087 SYCL: Use get_multi_ptr instead of deprecated get_pointer in wkv6
  ggml/src/ggml-sycl/wkv6.cpp
Labels: ggml, SYCL

#11107 rpc : code cleanup
  ggml/src/ggml-rpc/ggml-rpc.cpp
Labels: ggml

#11120 ggml-backend : only offload from host buffers
  ggml/src/ggml-backend.cpp
Labels: ggml

#11124 ggml-backend : only offload from host buffers (fix)
  ggml/src/ggml-backend.cpp
  ggml/src/ggml-cpu/ggml-cpu-aarch64.cpp
Labels: ggml

#11030 GGUF: C++ refactor, backend support, misc fixes
  CODEOWNERS
  common/common.cpp
  examples/convert-llama2c-to-ggml/convert-llama2c-to-ggml.cpp
  examples/cvector-generator/cvector-generator.cpp
  examples/export-lora/export-lora.cpp
  examples/gguf-hash/gguf-hash.cpp
  examples/gguf-split/gguf-split.cpp
  examples/gguf/gguf.cpp
  examples/llava/clip.cpp
  ggml/CMakeLists.txt
  ggml/include/ggml-cpp.h
  ggml/include/ggml.h
  ggml/include/gguf.h
  ggml/src/CMakeLists.txt
  ggml/src/ggml-impl.h
  ggml/src/ggml.c
  ggml/src/gguf.cpp
  src/llama-impl.cpp
  src/llama-model-loader.cpp
  src/llama-quant.cpp
  tests/test-gguf.cpp
Labels: testing, examples, ggml

#11096 fix: Vulkan shader gen binary path when Cross-compiling
  ggml/src/ggml-vulkan/CMakeLists.txt
Labels: Vulkan, ggml

#11117 Disable GL_KHR_cooperative_matrix Vulkan extension if not available.
  ggml/src/ggml-vulkan/CMakeLists.txt
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/test_coopmat_support.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, ggml

#11125 ci : fix cmake option
  .github/workflows/build.yml
Labels: devops

#10912 llamafile_sgemm API - INT8 implementation
  ggml/src/ggml-cpu/llamafile/sgemm.cpp
Labels: testing, ggml

#11136 arg : option to exclude arguments from specific examples
  common/arg.cpp
  common/arg.h
  examples/server/README.md
Labels: examples, server

#11137 ci : pin dependency to specific version
  .github/workflows/docker.yml
  .github/workflows/editorconfig.yml
Labels: devops

#11131 lora : improve compat with `mergekit-extract-lora`
  convert_lora_to_gguf.py
  src/llama-adapter.cpp
  src/llama-adapter.h
  src/llama.cpp
Labels: python

#11138 Enhance user input handling for llama-run
  examples/run/run.cpp
Labels: examples

#11116 gguf-py: moved scripts directory
  gguf-py/README.md
  gguf-py/gguf/scripts/__init__.py
  gguf-py/gguf/scripts/gguf_convert_endian.py
  gguf-py/gguf/scripts/gguf_dump.py
  gguf-py/gguf/scripts/gguf_hash.py
  gguf-py/gguf/scripts/gguf_new_metadata.py
  gguf-py/gguf/scripts/gguf_set_metadata.py
  gguf-py/pyproject.toml
Labels: python

#11143 fix: add missing msg in `static_assert` on windows
  ggml/src/ggml-cuda/concat.cu
Labels: Nvidia GPU, ggml

#11148 llama-chat : add phi 4 template
  src/llama-chat.cpp
  src/llama-chat.h
  tests/test-chat-template.cpp
Labels: testing

#11003 model: Add support for PhiMoE arch
  README.md
  convert_hf_to_gguf.py
  docs/development/HOWTO-add-model.md
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  src/llama-arch.cpp
  src/llama-arch.h
  src/llama-model.cpp
  src/llama-model.h
  src/llama.cpp
Labels: documentation, enhancement, model, python

#11135 Add Fedora CUDA Guide for Development in Toolbox Environment
  docs/build.md
  docs/cuda-fedora.md
Labels: documentation

#11121 SYCL: Refactor ggml_sycl_compute_forward
  ggml/src/ggml-sycl/common.cpp
  ggml/src/ggml-sycl/common.hpp
  ggml/src/ggml-sycl/concat.cpp
  ggml/src/ggml-sycl/concat.hpp
  ggml/src/ggml-sycl/conv.cpp
  ggml/src/ggml-sycl/conv.hpp
  ggml/src/ggml-sycl/element_wise.cpp
  ggml/src/ggml-sycl/element_wise.hpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
  ggml/src/ggml-sycl/outprod.cpp
  ggml/src/ggml-sycl/outprod.hpp
  ggml/src/ggml-sycl/tsembd.cpp
  ggml/src/ggml-sycl/tsembd.hpp
  ggml/src/ggml-sycl/wkv6.cpp
  ggml/src/ggml-sycl/wkv6.hpp
Labels: ggml, SYCL

#11161 Vulkan: Fix float16 use on devices without float16 support + fix subgroup_size_control validation error
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_q2_k.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_q3_k.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_q4_k.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_q5_k.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_q6_k.comp
  ggml/src/ggml-vulkan/vulkan-shaders/soft_max.comp
  ggml/src/ggml-vulkan/vulkan-shaders/types.comp
Labels: Vulkan, ggml

#11172 convert : add --print-supported-models option
  convert_hf_to_gguf.py
Labels: python

#11155 examples : add README.md to tts example [no ci]
  examples/tts/README.md
Labels: examples

#11179 convert : sort print supported models [no ci]
  convert_hf_to_gguf.py
Labels: python

#11180 gguf-py: fixed local detection of gguf package
  gguf-py/README.md
  gguf-py/gguf/scripts/gguf_convert_endian.py
  gguf-py/gguf/scripts/gguf_dump.py
  gguf-py/gguf/scripts/gguf_hash.py
  gguf-py/gguf/scripts/gguf_new_metadata.py
  gguf-py/gguf/scripts/gguf_set_metadata.py
  gguf-py/pyproject.toml
Labels: python

#11167 lora : update API names
  common/common.cpp
  common/common.h
  examples/export-lora/export-lora.cpp
  examples/server/server.cpp
  examples/server/utils.hpp
  include/llama-cpp.h
  include/llama.h
  src/llama-adapter.cpp
  src/llama-adapter.h
  src/llama-context.cpp
  src/llama-context.h
  src/llama.cpp
Labels: breaking change, examples, server

#11174 llama : update API names to use correct prefix
  common/common.cpp
  common/sampling.cpp
  common/speculative.cpp
  examples/batched-bench/batched-bench.cpp
  examples/batched.swift/Sources/main.swift
  examples/batched/batched.cpp
  examples/convert-llama2c-to-ggml/convert-llama2c-to-ggml.cpp
  examples/cvector-generator/cvector-generator.cpp
  examples/embedding/embedding.cpp
  examples/eval-callback/eval-callback.cpp
  examples/export-lora/export-lora.cpp
  examples/gritlm/gritlm.cpp
  examples/imatrix/imatrix.cpp
  examples/infill/infill.cpp
  examples/llama-bench/llama-bench.cpp
  examples/llama.android/llama/src/main/cpp/llama-android.cpp
  examples/llama.swiftui/llama.cpp.swift/LibLlama.swift
  examples/llava/llava-cli.cpp
  examples/llava/llava.cpp
  examples/llava/minicpmv-cli.cpp
  examples/llava/qwen2vl-cli.cpp
  examples/lookahead/lookahead.cpp
  examples/lookup/lookup.cpp
  examples/main/main.cpp
  examples/parallel/parallel.cpp
  examples/passkey/passkey.cpp
  examples/perplexity/perplexity.cpp
  examples/quantize-stats/quantize-stats.cpp
  examples/retrieval/retrieval.cpp
  examples/run/run.cpp
  examples/save-load-state/save-load-state.cpp
  examples/server/server.cpp
  examples/server/utils.hpp
  examples/simple-chat/simple-chat.cpp
  examples/simple/simple.cpp
  examples/speculative-simple/speculative-simple.cpp
  examples/speculative/speculative.cpp
  examples/tokenize/tokenize.cpp
  examples/tts/tts.cpp
  include/llama.h
  src/llama-model.cpp
  src/llama-sampling.cpp
  src/llama-vocab.cpp
  src/llama.cpp
  tests/test-autorelease.cpp
  tests/test-tokenizer-0.cpp
  tests/test-tokenizer-1-bpe.cpp
  tests/test-tokenizer-1-spm.cpp
Labels: testing, android, examples, server

#11064 llama : remove notion of CLS token
  gguf-py/gguf/constants.py
  gguf-py/gguf/gguf_writer.py
  include/llama.h
  src/llama-vocab.cpp
  src/llama-vocab.h
Labels: python

#11205 Reset color before we exit
  examples/run/run.cpp
Labels: examples

#11211 ggml : do not define GGML_USE_CUDA when building with GGML_BACKEND_DL
  ggml/src/ggml-hip/CMakeLists.txt
Labels: ggml

#11208 llama-server: Support for RTL text as models input or output
  examples/server/public/index.html.gz
  examples/server/webui/index.html
Labels: examples, server

#11042 CUDA Graph Compute Function Refactor (precursor for performance improvements)
  ggml/src/ggml-cuda/ggml-cuda.cu
Labels: Nvidia GPU, ggml

#11220 llama-server : Improve messages bubble shape in RTL
  examples/server/public/index.html.gz
  examples/server/webui/index.html
Labels: examples, server

#11224 Refactor test-chat-template.cpp
  tests/test-chat-template.cpp
Labels: testing

#11221 server : Improve code snippets direction between RTL text
  examples/server/public/index.html.gz
  examples/server/webui/src/main.js
Labels: examples, server

#11238 ci : add -no-cnv for tests
  ci/run.sh
Labels: devops

#11175 SYCL: Add gated linear attention kernel
  ggml/src/ggml-sycl/backend.hpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
  ggml/src/ggml-sycl/gla.cpp
  ggml/src/ggml-sycl/gla.hpp
Labels: ggml, SYCL

#11235 examples : add embd_to_audio to tts-outetts.py [no ci]
  examples/tts/README.md
  examples/tts/tts-outetts.py
Labels: examples, python

#11240 RoPE: fix back, CUDA support for back + noncont.
  ggml/include/ggml.h
  ggml/src/ggml-cpu/ggml-cpu.c
  ggml/src/ggml-cpu/ggml-cpu.cpp
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/rope.cu
  ggml/src/ggml-cuda/rope.cuh
  ggml/src/ggml.c
  src/llama.cpp
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, ggml

#10448 fix: ggml: fix vulkan-shaders-gen build
  ggml/CMakeLists.txt
  ggml/src/ggml-vulkan/CMakeLists.txt
  ggml/src/ggml-vulkan/cmake/host-toolchain.cmake.in
  ggml/src/ggml-vulkan/vulkan-shaders/CMakeLists.txt
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: documentation, testing, Vulkan, examples, python, server, ggml

#11254 ci : use -no-cnv in gguf-split tests
  examples/gguf-split/tests.sh
  examples/quantize/tests.sh
  scripts/hf.sh
  tests/test-lora-conversion-inference.sh
Labels: examples

#11081 vulkan: scale caching for k quants + misc fixes
  .gitignore
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_q2_k.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_q3_k.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_q4_k.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_q5_k.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_q6_k.comp
Labels: Vulkan, ggml

#11227 ggml: aarch64: implement SVE kernels for q4_K_q8_K vector dot
  ggml/src/ggml-cpu/ggml-cpu-quants.c
Labels: ggml

#11257 CUDA: backwards pass for misc. ops, add tests
  ggml/include/ggml.h
  ggml/src/ggml-alloc.c
  ggml/src/ggml-cpu/ggml-cpu.c
  ggml/src/ggml-cpu/ggml-cpu.cpp
  ggml/src/ggml-cuda/cross-entropy-loss.cu
  ggml/src/ggml-cuda/getrows.cu
  ggml/src/ggml-cuda/getrows.cuh
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/norm.cu
  ggml/src/ggml-cuda/norm.cuh
  ggml/src/ggml-cuda/out-prod.cu
  ggml/src/ggml-cuda/rope.cu
  ggml/src/ggml-cuda/softmax.cu
  ggml/src/ggml-cuda/softmax.cuh
  ggml/src/ggml-cuda/unary.cu
  ggml/src/ggml-cuda/unary.cuh
  ggml/src/ggml.c
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, ggml

#11233 Support internlm3
  convert_hf_to_gguf.py
Labels: python

#11130 vulkan: optimize coopmat2 q2_k dequant function
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_funcs_cm2.comp
Labels: Vulkan, ggml

#11206 vulkan: optimize coopmat2 q4_k/q5_k dequant functions.
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_funcs_cm2.comp
  ggml/src/ggml-vulkan/vulkan-shaders/types.comp
Labels: Vulkan, ggml

#11166 vulkan: support copy from f32 to q4_0/q4_1/q5_0/q5_1/q8_0/iq4_nl
  ggml/src/ggml-cpu/ggml-cpu.c
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/copy_from_quant.comp
  ggml/src/ggml-vulkan/vulkan-shaders/copy_to_quant.comp
  ggml/src/ggml-vulkan/vulkan-shaders/generic_unary_head.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
  tests/test-backend-ops.cpp
Labels: testing, Vulkan, ggml

#11262 rpc : register backend devices
  common/arg.cpp
  common/common.cpp
  common/common.h
  examples/llama-bench/llama-bench.cpp
  ggml/include/ggml-backend.h
  ggml/src/ggml-backend-impl.h
  include/llama.h
  src/llama-model.cpp
  src/llama-model.h
  src/llama.cpp
Labels: examples, ggml

#11281 vulkan: fix coopmat2 flash attention for non-contiguous inputs
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn_cm2.comp
  tests/test-backend-ops.cpp
Labels: testing, Vulkan, ggml

#11186 Added the ability to use guide tokens for OuteTTS, greatly improving TTS recitation accuracy over long input sequences.
  common/arg.cpp
  common/common.h
  examples/tts/tts.cpp
Labels: examples, Review Complexity : Medium

#11285 server : implement cancellable request
  examples/server/httplib.h
  examples/server/server.cpp
  examples/server/tests/unit/test_completion.py
  examples/server/tests/utils.py
Labels: examples, python, server

#11279 cmake : add sanitizer flags for llama.cpp
  .github/workflows/build.yml
  CMakeLists.txt
  ggml/src/gguf.cpp
  src/unicode.cpp
  tests/CMakeLists.txt
  tests/test-gguf.cpp
  tests/test-sampling.cpp
Labels: build, testing, examples, devops, ggml

#11252 Adding linenoise.cpp to llama-run
  .github/workflows/build.yml
  examples/run/CMakeLists.txt
  examples/run/linenoise.cpp/LICENSE
  examples/run/linenoise.cpp/linenoise.cpp
  examples/run/linenoise.cpp/linenoise.h
  examples/run/run.cpp
Labels: build, examples, devops, ggml

#11251 SYCL: Introducing memory host pool
  ggml/src/ggml-sycl/common.hpp
  ggml/src/ggml-sycl/dpct/helper.hpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: ggml, SYCL

#11278 simple-chat : fix BOS being added to each message
  examples/simple-chat/simple-chat.cpp
Labels: examples

#11300 tests : increase timeout when sanitizers are enabled
  .github/workflows/server.yml
  examples/server/tests/utils.py
Labels: examples, python, devops, server

#11310 llama : add support for Deepseek-R1-Qwen distill model
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  models/ggml-vocab-deepseek-r1-qwen.gguf.inp
  models/ggml-vocab-deepseek-r1-qwen.gguf.out
  src/llama-chat.cpp
  src/llama-vocab.cpp
Labels: python

#11309 cmake: fix shell command quoting in build-info script
  cmake/build-info.cmake
Labels: build

#11311 examples : fix add_special conditions
  examples/run/run.cpp
  examples/simple-chat/simple-chat.cpp
Labels: examples

#11284 vulkan: fix coopmat2 validation failures
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn_cm2.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mm_cm2.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, ggml

#11318 common : add -hfd option for the draft model
  common/arg.cpp
  common/common.h
  examples/server/server.cpp
Labels: examples, server

#11331 rpc : better caching of the base buffer pointer
  ggml/src/ggml-rpc/ggml-rpc.cpp
Labels: ggml

#11330 export-lora : fix tok_embd tensor
  examples/export-lora/export-lora.cpp
Labels: examples

#11289 support Minicpm-omni in image understanding
  examples/llava/README-minicpmo2.6.md
  examples/llava/clip.cpp
  examples/llava/llava.cpp
  examples/llava/minicpmv-cli.cpp
  examples/llava/minicpmv-convert-image-encoder-to-gguf.py
  examples/llava/minicpmv-surgery.py
Labels: examples, python

#11344 Adding logprobs to /v1/completions
  examples/server/server.cpp
Labels: examples, server

#11354 server : fix draft context not being released
  examples/server/server.cpp
Labels: examples, server

#11353 main : update README documentation for batch size
  examples/main/README.md
Labels: examples

#11323 vulkan: fix diag_mask_inf
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/diag_mask_inf.comp
Labels: Vulkan, ggml

#11315 vulkan: sort shaders for more deterministic binary
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, ggml

#11343 Vulkan-run-test: fix mmq_wg_denoms
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#11350 Treat hf.co/ prefix the same as hf://
  examples/run/run.cpp
Labels: examples

#11340 server : add more clean up when cancel_tasks is called
  examples/server/server.cpp
Labels: examples, server

#11373 Update documentation
  examples/run/run.cpp
Labels: examples

#11375 tests: fix some mul_mat test gaps
  tests/test-backend-ops.cpp
Labels: testing

#11364 webui : put DeepSeek R1 CoT in a collapsible <details> element
  examples/server/public/index.html.gz
  examples/server/webui/index.html
  examples/server/webui/src/main.js
Labels: examples, server

#11386 Update llama-run README.md
  examples/run/README.md
Labels: examples

#11366 Avoid -march=native when reproducible build is wanted
  ggml/CMakeLists.txt
Labels: ggml

#11380 CPU/CUDA: fix GQA mul mat back, add CUDA support
  ggml/src/ggml-cpu/ggml-cpu.c
  ggml/src/ggml-cpu/ggml-cpu.cpp
  ggml/src/ggml-cuda/binbcast.cu
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/out-prod.cu
  ggml/src/ggml.c
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, ggml

#11368 docs: Update Docker build instructions to use --target flag
  docs/backend/SYCL.md
  docs/build.md
  docs/docker.md
Labels: documentation, SYCL

#11392 release : pack /lib in the packages
  .github/workflows/build.yml
  CMakeLists.txt
Labels: build, devops

#11396 CUDA: fix FP16 cuBLAS GEMM
  ggml/src/ggml-cuda/ggml-cuda.cu
Labels: Nvidia GPU, ggml

#11362 Add hipGraph and VMM support to ROCM
  ggml/CMakeLists.txt
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/vendors/hip.h
  ggml/src/ggml-hip/CMakeLists.txt
Labels: Nvidia GPU, ggml

#10217 CANN: Add Ascend CANN build ci
  .github/workflows/build.yml
Labels: devops, Ascend NPU

#11409 ci : fix line breaks on windows builds
  .github/workflows/build.yml
Labels: devops

#11403 docker : fix CPU ARM build
  .devops/cpu.Dockerfile
Labels: devops

#11418 server : fix cleaning up stream task
  examples/server/server.cpp
Labels: examples, server

#11419 docker : add GGML_CPU_ARM_ARCH arg to select ARM architecture
  .devops/cpu.Dockerfile
Labels: devops

#11407 build: add /bigobj to MSVC build
  CMakeLists.txt
Labels: build

#11420 Hip: disable VMM on hip as it seams that it dosent work in some configurations
  ggml/CMakeLists.txt
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-hip/CMakeLists.txt
Labels: Nvidia GPU, ggml

#11406 vulkan: compile shaders on-demand
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#11423 build: apply MSVC /bigobj option to c/cpp files only
  CMakeLists.txt
Labels: build

#11369 cmake: add ggml find package
  .github/workflows/build.yml
  CMakeLists.txt
  cmake/llama-config.cmake.in
  examples/main-cmake-pkg/CMakeLists.txt
  examples/main-cmake-pkg/README.md
  examples/simple-cmake-pkg/.gitignore
  examples/simple-cmake-pkg/CMakeLists.txt
  examples/simple-cmake-pkg/README.md
  ggml/CMakeLists.txt
  ggml/cmake/ggml-config.cmake.in
  ggml/src/CMakeLists.txt
Labels: build, examples, devops, ggml

#11422 docker: add missing vulkan library to base layer and update to ubuntu 24.04
  .devops/vulkan.Dockerfile
Labels: devops

#11427 metal : use residency sets
  ggml/src/ggml-metal/ggml-metal.m
Labels: build, ggml, Apple Metal

#11434 docker : fix ARM build and Vulkan build
  .devops/vulkan.Dockerfile
  .github/workflows/docker.yml
Labels: devops

#11441 metal: Handle null returned from MTLCreateSystemDefaultDevice()
  ggml/src/ggml-metal/ggml-metal.m
Labels: ggml, Apple Metal

#11244 AMD: parse the architecture as supplied by gcnArchName
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/ggml-cuda.cu
Labels: script, testing, Nvidia GPU, python, ggml

#11449 Add new hf protocol for ollama
  examples/run/run.cpp
Labels: examples

#11399 Handle missing model in CLI parameters for llama-run
  examples/run/run.cpp
Labels: examples

#11261 SYCL: SOFTMAX F16 mask support and other fixes
  ggml/src/ggml-sycl/ggml-sycl.cpp
  ggml/src/ggml-sycl/softmax.cpp
  ggml/src/ggml-sycl/softmax.hpp
  tests/test-backend-ops.cpp
Labels: testing, ggml, SYCL

#11438 docker: add perplexity and bench commands to full image
  .devops/tools.sh
Labels: devops

#11457 cmake: don't fail on `GGML_CPU=OFF`
  ggml/src/CMakeLists.txt
Labels: ggml

#11437 docker: allow installing pip packages system-wide
  .devops/vulkan.Dockerfile
Labels: devops

#11465 Add github protocol pulling and http://
  examples/run/run.cpp
Labels: examples

#11080 Only call rocblas_initialize for versions < 4 to eliminate unncessary VRAM allocation on some AMD cards
  ggml/src/ggml-cuda/ggml-cuda.cu
Labels: build, Nvidia GPU, nix, examples, devops, ggml

#11471 Hip: Supress transformation warning in softmax.cu
  ggml/src/ggml-cuda/softmax.cu
Labels: Nvidia GPU, ggml

#11472 ci : fix build CPU arm64
  .devops/vulkan.Dockerfile
  .github/workflows/docker.yml
Labels: devops

#11473 llamacpp-server: Fixed wrong function name in llamacpp server unit test
  examples/server/tests/unit/test_completion.py
Labels: examples, python, server

#11466 CMake Bugfix: Windows ggml find_package fix in llama-config.cmake.in file
  cmake/llama-config.cmake.in
Labels: build

#11480 Parse https://ollama.com/library/ syntax
  examples/run/run.cpp
Labels: examples

#11436 vulkan: Catch pipeline creation failure and print an error message
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#11360 vulkan: implement initial support for IQ2 and IQ3 quantizations
  .github/workflows/build.yml
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/copy_from_quant.comp
  ggml/src/ggml-vulkan/vulkan-shaders/copy_to_quant.comp
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_funcs.comp
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_funcs_cm2.comp
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_iq2_s.comp
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_iq2_xs.comp
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_iq2_xxs.comp
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_iq3_s.comp
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_iq3_xxs.comp
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_iq4_nl.comp
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn_cm2.comp
  ggml/src/ggml-vulkan/vulkan-shaders/get_rows_quant.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mm.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mm_cm2.comp
  ggml/src/ggml-vulkan/vulkan-shaders/types.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: testing, Vulkan, devops, ggml

#11489 server : add /apply-template endpoint for additional use cases of Minja functionality
  examples/server/README.md
  examples/server/server.cpp
  examples/server/tests/unit/test_chat_completion.py
Labels: examples, python, server

#11492 server : update json snippets in README.md [no ci]
  examples/server/README.md
Labels: examples, server

#11503 server: document /apply-template response format
  examples/server/README.md
Labels: examples, server

#11507 server : use lambda instead of std::bind
  examples/server/server.cpp
Labels: examples, server

#9639 Tool call support (generic + native for Llama, Functionary, Hermes, Mistral, Firefunction, DeepSeek) w/ lazy grammars
  .editorconfig
  .github/workflows/server.yml
  Makefile
  README.md
  common/CMakeLists.txt
  common/chat.cpp
  common/chat.hpp
  common/common.cpp
  common/common.h
  common/json-schema-to-grammar.cpp
  common/json-schema-to-grammar.h
  common/sampling.cpp
  examples/gbnf-validator/gbnf-validator.cpp
  examples/main/main.cpp
  examples/server/README.md
  examples/server/server.cpp
  examples/server/tests/README.md
  examples/server/tests/pytest.ini
  examples/server/tests/tests.sh
  examples/server/tests/unit/test_chat_completion.py
  examples/server/tests/unit/test_tool_call.py
  examples/server/tests/utils.py
  examples/server/utils.hpp
  include/llama.h
  models/templates/CohereForAI-c4ai-command-r-plus-tool_use.jinja
  models/templates/NousResearch-Hermes-2-Pro-Llama-3-8B-tool_use.jinja
  models/templates/NousResearch-Hermes-3-Llama-3.1-8B-tool_use.jinja
  models/templates/Qwen-Qwen2.5-7B-Instruct.jinja
  models/templates/deepseek-ai-DeepSeek-R1-Distill-Llama-8B.jinja
  models/templates/deepseek-ai-DeepSeek-R1-Distill-Qwen-32B.jinja
  models/templates/fireworks-ai-llama-3-firefunction-v2.jinja
  models/templates/google-gemma-2-2b-it.jinja
  models/templates/meetkai-functionary-medium-v3.1.jinja
  models/templates/meetkai-functionary-medium-v3.2.jinja
  models/templates/meta-llama-Llama-3.1-8B-Instruct.jinja
  models/templates/meta-llama-Llama-3.2-3B-Instruct.jinja
  models/templates/meta-llama-Llama-3.3-70B-Instruct.jinja
  models/templates/microsoft-Phi-3.5-mini-instruct.jinja
  models/templates/mistralai-Mistral-Nemo-Instruct-2407.jinja
  scripts/fetch_server_test_models.py
  scripts/get_chat_template.py
  src/llama-grammar.cpp
  src/llama-grammar.h
  src/llama-sampling.cpp
  tests/CMakeLists.txt
  tests/test-chat-template.cpp
  tests/test-chat.cpp
  tests/test-grammar-integration.cpp
Labels: enhancement, script, testing, examples, python, devops, server, merge ready

#11516 `ci`: ccache for all github worfklows
  .github/workflows/build.yml
Labels: devops

#11512 server : update help metrics processing/deferred
  examples/server/server.cpp
Labels: examples, server

#11531 Fix --jinja when there's no tools or schema (typo was forcing JSON)
  examples/server/tests/unit/test_chat_completion.py
  examples/server/utils.hpp
Labels: examples, bugfix, python, server, merge ready

#11533 Fix chatml fallback for unsupported builtin templates (when --jinja not enabled)
  examples/server/server.cpp
Labels: examples, bugfix, server, merge ready

#11543 `server`: fix stop regression
  examples/server/utils.hpp
Labels: examples, bugfix, server

#11539 `tool-call`: fix llama 3.x and functionary 3.2, play nice w/ pydantic_ai package, update readme
  common/chat-template.hpp
  common/chat.cpp
  examples/server/README.md
  examples/server/server.cpp
  examples/server/utils.hpp
Labels: documentation, examples, bugfix, server

#11545 `ci`: use sccache on windows instead of ccache
  .github/workflows/build.yml
  ggml/src/CMakeLists.txt
Labels: devops, ggml
