Repository ggml-org/llama.cpp, pull requests merged in 2025-02, with the labels that each got.

#11548 `ci`: simplify cmake build commands (nits)
  .github/workflows/build.yml
Labels: devops

#11511 Implement s3:// protocol
  examples/run/run.cpp
Labels: examples

#11553 ci: use sccache on windows HIP jobs
  .github/workflows/build.yml
Labels: devops, ggml

#10573 Add support for GLM-Edge and GLM-Edge-V series models
  README.md
  convert_hf_to_gguf.py
  examples/llava/README-glmedge.md
  examples/llava/clip.cpp
  examples/llava/clip.h
  examples/llava/glmedge-convert-image-encoder-to-gguf.py
  examples/llava/glmedge-surgery.py
  examples/llava/llava.cpp
  gguf-py/gguf/constants.py
  src/llama-arch.cpp
  src/llama-chat.cpp
  src/llama-chat.h
  src/llama-model.cpp
  src/llama.cpp
  tests/test-chat-template.cpp
Labels: testing, examples, python

#10224 support for llguidance grammars
  .github/workflows/build.yml
  CMakeLists.txt
  common/CMakeLists.txt
  common/json-schema-to-grammar.cpp
  common/json-schema-to-grammar.h
  common/llguidance.cpp
  common/sampling.cpp
  common/sampling.h
  docs/llguidance.md
  tests/CMakeLists.txt
  tests/test-grammar-integration.cpp
  tests/test-grammar-llguidance.cpp
  tests/test-json-schema-to-grammar.cpp
Labels: documentation, build, testing, devops

#11581 `ci`: fix openEuler ci env that lacks ostringstream::str
  common/minja.hpp
Labels: Ascend NPU

#11585 `tool-call`: support Command R7B (+ return tool_plan "thoughts" in API)
  common/chat.cpp
  common/chat.hpp
  common/common.h
  examples/server/README.md
  examples/server/server.cpp
  examples/server/utils.hpp
  models/templates/CohereForAI-c4ai-command-r7b-12-2024-tool_use.jinja
  tests/test-chat.cpp
Labels: testing, examples, server

#11573 Name colors
  common/log.cpp
  common/log.h
  examples/run/run.cpp
Labels: examples

#11583 CUDA: use mma PTX instructions for FlashAttention
  Makefile
  ggml/include/ggml.h
  ggml/src/ggml-cuda/CMakeLists.txt
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/fattn-common.cuh
  ggml/src/ggml-cuda/fattn-mma-f16.cuh
  ggml/src/ggml-cuda/fattn-tile-f16.cu
  ggml/src/ggml-cuda/fattn-tile-f32.cu
  ggml/src/ggml-cuda/fattn-vec-f16.cuh
  ggml/src/ggml-cuda/fattn-vec-f32.cuh
  ggml/src/ggml-cuda/fattn-wmma-f16.cu
  ggml/src/ggml-cuda/fattn-wmma-f16.cuh
  ggml/src/ggml-cuda/fattn.cu
  ggml/src/ggml-cuda/mma.cuh
  ggml/src/ggml-cuda/mmq.cu
  ggml/src/ggml-cuda/mmq.cuh
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-cpb16.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-cpb32.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-cpb64.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-cpb8.cu
  ggml/src/ggml-cuda/template-instances/fattn-wmma-f16-instance-kqfloat-cpb16.cu
  ggml/src/ggml-cuda/template-instances/fattn-wmma-f16-instance-kqfloat-cpb32.cu
  ggml/src/ggml-cuda/template-instances/fattn-wmma-f16-instance-kqhalf-cpb16.cu
  ggml/src/ggml-cuda/template-instances/fattn-wmma-f16-instance-kqhalf-cpb32.cu
  ggml/src/ggml-cuda/template-instances/fattn-wmma-f16-instance-kqhalf-cpb8.cu
  ggml/src/ggml-cuda/template-instances/generate_cu_files.py
  ggml/src/ggml-cuda/vendors/hip.h
  ggml/src/ggml-hip/CMakeLists.txt
  ggml/src/ggml-musa/CMakeLists.txt
Labels: Nvidia GPU, python, ggml

#11601 HIP: add GGML_CUDA_CC_IS_* macros for testing for amd architeure familys
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/mmq.cu
  ggml/src/ggml-cuda/mmq.cuh
Labels: Nvidia GPU, ggml

#11519 CUDA/HIP: add support for selectable warp size to mmv
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/mmv.cu
  ggml/src/ggml-cuda/vendors/hip.h
Labels: Nvidia GPU, ggml

#11604 HIP: fix flash_attn_stream_k_fixup warning
  ggml/src/ggml-cuda/fattn-common.cuh
  ggml/src/ggml-cuda/softmax.cu
Labels: Nvidia GPU, ggml

#11609 webui: Fix Shift+Enter handling
  examples/server/public/index.html.gz
  examples/server/webui/index.html
Labels: examples, server

#11615 CUDA: fix Volta FlashAttention logic
  ggml/src/ggml-cuda/fattn-wmma-f16.cu
  ggml/src/ggml-cuda/fattn.cu
Labels: Nvidia GPU, ggml

#11622 server : remove CPPHTTPLIB_NO_EXCEPTIONS define
  examples/server/utils.hpp
Labels: examples, server

#11626 server : (webui) allow typing and submitting during llm response
  examples/server/public/index.html.gz
  examples/server/webui/index.html
  examples/server/webui/src/main.js
Labels: examples, server

#11648 metal : use residency set for other platforms
  ggml/src/ggml-metal/ggml-metal.m
Labels: ggml, Apple Metal

#11645 swift : fix llama-vocab api usage
  examples/batched.swift/Sources/main.swift
  examples/llama.swiftui/llama.cpp.swift/LibLlama.swift
Labels: examples

#11608 `tool-call`: command r7b fix for normal responses
  common/chat.cpp
  examples/server/tests/unit/test_tool_call.py
  tests/test-chat.cpp
Labels: testing, examples, python, server

#11620 server : add try..catch to places not covered by set_exception_handler
  examples/server/server.cpp
Labels: examples, server

#11621 HIP: force max threads per block to be 1024
  ggml/src/ggml-hip/CMakeLists.txt
Labels: ggml

#11659 CUDA: non-contiguous (RMS) norm support
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/norm.cu
  ggml/src/ggml-metal/ggml-metal.m
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  src/llama.cpp
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, Vulkan, ggml, Apple Metal

#11641 `sync`: minja
  common/chat-template.hpp
  common/chat.cpp
  common/common.cpp
  common/minja.hpp
  examples/run/run.cpp
  tests/test-chat.cpp
Labels: testing, examples

#11644 Added quantization for the visual projector LLAVA, Qwen2VL
  examples/llava/CMakeLists.txt
  examples/llava/README-quantize.md
  examples/llava/clip-quantize-cli.cpp
  examples/llava/clip.cpp
Labels: examples

#11656 CUDA: support for mat. mul. with ne03 != ne13
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/mmv.cu
Labels: Nvidia GPU, ggml

#11671 metal : adjust support conditions for norm operators
  ggml/src/ggml-metal/ggml-metal.m
Labels: ggml, Apple Metal

#11690 metal : avoid breaking build when metal API predates TARGET_OS_VISION
  ggml/src/ggml-metal/ggml-metal.m
Labels: ggml, Apple Metal

#11551 vulkan: use smaller combined allocations to avoid fragmentation
  ggml/src/ggml-alloc.c
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#11501 vulkan: initial support for IQ4_XS quantization
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/copy_from_quant.comp
  ggml/src/ggml-vulkan/vulkan-shaders/copy_to_quant.comp
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_funcs.comp
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_funcs_cm2.comp
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_iq4_xs.comp
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn_cm2.comp
  ggml/src/ggml-vulkan/vulkan-shaders/get_rows_quant.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mm.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mm_cm2.comp
  ggml/src/ggml-vulkan/vulkan-shaders/types.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, ggml

#11521 vulkan: optimize coopmat2 iq2/iq3 callbacks
  .github/workflows/build.yml
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_funcs_cm2.comp
Labels: Vulkan, devops, ggml

#11658 build : fix llama.pc
  CMakeLists.txt
  cmake/llama.pc.in
Labels: build

#11674 SYCL: Adjust support condition for norm operators
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: ggml, SYCL

#11393 docs: update fedora cuda guide for 12.8 release
  docs/build.md
  docs/cuda-fedora.md
Labels: documentation

#11688 server : (webui) migrate project to ReactJS with typescript
  .github/workflows/server.yml
  examples/server/public/index.html.gz
  examples/server/webui/.gitignore
  examples/server/webui/.prettierignore
  examples/server/webui/eslint.config.js
  examples/server/webui/index.html
  examples/server/webui/package-lock.json
  examples/server/webui/package.json
  examples/server/webui/public/demo-conversation.json
  examples/server/webui/src/App.tsx
  examples/server/webui/src/Config.ts
  examples/server/webui/src/components/ChatMessage.tsx
  examples/server/webui/src/components/ChatScreen.tsx
  examples/server/webui/src/components/Header.tsx
  examples/server/webui/src/components/MarkdownDisplay.tsx
  examples/server/webui/src/components/SettingDialog.tsx
  examples/server/webui/src/components/Sidebar.tsx
  examples/server/webui/src/highlight-config.js
  examples/server/webui/src/index.scss
  examples/server/webui/src/katex-gpt.js
  examples/server/webui/src/main.js
  examples/server/webui/src/main.tsx
  examples/server/webui/src/utils/app.context.tsx
  examples/server/webui/src/utils/misc.ts
  examples/server/webui/src/utils/storage.ts
  examples/server/webui/src/utils/types.ts
  examples/server/webui/src/vite-env.d.ts
  examples/server/webui/tsconfig.app.json
  examples/server/webui/tsconfig.json
  examples/server/webui/tsconfig.node.json
  examples/server/webui/vite.config.ts
Labels: examples, devops, server

#11709 Some optimize and build warning fix for LoongArch
  ggml/src/ggml-cpu/ggml-cpu-impl.h
  ggml/src/ggml-cpu/ggml-cpu-quants.c
  ggml/src/ggml-cpu/ggml-cpu.c
Labels: ggml

#11712 SYCL: remove XMX/tensor core info from print devices
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: ggml, SYCL

#11719 vulkan: print shared memory size
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#11714 Make logging more verbose
  examples/run/run.cpp
Labels: examples

#11739 server : (webui) fix numeric settings being saved as string
  examples/server/public/index.html.gz
  examples/server/webui/src/components/MarkdownDisplay.tsx
  examples/server/webui/src/components/SettingDialog.tsx
Labels: examples, server

#11753 readme : update front-end framework
  examples/server/README.md
Labels: examples, server

#11751 CUDA: fix min. version for movmatrix
  ggml/src/ggml-cuda/mma.cuh
Labels: Nvidia GPU, ggml

#11736 ggml: Fix data race in ggml threadpool
  ggml/src/ggml-cpu/ggml-cpu.c
Labels: ggml

#11760 server : minor log updates
  examples/server/server.cpp
Labels: examples, server

#11763 server : (webui) increase edit textarea size
  examples/server/public/index.html.gz
  examples/server/webui/src/components/ChatMessage.tsx
Labels: examples, server

#11759 server : (webui) revamp Settings dialog, add Pyodide interpreter
  examples/server/public/index.html.gz
  examples/server/server.cpp
  examples/server/webui/package-lock.json
  examples/server/webui/package.json
  examples/server/webui/src/App.tsx
  examples/server/webui/src/Config.ts
  examples/server/webui/src/components/CanvasPyInterpreter.tsx
  examples/server/webui/src/components/ChatMessage.tsx
  examples/server/webui/src/components/ChatScreen.tsx
  examples/server/webui/src/components/Header.tsx
  examples/server/webui/src/components/MarkdownDisplay.tsx
  examples/server/webui/src/components/SettingDialog.tsx
  examples/server/webui/src/index.scss
  examples/server/webui/src/utils/app.context.tsx
  examples/server/webui/src/utils/common.tsx
  examples/server/webui/src/utils/misc.ts
  examples/server/webui/src/utils/types.ts
  examples/server/webui/vite.config.ts
Labels: examples, server, merge ready

#11502 vulkan: account for lookup tables when checking shared memory size
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#11756 There's a better way of clearing lines
  common/log.h
  examples/run/run.cpp
Labels: examples

#11494 vulkan: Make Vulkan optional at runtime (#11493).
  ggml/include/ggml-vulkan.h
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#11781 Update README.md
  examples/main/README.md
Labels: examples

#11795 server : correct signal handler
  examples/server/server.cpp
Labels: examples, server

#11792 server : (webui) introduce conversation branching + idb storage
  examples/server/public/index.html.gz
  examples/server/webui/package-lock.json
  examples/server/webui/package.json
  examples/server/webui/src/components/ChatMessage.tsx
  examples/server/webui/src/components/ChatScreen.tsx
  examples/server/webui/src/components/Header.tsx
  examples/server/webui/src/components/Sidebar.tsx
  examples/server/webui/src/utils/app.context.tsx
  examples/server/webui/src/utils/misc.ts
  examples/server/webui/src/utils/storage.ts
  examples/server/webui/src/utils/types.ts
Labels: examples, server

#11791 fix: typos in documentation files
  common/arg.cpp
  common/speculative.h
  ggml/src/ggml.c
Labels: ggml

#11775 CUDA: use arch list for compatibility check
  ggml/src/ggml-common.h
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/convert.cu
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/mmq.cu
  ggml/src/ggml-cuda/mmq.cuh
Labels: Nvidia GPU, ggml

#11740 server : use common_token_to_piece instead of common_detokenize
  examples/server/server.cpp
Labels: examples, server

#11803 Fix #11802: Compile bug - RegQueryValueExA changed to RegQueryValueEx
  ggml/src/ggml-cpu/ggml-cpu.cpp
Labels: ggml

#11697 Add docs for OpenCL backend
  README.md
  docs/backend/OPENCL.md
Labels: documentation

#11821 CUDA: fix CUDART_VERSION checks
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/sum.cu
Labels: Nvidia GPU, ggml

#11817 ggml-cpu: Fix duplicate MATMUL_INT8
  ggml/src/ggml-cpu/ggml-cpu.cpp
Labels: ggml

#11824 Bug fix for clamp_f32
  ggml/src/ggml-cpu/ggml-cpu.c
Labels: ggml

#11811 cleanup: fix compile warnings associated with gnu_printf
  common/common.h
  common/log.h
  ggml/include/ggml.h
  src/llama-impl.h
  tests/test-gguf.cpp
Labels: testing, ggml

#11836 Fix: Compile failure due to Microsoft STL breaking change
  common/log.cpp
  examples/imatrix/imatrix.cpp
  examples/perplexity/perplexity.cpp
Labels: examples

#11831 HIP: Remove GCN from list of devices that avoid MMQ
  ggml/src/ggml-cuda/mmq.cu
Labels: Nvidia GPU, ggml

#11814 webui: Give copy button back to all message bubbles
  examples/server/public/index.html.gz
  examples/server/webui/src/components/ChatMessage.tsx
Labels: examples, server

#11453 ggml : x2 speed for WASM by optimizing SIMD
  ggml/src/ggml-cpu/ggml-cpu-quants.c
Labels: ggml, merge ready

#11666 ggml-cpu : add chunking support to mul_mat_id
  ggml/src/ggml-cpu/ggml-cpu.c
Labels: testing, ggml

#11839 server: fix warning message [easy]
  examples/server/server.cpp
Labels: examples, server

#11223 sampling: add Top-nσ sampler
  common/arg.cpp
  common/common.h
  common/sampling.cpp
  examples/main/README.md
  include/llama.h
  src/llama-sampling.cpp
  tests/test-sampling.cpp
Labels: testing, examples

#11607 `server`: fix tool-call of DeepSeek R1 Qwen, return reasoning_content (Command 7RB & DeepSeek R1) unless `--reasoning-format none`
  common/arg.cpp
  common/chat.cpp
  common/chat.hpp
  common/common.h
  common/sampling.cpp
  examples/server/README.md
  examples/server/server.cpp
  examples/server/tests/unit/test_tool_call.py
  examples/server/tests/utils.py
  examples/server/utils.hpp
  models/templates/README.md
  models/templates/deepseek-ai-DeepSeek-R1-Distill-Llama-8B.jinja
  models/templates/deepseek-ai-DeepSeek-R1-Distill-Qwen-32B.jinja
  models/templates/llama-cpp-deepseek-r1.jinja
  scripts/get_chat_template.py
  src/llama-grammar.cpp
  tests/test-chat.cpp
Labels: script, testing, examples, python, server

#11822 musa: bump MUSA SDK version to rc3.1.1
  .devops/musa.Dockerfile
  .github/workflows/build.yml
  docs/docker.md
  ggml/src/ggml-cuda/ggml-cuda.cu
Labels: documentation, Nvidia GPU, devops, ggml

#11809 docs(examples/server): Update wrong tool calling example
  examples/server/README.md
Labels: examples, server

#11780 fix crash on non-AVX systems dynamically loading GGML CPU backends
  ggml/src/ggml-cpu/llamafile/sgemm.cpp
Labels: ggml

#11832 llama-bench : fix unexpected global variable initialize sequence issue
  examples/llama-bench/llama-bench.cpp
Labels: examples

#11767 vulkan: linux builds + small subgroup size fixes
  .github/workflows/build.yml
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, devops, ggml

#11842 ggml: optimize some vec dot functions for LoongArch ASX
  ggml/src/ggml-cpu/ggml-cpu-quants.c
Labels: ggml

#11869 docker : drop to CUDA 12.4
  .devops/cuda.Dockerfile
  docs/docker.md
Labels: documentation, devops

#11870 cuda : add ampere to the list of default architectures
  ggml/src/ggml-cuda/CMakeLists.txt
Labels: Nvidia GPU, ggml

#11833 opencl: Fix rope and softmax
  ggml/src/ggml-opencl/ggml-opencl.cpp
  ggml/src/ggml-opencl/kernels/ggml-opencl.cl
Labels: ggml

#11664 llguidance build fixes for Windows
  common/CMakeLists.txt
  docs/build.md
  docs/llguidance.md
Labels: documentation

#11528 vulkan: initial support for IQ1_S and IQ1_M quantizations
  .github/workflows/build.yml
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/copy_from_quant.comp
  ggml/src/ggml-vulkan/vulkan-shaders/copy_to_quant.comp
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_funcs.comp
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_funcs_cm2.comp
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_iq1_m.comp
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_iq1_s.comp
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn_cm2.comp
  ggml/src/ggml-vulkan/vulkan-shaders/get_rows_quant.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_iq1_m.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_iq1_s.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mm.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mm_cm2.comp
  ggml/src/ggml-vulkan/vulkan-shaders/types.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, devops, ggml

#11892 metal : optimize dequant q6_K kernel
  ggml/src/ggml-metal/ggml-metal.metal
Labels: ggml, Apple Metal

#11884 examples: fix typo in imatrix/README.md (#11884)
  examples/imatrix/README.md
Labels: examples

#11891 scripts: fix compare-llama-bench commit hash logic
  scripts/compare-llama-bench.py
Labels: script, python

#11904 Fix the crash caused by the lack of residency set support on Intel Macs.
  ggml/src/ggml-metal/ggml-metal.m
Labels: ggml, Apple Metal

#11895 ci : fix (again) arm64 build fails
  .github/workflows/docker.yml
Labels: devops

#11908 server : bump httplib to 0.19.0
  examples/server/httplib.h
Labels: examples, server

#11769 vulkan: implement several ops relevant for ggml_opt
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/argmax.comp
  ggml/src/ggml-vulkan/vulkan-shaders/count_equal.comp
  ggml/src/ggml-vulkan/vulkan-shaders/opt_step_adamw.comp
  ggml/src/ggml-vulkan/vulkan-shaders/repeat_back.comp
  ggml/src/ggml-vulkan/vulkan-shaders/sub.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
  tests/test-backend-ops.cpp
Labels: testing, Vulkan, ggml

#11915 server : fix divide-by-zero in metrics reporting
  examples/server/server.cpp
Labels: examples, server

#11897 ci: fix vulkan build and release dependencies
  .github/workflows/build.yml
Labels: devops

#11935 Fix duplicated .py extension in test command for llama-server
  examples/server/tests/README.md
Labels: examples, server

#11907 scripts: corrected encoding when getting chat template (#11866)
  scripts/get_chat_template.py
Labels: script, python

#11942 server : add TEI API format for /rerank endpoint
  .gitignore
  examples/server/server.cpp
  examples/server/tests/unit/test_rerank.py
  examples/server/utils.hpp
Labels: examples, python, server

#11900 tool-call: refactor common chat / tool-call api (+ tests / fixes)
  Makefile
  common/CMakeLists.txt
  common/arg.cpp
  common/chat.cpp
  common/chat.h
  common/chat.hpp
  common/common.cpp
  common/common.h
  common/minja/chat-template.hpp
  common/minja/minja.hpp
  examples/main/main.cpp
  examples/run/run.cpp
  examples/server/server.cpp
  examples/server/tests/unit/test_chat_completion.py
  examples/server/tests/unit/test_tool_call.py
  examples/server/utils.hpp
  tests/test-chat-template.cpp
  tests/test-chat.cpp
Labels: script, testing, examples, python, server

#11940 Webui: Enable communication with parent html (if webui is in iframe):
  examples/server/public/index.html.gz
  examples/server/webui/src/components/ChatMessage.tsx
  examples/server/webui/src/components/ChatScreen.tsx
  examples/server/webui/src/utils/app.context.tsx
  examples/server/webui/src/utils/llama-vscode.ts
  examples/server/webui/src/utils/misc.ts
  examples/server/webui/src/utils/types.ts
Labels: examples, server

#11954 speculative : update default params
  common/common.h
  common/speculative.cpp
  common/speculative.h
  examples/server/server.cpp
Labels: examples, server

#11961 Added --chat-template-file to llama-run
  examples/run/run.cpp
Labels: examples

#11390 ggml-cpu: Add CPU backend support for KleidiAI library
  ggml/CMakeLists.txt
  ggml/include/ggml-cpu.h
  ggml/src/ggml-cpu/CMakeLists.txt
  ggml/src/ggml-cpu/ggml-cpu.c
  ggml/src/ggml-cpu/ggml-cpu.cpp
  ggml/src/ggml-cpu/kleidiai/kernels.cpp
  ggml/src/ggml-cpu/kleidiai/kernels.h
  ggml/src/ggml-cpu/kleidiai/kleidiai.cpp
  ggml/src/ggml-cpu/kleidiai/kleidiai.h
Labels: ggml

#11971 server (webui): Fix Premature Submission During IME Conversion
  examples/server/public/index.html.gz
  examples/server/webui/src/components/ChatScreen.tsx
  examples/server/webui/src/utils/llama-vscode.ts
Labels: examples, server

#11982 Fix visual encoders with no CLS
  examples/llava/clip.cpp
Labels: examples

#11843 MUSA: support ARM64 and enable dp4a .etc
  Makefile
  docs/build.md
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/cross-entropy-loss.cu
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-impl.h
  ggml/src/ggml-musa/CMakeLists.txt
Labels: documentation, build, Nvidia GPU, python, ggml

#11998 llama.swiftui : add "Done" dismiss button to help view
  examples/llama.swiftui/llama.swiftui/UI/ContentView.swift
Labels: examples

#12020 server : disable Nagle's algorithm
  examples/server/utils.hpp
Labels: examples, server

#12009 Run CI on Github-hosted arm64 runners too
  .github/workflows/build.yml
Labels: devops

#12014 CUDA: optimize FA for GQA + large batches
  ggml/src/ggml-cuda/cp-async.cuh
  ggml/src/ggml-cuda/fattn-common.cuh
  ggml/src/ggml-cuda/fattn-mma-f16.cuh
  ggml/src/ggml-cuda/fattn-tile-f16.cu
  ggml/src/ggml-cuda/fattn-tile-f32.cu
  ggml/src/ggml-cuda/fattn-vec-f16.cuh
  ggml/src/ggml-cuda/fattn-vec-f32.cuh
  ggml/src/ggml-cuda/fattn-wmma-f16.cu
  ggml/src/ggml-cuda/fattn.cu
  ggml/src/ggml-cuda/mma.cuh
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-cpb16.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-cpb32.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-cpb64.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-cpb8.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_1-ncols2_8.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_16-ncols2_1.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_16-ncols2_2.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_16-ncols2_4.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_2-ncols2_4.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_2-ncols2_8.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_32-ncols2_1.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_32-ncols2_2.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_4-ncols2_2.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_4-ncols2_4.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_4-ncols2_8.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_64-ncols2_1.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_8-ncols2_1.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_8-ncols2_2.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_8-ncols2_4.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_8-ncols2_8.cu
  ggml/src/ggml-cuda/template-instances/generate_cu_files.py
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, python, ggml

#12024 ci : fix arm upload artifacts
  .github/workflows/build.yml
Labels: devops

#11999 llava: build clip image from pixels
  examples/llava/clip.cpp
  examples/llava/clip.h
Labels: examples

#12025 CUDA: app option to compile without FlashAttention
  Makefile
  ggml/CMakeLists.txt
  ggml/src/ggml-cuda/CMakeLists.txt
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/fattn-mma-f16.cuh
  ggml/src/ggml-cuda/fattn-tile-f16.cu
  ggml/src/ggml-cuda/fattn-tile-f32.cu
  ggml/src/ggml-cuda/fattn-vec-f16.cuh
  ggml/src/ggml-cuda/fattn-vec-f32.cuh
  ggml/src/ggml-cuda/fattn-wmma-f16.cu
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-hip/CMakeLists.txt
  ggml/src/ggml-musa/CMakeLists.txt
Labels: Nvidia GPU, ggml

#12019 ggml-cpu: Support s390x SIMD Instruction Set
  ggml/CMakeLists.txt
  ggml/include/ggml-cpu.h
  ggml/src/ggml-cpu/CMakeLists.txt
  ggml/src/ggml-cpu/ggml-cpu-impl.h
  ggml/src/ggml-cpu/ggml-cpu-quants.c
  ggml/src/ggml-cpu/ggml-cpu.c
  ggml/src/ggml-cpu/ggml-cpu.cpp
  ggml/src/ggml.c
Labels: ggml

#11973 Some llama-run cleanups
  examples/run/run.cpp
Labels: examples

#12041 run: allow to customize prompt by env var LLAMA_PROMPT_PREFIX
  examples/run/run.cpp
Labels: examples

#11995 SYCL: Fix GGML_SYCL_DEBUG macro
  ggml/src/ggml-sycl/common.hpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
  ggml/src/ggml-sycl/softmax.cpp
Labels: ggml, SYCL

#11349 gguf_convert_endian.py: implement byteswapping for q4_k and q6_k
  gguf-py/gguf/scripts/gguf_convert_endian.py
Labels: python

#12035 [SYCL] Optimize mul_mat for Q4_0 on Intel GPU
  docs/backend/SYCL.md
  examples/sycl/run-llama2.sh
  ggml/src/ggml-sycl/CMakeLists.txt
  ggml/src/ggml-sycl/common.cpp
  ggml/src/ggml-sycl/common.hpp
  ggml/src/ggml-sycl/convert.cpp
  ggml/src/ggml-sycl/convert.hpp
  ggml/src/ggml-sycl/dequantize.hpp
  ggml/src/ggml-sycl/dmmv.cpp
  ggml/src/ggml-sycl/getrows.cpp
  ggml/src/ggml-sycl/getrows.hpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
  ggml/src/ggml-sycl/sycl_hw.cpp
  ggml/src/ggml-sycl/sycl_hw.hpp
Labels: documentation, examples, ggml, SYCL

#11794 Add Granite Vision Support
  examples/llava/README.md
  examples/llava/clip.cpp
  examples/llava/clip.h
  examples/llava/convert_image_encoder_to_gguf.py
  examples/llava/llava.cpp
  examples/llava/llava_surgery_v2.py
Labels: examples, python, ggml

#11950 opencl: fix for small models
  ggml/src/ggml-opencl/ggml-opencl.cpp
  ggml/src/ggml-opencl/kernels/ggml-opencl.cl
  ggml/src/ggml-opencl/kernels/ggml-opencl_gemv_noshuffle.cl
  ggml/src/ggml-opencl/kernels/ggml-opencl_gemv_noshuffle_general.cl
  ggml/src/ggml-opencl/kernels/ggml-opencl_mul_mat_Ab_Bi_8x4.cl
  ggml/src/ggml-opencl/kernels/ggml-opencl_transpose_16.cl
Labels: ggml

#12006 Add Doc for Converting Granite Vision -> GGUF
  examples/llava/README-granitevision.md
Labels: examples

#12062 server: support add_generation_prompt query param
  examples/server/utils.hpp
Labels: examples, server

#11914 vulkan: implement more backpropagation operators
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/rms_norm_back.comp
  ggml/src/ggml-vulkan/vulkan-shaders/rope_head.comp
  ggml/src/ggml-vulkan/vulkan-shaders/silu_back.comp
  ggml/src/ggml-vulkan/vulkan-shaders/soft_max_back.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, ggml

#12059 ggml-cpu: Fix build with sve
  ggml/src/ggml-cpu/ggml-cpu-quants.c
Labels: ggml

#12056 Vulkan: add OP sigmoid
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/sigmoid.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, ggml

#12060 server: handle echo=false on /v1/completions
  examples/server/utils.hpp
Labels: examples, server

#12068 vulkan: fix assertion when qy_needs_dequant
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#12069 docs: add docs/function-calling.md to lighten server/README.md's plight
  docs/function-calling.md
  examples/server/README.md
Labels: documentation, examples, server

#12081 gguf-py: enable reading non-native endian files
  gguf-py/gguf/gguf_reader.py
Labels: python

#11909 Refactor gguf scripts to improve metadata handling
  gguf-py/examples/reader.py
  gguf-py/gguf/gguf_reader.py
  gguf-py/gguf/scripts/gguf_convert_endian.py
  gguf-py/gguf/scripts/gguf_dump.py
  gguf-py/gguf/scripts/gguf_new_metadata.py
  gguf-py/pyproject.toml
Labels: python

#12079 llava : add struct for FFI bindgen
  examples/llava/clip.h
Labels: examples

#11818 cmake: Fix ggml backend dependencies and installation
  ggml/CMakeLists.txt
  ggml/cmake/ggml-config.cmake.in
Labels: ggml

#11826 vulkan: improve im2col
  ggml/src/ggml-vulkan/vulkan-shaders/im2col.comp
Labels: Vulkan, ggml

#12015 vulkan: matmul dequantization improvements
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_funcs.comp
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_funcs_cm2.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mm.comp
  ggml/src/ggml-vulkan/vulkan-shaders/types.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, ggml

#11990 CANN: Fix build error with GCC 13
  ggml/src/ggml-cann/kernels/dup.cpp
Labels: ggml, Ascend NPU

#12064 ggml: aarch64: implement SVE kernels for q2_k_q8_k vector dot
  ggml/src/ggml-cpu/ggml-cpu-quants.c
Labels: ggml

#11595 vulkan: add specific MMV kernels for IQ2 and IQ3 quants + optimizations
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/get_rows_quant.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_iq2_s.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_iq2_xs.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_iq2_xxs.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_iq3_s.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_iq3_xxs.comp
  ggml/src/ggml-vulkan/vulkan-shaders/types.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, devops, ggml

#12105 Update granite vision docs for 3.2 model
  examples/llava/README-granitevision.md
Labels: examples

#11854 Upgrade init_tensor API to return a ggml_status
  .gitignore
  CONTRIBUTING.md
  ggml/include/ggml-alloc.h
  ggml/include/ggml-backend.h
  ggml/src/ggml-alloc.c
  ggml/src/ggml-backend-impl.h
  ggml/src/ggml-backend.cpp
  ggml/src/ggml-cann/ggml-cann.cpp
  ggml/src/ggml-cpu/amx/amx.cpp
  ggml/src/ggml-cpu/ggml-cpu-aarch64.cpp
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-opencl/ggml-opencl.cpp
  ggml/src/ggml-rpc/ggml-rpc.cpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, Vulkan, ggml, SYCL

#12114 convert : fix Norway problem when parsing YAML
  gguf-py/gguf/metadata.py
Labels: python
