Repository ggml-org/llama.cpp, pull requests merged in 2025-09, with the labels that each got.

#15629 CANN: fix RoPE cache issue on multi-device
  ggml/src/ggml-cann/aclnn_ops.cpp
  ggml/src/ggml-cann/common.h
  ggml/src/ggml-cann/ggml-cann.cpp
Labels: ggml, Ascend NPU

#15658 CANN: Optimize MUL_MAT_ID
  ggml/src/ggml-cann/aclnn_ops.cpp
Labels: ggml, Ascend NPU

#15690 CUDA: fix build error from ambiguous __half conversions in conv2d
  ggml/src/ggml-cuda/conv2d.cu
Labels: Nvidia GPU, ggml

#15695 ggml : WebGPU add TRANSPOSE and RESHAPE to supported ops
  ggml/src/ggml-webgpu/ggml-webgpu.cpp
Labels: testing, devops, ggml

#14903 Vulkan: Add Integer Dot Product mul_mat_vec shader for legacy quants
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_base.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vecq.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mmq.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mmq_funcs.comp
  ggml/src/ggml-vulkan/vulkan-shaders/quantize_q8_1.comp
  ggml/src/ggml-vulkan/vulkan-shaders/types.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, ggml

#15708 convert : remove redundant code
  convert_hf_to_gguf.py
Labels: python

#15115 ggml: aarch64: Implement SVE F16 kernels for vector functions
  ggml/src/ggml-cpu/simd-mappings.h
  ggml/src/ggml-cpu/vec.cpp
  ggml/src/ggml-cpu/vec.h
Labels: ggml

#15145 ggml: SVE support for exponential functions
  ggml/src/ggml-cpu/vec.cpp
  ggml/src/ggml-cpu/vec.h
Labels: ggml

#15722 ggml-backend: raise GGML_MAX_SPLIT_INPUTS
  ggml/src/ggml-backend.cpp
Labels: ggml

#15710 CANN: support ext_factor in rope
  ggml/src/ggml-cann/aclnn_ops.cpp
  ggml/src/ggml-cann/ggml-cann.cpp
Labels: ggml, Ascend NPU

#15712 CANN: Support eager execution mode under ACL graph compilation
  docs/backend/CANN.md
  ggml/src/ggml-cann/common.h
  ggml/src/ggml-cann/ggml-cann.cpp
Labels: documentation, ggml, Ascend NPU

#15706 OpenCL: add attention sinks support for FA kernels
  ggml/src/ggml-opencl/ggml-opencl.cpp
  ggml/src/ggml-opencl/kernels/flash_attn_f16.cl
  ggml/src/ggml-opencl/kernels/flash_attn_f32.cl
  ggml/src/ggml-opencl/kernels/flash_attn_f32_f16.cl
Labels: ggml, OpenCL

#15716 vulkan: Fix macro parameter order for f32 matmul shaders
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#15754 fix: resolve unsigned integer initialization warnings in gguf.cpp
  ggml/src/gguf.cpp
Labels: ggml

#15736 CANN: Change the previously written float_t type to float
  ggml/src/ggml-cann/aclnn_ops.cpp
Labels: ggml, Ascend NPU

#15735 CANN: Add RoPE contiguous check for 310I DUO device
  ggml/src/ggml-cann/ggml-cann.cpp
Labels: ggml, Ascend NPU

#15770 model-conversion : fix pyright errors
  examples/model-conversion/scripts/causal/run-casual-gen-embeddings-org.py
  examples/model-conversion/scripts/utils/inspect-org-model.py
Labels: examples, python

#15715 CUDA: Optimize `rms_norm_f32` kernel and its fused variants, giving 1-6% perf E2E
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/norm.cu
Labels: Nvidia GPU, ggml

#15724 vulkan: don't use std::string in load_shaders, to improve compile time
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#15775 vulkan: fix mmv subgroup16 selection
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#15760 CANN: fix acl_rstd allocation size in ggml_cann_rms_norm
  ggml/src/ggml-cann/aclnn_ops.cpp
Labels: ggml, Ascend NPU

#15758 OpenCL: add hs=40 support to FA
  ggml/src/ggml-opencl/ggml-opencl.cpp
Labels: ggml, OpenCL

#15780 server: add exceed_context_size_error type
  tools/server/server.cpp
  tools/server/tests/unit/test_chat_completion.py
Labels: examples, python, server

#15763 CANN: Refactor ND to NZ workspace to be per-device in Ascend backend
  ggml/src/ggml-cann/ggml-cann.cpp
Labels: ggml, Ascend NPU

#15756 feat: add Jinja tester PySide6 simple app
  scripts/jinja/jinja-tester.py
  scripts/jinja/requirements.txt
Labels: script, python

#15676 feat: nemotron thinking & toolcalling support
  common/chat.cpp
  common/chat.h
  models/templates/NVIDIA-Nemotron-Nano-v2.jinja
  tests/test-chat.cpp
Labels: testing

#15745 tests : add --list-ops and --show-coverage options
  tests/test-backend-ops.cpp
Labels: testing

#15802 CUDA: fastdiv, launch bounds for mmvq + q8_1 quant
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/mmvq.cu
  ggml/src/ggml-cuda/quantize.cu
Labels: Nvidia GPU, ggml

#15404 Thinking model disabled assistant prefill
  common/chat.cpp
  common/chat.h
  tools/server/server.cpp
  tools/server/utils.hpp
Labels: examples, server

#15825 ci : exempt correct research label
  .github/workflows/close-issue.yml
Labels: devops

#15327 aLoRA Support
  convert_lora_to_gguf.py
  gguf-py/gguf/constants.py
  include/llama.h
  src/llama-adapter.cpp
  src/llama-adapter.h
  src/llama-arch.cpp
  src/llama-arch.h
  tools/server/server.cpp
  tools/server/utils.hpp
Labels: enhancement, examples, python, server

#15834 ggml-cpu: document use of "free" memory [no ci]
  ggml/src/ggml-cpu/ggml-cpu.cpp
Labels: ggml

#15769 CUDA: faster tile FA (Pascal/AMD), headsize 256
  ggml/src/ggml-cuda/fattn-tile-f16.cu
  ggml/src/ggml-cuda/fattn-tile-f16.cuh
  ggml/src/ggml-cuda/fattn-tile-f32.cu
  ggml/src/ggml-cuda/fattn-tile-f32.cuh
  ggml/src/ggml-cuda/fattn-tile.cu
  ggml/src/ggml-cuda/fattn-tile.cuh
  ggml/src/ggml-cuda/fattn.cu
Labels: Nvidia GPU, ggml

#15527 ggml WebGPU: remove userdata from request adapter callback
  ggml/src/ggml-webgpu/ggml-webgpu.cpp
Labels: ggml

#15794 vulkan: Support pad_ext
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/pad.comp
  tests/test-backend-ops.cpp
Labels: testing, Vulkan, ggml

#15855 ggml-cpu: clean up s390x SIMD
  ggml/src/ggml-cpu/arch/s390/quants.c
  ggml/src/ggml-cpu/ggml-cpu-impl.h
Labels: ggml

#15809 CANN: Switch to stream synchronization
  ggml/src/ggml-cann/ggml-cann.cpp
Labels: ggml, Ascend NPU

#15687 tests: large sizes for get_rows
  tests/test-backend-ops.cpp
Labels: testing

#15783 ggml: allow casting between f32 and i32
  ggml/include/ggml-cpu.h
  ggml/include/ggml.h
  ggml/src/ggml-cpu/ggml-cpu.c
  ggml/src/ggml-cpu/ops.cpp
  ggml/src/ggml-cuda/convert.cuh
  ggml/src/ggml-cuda/cpy.cu
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-metal/ggml-metal.m
  ggml/src/ggml-metal/ggml-metal.metal
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, Vulkan, ggml, Apple Metal

#15877 feat: Extra debugging support for model conversion
  examples/eval-callback/eval-callback.cpp
  examples/model-conversion/requirements.txt
  examples/model-conversion/scripts/causal/run-org-model.py
Labels: examples, python

#15884 HIP: use v_dot2_f32_f16 instruction for FA
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/fattn-tile.cu
Labels: Nvidia GPU, ggml

#15887 ci : cache ROCm installation in windows-latest-cmake-hip
  .github/workflows/build.yml
Labels: devops

#15814 CANN: implement LRU cache for ACL graphs in CANN backend
  docs/backend/CANN.md
  ggml/src/ggml-cann/common.h
  ggml/src/ggml-cann/ggml-cann.cpp
Labels: documentation, ggml, Ascend NPU

#15900 tests : filter out no-ops from coverage report
  tests/test-backend-ops.cpp
Labels: testing

#15924 ci : add caching for ROCm installation in release workflow
  .github/workflows/release.yml
Labels: devops

#15917 ggml-cpu : fix padding in ggml_timestep_embedding
  ggml/src/ggml-cpu/ops.cpp
Labels: ggml

#15872 CUDA: Add `fastdiv` to `k_bin_bcast*`, giving 1-3% E2E performance
  ggml/src/ggml-cuda/binbcast.cu
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, ggml

#15964 metal : refactor kernel loading
  .github/workflows/build.yml
  ci/run.sh
  ggml/src/ggml-metal/ggml-metal.m
  ggml/src/ggml-metal/ggml-metal.metal
Labels: devops, ggml, Apple Metal

#15862 vulkan: fix failing dequant shaders
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_iq2_s.comp
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_iq2_xxs.comp
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_iq3_s.comp
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_iq3_xxs.comp
Labels: Vulkan, ggml

#15972 releases : update ROCM, add gfx1200, gfx1201, gfx1151
  .github/workflows/release.yml
Labels: devops

#15981 rpc : fix regression when --device is used
  tools/rpc/rpc-server.cpp
Labels: examples

#15994 rocm.Dockerfile: added gfx1200,gfx1201 architectures to support AMD Radeon RX 9000 series
  .devops/rocm.Dockerfile
Labels: devops

#15999 fix KLD percentile output
  tools/perplexity/perplexity.cpp
Labels: examples

#15926 CUDA: some micro-optimizations in mmf.cuh for mul_mat_id
  ggml/src/ggml-cuda/mmf.cuh
Labels: Nvidia GPU, ggml

#15988 llama-run: Fix model download on Windows
  tools/run/run.cpp
Labels: examples

#15991 SYCL: Add COUNT_EQUAL operator support
  ggml/src/ggml-sycl/binbcast.cpp
  ggml/src/ggml-sycl/binbcast.hpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: documentation, testing, ggml, SYCL

#15956 CUDA: fix im2col_3d to respect non-contiguous inputs (views)
  ggml/src/ggml-cuda/im2col.cu
Labels: Nvidia GPU, ggml

#16003 Add LLaDA-7b-MoE diffusion model
  common/arg.cpp
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  examples/diffusion/diffusion-cli.cpp
  gguf-py/gguf/constants.py
  src/llama-arch.cpp
  src/llama-arch.h
  src/llama-model.cpp
  src/llama-vocab.cpp
Labels: examples, python

#15903 Do not install tools on iOS targets
  CMakeLists.txt
  tools/batched-bench/CMakeLists.txt
  tools/cvector-generator/CMakeLists.txt
  tools/export-lora/CMakeLists.txt
  tools/gguf-split/CMakeLists.txt
  tools/imatrix/CMakeLists.txt
  tools/llama-bench/CMakeLists.txt
  tools/main/CMakeLists.txt
  tools/mtmd/CMakeLists.txt
  tools/perplexity/CMakeLists.txt
  tools/quantize/CMakeLists.txt
  tools/run/CMakeLists.txt
  tools/tokenize/CMakeLists.txt
  tools/tts/CMakeLists.txt
Labels: build, examples

#15938 ci : update macos-latest* jobs to use macos-latest
  .github/workflows/build.yml
Labels: devops

#16029 ci : use macos-latest for arm64 webgpu build
  .github/workflows/build.yml
Labels: devops

#15952 llama-bench: add --n-cpu-moe support
  common/arg.cpp
  common/common.h
  tools/llama-bench/llama-bench.cpp
Labels: examples

#16002 examples : support encoder-decoder models in the simple example
  examples/simple/simple.cpp
Labels: examples

#15982 CUDA: fix FA occupancy, optimize tile kernel
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/fattn-common.cuh
  ggml/src/ggml-cuda/fattn-tile.cu
  ggml/src/ggml-cuda/vendors/hip.h
Labels: Nvidia GPU, ggml

#16044 CANN: remove print
  ggml/src/ggml-cann/ggml-cann.cpp
Labels: ggml, Ascend NPU

#16067 metal : avoid call free for non-owned buffer
  ggml/src/ggml-metal/ggml-metal-device.m
Labels: ggml, Apple Metal

#16052 server : include usage statistics only when user request them
  tools/server/server.cpp
  tools/server/tests/unit/test_chat_completion.py
Labels: examples, python, server

#16074 metal : use function constants for mul_mv_ext kernels
  ggml/src/ggml-metal/ggml-metal-device.cpp
  ggml/src/ggml-metal/ggml-metal-device.h
  ggml/src/ggml-metal/ggml-metal-impl.h
  ggml/src/ggml-metal/ggml-metal-ops.cpp
  ggml/src/ggml-metal/ggml-metal.metal
Labels: ggml, Apple Metal

#15957 CUDA: Optimize PAD_REFLECT_1D
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/pad_reflect_1d.cu
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, ggml

#16037 OpenCL: MoE MXFP4 kernel optimizations
  ggml/src/ggml-opencl/CMakeLists.txt
  ggml/src/ggml-opencl/ggml-opencl.cpp
  ggml/src/ggml-opencl/kernels/cvt.cl
  ggml/src/ggml-opencl/kernels/mul_mv_id_mxfp4_f32_flat.cl
  ggml/src/ggml-opencl/kernels/mul_mv_mxfp4_f32_flat.cl
Labels: ggml, OpenCL

#16084 feat: Improve mobile UI for Settings Dialog
  tools/server/public/index.html.gz
  tools/server/webui/scripts/install-git-hooks.sh
  tools/server/webui/src/app.css
  tools/server/webui/src/lib/components/app/chat/ChatSettings/ChatSettingsDialog.svelte
  tools/server/webui/src/lib/components/app/chat/ChatSettings/ChatSettingsFields.svelte
  tools/server/webui/src/lib/components/app/chat/ChatSettings/ChatSettingsFooter.svelte
  tools/server/webui/src/lib/components/app/chat/ChatSettings/ChatSettingsSection.svelte
  tools/server/webui/src/lib/components/app/index.ts
Labels: server/webui, examples, bugfix, server

#15682 chat: Fix streaming parser for granite models
  common/chat.cpp
  tests/test-chat.cpp
Labels: testing

#16109 server: fix SSE and OpenAI compatibility for error messages when streaming
  tools/server/server.cpp
  tools/server/utils.hpp
Labels: examples, server

#16086 vulkan: fix validation error about VK_PIPELINE_CREATE_CAPTURE_STATISTICS_BIT_KHR
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#16059 vulkan: optimize UMA buffer operations and fix driver hangs
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#16150 ci : add label for the RISC-V runner
  .github/workflows/build-riscv-native.yml
Labels: devops

#15732 opencl: initial `q8_0` mv support
  ggml/src/ggml-opencl/CMakeLists.txt
  ggml/src/ggml-opencl/ggml-opencl.cpp
  ggml/src/ggml-opencl/kernels/cvt.cl
  ggml/src/ggml-opencl/kernels/mul_mv_id_q8_0_f32.cl
  ggml/src/ggml-opencl/kernels/mul_mv_id_q8_0_f32_flat.cl
  ggml/src/ggml-opencl/kernels/mul_mv_q8_0_f32.cl
  ggml/src/ggml-opencl/kernels/mul_mv_q8_0_f32_flat.cl
Labels: ggml, OpenCL

#16151 vulkan: vec dot matrix multiplication fix
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mm.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mm_funcs.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
  tests/test-backend-ops.cpp
Labels: testing, Vulkan, ggml

#16167 ci : adjust params for less runtime
  .github/workflows/build.yml
  ci/run.sh
  tools/main/main.cpp
Labels: examples, devops

#16165 vulkan: add RTE variants of exp shader
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/exp.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, ggml

#16107 Fix incomplete chunck handling in the webui
  tools/server/webui/src/lib/services/chat.ts
Labels: examples, server

#16162 vulkan: support set_rows with i32 index type
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/copy_to_quant.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, ggml

#16159 ggml : implement set_rows with i32 index
  ggml/src/ggml-cpu/ops.cpp
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/set-rows.cu
  ggml/src/ggml-metal/ggml-metal-device.cpp
  ggml/src/ggml-metal/ggml-metal-device.h
  ggml/src/ggml-metal/ggml-metal-ops.cpp
  ggml/src/ggml-metal/ggml-metal.metal
  ggml/src/ggml-opencl/ggml-opencl.cpp
  ggml/src/ggml-opencl/kernels/set_rows.cl
  ggml/src/ggml-sycl/ggml-sycl.cpp
  ggml/src/ggml-sycl/set_rows.cpp
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/copy_to_quant.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
  ggml/src/ggml-webgpu/ggml-webgpu.cpp
  ggml/src/ggml.c
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, Vulkan, ggml, SYCL, Apple Metal, OpenCL

#16209 model-conversion : fix the make targets in the README.md
  examples/model-conversion/README.md
Labels: examples

#15815 ggml : split graph allocations according to backend max buffer size
  ggml/src/ggml-alloc.c
  ggml/src/ggml-impl.h
  tests/CMakeLists.txt
  tests/test-alloc.cpp
Labels: testing, Vulkan, ggml

#16183 ci: run the x64 and arm ci on the github machines instead
  .github/workflows/build.yml
  ci/run.sh
  tests/test-quantize-perf.cpp
Labels: testing, devops

#16220 metal : fuse NORM + MUL + ADD, support non-multiples of 4
  ggml/src/ggml-metal/ggml-metal-common.cpp
  ggml/src/ggml-metal/ggml-metal-device.cpp
  ggml/src/ggml-metal/ggml-metal-device.h
  ggml/src/ggml-metal/ggml-metal-device.m
  ggml/src/ggml-metal/ggml-metal-impl.h
  ggml/src/ggml-metal/ggml-metal-ops.cpp
  ggml/src/ggml-metal/ggml-metal-ops.h
  ggml/src/ggml-metal/ggml-metal.metal
  tests/test-backend-ops.cpp
Labels: testing, ggml, Apple Metal

#15824 Add support for Qwen3-Reranker
  common/common.cpp
  convert_hf_to_gguf.py
  examples/embedding/embedding.cpp
  src/llama-arch.cpp
  src/llama-graph.cpp
  src/llama-graph.h
  src/llama-model.cpp
  tools/server/server.cpp
  tools/server/utils.hpp
Labels: examples, python, server

#15871 model-conversion : add embedding prompt file support
  examples/model-conversion/Makefile
  examples/model-conversion/logits.cpp
  examples/model-conversion/scripts/embedding/compare-embeddings-logits.sh
  examples/model-conversion/scripts/embedding/run-converted-model.sh
  examples/model-conversion/scripts/embedding/run-original-model.py
  examples/model-conversion/scripts/utils/inspect-org-model.py
  examples/model-conversion/scripts/utils/semantic_check.py
Labels: examples, python

#16240 musa: upgrade musa sdk to 4.3.0
  .devops/musa.Dockerfile
  .github/workflows/build.yml
  ci/README-MUSA.md
  docs/docker.md
Labels: documentation, devops

#16185 common : use cpp-httplib as a cURL alternative for downloads
  common/CMakeLists.txt
  common/arg.cpp
  ggml/CMakeLists.txt
  vendor/cpp-httplib/httplib.h
Labels: devops, ggml

#16255 Allow viewing conversations even when llama server is down
  tools/server/public/index.html.gz
  tools/server/webui/src/lib/components/app/chat/ChatScreen/ChatScreen.svelte
  tools/server/webui/src/lib/components/app/chat/ChatScreen/ChatScreenWarning.svelte
  tools/server/webui/src/lib/components/app/index.ts
  tools/server/webui/src/lib/constants/localstorage-keys.ts
  tools/server/webui/src/lib/stores/server.svelte.ts
  tools/server/webui/src/lib/utils/api-key-validation.ts
Labels: examples, server

#15925 devops: add s390x & ppc64le CI
  .github/workflows/build-linux-cross.yml
  .github/workflows/build.yml
  common/common.cpp
  examples/eval-callback/CMakeLists.txt
  ggml/src/ggml-cpu/arch/s390/quants.c
  ggml/src/ggml.c
  src/llama-vocab.cpp
  src/unicode.h
  tests/CMakeLists.txt
  tests/test-tokenizers-repo.sh
Labels: testing, examples, devops, ggml

#16287 build : add LLAMA_OPENSSL option (#16285)
  CMakeLists.txt
  common/CMakeLists.txt
Labels: build

#16235 vulkan: support GET_ROWS for k-quants
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_funcs.comp
  ggml/src/ggml-vulkan/vulkan-shaders/types.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, ggml

#16290 server : remove old LLAMA_SERVER_SSL
  CMakeLists.txt
  common/CMakeLists.txt
  tools/server/CMakeLists.txt
  tools/server/README.md
Labels: build, examples, server

#16156 vulkan: throw system error instead of SIGABRT during init on older devices
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#16277 CUDA: mul_mat_id for mmf for bs <= 64 for f16 and bs <= 32 for f32
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/mmf.cu
  ggml/src/ggml-cuda/mmf.cuh
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, ggml

#16289 Show message actions by default
  tools/server/public/index.html.gz
  tools/server/webui/src/lib/components/app/chat/ChatMessages/ChatMessageActions.svelte
  tools/server/webui/src/lib/components/app/chat/ChatMessages/ChatMessageAssistant.svelte
  tools/server/webui/src/lib/components/app/chat/ChatMessages/ChatMessageUser.svelte
  tools/server/webui/src/lib/components/app/chat/ChatSettings/ChatSettingsDialog.svelte
  tools/server/webui/src/lib/components/app/chat/ChatSettings/ChatSettingsFields.svelte
Labels: examples, server

#16176 vulkan: handle mat_mul with A matrix > 4GB
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mm_cm2.comp
  tests/test-backend-ops.cpp
Labels: testing, Vulkan, ggml

#16225 metal : extend mat-mat multiplication support
  ggml/src/ggml-metal/ggml-metal-device.cpp
  ggml/src/ggml-metal/ggml-metal-device.h
  ggml/src/ggml-metal/ggml-metal-device.m
  ggml/src/ggml-metal/ggml-metal-impl.h
  ggml/src/ggml-metal/ggml-metal-ops.cpp
  ggml/src/ggml-metal/ggml-metal.metal
  tests/test-backend-ops.cpp
Labels: testing, ggml, Apple Metal

#16297 docs: fixed a few typos in the README of the LLaMA.cpp HTTP Server
  tools/server/README.md
Labels: examples, server

#16302 devops: docker release switch to using ubuntu-22.04-s390x image
  .github/workflows/docker.yml
Labels: devops

#16306 musa: fix ci
  .devops/musa.Dockerfile
Labels: devops

#16318 ggml : fix dependencies for ggml_set_rows
  ggml/src/ggml.c
Labels: ggml

#16321 perplexity : show more kl-divergence data
  tools/perplexity/perplexity.cpp
Labels: examples

#16222 Improve Mobile UI for dialogs and action dropdowns
  tools/server/public/index.html.gz
  tools/server/webui/src/app.css
  tools/server/webui/src/lib/components/app/chat/ChatSettings/ChatSettingsDialog.svelte
  tools/server/webui/src/lib/components/app/chat/ChatSettings/ChatSettingsFields.svelte
  tools/server/webui/src/lib/components/app/chat/ChatSettings/ChatSettingsFooter.svelte
  tools/server/webui/src/lib/components/app/chat/ChatSidebar/ChatSidebar.svelte
  tools/server/webui/src/lib/components/app/chat/ChatSidebar/ChatSidebarConversationItem.svelte
  tools/server/webui/src/lib/components/app/misc/ActionDropdown.svelte
  tools/server/webui/src/lib/components/ui/alert-dialog/alert-dialog-content.svelte
  tools/server/webui/src/lib/components/ui/alert-dialog/alert-dialog-footer.svelte
  tools/server/webui/src/lib/components/ui/dialog/dialog-content.svelte
  tools/server/webui/src/lib/components/ui/select/select-content.svelte
Labels: examples, server

#16323 ggml : check cuda and metal argsort limits and add test
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-metal/ggml-metal-device.m
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, ggml, Apple Metal

#15288 ggml: riscv: add riscv spacemit backend
  .github/workflows/build-linux-cross.yml
  .github/workflows/build-riscv-native.yml
  CODEOWNERS
  cmake/riscv64-spacemit-linux-gnu-gcc.cmake
  docs/build-riscv64-spacemit.md
  ggml/src/ggml-cpu/CMakeLists.txt
  ggml/src/ggml-cpu/ggml-cpu.cpp
  ggml/src/ggml-cpu/spacemit/ime.cpp
  ggml/src/ggml-cpu/spacemit/ime.h
  ggml/src/ggml-cpu/spacemit/ime1_kernels.cpp
  ggml/src/ggml-cpu/spacemit/ime_kernels.h
Labels: documentation, build, devops, ggml

#16295 tests: override test_set_rows::max_nmse_err to allow for occasional rounding differences
  tests/test-backend-ops.cpp
Labels: testing

#16246 kleidiai: fix work size and threads sync for fp16
  ggml/src/ggml-cpu/CMakeLists.txt
  ggml/src/ggml-cpu/kleidiai/kleidiai.cpp
Labels: ggml

#16328 Enable CUDA Graph usage for Nemotron Nano v2 (NemotronH)
  ggml/src/ggml-cuda/cpy.cu
  ggml/src/ggml-cuda/ggml-cuda.cu
  src/llama-model.cpp
Labels: Nvidia GPU, ggml

#16348 ci : disable ccache for android
  .github/workflows/build.yml
Labels: devops

#16351 common : remove common_has_curl()
  common/arg.cpp
  common/arg.h
  tests/test-arg-parser.cpp
Labels: testing

#15866 opencl: support ne3 in `get_rows`
  ggml/src/ggml-opencl/ggml-opencl.cpp
  ggml/src/ggml-opencl/kernels/get_rows.cl
Labels: ggml, OpenCL

#16187 ggml webgpu: support for rope,div,sub,glu,scale,cont operators
  ggml/include/ggml.h
  ggml/src/ggml-webgpu/ggml-webgpu.cpp
  ggml/src/ggml-webgpu/wgsl-shaders/add.tmpl.wgsl
  ggml/src/ggml-webgpu/wgsl-shaders/add_in_place.tmpl.wgsl
  ggml/src/ggml-webgpu/wgsl-shaders/bin_op.tmpl.wgsl
  ggml/src/ggml-webgpu/wgsl-shaders/cpy.tmpl.wgsl
  ggml/src/ggml-webgpu/wgsl-shaders/cpy.wgsl
  ggml/src/ggml-webgpu/wgsl-shaders/embed_wgsl.py
  ggml/src/ggml-webgpu/wgsl-shaders/get_rows.tmpl.wgsl
  ggml/src/ggml-webgpu/wgsl-shaders/glu.tmpl.wgsl
  ggml/src/ggml-webgpu/wgsl-shaders/mul.tmpl.wgsl
  ggml/src/ggml-webgpu/wgsl-shaders/mul_in_place.tmpl.wgsl
  ggml/src/ggml-webgpu/wgsl-shaders/rms_norm.wgsl
  ggml/src/ggml-webgpu/wgsl-shaders/rms_norm_in_place.wgsl
  ggml/src/ggml-webgpu/wgsl-shaders/rope.tmpl.wgsl
  ggml/src/ggml-webgpu/wgsl-shaders/scale.tmpl.wgsl
  tests/test-backend-ops.cpp
Labels: testing, python, ggml

#16355 ci : fix ccache key for ubuntu-cpu-cmake
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: devops
