Repository ggml-org/llama.cpp, pull requests merged in 2025-08, with the labels that each got.

#14392 compare-commits.sh: support both llama-bench and test-backend-ops
  scripts/compare-commits.sh
  scripts/compare-llama-bench.py
Labels: script, python

#14373 Q2k interleaving implementation - x86/x64 SIMD
  ggml/src/ggml-cpu/arch-fallback.h
  ggml/src/ggml-cpu/arch/x86/repack.cpp
  ggml/src/ggml-cpu/repack.cpp
  ggml/src/ggml-cpu/repack.h
Labels: ggml

#14878 model: add hunyuan dense
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  gguf-py/gguf/constants.py
  src/llama-arch.cpp
  src/llama-arch.h
  src/llama-chat.cpp
  src/llama-chat.h
  src/llama-model.cpp
  src/llama-vocab.cpp
  src/llama-vocab.h
Labels: python

#14933 vulkan: optimizations for direct convolution
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/conv2d_mm.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, ggml

#15001 server: enable token array inputs for OAI API
  tools/server/server.cpp
Labels: examples, server

#15015 vulkan: Support ne[3]>1 in noncontig matrix-vector multiply
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_nc.comp
  tests/test-backend-ops.cpp
Labels: testing, Vulkan, ggml

#14934 vulkan: coopmat2 mul_mat optimizations
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#14962 chat : fix multiple tool_calls on hermes-2-pro
  common/chat.cpp
  tests/test-chat.cpp
Labels: testing

#15032 ci : check that pre-tokenizer hashes are up-to-date
  .github/workflows/pre-tokenizer-hashes.yml
  convert_hf_to_gguf_update.py
  requirements/requirements-convert_hf_to_gguf_update.txt
Labels: python, devops

#15038 cuda, sycl : fix batched gemm when ne02 == 1 && ne03 > 1
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: Nvidia GPU, ggml, SYCL

#14959 llama : enable LLAMA_SET_ROWS=1 by default
  src/llama-context.cpp
  src/llama-context.h
  src/llama-kv-cache-unified.cpp
  src/llama-kv-cache-unified.h
Labels: testing, examples

#15025 cuda: make im2col faster
  ggml/src/ggml-cuda/im2col.cu
Labels: Nvidia GPU, ggml

#15035 CUDA: use mma FA kernel for gqa > 4 on RTX 4000
  ggml/src/ggml-cuda/fattn.cu
Labels: Nvidia GPU, ggml

#15051 model : add text-only support for Kimi-VL
  convert_hf_to_gguf.py
  gguf-py/gguf/vocab.py
Labels: python

#15045 fix tokenizer for JetBrain Mellum
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  src/llama-vocab.cpp
Labels: python

#15050 memory : handle kv_unified for hybrid models
  src/llama-memory-hybrid.cpp
  src/llama-memory-hybrid.h
  src/llama-model.cpp
Labels: bugfix

#14994 imatrix : fix 3d activation handling for hybrid and recurrent models
  tools/imatrix/imatrix.cpp
Labels: examples, bugfix

#14842 imatrix : use GGUF by default
  common/arg.cpp
  common/common.h
  tools/imatrix/README.md
  tools/imatrix/imatrix.cpp
Labels: examples

#15062 vulkan: fix build when using glslang that does not support coopmat2
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, ggml

#14978 ggml: WebGPU backend host improvements and style fixing
  .github/workflows/build.yml
  ggml/src/ggml-webgpu/ggml-webgpu.cpp
Labels: devops, ggml

#15071 quantize : fix confusing error message if ftype is invalid
  tools/quantize/quantize.cpp
Labels: examples

#15074 cmake: Add GGML_BACKEND_DIR option
  ggml/CMakeLists.txt
  ggml/cmake/ggml-config.cmake.in
  ggml/src/CMakeLists.txt
  ggml/src/ggml-backend-reg.cpp
Labels: ggml

#15076 imatrix : warn when GGUF imatrix is saved without .gguf suffix
  common/arg.cpp
  common/common.h
  tools/imatrix/imatrix.cpp
Labels: examples

#15092 sycl: fix mul_mat selection
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: ggml, SYCL

#15086 chat : only remove double bos/eos if added
  common/chat.cpp
  common/chat.h
  tests/test-chat-template.cpp
Labels: testing

#15129 llama-bench: fixed help output for `-override-tensors` to `-override-tensor`
  tools/llama-bench/llama-bench.cpp
Labels: examples

#15137 ggml: Add basic SET_ROWS support in WebGPU
  .github/workflows/build.yml
  ggml/src/ggml-webgpu/ggml-webgpu.cpp
  ggml/src/ggml-webgpu/wgsl-shaders/set_rows.wgsl
Labels: devops, ggml

#15109 vulkan: Add env var to disable host visible vidmem
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#15126 vulkan: support flash attention sinks
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn.comp
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn_base.comp
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn_cm1.comp
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn_cm2.comp
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn_split_k_reduce.comp
Labels: Vulkan, ggml

#15152 opencl: support sinks in `soft_max` (attn sinks)
  ggml/src/ggml-opencl/ggml-opencl.cpp
  ggml/src/ggml-opencl/kernels/softmax_4_f16.cl
  ggml/src/ggml-opencl/kernels/softmax_4_f32.cl
  ggml/src/ggml-opencl/kernels/softmax_f16.cl
  ggml/src/ggml-opencl/kernels/softmax_f32.cl
Labels: ggml, OpenCL

#15157 CUDA: attention sinks for mma FlashAttention
  ggml/src/ggml-cuda/fattn-mma-f16.cuh
  ggml/src/ggml-cuda/fattn.cu
  ggml/src/ggml-cuda/ggml-cuda.cu
Labels: Nvidia GPU, ggml

#15179 server-bench: external OAI servers, sqlite
  scripts/server-bench.py
Labels: script, python

#15178 CUDA: add attention sinks for tile and wmma
  ggml/src/ggml-cuda/fattn-tile-f16.cu
  ggml/src/ggml-cuda/fattn-tile-f32.cu
  ggml/src/ggml-cuda/fattn-wmma-f16.cu
  ggml/src/ggml-cuda/fattn.cu
Labels: Nvidia GPU, ggml

#15150 kleidiai: fix unsigned overflow bug
  ggml/src/ggml-cpu/kleidiai/kleidiai.cpp
Labels: ggml

#14737 Improve Mistral models integration with llama.cpp
  convert_hf_to_gguf.py
  convert_lora_to_gguf.py
  gguf-py/gguf/tensor_mapping.py
  gguf-py/gguf/utility.py
Labels: examples, python

#15238 server : allow specifying reasoning_format in HTTP request
  common/arg.cpp
  common/chat.cpp
  common/chat.h
  tools/server/README.md
  tools/server/public/index.html.gz
  tools/server/server.cpp
  tools/server/webui/src/utils/app.context.tsx
Labels: examples, server

#15208 CANN: Add broadcast for softmax and FA
  ggml/src/ggml-cann/aclnn_ops.cpp
  ggml/src/ggml-cann/ggml-cann.cpp
Labels: testing, ggml, Ascend NPU

#15140 OpenCL: allow mixed f16/f32 add
  ggml/src/ggml-opencl/ggml-opencl.cpp
  ggml/src/ggml-opencl/kernels/add.cl
Labels: ggml, OpenCL

#15151 sycl: Fix and disable more configurations of mul_mat
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: ggml, SYCL

#15273 HIP: disable sync warp shuffel operators from clr amd_warp_sync_functions.h
  ggml/src/ggml-cuda/fattn-wmma-f16.cu
  ggml/src/ggml-cuda/vendors/hip.h
Labels: Nvidia GPU, ggml

#14904 ggml : repack block_iq4_nlx8 (AVX)
  ggml/src/ggml-cpu/arch-fallback.h
  ggml/src/ggml-cpu/arch/x86/repack.cpp
  ggml/src/ggml-cpu/repack.cpp
  ggml/src/ggml-cpu/repack.h
Labels: ggml

#14439 Added CI with RISC-V RVV1.0 Hardware
  .devops/cloud-v-pipeline
  .github/workflows/build-riscv-native.yml
Labels: devops

#15278 server : filter out harmony thought messages
  tools/server/public/index.html.gz
  tools/server/webui/src/utils/misc.ts
Labels: examples, server

#12665 update `rope_multi`:
  ggml/include/ggml.h
  ggml/src/ggml.c
Labels: ggml

#15172 server : enable -td and -tbd parameters
  common/arg.cpp
  tools/server/server.cpp
Labels: examples, server

#15296 HIP: bump requirement to rocm 6.1
  .github/workflows/build.yml
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/vendors/hip.h
  ggml/src/ggml-hip/CMakeLists.txt
Labels: Nvidia GPU, devops, ggml

#15303 perplexity: give more information about constraints on failure
  tools/perplexity/perplexity.cpp
Labels: examples

#15267 ci: Enable GGML_CPU_ALL_VARIANTS for ARM
  .devops/cpu.Dockerfile
Labels: devops

#15005 fix compile bug when the BASE_CUDA_DEV_CONTAINER is based on Ubuntu 2…
  .devops/cuda.Dockerfile
Labels: devops

#15320 eval-callback : stop on first NaN
  examples/eval-callback/eval-callback.cpp
Labels: examples

#15328 ci : move ccache action to ggml-org fork
  .github/workflows/build.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/release.yml
Labels: devops

#15324 ci : fix ios-xcode-build
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: devops

#14975 ggml: initial IBM zDNN backend
  .github/ISSUE_TEMPLATE/010-bug-compilation.yml
  .github/ISSUE_TEMPLATE/011-bug-results.yml
  .github/labeler.yml
  CODEOWNERS
  docs/build-s390x.md
  docs/ops.md
  docs/ops/zDNN.csv
  ggml/CMakeLists.txt
  ggml/include/ggml-zdnn.h
  ggml/src/CMakeLists.txt
  ggml/src/ggml-backend-reg.cpp
  ggml/src/ggml-cpu/CMakeLists.txt
  ggml/src/ggml-zdnn/CMakeLists.txt
  ggml/src/ggml-zdnn/ggml-zdnn-impl.h
  ggml/src/ggml-zdnn/ggml-zdnn.cpp
Labels: documentation, devops, ggml

#15340 vulkan : fix compile warnings on macos
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#15270 opencl: add initial mxfp4 support via mv
  ggml/src/ggml-opencl/CMakeLists.txt
  ggml/src/ggml-opencl/ggml-opencl.cpp
  ggml/src/ggml-opencl/kernels/mul_mv_id_mxfp4_f32.cl
  ggml/src/ggml-opencl/kernels/mul_mv_mxfp4_f32.cl
  ggml/src/ggml-opencl/kernels/transpose.cl
Labels: ggml, OpenCL

#15334 vulkan: Add missing bounds checking to scalar/coopmat1 mul_mat_id
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mm.comp
  tests/test-backend-ops.cpp
Labels: testing, Vulkan, ggml

#15252 vulkan: fuse adds
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/generic_binary_head.comp
  ggml/src/ggml-vulkan/vulkan-shaders/multi_add.comp
  ggml/src/ggml-vulkan/vulkan-shaders/utils.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
  tests/test-backend-ops.cpp
Labels: testing, Vulkan, ggml

#15367 convert : force patch_embd weights to F16 or F32 to avoid broken GGUFs
  convert_hf_to_gguf.py
Labels: python

#15370 vulkan: support sqrt operation
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/sqrt.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, ggml

#15385 ggml-cpu: add mxfp4 VSX intrinsics for Power9+ (ppc64le) hardware – 3-4x performance boost
  ggml/src/ggml-cpu/arch-fallback.h
  ggml/src/ggml-cpu/arch/powerpc/quants.c
Labels: ggml

#15413 musa: handle __hgt2_mask (available starting from MUSA SDK rc4.3.0)
  ggml/src/ggml-cuda/common.cuh
Labels: Nvidia GPU, ggml

#15335 CANN: optimize the rope ops
  ggml/src/ggml-cann/aclnn_ops.cpp
  ggml/src/ggml-cann/common.h
Labels: ggml, Ascend NPU

#15375 opencl: mark `argsort` unsupported if cols exceed workgroup limit
  ggml/src/ggml-opencl/ggml-opencl.cpp
Labels: ggml, OpenCL

#15450 fix target include directories
  tools/server/CMakeLists.txt
Labels: examples, server

#15454 CUDA: refactor FA support/selection code
  ggml/src/ggml-cuda/fattn-common.cuh
  ggml/src/ggml-cuda/fattn.cu
  ggml/src/ggml-cuda/fattn.cuh
  ggml/src/ggml-cuda/ggml-cuda.cu
Labels: Nvidia GPU, ggml

#15444 server: fix OpenAI Streaming API compatibility for usage statistics in chat streams
  tools/server/server.cpp
  tools/server/tests/unit/test_chat_completion.py
  tools/server/tests/utils.py
Labels: examples, python, server

#15346 sched : copy only the used experts when offloading prompt processing
  ggml/src/ggml-backend.cpp
Labels: ggml

#15446 musa: add GGML_UNUSED_VARS
  ggml/include/ggml.h
  ggml/src/ggml-cuda/conv-transpose-1d.cu
  ggml/src/ggml-cuda/convert.cu
  ggml/src/ggml-cuda/cpy.cu
  ggml/src/ggml-cuda/fattn-mma-f16.cuh
  ggml/src/ggml-cuda/fattn-tile-f16.cu
  ggml/src/ggml-cuda/fattn-tile-f32.cu
  ggml/src/ggml-cuda/fattn-vec-f16.cuh
  ggml/src/ggml-cuda/fattn-vec-f32.cuh
  ggml/src/ggml-cuda/fattn-wmma-f16.cu
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/mma.cuh
  ggml/src/ggml-cuda/mmf.cu
  ggml/src/ggml-cuda/mmq.cu
  ggml/src/ggml-cuda/mmq.cuh
  ggml/src/ggml-cuda/mmvf.cu
  ggml/src/ggml-cuda/mmvq.cu
Labels: Nvidia GPU, ggml

#15457 examples : remove references to `make` in examples [no ci]
  examples/batched.swift/README.md
  examples/passkey/README.md
  examples/retrieval/README.md
  examples/sycl/win-build-sycl.bat
Labels: examples, SYCL

#15462 Fix webui
  tools/server/public/index.html.gz
  tools/server/webui/src/utils/app.context.tsx
Labels: examples, server

#15221 ci : Fix -Werror=return-type in clip.cpp so ci/run.sh can run without issue
  tools/mtmd/clip.cpp
Labels: examples

#15455 examples : add model conversion tool/example
  examples/CMakeLists.txt
  examples/model-conversion/.gitignore
  examples/model-conversion/CMakeLists.txt
  examples/model-conversion/Makefile
  examples/model-conversion/README.md
  examples/model-conversion/logits.cpp
  examples/model-conversion/requirements.txt
  examples/model-conversion/scripts/causal/compare-embeddings-logits.sh
  examples/model-conversion/scripts/causal/compare-logits.py
  examples/model-conversion/scripts/causal/convert-model.sh
  examples/model-conversion/scripts/causal/run-casual-gen-embeddings-org.sh
  examples/model-conversion/scripts/causal/run-converted-model-embeddings-logits.sh
  examples/model-conversion/scripts/causal/run-converted-model.sh
  examples/model-conversion/scripts/causal/run-org-model.py
  examples/model-conversion/scripts/embedding/compare-embeddings-logits.sh
  examples/model-conversion/scripts/embedding/convert-model.sh
  examples/model-conversion/scripts/embedding/run-converted-model.sh
  examples/model-conversion/scripts/embedding/run-original-model.py
  examples/model-conversion/scripts/readme.md.template
  examples/model-conversion/scripts/utils/check-nmse.py
  examples/model-conversion/scripts/utils/create-collection-add-model.sh
  examples/model-conversion/scripts/utils/hf-add-model-to-collection.py
  examples/model-conversion/scripts/utils/hf-create-collection.py
  examples/model-conversion/scripts/utils/hf-create-model.py
  examples/model-conversion/scripts/utils/hf-upload-gguf-model.py
  examples/model-conversion/scripts/utils/inspect-converted-model.sh
  examples/model-conversion/scripts/utils/inspect-org-model.py
  examples/model-conversion/scripts/utils/perplexity-gen.sh
  examples/model-conversion/scripts/utils/perplexity-run-simple.sh
  examples/model-conversion/scripts/utils/perplexity-run.sh
  examples/model-conversion/scripts/utils/quantize.sh
  examples/model-conversion/scripts/utils/run-embedding-server.sh
  examples/model-conversion/scripts/utils/semantic_check.py
Labels: examples, python

#15471 ci : continue file download with wget
  ci/run.sh
Labels: devops

#15386 Add Trigger at PR creation
  .github/workflows/build-riscv-native.yml
Labels: devops

#15456 vulkan: add exp operation
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/exp.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, ggml

#15392 vulkan : support conv_2d_dw with f16 weights
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, ggml

#15419 [CANN] Optimize RMS_NORM using cache
  ggml/src/ggml-cann/aclnn_ops.cpp
  ggml/src/ggml-cann/common.h
Labels: ggml, Ascend NPU

#15476 readme : model : mtdm : lfm2 improvements
  README.md
  gguf-py/gguf/constants.py
  src/llama-arch.cpp
  src/llama-model.cpp
  tools/mtmd/clip.cpp
Labels: examples, python

#15108 mtmd: server: Support multimodal data prompt in /completions and /embeddings endpoint of server
  tools/server/README.md
  tools/server/server.cpp
  tools/server/tests/unit/test_completion.py
  tools/server/tests/unit/test_vision_api.py
  tools/server/utils.hpp
Labels: examples, python, server

#14659 Add Pad Reflect 1D CUDA support
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/pad_reflect_1d.cu
  ggml/src/ggml-cuda/pad_reflect_1d.cuh
Labels: Nvidia GPU, ggml

#15182 ggml: add `conv3d` op
  ggml/include/ggml.h
  ggml/src/ggml-cpu/ggml-cpu.c
  ggml/src/ggml-cpu/ops.cpp
  ggml/src/ggml-cpu/ops.h
  ggml/src/ggml.c
  tests/test-backend-ops.cpp
Labels: testing, ggml

#15503 test-opt: allow slight inprecision
  tests/test-opt.cpp
Labels: testing

#15506 vulkan: workaround MoltenVK compile failure in multi_add
  ggml/src/ggml-vulkan/vulkan-shaders/multi_add.comp
Labels: Vulkan, ggml

#15537 vulkan: Support FA with any multiple of 8 head sizes
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn_base.comp
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn_cm1.comp
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn_cm2.comp
  tests/test-backend-ops.cpp
Labels: testing, Vulkan, ggml

#15524 vulkan: apply MUL_MAT_ID subgroup optimization to non-coopmat devices
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mm.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, ggml

#15501 [CANN]Rope repeat Optimization
  ggml/src/ggml-cann/aclnn_ops.cpp
  ggml/src/ggml-cann/common.h
Labels: ggml, Ascend NPU

#15412 support interns1-mini
  convert_hf_to_gguf.py
Labels: python

#15565 vulkan: fix min subgroup 16 condition for mmid subgroup optimization
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#15560 opencl: fix support ops condition for `rms_norm`
  ggml/src/ggml-opencl/ggml-opencl.cpp
Labels: ggml, OpenCL

#15451 CUDA: Accelerate MXFP4 table lookup using `__byte_perm`
  ggml/src/ggml-cuda/vecdotq.cuh
Labels: Nvidia GPU, ggml

#15568 vulkan: Remove splitting for mul_mat_id
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mm.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mm_cm2.comp
  tests/test-backend-ops.cpp
Labels: testing, Vulkan, ggml

#15577 metal : remove contiguous assertion for src0 in IM2COL
  ggml/src/ggml-metal/ggml-metal.m
Labels: ggml, Apple Metal

#15575 support MiniCPM-V 4.5
  docs/multimodal/minicpmv4.0.md
  docs/multimodal/minicpmv4.5.md
  tools/mtmd/clip.cpp
  tools/mtmd/legacy-models/minicpmv-convert-image-encoder-to-gguf.py
  tools/mtmd/mtmd.cpp
Labels: documentation, examples, python, hot

#15458 mtmd : support Kimi VL model
  convert_hf_to_gguf.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  tools/mtmd/clip-impl.h
  tools/mtmd/clip.cpp
  tools/mtmd/tests.sh
Labels: examples, python

#15566 metal : optimize FA vec for large sequences and BS <= 8
  ggml/src/ggml-metal/ggml-metal-impl.h
  ggml/src/ggml-metal/ggml-metal.m
  ggml/src/ggml-metal/ggml-metal.metal
  tools/batched-bench/batched-bench.cpp
Labels: examples, ggml, Apple Metal

#15588 model-conversion : add qat-q4 quantization targets
  examples/model-conversion/Makefile
  examples/model-conversion/README.md
  examples/model-conversion/scripts/utils/quantize.sh
Labels: examples

#15592 SYCL: fix rms_norm_mul_add for tensor dim not a multiple of sg_size
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: ggml, SYCL

#15599 tests : fix test-opt with GGML_BACKEND_DL
  tests/test-opt.cpp
Labels: testing

#15314 OpenCL: add fused group_norm/norm, mul, add
  ggml/src/ggml-opencl/ggml-opencl.cpp
  ggml/src/ggml-opencl/kernels/group_norm.cl
  ggml/src/ggml-opencl/kernels/norm.cl
  tests/test-backend-ops.cpp
Labels: testing, ggml, OpenCL

#15057 ggml-cpu : add basic RVV support for vector f32 ops
  ggml/src/ggml-cpu/CMakeLists.txt
  ggml/src/ggml-cpu/ops.cpp
  ggml/src/ggml-cpu/simd-mappings.h
  ggml/src/ggml-cpu/vec.cpp
  ggml/src/ggml-cpu/vec.h
Labels: ggml

#15615 HIP: Enable support for ggml_backend_cuda_register_host_buffer
  ggml/src/ggml-cuda/ggml-cuda.cu
Labels: Nvidia GPU, ggml

#15622 cuda: Add cublasLt_static linking when GGML_STATIC is enabled
  ggml/src/ggml-cuda/CMakeLists.txt
Labels: Nvidia GPU, ggml

#15628 model-conversion : add mmproj conversion target
  examples/model-conversion/Makefile
  examples/model-conversion/scripts/causal/convert-model.sh
Labels: examples

#15505 kv-cache : remove LLAMA_SET_ROWS checks
  ggml/src/ggml-cann/common.h
  ggml/src/ggml-cann/ggml-cann.cpp
  src/llama-context.cpp
  src/llama-context.h
  src/llama-graph.cpp
  src/llama-kv-cache.cpp
  src/llama-kv-cache.h
Labels: ggml, Ascend NPU

#15633 scripts: add sqlite3 check for compare-commits.sh
  scripts/compare-commits.sh
Labels: script

#13693 model : jina-embeddings-v3 support
  common/arg.cpp
  common/common.cpp
  common/common.h
  convert_hf_to_gguf.py
  gguf-py/gguf/constants.py
  include/llama.h
  src/llama-adapter.cpp
  src/llama-adapter.h
  src/llama-arch.cpp
  src/llama-arch.h
  src/llama-model.cpp
  src/llama-model.h
  src/llama-vocab.cpp
  tools/server/server.cpp
Labels: model, examples, python, server

#15634 ggml-cpu: fix invalid hsum build in debug s390x
  ggml/src/ggml-cpu/ggml-cpu-impl.h
Labels: ggml

#15635 CUDA: add conv2d
  ggml/src/ggml-cuda/conv2d.cu
  ggml/src/ggml-cuda/conv2d.cuh
  ggml/src/ggml-cuda/ggml-cuda.cu
Labels: Nvidia GPU, ggml

#15637 fix: Compute the full sum in llama-eval-callback
  examples/eval-callback/eval-callback.cpp
Labels: examples

#15552 Model: Seed OSS thinking + tool call support
  common/chat.cpp
  common/chat.h
  models/templates/ByteDance-Seed-OSS.jinja
  tests/test-chat.cpp
Labels: testing

#15647 tools: [SERVER] Added documentation for `parallel_tool_calls` param
  docs/function-calling.md
  tools/server/README.md
Labels: documentation, examples, server

#15670 removed obsolete doc
  tools/server/README.md
Labels: examples, server

#15661 [CANN] Optimize compiler warning issues
  ggml/src/ggml-cann/ggml-cann.cpp
Labels: ggml, Ascend NPU

#15683 CUDA: use FP32 arithmetic for conv2d
  ggml/src/ggml-cuda/conv2d.cu
Labels: Nvidia GPU, ggml

#15434 llama: use FA + max. GPU layers by default
  common/arg.cpp
  common/common.cpp
  common/common.h
  examples/diffusion/diffusion-cli.cpp
  ggml/src/ggml-backend.cpp
  include/llama.h
  scripts/server-bench.py
  scripts/tool_bench.py
  src/llama-context.cpp
  src/llama-graph.cpp
  src/llama-graph.h
  src/llama-impl.h
  src/llama-model.cpp
  src/llama.cpp
  tools/batched-bench/batched-bench.cpp
  tools/llama-bench/llama-bench.cpp
  tools/server/tests/unit/test_ctx_shift.py
  tools/server/tests/unit/test_speculative.py
  tools/server/tests/utils.py
Labels: script, examples, python, server, ggml

#15663 ggml: update kleidiai to v1.13.0
  ggml/CMakeLists.txt
  ggml/src/ggml-cpu/CMakeLists.txt
  ggml/src/ggml-cpu/kleidiai/kernels.cpp
  ggml/src/ggml-cpu/kleidiai/kernels.h
  ggml/src/ggml-cpu/kleidiai/kleidiai.cpp
Labels: ggml

#15652 vulkan: clamp matmul and FA results to the max finite value
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn.comp
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn_cm1.comp
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn_cm2.comp
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn_split_k_reduce.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mm.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mm_cm2.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, ggml

#15679 vulkan : remove unused portability_enumeration_ext variable
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#15546 vulkan: mul_mat_id coopmat2 optimizations
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mm_cm2.comp
Labels: Vulkan, ggml

#15686 vulkan: handle large sizes for get_rows
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/get_rows.comp
  ggml/src/ggml-vulkan/vulkan-shaders/get_rows_quant.comp
Labels: Vulkan, ggml

#15700 metal : fix checks for available FA kernels
  ggml/src/ggml-metal/ggml-metal.m
  ggml/src/ggml-metal/ggml-metal.metal
Labels: ggml, Apple Metal

#15630 server : enable /slots by default and make it secure
  common/arg.cpp
  common/common.h
  tools/server/README.md
  tools/server/server.cpp
  tools/server/tests/utils.py
Labels: examples, python, server
