Repository ggml-org/llama.cpp, pull requests merged in 2025-03, with the labels that each got.

#12116 minor: web-ui typo fixes
  examples/server/public/index.html.gz
  examples/server/webui/src/components/SettingDialog.tsx
Labels: examples, server

#12029 CUDA: compress-mode size
  ggml/CMakeLists.txt
  ggml/src/ggml-cuda/CMakeLists.txt
Labels: Nvidia GPU, ggml

#12131 common : add --system-prompt parameter, replace behavior of -p on -cnv mode
  common/arg.cpp
  common/common.h
  examples/main/main.cpp
Labels: examples

#12132 main: update outdated system prompt message (followup to #12131)
  examples/main/main.cpp
Labels: examples

#12118 main: use jinja chat template system prompt by default
  examples/main/main.cpp
Labels: examples

#12144 ggml-backend : keep paths in native string type when possible
  ggml/src/ggml-backend-reg.cpp
Labels: ggml

#12133 SYCL: Move CPY kernels to a separate file and add few missing kernels
  ggml/src/ggml-sycl/backend.hpp
  ggml/src/ggml-sycl/common.hpp
  ggml/src/ggml-sycl/cpy.cpp
  ggml/src/ggml-sycl/cpy.hpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: ggml, SYCL

#12148 webui : add ?m=... and ?q=... params
  examples/server/public/index.html.gz
  examples/server/tests/utils.py
  examples/server/webui/src/components/ChatScreen.tsx
  examples/server/webui/src/utils/misc.ts
Labels: examples, python, server

#12111 Adding UTF-8 support to linenoise.cpp
  examples/run/linenoise.cpp/linenoise.cpp
  examples/run/linenoise.cpp/linenoise.h
Labels: examples

#12159 Fix kleidiai build
  ggml/src/ggml-cpu/kleidiai/kleidiai.cpp
Labels: ggml

#12048 tts: add speaker file support
  common/arg.cpp
  common/common.h
  examples/tts/tts.cpp
Labels: examples

#12162 ci : set GITHUB_ACTIONS to true for server tests
  .github/workflows/server.yml
Labels: examples, python, devops, server

#12032 Add GGML_HIP_ROCWMMA_FATTN to enable rocWMMA for FlashAttention
  ggml/CMakeLists.txt
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/fattn-common.cuh
  ggml/src/ggml-cuda/fattn-wmma-f16.cu
  ggml/src/ggml-cuda/fattn.cu
  ggml/src/ggml-hip/CMakeLists.txt
Labels: Nvidia GPU, ggml

#12168 `server`: fix response_format w/ json_schema.schema
  examples/server/tests/unit/test_chat_completion.py
  examples/server/utils.hpp
Labels: examples, python, server

#12145 main: allow preloading conversation with -p and add -st / --single-turn
  common/arg.cpp
  common/common.h
  examples/main/main.cpp
Labels: examples

#11996 llama : add xcframework build script
  .github/workflows/build.yml
  Package.swift
  Sources/llama/llama.h
  Sources/llama/module.modulemap
  build-xcframework.sh
  examples/llama.swiftui/README.md
  examples/llama.swiftui/llama.swiftui.xcodeproj/project.pbxproj
  scripts/apple/validate-apps.sh
  scripts/apple/validate-ios.sh
  scripts/apple/validate-macos.sh
  scripts/apple/validate-tvos.sh
  scripts/apple/validate-visionos.sh
  spm-headers/ggml-alloc.h
  spm-headers/ggml-backend.h
  spm-headers/ggml-cpp.h
  spm-headers/ggml-cpu.h
  spm-headers/ggml-metal.h
  spm-headers/ggml.h
  spm-headers/llama.h
  src/llama-mmap.cpp
Labels: script, examples, devops

#12161 Server: Cache position calculation error(#12160)
  examples/server/server.cpp
Labels: examples, server

#12190 ci : remove xframework upload
  .github/workflows/build.yml
Labels: devops

#12191 ci : fix xcframework artifact tag
  .github/workflows/build.yml
Labels: devops

#12195 ci : add fetch-depth to xcframework upload
  .github/workflows/build.yml
Labels: devops

#12201 SYCL: Disable f16 Unary OPs as not supported by the kernels
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: ggml, SYCL

#12154 ggml-cpu: Faster IQ1 mul_mat_vec on AVX2 using BMI2 instructions
  ggml/CMakeLists.txt
  ggml/include/ggml-cpu.h
  ggml/src/CMakeLists.txt
  ggml/src/ggml-cpu/CMakeLists.txt
  ggml/src/ggml-cpu/cpu-feats-x86.cpp
  ggml/src/ggml-cpu/ggml-cpu-quants.c
  ggml/src/ggml-cpu/ggml-cpu.c
  ggml/src/ggml-cpu/ggml-cpu.cpp
Labels: ggml

#12174 opencl: Fix `ulong` kernel args were set from `int` variables
  ggml/src/ggml-opencl/ggml-opencl.cpp
Labels: ggml

#12197 opencl: Fix not enough space in the buffer
  ggml/src/ggml-opencl/ggml-opencl.cpp
Labels: ggml

#12212 android : Calculate required KV cache size by summing up tokens size and response token length (#12211)
  examples/llama.android/llama/src/main/cpp/llama-android.cpp
Labels: android, examples

#12209 HIP/CUDA: set the paramerter value in maintain_cuda_graph instead of replaceing it.
  ggml/src/ggml-cuda/ggml-cuda.cu
Labels: Nvidia GPU, ggml

#12218 llava: add big-endian conversion for image encoder
  examples/llava/convert_image_encoder_to_gguf.py
Labels: examples, python

#12214 docs: update function-calling.md w/ template override needed by functionary-small-v3.2
  docs/function-calling.md
Labels: documentation

#12179 HIP: rocWMMA documentation and enabling in workflow builds
  .github/workflows/build.yml
  docs/build.md
Labels: documentation, devops

#12094 cmake : fix undefined reference errors for std::filesystem in ggml (#12092)
  ggml/src/CMakeLists.txt
Labels: ggml

#12217 opencl: Noncontiguous `norm`, `rms_norm`, disable `fp16` for some ops
  ggml/src/ggml-opencl/ggml-opencl.cpp
  ggml/src/ggml-opencl/kernels/ggml-opencl.cl
Labels: ggml

#12224 metal : fix default.metallib build
  ggml/src/ggml-metal/CMakeLists.txt
  ggml/src/ggml-metal/ggml-metal.metal
Labels: ggml, Apple Metal

#12230 Fix HIP rocWMMA CI build break
  .github/workflows/build.yml
Labels: devops

#12216 ggml-cpu: faster AVX2 variant for IQ1_M
  ggml/src/ggml-cpu/ggml-cpu-quants.c
Labels: ggml

#12247 ggml : skip intermediate .air file when compiling .metallib
  ggml/src/ggml-metal/CMakeLists.txt
Labels: ggml, Apple Metal

#12269 ggml-backend : make path_str compatible with C++20
  AUTHORS
  ggml/src/ggml-backend-reg.cpp
Labels: ggml

#11513 fix bug in minicpm-v code
  examples/llava/README-minicpmo2.6.md
  examples/llava/README-minicpmv2.5.md
  examples/llava/README-minicpmv2.6.md
  examples/llava/clip.cpp
  examples/llava/minicpmv-cli.cpp
  examples/llava/minicpmv-convert-image-encoder-to-gguf.py
Labels: examples, python

#12291 `sampler`: fixes trigger tokens + lazy grammars (fix typo cast from token to string)
  examples/server/server.cpp
Labels: examples, server

#12292 `tool-call`: ensure there's always a non-empty tool call id
  examples/server/server.cpp
  examples/server/tests/unit/test_tool_call.py
  examples/server/utils.hpp
Labels: examples, python, server

#12278 Refactoring '-o' option
  common/arg.cpp
  common/common.h
  examples/cvector-generator/cvector-generator.cpp
  examples/export-lora/export-lora.cpp
  examples/imatrix/imatrix.cpp
Labels: examples

#12221 opencl: use OpenCL C standard supported by the device
  ggml/CMakeLists.txt
  ggml/src/ggml-opencl/CMakeLists.txt
  ggml/src/ggml-opencl/ggml-opencl.cpp
Labels: ggml

#12296 musa: support new arch mp_31 and update doc
  Makefile
  docs/build.md
  ggml/src/ggml-musa/CMakeLists.txt
Labels: documentation, ggml

#12188 vulkan: double buffer scale caches
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_q2_k.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_q3_k.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_q6_k.comp
Labels: Vulkan, ggml

#12322 clip : bring back GPU support
  examples/llava/clip.cpp
  examples/llava/clip.h
  examples/llava/minicpmv-cli.cpp
Labels: examples

#12330 Fix backend search path
  ggml/src/ggml-backend-reg.cpp
Labels: ggml

#12316 vulkan: fix bug in coopmat1 mul_mat_id
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mm.comp
  tests/test-backend-ops.cpp
Labels: testing, Vulkan, ggml

#12344 clip : Experimental support for Gemma 3 vision
  examples/llava/CMakeLists.txt
  examples/llava/README-gemma3.md
  examples/llava/clip.cpp
  examples/llava/gemma3-cli.cpp
  examples/llava/gemma3_convert_encoder_to_gguf.py
Labels: examples, python

#12343 llama : Add Gemma 3 support (+ experimental vision capability)
  convert_hf_to_gguf.py
  examples/llava/CMakeLists.txt
  examples/llava/README-gemma3.md
  examples/llava/clip.cpp
  examples/llava/gemma3-cli.cpp
  examples/llava/gemma3_convert_encoder_to_gguf.py
  gguf-py/gguf/constants.py
  src/llama-arch.cpp
  src/llama-arch.h
  src/llama-model.cpp
  src/llama.cpp
Labels: examples, python

#12315 CUDA/HIP: Fix fattn-vec-* when device warp size is not 32
  ggml/src/ggml-cuda/fattn-common.cuh
  ggml/src/ggml-cuda/fattn-wmma-f16.cu
Labels: Nvidia GPU, ggml

#12336 sycl : variable sg_size support for mmvq kernels
  ggml/src/ggml-sycl/mmvq.cpp
Labels: ggml, SYCL

#12353 llama.swiftui : fix xcframework dir in README [no ci]
  examples/llama.swiftui/README.md
Labels: examples

#12301 Update build.yml for Windows Vulkan builder to use Vulkan 1.4.304 SDK…
  .github/workflows/build.yml
Labels: devops

#12338 server : fix crash when using verbose output with input tokens that are not in printable range (#12178)
  examples/server/server.cpp
Labels: testing, Nvidia GPU, Vulkan, examples, python, server, ggml, SYCL, Apple Metal

#12181 llama : refactor llama_context, llama_kv_cache, llm_build_context (v2)
  common/common.cpp
  common/speculative.cpp
  examples/batched-bench/batched-bench.cpp
  examples/batched.swift/Sources/main.swift
  examples/cvector-generator/cvector-generator.cpp
  examples/embedding/embedding.cpp
  examples/gritlm/gritlm.cpp
  examples/imatrix/imatrix.cpp
  examples/infill/infill.cpp
  examples/llama-bench/llama-bench.cpp
  examples/llama.android/llama/src/main/cpp/llama-android.cpp
  examples/llama.swiftui/llama.cpp.swift/LibLlama.swift
  examples/llava/gemma3-cli.cpp
  examples/lookahead/lookahead.cpp
  examples/lookup/lookup.cpp
  examples/main/main.cpp
  examples/parallel/parallel.cpp
  examples/passkey/passkey.cpp
  examples/perplexity/perplexity.cpp
  examples/quantize-stats/quantize-stats.cpp
  examples/retrieval/retrieval.cpp
  examples/run/run.cpp
  examples/save-load-state/save-load-state.cpp
  examples/server/server.cpp
  examples/server/tests/utils.py
  examples/simple-chat/simple-chat.cpp
  examples/speculative-simple/speculative-simple.cpp
  examples/speculative/speculative.cpp
  include/llama.h
  src/CMakeLists.txt
  src/llama-adapter.cpp
  src/llama-adapter.h
  src/llama-batch.h
  src/llama-context.cpp
  src/llama-context.h
  src/llama-graph.cpp
  src/llama-graph.h
  src/llama-io.cpp
  src/llama-io.h
  src/llama-kv-cache.cpp
  src/llama-kv-cache.h
  src/llama-memory.cpp
  src/llama-memory.h
  src/llama-model.cpp
  src/llama-model.h
  src/llama.cpp
Labels: android, examples, python, server

#12285 server: fix "--grammar-file" parameter
  examples/server/utils.hpp
Labels: examples, server

#12370 Add CLI arg to llama-run to adjust the number of threads used
  examples/run/run.cpp
Labels: examples

#12382 [CANN]MUL_MAT optimization
  ggml/src/ggml-cann/aclnn_ops.cpp
  ggml/src/ggml-cann/ggml-cann.cpp
Labels: ggml, Ascend NPU

#12399 SYCL : support non-contiguous tensors in binary ops (add, sub, etc)
  ggml/src/ggml-sycl/common.hpp
Labels: ggml, SYCL

#12391 SYCL: Delete redundant plus sign and space
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: ggml, SYCL

#12398 llama-tts : add '-o' option
  common/arg.cpp
  examples/tts/tts.cpp
Labels: examples

#12409 ci : add --symlinks to xcframework zip command
  .github/workflows/build.yml
Labels: devops

#12321 Enabling building llama.cpp using system libggml
  CMakeLists.txt
  cmake/common.cmake
  ggml/cmake/common.cmake
  ggml/src/CMakeLists.txt
Labels: build, examples, ggml

#12258 vulkan: Adjust coopmat2 tile sizes and selection heuristic
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#12087 vulkan: subgroup size tuning
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#12312 vulkan: Add N/2 and N/4 optimized paths in coopmat2 shader
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mm_cm2.comp
Labels: Vulkan, ggml

#12416 ggml-vulkan: remove unused find_program(glslc)
  ggml/src/ggml-vulkan/vulkan-shaders/CMakeLists.txt
Labels: Vulkan, ggml

#12394 [CUDA] Enable CUDA Graph on CUDA Toolkit < 12.x
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/vendors/hip.h
  ggml/src/ggml-cuda/vendors/musa.h
  ggml/src/ggml-musa/CMakeLists.txt
Labels: Nvidia GPU, ggml

#12426 docs : bring llama-cli conversation/template docs up-to-date (#12036)
  examples/main/README.md
Labels: documentation, examples

#12412 llama: Add support for RWKV v7 architecture(v2)
  convert_hf_to_gguf.py
  ggml/include/ggml.h
  ggml/src/ggml-cpu/ggml-cpu.c
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/norm.cu
  ggml/src/ggml-cuda/norm.cuh
  ggml/src/ggml-cuda/wkv.cu
  ggml/src/ggml-cuda/wkv.cuh
  ggml/src/ggml-cuda/wkv6.cu
  ggml/src/ggml-metal/ggml-metal-impl.h
  ggml/src/ggml-metal/ggml-metal.m
  ggml/src/ggml-metal/ggml-metal.metal
  ggml/src/ggml-sycl/backend.hpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
  ggml/src/ggml-sycl/norm.cpp
  ggml/src/ggml-sycl/norm.hpp
  ggml/src/ggml-sycl/wkv.cpp
  ggml/src/ggml-sycl/wkv.hpp
  ggml/src/ggml-sycl/wkv6.cpp
  ggml/src/ggml-sycl/wkv6.hpp
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/l2_norm.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/wkv7.comp
  ggml/src/ggml.c
  gguf-py/gguf/constants.py
  gguf-py/gguf/gguf_writer.py
  gguf-py/gguf/tensor_mapping.py
  src/llama-arch.cpp
  src/llama-arch.h
  src/llama-hparams.h
  src/llama-model.cpp
  src/llama-model.h
  src/llama-quant.cpp
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, Vulkan, python, ggml, SYCL, Apple Metal

#12434 Vulkan: Default to 1GB allocations instead of 4GB to avoid fragmentation and driver issues
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#12361 ggml: aarch64: implement SVE kernels for q6_K_q8_K vector dot
  ggml/src/ggml-cpu/ggml-cpu-quants.c
Labels: ggml

#12241 Issues while enabling MMA support on AIX machines
  ggml/src/ggml-cpu/CMakeLists.txt
Labels: ggml

#12446 server : fix warmup draft cache type
  examples/server/server.cpp
Labels: examples, server

#12371 SYCL: using graphs is configurable by environment variable and compile option
  docs/backend/SYCL.md
  ggml/CMakeLists.txt
  ggml/src/ggml-sycl/CMakeLists.txt
  ggml/src/ggml-sycl/common.hpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: documentation, ggml, SYCL

#12454 speculative : fix seg fault in certain cases
  examples/speculative/speculative.cpp
Labels: examples

#12450 llama : support converting Mistral Small (text-only)
  convert_hf_to_gguf.py
Labels: python

#12445 musa: override warp_size of musa device to 32
  ggml/src/ggml-cuda/ggml-cuda.cu
Labels: Nvidia GPU, ggml

#12442 opencl: improve profiling
  ggml/src/ggml-opencl/ggml-opencl.cpp
Labels: ggml

#12406 vulkan: Submit once enough matmul work has been recorded
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#12460 convert : support chat_template.json
  gguf-py/gguf/vocab.py
Labels: python

#12456 llama : add support for GPT2, Bloom and CodeShell tied word embeddings
  convert_hf_to_gguf.py
  src/llama-model.cpp
Labels: python

#12415 Fix visionOS build and add CI
  .github/workflows/build.yml
  build-xcframework.sh
  ggml/src/CMakeLists.txt
Labels: devops, ggml

#12427 vulkan: optimize iq1 coopmat2 dequant functions
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_funcs_cm2.comp
  ggml/src/ggml-vulkan/vulkan-shaders/types.comp
Labels: Vulkan, ggml

#12183 CUDA: Improve flash decoding kernel GPU occupancy for BS=1 case
  ggml/src/ggml-cuda/fattn-common.cuh
  ggml/src/ggml-cuda/fattn-mma-f16.cuh
  ggml/src/ggml-cuda/fattn-tile-f16.cu
  ggml/src/ggml-cuda/fattn-tile-f32.cu
  ggml/src/ggml-cuda/fattn-vec-f16.cuh
  ggml/src/ggml-cuda/fattn-vec-f32.cuh
  ggml/src/ggml-cuda/fattn-wmma-f16.cu
  ggml/src/ggml-cuda/fattn.cu
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/vendors/hip.h
  ggml/src/ggml-cuda/vendors/musa.h
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, ggml

#12473 Avoid calls to tokenizer.added_tokens_decoder
  convert_hf_to_gguf.py
Labels: python

#12332 Block interleaving support for Q4_K quantization for x86 AVX2 architecture
  ggml/src/ggml-cpu/ggml-cpu-aarch64.cpp
Labels: ggml

#12299 webui: Stop rerender on textarea input and end the devastating lag
  examples/server/public/index.html.gz
  examples/server/webui/src/components/ChatScreen.tsx
  examples/server/webui/src/utils/llama-vscode.ts
Labels: examples, server

#12097 sycl: cleanup oneDNN related code
  docs/backend/SYCL.md
  ggml/src/ggml-sycl/CMakeLists.txt
  ggml/src/ggml-sycl/common.hpp
  ggml/src/ggml-sycl/gemm.hpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: documentation, ggml, SYCL

#9976 [SYCL] Fix build on Windows when ccache enabled (#9954)
  ggml/src/CMakeLists.txt
Labels: ggml

#12482 llama-tts : avoid crashes related to bad model file paths
  examples/tts/tts.cpp
Labels: examples

#12472 vulkan: workaround for #10710 and #12147 16 bit unpack8 bug
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_funcs.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_iq2_s.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_iq3_s.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mm.comp
Labels: Vulkan, ggml

#12480 Vulkan: RTE rounding for cpy to quant
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/copy_to_quant.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, ggml

#12505 vulkan: Optimize mul_mat_vec p021 and nc shaders
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_nc.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec_p021.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
  tests/test-backend-ops.cpp
Labels: testing, Vulkan, ggml

#12493 musa: refine compute capability
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/fattn.cu
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/mmq.cu
  ggml/src/ggml-cuda/mmq.cuh
Labels: Nvidia GPU, ggml

#12310 ggml : fix quantized cpy op
  ggml/src/ggml-cpu/ggml-cpu.c
  tests/test-backend-ops.cpp
Labels: testing, ggml

#12506 llama : gemma3 : use output tensor if it exists in model weight
  gguf-py/gguf/constants.py
  src/llama-arch.cpp
  src/llama-model.cpp
Labels: python

#12518 Update install.md to include MacPorts section
  docs/install.md
Labels: documentation

#12246 server : Add verbose output to OAI compatible chat endpoint.
  examples/server/server.cpp
Labels: documentation, build, script, testing, android, Nvidia GPU, nix, Vulkan, examples, python, devops, server, ggml, SYCL, Apple Metal, Kompute

#12529 vulkan: fix mul_mat_vec failure in backend tests
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mat_vec.comp
  tests/test-backend-ops.cpp
Labels: testing, Vulkan, ggml

#12540 Fix clang warnings
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/mmq.cu
  ggml/src/ggml-cuda/mmq.cuh
Labels: Nvidia GPU, ggml

#12532 llama-vocab : add SuperBPE pre-tokenizer
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  include/llama.h
  src/llama-vocab.cpp
Labels: model, python

#12536 docs: update: improve the Fedoa CUDA guide
  docs/backend/CUDA-FEDORA.md
  docs/build.md
Labels: documentation

#12546 ci: fix SYCL build
  ci/run.sh
Labels: devops

#12503 opencl: simplify kernel embedding logic in CMakeLists.txt
  ggml/src/ggml-opencl/CMakeLists.txt
Labels: ggml

#12547 ci: [SYCL] Use main GPU and enable sysman
  ci/run.sh
Labels: devops

#12562 ci: [MUSA] add CI and update doc
  ci/README.md
  ci/run.sh
Labels: devops

#12563 docs : add build instructions for KleidiAI
  docs/build.md
Labels: documentation

#12560 SYCL: disable Q4_0 reorder optimization by default
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: ggml, SYCL

#12568 ggml-cpu : bug fix related to KleidiAI multithreaded LHS packing
  ggml/src/ggml-cpu/CMakeLists.txt
  ggml/src/ggml-cpu/kleidiai/kernels.cpp
  ggml/src/ggml-cpu/kleidiai/kernels.h
  ggml/src/ggml-cpu/kleidiai/kleidiai.cpp
Labels: ggml

#11596 De-duplicate fmt and format functions and optimize
  examples/run/run.cpp
Labels: examples

#12571 convert: fix Mistral3/Gemma3 model hparams init
  convert_hf_to_gguf.py
Labels: python

#12583 doc: [MUSA] minor changes
  ci/README.md
  docs/build.md
Labels: documentation, devops

#12544 ggml : fix MUL_MAT_ID repack with Q8_K
  ggml/src/ggml-cpu/ggml-cpu-aarch64.cpp
Labels: ggml

#12573 convert : fix squeeze for ssm_conv tensors
  convert_hf_to_gguf.py
Labels: python

#12566 clip: Fix llama-llava-clip-quantize-cli quantization error under CUDA backend
  examples/llava/clip.cpp
Labels: examples

#12576 grammars: upgrade to llguidance 0.7.10
  common/CMakeLists.txt
  common/llguidance.cpp
  tests/test-grammar-llguidance.cpp
Labels: testing

#12569 metal : refactor mat-vec code
  ggml/src/ggml-metal/ggml-metal-impl.h
  ggml/src/ggml-metal/ggml-metal.m
  ggml/src/ggml-metal/ggml-metal.metal
Labels: ggml, Apple Metal

#12372 Add support for new gfx1200 and gfx1201 targets
  docs/build.md
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/mmq.cu
  ggml/src/ggml-cuda/mmq.cuh
  ggml/src/ggml-cuda/mmvq.cu
  ggml/src/ggml-cuda/vendors/hip.h
Labels: documentation, Nvidia GPU, ggml

#12580 SYCL: implement memset ggml backend buffer interface
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: ggml, SYCL

#12530 ggml : riscv: add 128-bit RVV support
  ggml/CMakeLists.txt
  ggml/src/ggml-cpu/CMakeLists.txt
  ggml/src/ggml-cpu/ggml-cpu-quants.c
  ggml/src/ggml-impl.h
Labels: ggml

#12489 llamafile : ppc64le MMA implementation for Q4_0.
  ggml/src/ggml-cpu/llamafile/sgemm.cpp
Labels: ggml

#12457 Add PLM GGUF Conversion & Inference Support
  convert_hf_to_gguf.py
  gguf-py/gguf/constants.py
  src/llama-arch.cpp
  src/llama-arch.h
  src/llama-model.cpp
  src/llama-model.h
Labels: python

#12600 opencl: add multi and vision rope, `gelu_quick` and `im2col`
  ggml/src/ggml-opencl/CMakeLists.txt
  ggml/src/ggml-opencl/ggml-opencl.cpp
  ggml/src/ggml-opencl/kernels/ggml-opencl.cl
  ggml/src/ggml-opencl/kernels/ggml-opencl_im2col.cl
Labels: ggml

#12616 media : add SVG logo [no ci]
  media/llama1-logo.svg
Labels: documentation

#12613 server : Support listening on a unix socket
  common/arg.cpp
  examples/server/httplib.h
  examples/server/server.cpp
Labels: examples, server

#12496 rpc : send hash when tensor data is above some fixed threshold
  examples/rpc/CMakeLists.txt
  examples/rpc/rpc-server.cpp
  ggml/include/ggml-rpc.h
  ggml/src/ggml-rpc/ggml-rpc.cpp
Labels: examples, ggml

#12594 llamafile : ppc64le GEMV forwarding for FP32.
  ggml/src/ggml-cpu/llamafile/sgemm.cpp
Labels: ggml

#12620 rpc : update README for cache usage
  examples/rpc/README.md
Labels: examples

#12272 vulkan: fix coopmat shader generation when cross-compiling
  ggml/src/ggml-vulkan/CMakeLists.txt
  ggml/src/ggml-vulkan/vulkan-shaders/CMakeLists.txt
Labels: Vulkan, ggml

#12612 metal : improve FA + improve MoE
  ggml/include/ggml.h
  ggml/src/ggml-cpu/ggml-cpu.c
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-metal/ggml-metal-impl.h
  ggml/src/ggml-metal/ggml-metal.m
  ggml/src/ggml-metal/ggml-metal.metal
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml.c
  src/llama-context.cpp
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, Vulkan, ggml, Apple Metal

#12607 [CANN]: remove clang-format in ggml-cann
  ggml/src/ggml-cann/.clang-format
Labels: ggml, Ascend NPU

#12615 llama : fix non-causal mask for gemma 3
  src/llama-context.cpp
  src/llama-graph.cpp
Labels: examples

#12611 musa: fix all warnings, re-enable `-DLLAMA_FATAL_WARNINGS=ON` in ci and update doc
  ci/README.md
  ci/run.sh
  ggml/src/ggml-common.h
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/concat.cu
  ggml/src/ggml-cuda/conv-transpose-1d.cu
  ggml/src/ggml-cuda/convert.cu
  ggml/src/ggml-cuda/fattn-common.cuh
  ggml/src/ggml-cuda/fattn-mma-f16.cuh
  ggml/src/ggml-cuda/fattn-tile-f16.cu
  ggml/src/ggml-cuda/fattn-tile-f32.cu
  ggml/src/ggml-cuda/fattn-vec-f16.cuh
  ggml/src/ggml-cuda/fattn-vec-f32.cuh
  ggml/src/ggml-cuda/fattn-wmma-f16.cu
  ggml/src/ggml-cuda/mma.cuh
  ggml/src/ggml-cuda/mmq.cuh
  ggml/src/ggml-cuda/mmv.cu
  ggml/src/ggml-cuda/mmvq.cu
  ggml/src/ggml-cuda/pad.cu
  ggml/src/ggml-cuda/upscale.cu
Labels: Nvidia GPU, devops, ggml

#12621 Add Yandex instruct model template support
  src/llama-chat.cpp
  src/llama-chat.h
  tests/test-chat-template.cpp
Labels: testing

#12556 Add Trillion 7B model support
  README.md
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  include/llama.h
  src/llama-vocab.cpp
Labels: python

#12659 metal : use constexpr in FA kernels + fix typedef
  ggml/src/ggml-metal/ggml-metal.metal
Labels: ggml, Apple Metal

#12634 llama : support BailingMoE (Ling)
  README.md
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  include/llama.h
  src/llama-arch.cpp
  src/llama-arch.h
  src/llama-chat.cpp
  src/llama-chat.h
  src/llama-model.cpp
  src/llama-model.h
  src/llama-vocab.cpp
Labels: model, python

#12660 llava : fix clip loading GGUFs with missing description
  examples/llava/clip.cpp
Labels: examples

#12387 SYCL: Remove misleading ggml_sycl_op_flatten function
  ggml/src/ggml-sycl/common.cpp
  ggml/src/ggml-sycl/common.hpp
  ggml/src/ggml-sycl/element_wise.cpp
  ggml/src/ggml-sycl/getrows.cpp
  ggml/src/ggml-sycl/getrows.hpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
  ggml/src/ggml-sycl/im2col.cpp
  ggml/src/ggml-sycl/im2col.hpp
  ggml/src/ggml-sycl/norm.cpp
  ggml/src/ggml-sycl/norm.hpp
  ggml/src/ggml-sycl/rope.cpp
  ggml/src/ggml-sycl/rope.hpp
Labels: ggml, SYCL

#12668 llava : proper description fix
  examples/llava/clip.cpp
Labels: examples

#12667 convert : Qwerky : use lora_rank_tokenshift and lora_rank_decay if present
  convert_hf_to_gguf.py
Labels: python

#10558 Faster ssm scan
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/ssm-conv.cu
  ggml/src/ggml-cuda/ssm-conv.cuh
  ggml/src/ggml-cuda/ssm-scan.cu
  ggml/src/ggml-cuda/ssm-scan.cuh
Labels: Nvidia GPU, ggml

#12678 convert : BailingMoE : avoid setting rope_dim to 0
  convert_hf_to_gguf.py
Labels: python
