Repository ggml-org/llama.cpp, pull requests merged in 2025-07, with the labels that each got.

#14451 vulkan: Split large mul_mat_id to fit in shared memory
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  tests/test-backend-ops.cpp
Labels: testing, Vulkan, ggml

#14411 [CANN]update aclnnGroupedMatmulV2 to aclnnGroupedMatmulV3
  ggml/src/ggml-cann/aclnn_ops.cpp
Labels: ggml, Ascend NPU

#14472 Add Vulkan images to docker.md
  docs/docker.md
Labels: documentation

#14481 Callback before abort
  ggml/include/ggml.h
  ggml/src/ggml.c
Labels: ggml

#14492 github : add OpenCL backend to issue templates
  .github/ISSUE_TEMPLATE/010-bug-compilation.yml
  .github/ISSUE_TEMPLATE/011-bug-results.yml
Labels: devops

#14488 opencl: update `upscale` to support `align corners`
  ggml/src/ggml-opencl/ggml-opencl.cpp
  ggml/src/ggml-opencl/kernels/upscale.cl
Labels: ggml, OpenCL

#14309 GitHub workflow: set RPATH to "@loader_path" / "$ORIGIN" to ensure executables and dynamic libraries search for dependencies in their origin directory.
  .github/workflows/release.yml
Labels: examples, devops

#9126 llama : initial Mamba-2 support
  convert_hf_to_gguf.py
  ggml/include/ggml.h
  ggml/src/ggml-cpu/ops.cpp
  ggml/src/ggml-cpu/simd-mappings.h
  ggml/src/ggml-cpu/vec.cpp
  ggml/src/ggml-cpu/vec.h
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/ssm-scan.cu
  ggml/src/ggml-metal/ggml-metal-impl.h
  ggml/src/ggml-metal/ggml-metal.m
  ggml/src/ggml-metal/ggml-metal.metal
  ggml/src/ggml.c
  gguf-py/gguf/constants.py
  gguf-py/gguf/gguf_writer.py
  gguf-py/gguf/tensor_mapping.py
  src/llama-arch.cpp
  src/llama-arch.h
  src/llama-graph.cpp
  src/llama-graph.h
  src/llama-hparams.cpp
  src/llama-hparams.h
  src/llama-model.cpp
  src/llama-model.h
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, python, Review Complexity : Medium, ggml, Apple Metal

#14508 gguf-py : add support for chat template jinja files
  convert_hf_to_gguf.py
  gguf-py/gguf/vocab.py
Labels: python

#14497 CUDA: add dynamic shared mem to softmax, refactor general usage
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/cross-entropy-loss.cu
  ggml/src/ggml-cuda/mmq.cuh
  ggml/src/ggml-cuda/softmax.cu
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, ggml

#14505 ggml : fix FA mask dim 2 and 3
  ggml/include/ggml.h
  ggml/src/ggml-cpu/ops.cpp
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-metal/ggml-metal-impl.h
  ggml/src/ggml-metal/ggml-metal.m
  ggml/src/ggml-metal/ggml-metal.metal
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml.c
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, Vulkan, ggml, Apple Metal

#14285 kv-cache : use ggml_set_rows
  ggml/src/ggml-cann/ggml-cann.cpp
  ggml/src/ggml-opencl/ggml-opencl.cpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  src/llama-graph.cpp
  src/llama-graph.h
  src/llama-kv-cache-unified-iswa.cpp
  src/llama-kv-cache-unified-iswa.h
  src/llama-kv-cache-unified.cpp
  src/llama-kv-cache-unified.h
  src/llama-kv-cells.h
  src/llama-memory-hybrid.cpp
  src/llama-memory-hybrid.h
Labels: testing, Vulkan, examples, ggml, SYCL, Apple Metal, Ascend NPU, OpenCL

#14450 convert : correct gemma 3n conversion
  gguf-py/gguf/gguf_writer.py
Labels: python

#14483 ggml: backward pass for split swiglu
  ggml/src/ggml.c
  tests/test-backend-ops.cpp
Labels: testing, ggml

#14445 ggml : implement GEGLU_ERF and GEGLU_QUICK ops
  ggml/include/ggml.h
  ggml/src/ggml-cpu/ggml-cpu.c
  ggml/src/ggml-cpu/ops.cpp
  ggml/src/ggml-cpu/vec.h
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/unary.cu
  ggml/src/ggml-cuda/unary.cuh
  ggml/src/ggml-metal/ggml-metal.m
  ggml/src/ggml-metal/ggml-metal.metal
  ggml/src/ggml-opencl/ggml-opencl.cpp
  ggml/src/ggml-opencl/kernels/glu.cl
  ggml/src/ggml-sycl/element_wise.cpp
  ggml/src/ggml-sycl/element_wise.hpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/geglu_erf.comp
  ggml/src/ggml-vulkan/vulkan-shaders/geglu_quick.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
  ggml/src/ggml.c
  tools/mtmd/clip.cpp
Labels: Nvidia GPU, Vulkan, examples, ggml, SYCL, Apple Metal, OpenCL

#14002 [CANN]:Replace aclrtMemsetSync with InplaceZero operator for zero tensor creation
  ggml/src/ggml-cann/aclnn_ops.cpp
Labels: ggml, Ascend NPU

#14528 metal : disable fast math in all quantize kernels
  ggml/src/ggml-metal/ggml-metal.metal
Labels: ggml, Apple Metal

#14368 test-backend-ops: add support for specifying output format
  tests/test-backend-ops.cpp
Labels: testing

#14476 opencl : add GELU_ERF
  ggml/src/ggml-opencl/ggml-opencl.cpp
  ggml/src/ggml-opencl/kernels/gelu.cl
Labels: ggml, OpenCL

#14360 server : fix assistant prefilling when content is an array
  tools/server/tests/unit/test_chat_completion.py
  tools/server/utils.hpp
Labels: examples, python, server

#14485 vulkan: unpack more values at a time for iquants mat mul
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mm.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, ggml

#14561 musa: fix build warnings (unused variable)
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/fattn-tile-f32.cu
  ggml/src/ggml-cuda/fattn-vec-f32.cuh
Labels: Nvidia GPU, ggml

#14563 CUDA: add bilinear interpolation for upscale
  ggml/include/ggml.h
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/upscale.cu
Labels: Nvidia GPU, ggml

#14574 vulkan: increase timeout for CI
  .github/workflows/build.yml
Labels: devops

#14582 vulkan: fix rope with partial rotation and non-cont src
  ggml/src/ggml-vulkan/vulkan-shaders/rope_multi.comp
  ggml/src/ggml-vulkan/vulkan-shaders/rope_neox.comp
  ggml/src/ggml-vulkan/vulkan-shaders/rope_norm.comp
Labels: Vulkan, ggml

#14575 memory : fix broken batch splits for recurrent cache
  src/llama-memory-recurrent.cpp
Labels: bugfix

#14581 model : add SmolLM3
  convert_hf_to_gguf.py
  docs/development/HOWTO-add-model.md
  gguf-py/gguf/constants.py
  src/llama-arch.cpp
  src/llama-arch.h
  src/llama-model.cpp
Labels: documentation, python

#14554 vulkan: optimize flash attention split_k_reduce
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn_split_k_reduce.comp
Labels: Vulkan, ggml

#14586 convert : fix smollm3 jinja template
  convert_hf_to_gguf.py
Labels: python

#14417 ggml : add ggml_scale_bias
  ggml/include/ggml.h
  ggml/src/ggml-cann/ggml-cann.cpp
  ggml/src/ggml-cpu/ops.cpp
  ggml/src/ggml-cpu/vec.h
  ggml/src/ggml-cuda/scale.cu
  ggml/src/ggml-metal/ggml-metal.m
  ggml/src/ggml-metal/ggml-metal.metal
  ggml/src/ggml-opencl/ggml-opencl.cpp
  ggml/src/ggml-opencl/kernels/scale.cl
  ggml/src/ggml-sycl/ggml-sycl.cpp
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/scale.comp
  ggml/src/ggml.c
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, Vulkan, ggml, SYCL, Apple Metal, Ascend NPU, OpenCL

#7531 llama : support Jamba hybrid Transformer-Mamba models
  convert_hf_to_gguf.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  src/llama-arch.cpp
  src/llama-arch.h
  src/llama-graph.cpp
  src/llama-graph.h
  src/llama-memory-recurrent.cpp
  src/llama-model.cpp
  src/llama-model.h
Labels: enhancement, model, android, refactoring, need feedback, examples, embeddings, python, Review Complexity : High, server, ggml, merge ready

#14602 cuda : support Falcon-H1 state size for SSM_SCAN
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/ssm-scan.cu
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, ggml

#14613 cmake : do not search for curl libraries by ourselves
  common/CMakeLists.txt
  tools/run/CMakeLists.txt
Labels: examples

#14597 Smoldocling support
  src/llama-model.cpp
  src/llama-model.h
  src/llama-vocab.cpp
Labels: python

#14547 opencl: add `set_rows` for `f16` and `f32`
  ggml/src/ggml-opencl/CMakeLists.txt
  ggml/src/ggml-opencl/ggml-opencl.cpp
  ggml/src/ggml-opencl/kernels/set_rows.cl
Labels: ggml, OpenCL

#14535 OpenCL: add tiled mul_mat_f16_f32
  ggml/src/ggml-opencl/CMakeLists.txt
  ggml/src/ggml-opencl/ggml-opencl.cpp
  ggml/src/ggml-opencl/kernels/mul_mat_f16_f32.cl
Labels: ggml, OpenCL

#13550 Granite Four
  convert_hf_to_gguf.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  src/llama-arch.cpp
  src/llama-arch.h
  src/llama-model.cpp
Labels: testing, Nvidia GPU, examples, python, server, ggml, Apple Metal

#14620 llama : support LiquidAI LFM2 hybrid model family
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  ggml/src/ggml-cuda/ssm-conv.cu
  gguf-py/gguf/constants.py
  gguf-py/gguf/gguf_writer.py
  gguf-py/gguf/tensor_mapping.py
  src/llama-arch.cpp
  src/llama-arch.h
  src/llama-hparams.cpp
  src/llama-hparams.h
  src/llama-model.cpp
  src/llama-model.h
  src/llama-quant.cpp
  src/llama-vocab.cpp
Labels: Nvidia GPU, python, ggml, hot

#14587 vulkan: support SET_ROWS
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/copy_to_quant.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, ggml

#14645 server : fix pooled embedding output
  tools/server/server.cpp
Labels: examples, server

#14648 sync : ggml
  scripts/sync-ggml.last
Labels: script

#14551 CUDA: add set rows for f32 and f16
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/set-rows.cu
  ggml/src/ggml-cuda/set-rows.cuh
Labels: Nvidia GPU, examples, ggml

#14661 ggml : set_rows type coverage
  ggml/src/ggml-cann/ggml-cann.cpp
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-opencl/ggml-opencl.cpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: Nvidia GPU, ggml, SYCL, Ascend NPU, OpenCL

#14657 Add ELU CUDA support
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/unary.cu
  ggml/src/ggml-cuda/unary.cuh
Labels: Nvidia GPU, ggml

#14664 cuda : add set rows for bf16
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/set-rows.cu
Labels: Nvidia GPU, ggml

#14677 sycl: Hotfix for non dnnl codepath
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: ggml, SYCL

#14687 cuda: fix build warnings in set-rows.cu (unused variable)
  ggml/src/ggml-cuda/set-rows.cu
Labels: Nvidia GPU, ggml

#14560 model : add PLaMo-2 model
  convert_hf_to_gguf.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  include/llama.h
  src/llama-arch.cpp
  src/llama-arch.h
  src/llama-model.cpp
  src/llama-vocab.cpp
Labels: examples, python

#14703 scripts: add bpw per layer and model
  gguf-py/gguf/scripts/gguf_dump.py
Labels: python

#14701 convert : add pre-computed hashes first to prevent order mishaps
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
Labels: python

#14704 convert : only check for tokenizer folder if we need it
  convert_hf_to_gguf_update.py
Labels: python

#14721 server : pre-calculate EOG logit biases
  common/common.cpp
  common/common.h
  tools/server/server.cpp
Labels: examples, server

#14720 ggml : add asserts
  ggml/src/ggml-cpu/ops.cpp
  ggml/src/ggml-cpu/vec.cpp
Labels: ggml

#14644 Support diffusion models: Add Dream 7B
  common/arg.cpp
  common/common.h
  convert_hf_to_gguf.py
  examples/CMakeLists.txt
  examples/diffusion/CMakeLists.txt
  examples/diffusion/diffusion-cli.cpp
  gguf-py/gguf/constants.py
  include/llama.h
  src/llama-arch.cpp
  src/llama-arch.h
  src/llama-model.cpp
  src/llama-vocab.cpp
  src/llama-vocab.h
Labels: examples, python, hot

#14521 ggml: Add initial WebGPU backend
  .github/workflows/build.yml
  README.md
  ci/run.sh
  docs/build.md
  ggml/CMakeLists.txt
  ggml/include/ggml-webgpu.h
  ggml/src/CMakeLists.txt
  ggml/src/ggml-backend-reg.cpp
  ggml/src/ggml-webgpu/CMakeLists.txt
  ggml/src/ggml-webgpu/ggml-webgpu.cpp
  ggml/src/ggml-webgpu/wgsl-shaders/cpy.wgsl
  ggml/src/ggml-webgpu/wgsl-shaders/embed_wgsl.py
  ggml/src/ggml-webgpu/wgsl-shaders/memset.wgsl
  ggml/src/ggml-webgpu/wgsl-shaders/mul_mat.wgsl
Labels: documentation, python, devops, ggml, hot

#14717 convert : make hf token optional
  convert_hf_to_gguf_update.py
Labels: python

#14723 ci : disable failing vulkan crossbuilds
  .github/workflows/build-linux-cross.yml
Labels: devops

#14482 llama : reuse compute graphs
  include/llama.h
  src/llama-batch.cpp
  src/llama-batch.h
  src/llama-context.cpp
  src/llama-context.h
  src/llama-graph.cpp
  src/llama-graph.h
  src/llama-kv-cache-unified.cpp
  src/llama-kv-cache-unified.h
  src/llama-memory-recurrent.cpp
  src/llama-model.cpp
  src/llama-model.h
Labels: examples, hot

#14726 nix: use optionalAttrs for `env` mkDerivation attrset argument
  .devops/nix/package.nix
Labels: nix, devops

#14732 use max work group size for device to replace the magic number
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: ggml, SYCL

#14741 Fix Gemma3n not executed as CUDA_GRAPH on NVGPUs
  ggml/src/ggml-cuda/ggml-cuda.cu
Labels: Nvidia GPU, ggml

#14596 metal : fuse add, mul
  ggml/src/ggml-alloc.c
  ggml/src/ggml-backend.cpp
  ggml/src/ggml-impl.h
  ggml/src/ggml-metal/ggml-metal-impl.h
  ggml/src/ggml-metal/ggml-metal.m
  ggml/src/ggml-metal/ggml-metal.metal
  src/llama-graph.cpp
  tests/test-backend-ops.cpp
Labels: testing, ggml, Apple Metal

#14707 vulkan: Add logging for bf16 features to ggml_vk_print_gpu_info (#13274)
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#14316 ggml: adds CONV_2D op and direct GEMM Vulkan implementation
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/conv2d_mm.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
  tests/test-backend-ops.cpp
Labels: testing, Vulkan, ggml

#14785 Documentation: Further revisions to the Vulkan section in build.md
  docs/build.md
Labels: documentation

#14676 kleidiai: add support for get_rows
  ggml/src/ggml-cpu/CMakeLists.txt
  ggml/src/ggml-cpu/kleidiai/kernels.cpp
  ggml/src/ggml-cpu/kleidiai/kernels.h
  ggml/src/ggml-cpu/kleidiai/kleidiai.cpp
Labels: ggml

#14797 sycl: Fix im2col
  ggml/src/ggml-sycl/im2col.cpp
Labels: ggml, SYCL

#14403 OpenCL: add conv2d kernel
  ggml/src/ggml-opencl/CMakeLists.txt
  ggml/src/ggml-opencl/ggml-opencl.cpp
  ggml/src/ggml-opencl/kernels/conv2d.cl
  ggml/src/ggml-opencl/kernels/conv2d_f16_f32.cl
Labels: ggml, OpenCL

#14803 opencl : fix im2col when KW!=KH
  ggml/src/ggml-opencl/kernels/im2col_f16.cl
  ggml/src/ggml-opencl/kernels/im2col_f32.cl
Labels: ggml, OpenCL

#14806 opencl: remove unreachable `return`
  ggml/src/ggml-opencl/ggml-opencl.cpp
Labels: ggml, OpenCL

#14763 cuda : implement bf16 cpy ops and enable bf16 cont
  ggml/src/ggml-cuda/cpy-utils.cuh
  ggml/src/ggml-cuda/cpy.cu
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/set-rows.cu
Labels: Nvidia GPU, ggml

#14817 vulkan: fix rms_norm_mul to handle broadcasting dim0
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/rms_norm.comp
Labels: Vulkan, ggml

#14819 model card yaml tab->2xspace
  gguf-py/gguf/metadata.py
Labels: python

#14407 [CANN] weight format to nz for Ascend310P3
  ggml/src/ggml-cann/aclnn_ops.cpp
  ggml/src/ggml-cann/aclnn_ops.h
  ggml/src/ggml-cann/ggml-cann.cpp
Labels: ggml, Ascend NPU

#14827 ggml: fix loongarch quantize_row_q8_1 error
  ggml/src/ggml-cpu/arch/loongarch/quants.c
Labels: ggml

#14822 CUDA: fix quantized KV cache + multiple sequences
  ggml/src/ggml-cuda/convert.cu
  ggml/src/ggml-cuda/fattn-common.cuh
Labels: Nvidia GPU, ggml

#14832 ci : correct label refactor->refactoring
  .github/workflows/close-issue.yml
Labels: devops

#14837 CUDA: fix compilation with GGML_CUDA_F16
  ggml/src/ggml-cuda/convert.cu
Labels: Nvidia GPU, ggml

#14840 CUDA: fix overflow in FA, tune performance
  ggml/src/ggml-cuda/fattn-common.cuh
  ggml/src/ggml-cuda/fattn-mma-f16.cuh
  ggml/src/ggml-cuda/fattn-tile-f16.cu
  ggml/src/ggml-cuda/fattn-tile-f32.cu
  ggml/src/ggml-cuda/fattn-vec-f16.cuh
  ggml/src/ggml-cuda/fattn-vec-f32.cuh
  ggml/src/ggml-cuda/fattn-wmma-f16.cu
  ggml/src/ggml-cuda/fattn.cu
Labels: Nvidia GPU, ggml

#14823 convert: text-only support for GLM-4.1V-9B-Thinking
  convert_hf_to_gguf.py
Labels: python

#14843 sycl: fix undefined variable in work group size check
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: ggml, SYCL

#14849 metal : fix fusion across different encoders
  ggml/src/ggml-metal/ggml-metal.m
Labels: ggml, Apple Metal

#14498 musa: upgrade musa sdk to rc4.2.0
  .devops/musa.Dockerfile
  .github/workflows/build.yml
  ci/README.md
  docs/docker.md
  ggml/CMakeLists.txt
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/cpy.cu
  ggml/src/ggml-cuda/vendors/musa.h
  ggml/src/ggml-musa/CMakeLists.txt
Labels: documentation, Nvidia GPU, devops, ggml

#14855 sched : fix multiple evaluations of the same graph with pipeline parallelism
  ggml/src/ggml-backend.cpp
Labels: ggml

#14868 GGML: Check for null buffers in get/set/copy tensor RPC endpoints
  ggml/src/ggml-rpc/ggml-rpc.cpp
Labels: ggml

#14838 Code health: Remove invalid `portPos` specifiers from graph dumping to dot files
  ggml/src/ggml.c
Labels: ggml

#14880 ggml-cpu: disable GGML_NNPA by default due to instability
  docs/build-s390x.md
  ggml/CMakeLists.txt
  ggml/src/ggml-cpu/CMakeLists.txt
Labels: documentation, ggml

#14869 musa: fix build warnings (unused variable)
  ggml/src/ggml-cuda/fattn-mma-f16.cuh
  ggml/src/ggml-cuda/fattn-tile-f32.cu
  ggml/src/ggml-cuda/fattn-vec-f16.cuh
  ggml/src/ggml-cuda/set-rows.cu
Labels: Nvidia GPU, ggml

#14884 CANN: Implement GLU ops
  ggml/src/ggml-cann/acl_tensor.cpp
  ggml/src/ggml-cann/aclnn_ops.cpp
  ggml/src/ggml-cann/aclnn_ops.h
  ggml/src/ggml-cann/ggml-cann.cpp
Labels: ggml, Ascend NPU

#14624 HIP: Enable Matrix cores for MMQ Kernels, Enable stream-K for CDNA 3
  .devops/rocm.Dockerfile
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/mma.cuh
  ggml/src/ggml-cuda/mmq.cu
  ggml/src/ggml-cuda/mmq.cuh
  ggml/src/ggml-cuda/vendors/hip.h
Labels: Nvidia GPU, devops, ggml

#14892 Fix kq_scale for the attention layers of PLaMo2
  convert_hf_to_gguf.py
  src/llama-model.cpp
Labels: python

#14860 vulkan: skip empty set_rows to avoid invalid API usage
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#14905 quantize: update README.md
  tools/quantize/README.md
Labels: examples

#14898 Add support for SmallThinker model series
  convert_hf_to_gguf.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  src/llama-arch.cpp
  src/llama-arch.h
  src/llama-graph.cpp
  src/llama-graph.h
  src/llama-hparams.cpp
  src/llama-hparams.h
  src/llama-model.cpp
Labels: python

#14883 SYCL: Add set_rows support for quantized types
  ggml/src/ggml-sycl/cpy.cpp
  ggml/src/ggml-sycl/cpy.hpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
  ggml/src/ggml-sycl/set_rows.cpp
Labels: ggml, SYCL

#14897 ggml-cpu : deduplicate scalar implementations
  ggml/src/ggml-cpu/arch/arm/quants.c
  ggml/src/ggml-cpu/arch/arm/repack.cpp
  ggml/src/ggml-cpu/arch/loongarch/quants.c
  ggml/src/ggml-cpu/arch/powerpc/quants.c
  ggml/src/ggml-cpu/arch/riscv/quants.c
  ggml/src/ggml-cpu/arch/riscv/repack.cpp
  ggml/src/ggml-cpu/arch/s390/quants.c
  ggml/src/ggml-cpu/arch/wasm/quants.c
  ggml/src/ggml-cpu/arch/x86/quants.c
  ggml/src/ggml-cpu/arch/x86/repack.cpp
Labels: ggml

#14917 llama-bench : use local GPUs along with RPC servers
  tools/llama-bench/llama-bench.cpp
Labels: examples

#14865 Extend test case filtering
  tests/test-backend-ops.cpp
Labels: testing

#14910 opencl: add ops docs
  docs/ops.md
  docs/ops/OpenCL.csv
Labels: documentation

#14919 CUDA: add roll
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/roll.cu
  ggml/src/ggml-cuda/roll.cuh
Labels: Nvidia GPU, ggml

#14929 server-bench: make seed choice configurable
  scripts/server-bench.py
Labels: script, python

#14943 CANN: Add ggml_set_rows
  ggml/src/ggml-cann/aclnn_ops.cpp
  ggml/src/ggml-cann/aclnn_ops.h
  ggml/src/ggml-cann/ggml-cann.cpp
Labels: ggml, Ascend NPU

#14937 bug-fix: handle broken UTF-8 sequences in common_chat_parse()
  common/chat.cpp
Labels: python

#14964 server : add support for `embd_normalize` parameter
  tools/server/README.md
  tools/server/server.cpp
Labels: examples, server

#14973 fix: using combined imatrix to quantise models triggers an error #14952
  tools/quantize/quantize.cpp
Labels: examples

#14809 opencl: tiled mul_mat with local memory for f16 and f32
  ggml/src/ggml-opencl/CMakeLists.txt
  ggml/src/ggml-opencl/ggml-opencl.cpp
  ggml/src/ggml-opencl/kernels/mul_mm_f16_f32_l4_lm.cl
  ggml/src/ggml-opencl/kernels/mul_mm_f32_f32_l4_lm.cl
Labels: ggml, OpenCL

#14825 graph : reduce splits for recurrent and hybrid models
  src/llama-graph.cpp
  src/llama-graph.h
Labels: performance

#14985 CANN: Improve loading efficiency after converting weights to NZ format.
  docs/backend/CANN.md
  ggml/src/ggml-cann/aclnn_ops.cpp
  ggml/src/ggml-cann/ggml-cann.cpp
Labels: documentation, ggml, Ascend NPU

#14771 Add LLaDA 8b Diffusion model
  common/arg.cpp
  common/common.h
  convert_hf_to_gguf.py
  examples/diffusion/README.md
  examples/diffusion/diffusion-cli.cpp
  gguf-py/gguf/constants.py
  gguf-py/gguf/gguf_writer.py
  gguf-py/gguf/tensor_mapping.py
  include/llama.h
  src/llama-arch.cpp
  src/llama-arch.h
  src/llama-model.cpp
Labels: examples, python

#12635 llama-server : implement universal assisted decoding
  common/arg.cpp
  common/common.h
  common/speculative.cpp
  common/speculative.h
  examples/speculative-simple/speculative-simple.cpp
  tools/server/server.cpp
Labels: examples, server

#14899 Vulkan: Fix minor debug mode issues
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml
