Repository ggml-org/llama.cpp, pull requests merged in 2025-06, with the labels that each got.

#13943 ggml: check if non-native endian model is being loaded
  ggml/src/gguf.cpp
Labels: ggml

#13954 convert : fix vocab padding code for bert models
  convert_hf_to_gguf.py
Labels: python

#13757 convert : fix nomic-bert-moe mask token
  convert_hf_to_gguf.py
  src/llama-vocab.cpp
Labels: python

#13966 "Fix: Handle mixed-case 'Power' strings in POWER CPU detection"
  ggml/src/ggml-cpu/CMakeLists.txt
Labels: ggml

#13961 mtmd : fix memory leak in mtmd_helper_eval_chunk_single
  tools/mtmd/mtmd-cli.cpp
  tools/mtmd/mtmd-helper.cpp
Labels: examples

#13970 server : disable speculative decoding for SWA models
  tools/server/server.cpp
Labels: examples, server

#13840 OpenCL: Add concat, tsembd, upscale, tanh, pad and repeat
  ggml/src/ggml-opencl/CMakeLists.txt
  ggml/src/ggml-opencl/ggml-opencl.cpp
  ggml/src/ggml-opencl/kernels/concat.cl
  ggml/src/ggml-opencl/kernels/pad.cl
  ggml/src/ggml-opencl/kernels/repeat.cl
  ggml/src/ggml-opencl/kernels/tanh.cl
  ggml/src/ggml-opencl/kernels/tsembd.cl
  ggml/src/ggml-opencl/kernels/upscale.cl
Labels: ggml

#13939 opencl: add `backend_synchronize`
  ggml/src/ggml-opencl/ggml-opencl.cpp
Labels: ggml

#13997 ci : remove cuda 11.7 releases, switch runner to windows 2022
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/server.yml
Labels: devops

#13813 ggml-vulkan: adds support for op CONV_TRANSPOSE_1D
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/conv_transpose_1d.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
  tests/test-backend-ops.cpp
Labels: testing, Vulkan, ggml

#13936 vulkan: automatically deduce size of push constants
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#14031 gguf-py : add add_classifier_output_labels method to writer
  convert_hf_to_gguf.py
  gguf-py/gguf/gguf_writer.py
Labels: python

#13940 llama : support multiple classifier outputs and labels
  examples/embedding/embedding.cpp
  include/llama.h
  src/llama-context.cpp
  src/llama-model-loader.cpp
  src/llama-model.cpp
  src/llama-model.h
Labels: examples

#14030 llama : deprecate llama_kv_self_ API
  common/common.cpp
  common/speculative.cpp
  examples/batched.swift/Sources/main.swift
  examples/embedding/embedding.cpp
  examples/gritlm/gritlm.cpp
  examples/llama.android/llama/src/main/cpp/llama-android.cpp
  examples/llama.swiftui/llama.cpp.swift/LibLlama.swift
  examples/lookahead/lookahead.cpp
  examples/lookup/lookup.cpp
  examples/parallel/parallel.cpp
  examples/passkey/passkey.cpp
  examples/retrieval/retrieval.cpp
  examples/save-load-state/save-load-state.cpp
  examples/simple-chat/simple-chat.cpp
  examples/speculative-simple/speculative-simple.cpp
  examples/speculative/speculative.cpp
  include/llama.h
  src/llama-context.cpp
  src/llama-kv-cache-recurrent.cpp
  src/llama-kv-cache-recurrent.h
  src/llama-kv-cache-unified-iswa.cpp
  src/llama-kv-cache-unified-iswa.h
  src/llama-kv-cache-unified.cpp
  src/llama-kv-cache-unified.h
  src/llama-memory.h
  tools/batched-bench/batched-bench.cpp
  tools/cvector-generator/cvector-generator.cpp
  tools/imatrix/imatrix.cpp
  tools/llama-bench/llama-bench.cpp
  tools/main/main.cpp
  tools/mtmd/mtmd-cli.cpp
  tools/perplexity/perplexity.cpp
  tools/run/run.cpp
  tools/server/server.cpp
Labels: android, examples, server

#13944 ci: add LoongArch cross-compile build
  .github/workflows/build-linux-cross.yml
Labels: devops

#13914 [Ascend NPU] Enable labeler
  .github/labeler.yml
Labels: devops

#13885 sycl: Add reorder to Q6_K mmvq implementation
  ggml/src/ggml-sycl/convert.cpp
  ggml/src/ggml-sycl/dequantize.hpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
  ggml/src/ggml-sycl/mmvq.cpp
  ggml/src/ggml-sycl/quants.hpp
  ggml/src/ggml-sycl/vecdotq.hpp
Labels: ggml, SYCL

#14082 webui: fix sidebar being covered by main content
  tools/server/public/index.html.gz
  tools/server/webui/src/App.tsx
Labels: examples, server

#13104 [CANN] Simplify the environment variable setting for GGML_CANN_MEM_POOL and GGML_CANN_ASYNC_MODE
  docs/backend/CANN.md
  ggml/src/ggml-cann/common.h
  ggml/src/ggml-cann/ggml-cann.cpp
Labels: documentation, ggml, Ascend NPU

#14033 cuda : fix device sync on buffer clear
  ggml/src/ggml-cuda/ggml-cuda.cu
Labels: Nvidia GPU, ggml

#13980 llama : allow building all tests on windows when not using shared libs
  .github/workflows/build.yml
  tests/CMakeLists.txt
  tests/test-chat.cpp
Labels: testing, devops

#14088 metal : use less stack memory in FA kernel
  ggml/src/ggml-metal/ggml-metal.metal
Labels: ggml, Apple Metal

#14076 rpc: nicer error message for RPC server crash
  ggml/src/ggml-rpc/ggml-rpc.cpp
Labels: ggml

#14099 Vulkan: Don't default to CPU device (like llvmpipe)
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#14090 llama : support GEGLU for jina-bert-v2
  convert_hf_to_gguf.py
  gguf-py/gguf/tensor_mapping.py
  src/llama-graph.cpp
  src/llama-model.cpp
Labels: python

#14103 convert : fix duplicate key DeepSeek-R1 conversion error
  convert_hf_to_gguf.py
Labels: python

#14003 opencl: preliminary support for Q4_0 mul_mat_id using matvec
  ggml/src/ggml-opencl/CMakeLists.txt
  ggml/src/ggml-opencl/ggml-opencl.cpp
  ggml/src/ggml-opencl/kernels/mul_mv_id_q4_0_f32_8x_flat.cl
Labels: ggml

#14128 chore : clean up relative source dir paths
  common/CMakeLists.txt
  tests/CMakeLists.txt
Labels: testing

#14080 Implement GGML_CPU_ALL_VARIANTS for ARM
  ggml/src/CMakeLists.txt
  ggml/src/ggml-cpu/CMakeLists.txt
  ggml/src/ggml-cpu/arch/arm/cpu-feats.cpp
Labels: ggml

#14126 cmake : handle whitepsaces in path during metal build
  ggml/src/ggml-metal/CMakeLists.txt
Labels: ggml, Apple Metal

#14125 sycl: Remove not needed copy f16->f32 for dnnl mul mat
  ggml/src/ggml-sycl/gemm.hpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: ggml, SYCL

#14163 server : fix SWA condition for full context reprocess
  tools/server/server.cpp
Labels: examples, server

#14169 compare llama-bench: add option to plot
  requirements/requirements-compare-llama-bench.txt
  scripts/compare-llama-bench.py
Labels: script, python

#14185 Add support for Arcee AI's upcoming AFM model
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  gguf-py/gguf/constants.py
  src/llama-arch.cpp
  src/llama-arch.h
  src/llama-model.cpp
  src/llama-vocab.cpp
Labels: python

#14146 ggml-cpu : rework weak alias on apple targets
  ggml/cmake/common.cmake
  ggml/src/ggml-cpu/apple-fallback.h
  ggml/src/ggml-cpu/ggml-cpu-impl.h
  ggml/src/ggml-cpu/quants.c
  ggml/src/ggml-cpu/quants.h
  ggml/src/ggml-cpu/repack.cpp
  ggml/src/ggml-cpu/repack.h
Labels: ggml

#14194 Allow override when adding value to ggufwriter
  gguf-py/gguf/gguf_writer.py
Labels: python

#14207 Remove arcee AFM change in convert_hf_to_gguf_update.py
  convert_hf_to_gguf_update.py
Labels: python

#14206 ggml: Add Android support for GGML_CPU_ALL_VARIANTS
  ggml/src/CMakeLists.txt
  ggml/src/ggml-cpu/CMakeLists.txt
Labels: ggml

#14035 llama : add thread safety test
  .github/workflows/build.yml
  ci/run.sh
  common/common.cpp
  ggml/src/ggml-cpu/ggml-cpu-impl.h
  ggml/src/ggml-cpu/ggml-cpu.c
  ggml/src/ggml-cpu/llamafile/sgemm.cpp
  src/llama.cpp
  tests/CMakeLists.txt
  tests/test-thread-safety.cpp
Labels: testing, devops, ggml

#14225 server : fix incorrect usage of llama_get_embeddings()
  include/llama.h
  tools/server/server.cpp
Labels: examples, server

#14221 ggml-cpu : remove the weak alias trick
  ggml/src/ggml-cpu/apple-fallback.h
  ggml/src/ggml-cpu/arch-fallback.h
  ggml/src/ggml-cpu/ggml-cpu-impl.h
  ggml/src/ggml-cpu/quants.c
  ggml/src/ggml-cpu/repack.cpp
  ggml/src/ggml-cpu/repack.h
Labels: ggml

#14181 ggml : implement GLU for split up/gate
  ggml/include/ggml.h
  ggml/src/ggml-cpu/ops.cpp
  ggml/src/ggml-cuda/unary.cu
  ggml/src/ggml-sycl/element_wise.cpp
  ggml/src/ggml-sycl/element_wise.hpp
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/geglu.comp
  ggml/src/ggml-vulkan/vulkan-shaders/glu_head.comp
  ggml/src/ggml-vulkan/vulkan-shaders/glu_main.comp
  ggml/src/ggml-vulkan/vulkan-shaders/reglu.comp
  ggml/src/ggml-vulkan/vulkan-shaders/swiglu.comp
  ggml/src/ggml.c
  src/llama-graph.cpp
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, Vulkan, ggml, SYCL

#14023 ggml-cpu: fix uncaught underscore terminators for s390x
  ggml/src/ggml-cpu/ggml-cpu-impl.h
Labels: ggml

#14267 metal : add mean kernel
  ggml/src/ggml-metal/ggml-metal.m
  ggml/src/ggml-metal/ggml-metal.metal
Labels: ggml, Apple Metal

#13979 Hybrid recurrent cache
  src/CMakeLists.txt
  src/llama-arch.cpp
  src/llama-arch.h
  src/llama-graph.cpp
  src/llama-graph.h
  src/llama-hparams.cpp
  src/llama-hparams.h
  src/llama-kv-cache-unified-iswa.cpp
  src/llama-kv-cache-unified-iswa.h
  src/llama-kv-cache-unified.cpp
  src/llama-memory-hybrid.cpp
  src/llama-memory-hybrid.h
  src/llama-memory-recurrent.cpp
  src/llama-memory-recurrent.h
  src/llama-model.cpp
Labels: examples, python, server

#14249 Vulkan: Fix host-pinned memory for large allocations
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#14273 llamafile: support s390x SIMD instruction set
  ggml/src/ggml-cpu/llamafile/sgemm.cpp
  ggml/src/ggml-cpu/llamafile/sgemm.h
Labels: ggml

#14100 scripts: Fix remote option in Windows (#14102)
  convert_hf_to_gguf.py
Labels: python

#14270 llama-bench : add --no-warmup flag (#14224)
  tools/llama-bench/llama-bench.cpp
Labels: examples

#14215 sycl: Cleanup codepaths in Get Rows in sycl backend
  ggml/src/ggml-sycl/getrows.cpp
Labels: ggml, SYCL

#14261 fix: resolve gcc compile warnings
  common/common.cpp
  ggml/src/ggml-backend-reg.cpp
  src/llama-vocab.cpp
  src/unicode.cpp
Labels: ggml

#14200 gguf-py: Make sentencepiece optional
  gguf-py/gguf/vocab.py
  gguf-py/pyproject.toml
Labels: python

#14265 CUDA: add conv_2d_dw
  ggml/src/ggml-cuda/conv2d-dw.cu
  ggml/src/ggml-cuda/conv2d-dw.cuh
  ggml/src/ggml-cuda/ggml-cuda.cu
Labels: Nvidia GPU, ggml

#14217 ubatch : new splitting logic
  src/llama-batch.cpp
  src/llama-batch.h
  src/llama-context.cpp
  src/llama-context.h
  src/llama-graph.cpp
  src/llama-graph.h
  src/llama-hparams.cpp
  src/llama-hparams.h
  src/llama-kv-cache-unified-iswa.cpp
  src/llama-kv-cache-unified-iswa.h
  src/llama-kv-cache-unified.cpp
  src/llama-kv-cache-unified.h
  src/llama-kv-cells.h
  src/llama-memory-hybrid.cpp
  src/llama-memory-hybrid.h
  src/llama-memory-recurrent.cpp
  src/llama-memory-recurrent.h
  src/llama-memory.h
  tools/server/server.cpp
Labels: examples, server

#14277 ggml: Update KleidiAI to v1.9.0
  ggml/src/ggml-cpu/CMakeLists.txt
Labels: ggml

#14292 ggml : fix repack work size for mul_mat_id
  ggml/src/ggml-cpu/repack.cpp
Labels: ggml

#14288 cuda : synchronize graph capture and cublas handle destruction
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/ggml-cuda.cu
Labels: Nvidia GPU, ggml

#14311 Fix Llama 4 conversion
  convert_hf_to_gguf.py
Labels: python

#14300 metal : fix thread-safety
  ggml/src/ggml-metal/ggml-metal.m
Labels: ggml, Apple Metal

#14312 gguf-py : fix TemplateProcessing pair when bos/eos is missing
  gguf-py/gguf/vocab.py
Labels: python

#13792 Add support for VK_EXT_debug_utils to add labels to Vulkan objects.
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#14314 gguf-py : fix Qwen3-Embedding eos token
  gguf-py/gguf/vocab.py
Labels: python

#14313 CUDA: add mean operation
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/mean.cu
  ggml/src/ggml-cuda/mean.cuh
  ggml/src/ggml-cuda/sumrows.cu
  ggml/src/ggml-cuda/sumrows.cuh
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, ggml

#14323 HIP: enable vec fattn on RDNA4
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/ggml-cuda.cu
Labels: Nvidia GPU, ggml

#14327 run : avoid double tokenization
  tools/run/run.cpp
Labels: examples

#14330 gguf-py : fix SpecialVocab parsing when post_processor is null
  gguf-py/gguf/vocab.py
Labels: python

#13037 quantize: Handle user-defined pruning of whole layers (blocks)
  include/llama.h
  src/llama-quant.cpp
  tools/quantize/quantize.cpp
Labels: examples

#14262 CUDA: mul_mat_v support for batch sizes > 1
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/mmv.cu
  ggml/src/ggml-cuda/mmv.cuh
Labels: Nvidia GPU, ggml

#14336 Fixes for rwkv-world template and the missing inputs.use_jinja in llama-cli
  src/llama-chat.cpp
  tools/main/main.cpp
Labels: examples

#14324 CUDA/HIP: optimize mmv paths taken for HIP/CDNA
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/mmv.cu
Labels: Nvidia GPU, ggml

#14350 main : honor --verbose-prompt on interactive prompts
  tools/main/main.cpp
Labels: examples

#13973 sycl: GGML_SYCL_DISABLE_OPT on by default for all Intel Devices
  docs/backend/SYCL.md
  ggml/src/ggml-sycl/common.hpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
  ggml/src/ggml-sycl/sycl_hw.cpp
  ggml/src/ggml-sycl/sycl_hw.hpp
Labels: documentation, ggml, SYCL

#14381 ggml : do not output unprintable characters on GGUF load failure
  ggml/src/gguf.cpp
Labels: ggml

#13842 musa: enable fp16 mma (all) and cublas on qy2
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/fattn-wmma-f16.cu
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-musa/mudnn.cuh
Labels: Nvidia GPU, ggml

#14389 docs: update s390x documentation + add faq
  docs/build-s390x.md
Labels: documentation

#14384 metal : batch rows copy in a single threadgroup
  ggml/src/ggml-metal/ggml-metal.m
  ggml/src/ggml-metal/ggml-metal.metal
Labels: ggml, Apple Metal

#14416 convert : fix broken sentencepiece vocab
  convert_hf_to_gguf.py
Labels: python

#14274 ggml : add ggml_set_rows
  examples/eval-callback/eval-callback.cpp
  ggml/include/ggml-cpu.h
  ggml/include/ggml.h
  ggml/src/ggml-cpu/ggml-cpu.c
  ggml/src/ggml-cpu/ggml-cpu.cpp
  ggml/src/ggml-cpu/ops.cpp
  ggml/src/ggml-cpu/ops.h
  ggml/src/ggml-metal/ggml-metal-impl.h
  ggml/src/ggml-metal/ggml-metal.m
  ggml/src/ggml-metal/ggml-metal.metal
  ggml/src/ggml.c
  tests/test-backend-ops.cpp
Labels: testing, examples, ggml, Apple Metal

#14431 ci : fix windows build and release
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: devops

#14408 model : add support for ERNIE 4.5 0.3B model
  convert_hf_to_gguf.py
  gguf-py/gguf/constants.py
  src/llama-arch.cpp
  src/llama-arch.h
  src/llama-model.cpp
  src/llama-model.h
Labels: python

#14333 vulkan: lock accesses of pinned_memory vector
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#14378 vulkan: handle noncontig in the final case of ggml_vk_get_cpy_pipeline
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#14345 vulkan: Increase workgroup size for GLU, for performance
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/glu_head.comp
  ggml/src/ggml-vulkan/vulkan-shaders/glu_main.comp
Labels: Vulkan, ggml

#14361 CUDA: add bf16 and f32 support to cublas_mul_mat_batched
  ggml/src/ggml-cuda/convert.cu
  ggml/src/ggml-cuda/convert.cuh
  ggml/src/ggml-cuda/ggml-cuda.cu
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, ggml

#14366 vulkan: Add fusion support for RMS_NORM+MUL
  ggml/include/ggml-backend.h
  ggml/src/ggml-backend.cpp
  ggml/src/ggml-impl.h
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/rms_norm.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
  ggml/src/ggml.c
  tests/test-backend-ops.cpp
Labels: testing, Vulkan, ggml

#14395 SYCL: disable faulty fp16 exp kernel
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: ggml, SYCL

#14322 Fix appearance of the chats list context menu for the browser Safari
  tools/server/public/index.html.gz
  tools/server/webui/src/components/Sidebar.tsx
Labels: examples, server

#14388 Add Conv2d for CPU
  ggml/include/ggml.h
  ggml/src/ggml-cpu/ggml-cpu.c
  ggml/src/ggml-cpu/ops.cpp
  ggml/src/ggml-cpu/ops.h
  ggml/src/ggml.c
Labels: ggml
