Repository ggml-org/llama.cpp, pull requests merged in 2025-05, with the labels that each got.

#13187 test: non-cont. b in test-backend-ops -o MUL_MAT
  tests/test-backend-ops.cpp
Labels: testing

#13237 Re-enable upscaling of images smaller than the CLIP input size; fix MiniCPM evaluation on small bitmaps
  examples/llava/clip.cpp
Labels: examples

#13222 ggml: Don't assert fail when tensor data changes
  ggml/src/ggml-alloc.c
Labels: ggml

#13210 rpc: avoid uninitialized memory in serialize_tensor
  ggml/src/ggml-rpc/ggml-rpc.cpp
Labels: ggml

#12804 ci: fix cross-compile sync issues
  .github/workflows/build-linux-cross.yml
  .github/workflows/build.yml
Labels: examples, devops

#13246 convert : explicitly disable trust_remote_code for AutoConfig
  convert_hf_to_gguf.py
Labels: python

#13253 reset glmedge chat template
  src/llama-chat.cpp
  tests/test-chat-template.cpp
Labels: testing

#13209 convert : converting mmproj for Qwen2/2.5VL from convert_hf_to_gguf
  convert_hf_to_gguf.py
  examples/llava/README.md
  examples/llava/qwen2_vl_surgery.py
  examples/llava/tests.sh
  gguf-py/gguf/constants.py
  gguf-py/gguf/gguf_writer.py
  gguf-py/gguf/tensor_mapping.py
Labels: examples, python

#13216 convert : fix context length for nomic-embed-text-v2-moe
  convert_hf_to_gguf.py
Labels: python

#13245 llama-model : support Qwen2 embedding models and pooling_mode_lasttoken
  convert_hf_to_gguf.py
  gguf-py/gguf/constants.py
  src/llama-model.cpp
Labels: python

#13148 PowerPC: Enable MMA for BF16 in llamafile_sgemm
  ggml/src/ggml-cpu/llamafile/sgemm.cpp
Labels: ggml

#13268 sync : ggml
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/conv2d_dw.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
  scripts/sync-ggml.last
  tests/test-backend-ops.cpp
Labels: script, testing, Vulkan, ggml

#12843 Llama-3_1-Nemotron-Ultra-253B-v1 support
  convert_hf_to_gguf.py
  src/llama-model.cpp
  src/llama-model.h
Labels: python

#13259 clip : revert the change of BOI/EOI token for GLM-edge (⚠️ breaking change)
  tools/llava/clip-impl.h
  tools/llava/clip.cpp
  tools/llava/mtmd.cpp
Labels: examples

#13286 imatrix: fix oob writes if src1 is not contiguous
  tools/imatrix/imatrix.cpp
Labels: examples

#13266 vulkan: Additional type support for unary, binary, and copy
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/relu.comp
  ggml/src/ggml-vulkan/vulkan-shaders/sigmoid.comp
  ggml/src/ggml-vulkan/vulkan-shaders/tanh.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, ggml

#13294 CUDA: fix race condition in MMQ ids_dst
  ggml/src/ggml-cuda/mmq.cuh
Labels: Nvidia GPU, ggml

#13299 CUDA: fix race condition in MMQ stream-k fixup
  ggml/src/ggml-cuda/mmq.cuh
Labels: Nvidia GPU, ggml

#13303 llava/mtmd : fixes to fully support dl backends
  tools/CMakeLists.txt
  tools/llava/clip.cpp
  tools/llava/llava.cpp
Labels: examples

#13301 ggml-cpu: Support Q3_K SIMD on s390x
  ggml/src/ggml-cpu/ggml-cpu-quants.c
Labels: ggml

#13304 rpc : use backend registry, support dl backends
  ggml/src/ggml-cpu/ggml-cpu.cpp
  ggml/src/ggml-rpc/ggml-rpc.cpp
  tools/CMakeLists.txt
  tools/rpc/rpc-server.cpp
Labels: examples, ggml

#13184 mtmd : add C public API
  tests/CMakeLists.txt
  tests/test-mtmd-c-api.c
  tools/llava/clip-impl.h
  tools/llava/clip.h
  tools/llava/mtmd-cli.cpp
  tools/llava/mtmd.cpp
  tools/llava/mtmd.h
Labels: testing, examples

#13312 convert : bailingmoe : set yarn metadata if present
  convert_hf_to_gguf.py
Labels: python

#13290 clip : fix confused naming ffn_up and ffn_down
  convert_hf_to_gguf.py
  gguf-py/gguf/tensor_mapping.py
  tools/llava/clip.cpp
  tools/llava/mtmd-cli.cpp
Labels: examples, python

#13311 mtmd : rename llava directory to mtmd
  Makefile
  common/arg.cpp
  common/common.h
  docs/multimodal/MobileVLM.md
  docs/multimodal/glmedge.md
  docs/multimodal/llava.md
  docs/multimodal/minicpmo2.6.md
  docs/multimodal/minicpmv2.5.md
  docs/multimodal/minicpmv2.6.md
  requirements/requirements-all.txt
  tools/CMakeLists.txt
  tools/mtmd/CMakeLists.txt
  tools/mtmd/README-quantize.md
  tools/mtmd/README.md
  tools/mtmd/android/adb_run.sh
  tools/mtmd/android/build_64.sh
  tools/mtmd/clip-impl.h
  tools/mtmd/clip-quantize-cli.cpp
  tools/mtmd/clip.cpp
  tools/mtmd/clip.h
  tools/mtmd/convert_image_encoder_to_gguf.py
  tools/mtmd/deprecation-warning.cpp
  tools/mtmd/glmedge-convert-image-encoder-to-gguf.py
  tools/mtmd/glmedge-surgery.py
  tools/mtmd/llava.cpp
  tools/mtmd/llava.h
  tools/mtmd/llava_surgery.py
  tools/mtmd/llava_surgery_v2.py
  tools/mtmd/minicpmv-convert-image-encoder-to-gguf.py
  tools/mtmd/minicpmv-surgery.py
  tools/mtmd/mtmd-cli.cpp
  tools/mtmd/mtmd.cpp
  tools/mtmd/mtmd.h
  tools/mtmd/qwen2vl-test.cpp
  tools/mtmd/requirements.txt
  tools/mtmd/test-1.jpeg
  tools/mtmd/tests.sh
Labels: documentation, examples, python

#13309 Webui - change setText command from parent window to also send the message.
  tools/server/public/index.html.gz
  tools/server/webui/src/components/ChatScreen.tsx
  tools/server/webui/src/components/useChatTextarea.ts
  tools/server/webui/src/utils/llama-vscode.ts
Labels: examples, server

#13264 sampling: Integrate Top-nσ into main sampling chain (and add it to the server)
  common/common.h
  common/sampling.cpp
  src/llama-sampling.cpp
  tools/server/server.cpp
Labels: examples, server

#13320 CUDA: fix logic for clearing padding with -ngl 0
  ggml/include/ggml-backend.h
  ggml/src/ggml-backend.cpp
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/mmq.cu
  ggml/src/ggml-cuda/mmvq.cu
  ggml/src/ggml-cuda/quantize.cu
Labels: Nvidia GPU, ggml

#13036 gguf-py : avoid requiring PySide6 for packaged scripts
  gguf-py/gguf/scripts/__init__.py
  gguf-py/pyproject.toml
  pyproject.toml
Labels: nix, bugfix, python, devops

#13323 CUDA: fix --split-mode row for MMQ
  ggml/src/ggml-cuda/mmq.cu
  ggml/src/ggml-cuda/mmq.cuh
Labels: Nvidia GPU, ggml

#13331 convert : qwen2/3moe : set yarn metadata if present
  convert_hf_to_gguf.py
Labels: python

#13337 CUDA: fix bad asserts for partial offload
  ggml/include/ggml.h
  ggml/src/ggml-cuda/fattn-common.cuh
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/mmq.cu
  ggml/src/ggml-cuda/mmvq.cu
  ggml/src/ggml.c
Labels: Nvidia GPU, ggml

#13254 SYCL: Disable reorder optimize by default and stop setting tensor extras when optimize is disabled
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: ggml, SYCL

#13342 cmake : remove arm64 msvc presets
  CMakePresets.json
Labels: build

#13345 sampling: make top_n_sigma no-op at <=0 rather than <0
  src/llama-sampling.cpp
  tests/test-sampling.cpp
Labels: testing

#13321 clip : refactor graph builder
  convert_hf_to_gguf.py
  tools/mtmd/clip.cpp
Labels: examples, python

#13135 CUDA: build archs as virtual for GGML_NATIVE=OFF
  ggml/src/ggml-cuda/CMakeLists.txt
Labels: Nvidia GPU, ggml

#13283 examples : remove infill
  Makefile
  common/arg.cpp
  common/common.h
  examples/CMakeLists.txt
  examples/infill/CMakeLists.txt
  examples/infill/README.md
  examples/infill/infill.cpp
Labels: examples

#13325 musa: remove nrows_x in mul_mat_q_process_tile
  ggml/src/ggml-cuda/mmq.cuh
Labels: Nvidia GPU, ggml

#13356 docker : disable arm64 and intel images
  .github/workflows/docker.yml
Labels: devops

#13343 sycl: addressing non-contiguous src1 mul_mats (nc and batched)
  ggml/src/ggml-sycl/common.hpp
  ggml/src/ggml-sycl/convert.cpp
  ggml/src/ggml-sycl/convert.hpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: ggml, SYCL

#13362 ci : move release workflow to a separate file
  .github/actions/get-tag-name/action.yml
  .github/actions/windows-setup-cuda/action.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: devops

#13284 context : remove logits_all flag
  common/arg.cpp
  common/common.cpp
  common/common.h
  include/llama.h
  src/llama-context.cpp
  src/llama-context.h
  tools/imatrix/imatrix.cpp
  tools/main/main.cpp
  tools/perplexity/perplexity.cpp
Labels: breaking change, examples

#13108 context : allow cache-less context for embeddings
  examples/embedding/embedding.cpp
  include/llama.h
  src/llama-context.cpp
  src/llama-model.cpp
  tools/server/server.cpp
Labels: examples, server

#13381 mtmd: Fix the calculation of n_tokens for smolvlm
  tools/mtmd/clip.cpp
Labels: examples

#13349 convert : support rope_scaling type and rope_type
  convert_hf_to_gguf.py
Labels: python

#13365 server : (webui) revamp the input area, plus many small UI improvements
  common/chat.cpp
  tools/server/public/index.html.gz
  tools/server/webui/package-lock.json
  tools/server/webui/package.json
  tools/server/webui/src/App.tsx
  tools/server/webui/src/Config.ts
  tools/server/webui/src/components/ChatInputExtraContextItem.tsx
  tools/server/webui/src/components/ChatMessage.tsx
  tools/server/webui/src/components/ChatScreen.tsx
  tools/server/webui/src/components/Header.tsx
  tools/server/webui/src/components/MarkdownDisplay.tsx
  tools/server/webui/src/components/Sidebar.tsx
  tools/server/webui/src/components/useChatExtraContext.tsx
  tools/server/webui/src/components/useChatScroll.tsx
  tools/server/webui/src/components/useChatTextarea.ts
  tools/server/webui/src/index.scss
  tools/server/webui/src/utils/app.context.tsx
  tools/server/webui/src/utils/common.tsx
  tools/server/webui/src/utils/llama-vscode.ts
  tools/server/webui/src/utils/misc.ts
  tools/server/webui/src/utils/storage.ts
  tools/server/webui/src/utils/types.ts
  tools/server/webui/vite.config.ts
Labels: examples, server

#13366 mtmd: Expose helper_decode_image_chunk
  tools/mtmd/mtmd.cpp
  tools/mtmd/mtmd.h
Labels: examples

#13392 ci : limit write permission to only the release step + fixes
  .github/workflows/build.yml
  .github/workflows/release.yml
  CMakeLists.txt
  common/CMakeLists.txt
Labels: build, devops

#13393 server : (webui) rename has_multimodal --> modalities
  tools/server/public/index.html.gz
  tools/server/webui/src/components/useChatExtraContext.tsx
  tools/server/webui/src/utils/types.ts
Labels: examples, server

#13353 rpc : add rpc_msg_set_tensor_hash_req
  ggml/src/ggml-rpc/ggml-rpc.cpp
Labels: ggml

#13397 mtmd : fix batch_view for m-rope
  tools/mtmd/mtmd.cpp
Labels: examples

#13370 llama-run: add support for downloading models from ModelScope
  tools/run/README.md
  tools/run/run.cpp
Labels: examples

#13389 Add --parse-special for enabling parsing of special tokens in imatrix calculation
  common/arg.cpp
  common/common.h
  tools/imatrix/imatrix.cpp
Labels: examples

#13384 CUDA: fix crash on large batch size for MoE models
  ggml/src/ggml-cuda/getrows.cu
Labels: Nvidia GPU, ggml

#13395 llama : do not crash if there is no CPU backend
  src/llama-adapter.cpp
  src/llama-model-loader.cpp
  src/llama-model.cpp
  tools/main/main.cpp
  tools/mtmd/clip.cpp
  tools/mtmd/llava.cpp
  tools/rpc/rpc-server.cpp
Labels: examples

#13306 CUDA: FA support for Deepseek (Ampere or newer)
  ggml/src/ggml-cuda/CMakeLists.txt
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/cp-async.cuh
  ggml/src/ggml-cuda/fattn-common.cuh
  ggml/src/ggml-cuda/fattn-mma-f16.cuh
  ggml/src/ggml-cuda/fattn-tile-f16.cu
  ggml/src/ggml-cuda/fattn-tile-f32.cu
  ggml/src/ggml-cuda/fattn-vec-f16.cuh
  ggml/src/ggml-cuda/fattn-vec-f32.cuh
  ggml/src/ggml-cuda/fattn-wmma-f16.cu
  ggml/src/ggml-cuda/fattn.cu
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_1-ncols2_16.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_1-ncols2_8.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_16-ncols2_1.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_16-ncols2_2.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_16-ncols2_4.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_2-ncols2_16.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_2-ncols2_4.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_2-ncols2_8.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_32-ncols2_1.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_32-ncols2_2.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_4-ncols2_16.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_4-ncols2_2.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_4-ncols2_4.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_4-ncols2_8.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_64-ncols2_1.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_8-ncols2_1.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_8-ncols2_2.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_8-ncols2_4.cu
  ggml/src/ggml-cuda/template-instances/fattn-mma-f16-instance-ncols1_8-ncols2_8.cu
  ggml/src/ggml-cuda/template-instances/generate_cu_files.py
  src/llama-graph.cpp
Labels: Nvidia GPU, python, ggml

#13388 metal : optimize MoE for large batches
  ggml/src/ggml-metal/ggml-metal-impl.h
  ggml/src/ggml-metal/ggml-metal.m
  ggml/src/ggml-metal/ggml-metal.metal
  ggml/src/ggml.c
Labels: ggml, Apple Metal

#12858 sycl : implementation of reordered Q4_0 MMVQ for Intel GPUs
  ggml/src/ggml-sycl/backend.hpp
  ggml/src/ggml-sycl/common.hpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
  ggml/src/ggml-sycl/mmvq.cpp
  ggml/src/ggml-sycl/quants.hpp
  ggml/src/ggml-sycl/vecdotq.hpp
Labels: ggml, SYCL

#12898 server : vision support via libmtmd
  README.md
  common/arg.cpp
  docs/multimodal.md
  tools/mtmd/README.md
  tools/server/CMakeLists.txt
  tools/server/README.md
  tools/server/server.cpp
  tools/server/tests/unit/test_vision_api.py
  tools/server/tests/utils.py
  tools/server/utils.hpp
Labels: documentation, testing, examples, python, server

#13324 vulkan: scalar flash attention implementation
  .github/workflows/build.yml
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, devops, ggml

#13415 CUDA: fix FlashAttention on Turing
  ggml/src/ggml-cuda/fattn-mma-f16.cuh
Labels: Nvidia GPU, ggml

#13422 mtmd : support InternVL 2.5 and 3
  convert_hf_to_gguf.py
  docs/multimodal.md
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  tools/mtmd/README.md
  tools/mtmd/clip-impl.h
  tools/mtmd/clip.cpp
  tools/mtmd/mtmd.cpp
  tools/mtmd/tests.sh
Labels: documentation, examples, python

#13426 ci: `free_disk_space` flag enabled for intel variant
  .github/workflows/docker.yml
Labels: devops

#13432 server : update docs
  docs/multimodal.md
  tools/server/README.md
Labels: documentation, examples, server

#13434 mtmd : add hard limit on image resolution for qwen2vl / qwen2.5vl
  tools/mtmd/clip-impl.h
  tools/mtmd/clip.cpp
Labels: examples

#13423 vocab : add ByteDance-Seed/Seed-Coder
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  include/llama.h
  src/llama-vocab.cpp
Labels: python

#13438 CUDA: fix race conditions in FlashAttention kernels
  ggml/src/ggml-cuda/fattn-mma-f16.cuh
  ggml/src/ggml-cuda/fattn-vec-f16.cuh
Labels: Nvidia GPU, ggml

#13440 readme: Fix typo in InternVL model name
  docs/multimodal.md
Labels: documentation

#13442 mtmd : move helpers to dedicated file
  tools/mtmd/CMakeLists.txt
  tools/mtmd/mtmd-helper.cpp
  tools/mtmd/mtmd.cpp
  tools/mtmd/mtmd.h
Labels: examples

#13443 mtmd : support InternVL 3 38B and 78B mmproj
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  tools/mtmd/clip-impl.h
  tools/mtmd/clip.cpp
Labels: examples, python

#13386 Add `--no-op-offload` to improve `-ot` pp perf in MoE models like llama4 400B
  common/arg.cpp
  common/common.cpp
  common/common.h
  ggml/include/ggml-backend.h
  ggml/src/ggml-backend.cpp
  include/llama.h
  src/llama-context.cpp
  src/llama-cparams.h
  tests/test-opt.cpp
  tools/llama-bench/llama-bench.cpp
  tools/mtmd/clip.cpp
Labels: testing, examples, ggml

#13451 scripts : exit compare-llama-bench.py gracefully when there's nothing to compare
  scripts/compare-llama-bench.py
Labels: script, python

#13436 tools : fix invalid free()
  tools/server/server.cpp
Labels: examples, server

#13459 mtmd : use RMS norm for InternVL 3 38B and 78B mmproj
  tools/mtmd/clip.cpp
Labels: examples

#13406 sycl: enable dpcpp nightly builds with oneMKL and oneDNN
  ggml/src/ggml-sycl/CMakeLists.txt
Labels: ggml, SYCL

#13457 ggml : add mrope kernel for metal
  ggml/src/ggml-metal/ggml-metal-impl.h
  ggml/src/ggml-metal/ggml-metal.m
  ggml/src/ggml-metal/ggml-metal.metal
Labels: ggml, Apple Metal

#13410 llama-bench : accept ranges for integer parameters
  tools/llama-bench/README.md
  tools/llama-bench/llama-bench.cpp
Labels: examples

#13477 Allow content null for tool call
  tools/server/utils.hpp
Labels: examples, server

#13478 clip : cap max image size 1024 for qwen vl model
  tools/mtmd/clip.cpp
Labels: examples

#13257 opencl: remove unnecessary assert for `add`
  ggml/src/ggml-opencl/ggml-opencl.cpp
Labels: ggml

#13487 llama-bench : add defrag-thold, check for invalid ranges
  include/llama.h
  tools/llama-bench/README.md
  tools/llama-bench/llama-bench.cpp
Labels: examples

#13455 scripts : support arbitrary input file formats in compare-llama-bench.py
  scripts/compare-llama-bench.py
Labels: script, python

#13460 mtmd : remove libllava, remove clip-quantize-cli (⚠️ breaking change)
  tools/mtmd/CMakeLists.txt
  tools/mtmd/README-quantize.md
  tools/mtmd/README.md
  tools/mtmd/android/adb_run.sh
  tools/mtmd/android/build_64.sh
  tools/mtmd/clip-quantize-cli.cpp
  tools/mtmd/clip.cpp
  tools/mtmd/legacy-models/convert_image_encoder_to_gguf.py
  tools/mtmd/legacy-models/glmedge-convert-image-encoder-to-gguf.py
  tools/mtmd/legacy-models/glmedge-surgery.py
  tools/mtmd/legacy-models/llava_surgery.py
  tools/mtmd/legacy-models/llava_surgery_v2.py
  tools/mtmd/legacy-models/minicpmv-convert-image-encoder-to-gguf.py
  tools/mtmd/legacy-models/minicpmv-surgery.py
  tools/mtmd/llava.cpp
  tools/mtmd/llava.h
Labels: breaking change, examples, python

#13492 batched-bench : fix pp batch contents
  tools/batched-bench/batched-bench.cpp
Labels: examples

#13509 ggml-cpu: Update KleidiAI to v1.6 and fix include directives
  ggml/src/ggml-cpu/CMakeLists.txt
  ggml/src/ggml-cpu/kleidiai/kernels.h
  ggml/src/ggml-cpu/kleidiai/kleidiai.cpp
Labels: ggml

#13510 clip : clip.h become private API (⚠️ breaking change)
  tools/mtmd/clip.cpp
  tools/mtmd/clip.h
  tools/mtmd/qwen2vl-test.cpp
Labels: breaking change, examples

#13517 vulkan: workaround FA compile failures on macos
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn.comp
Labels: Vulkan, ggml

#13514 scripts : fix compare-llama-bench.py show parameter
  scripts/compare-llama-bench.py
Labels: script, python

#13513 docs: Update link to ggml-org in multimodal.md
  docs/multimodal.md
Labels: documentation

#13526 webui: Allow pasting file from clipboard
  tools/server/public/index.html.gz
  tools/server/webui/package.json
  tools/server/webui/src/components/ChatScreen.tsx
Labels: examples, server

#13525 webui : use fflate for more deterministic gzip compress
  tools/server/public/index.html.gz
  tools/server/webui/package-lock.json
  tools/server/webui/package.json
  tools/server/webui/vite.config.ts
Labels: examples, server

#13506 vulkan: KHR_coopmat flash attention
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn_cm1.comp
  ggml/src/ggml-vulkan/vulkan-shaders/vulkan-shaders-gen.cpp
Labels: Vulkan, ggml

#13263 cmake: simplify vulkan shader test logic
  ggml/src/ggml-vulkan/CMakeLists.txt
  ggml/src/ggml-vulkan/vulkan-shaders/CMakeLists.txt
Labels: Vulkan, ggml

#13533 server : fix cache_tokens bug with no cache_prompt
  tools/server/server.cpp
  tools/server/tests/unit/test_completion.py
  tools/server/utils.hpp
Labels: examples, python, server

#13535 server : passthrough the /models endpoint during loading
  tools/server/README.md
  tools/server/server.cpp
Labels: examples, server

#13537 CUDA: fix crash on large batch size for quant. MoE
  ggml/src/ggml-cuda/mmq.cu
  ggml/src/ggml-cuda/quantize.cu
Labels: Nvidia GPU, ggml

#12808 `common`: add partial regex support
  common/CMakeLists.txt
  common/common.cpp
  common/common.h
  common/regex-partial.cpp
  common/regex-partial.h
  tests/CMakeLists.txt
  tests/test-regex-partial.cpp
  tools/server/server.cpp
Labels: testing, examples, server, tool calling

#12802 `server`: inject date_string in llama 3.x template + fix date for firefunction v2
  common/chat.cpp
  common/chat.h
  tests/test-chat.cpp
  tools/server/tests/unit/test_template.py
  tools/server/tests/unit/test_tool_call.py
Labels: testing, examples, python, server, tool calling

#13548 bench : handle decode errors
  tools/llama-bench/llama-bench.cpp
Labels: examples

#13540 fix: proper error handling for missing elements in messages array (OpenAI compatible backend)
  tools/server/utils.hpp
Labels: examples, server

#13563 llama-bench : fix -ot with dl backends
  tools/llama-bench/llama-bench.cpp
Labels: examples

#13109 sycl : Implemented reorder Q4_K mmvq
  ggml/src/ggml-sycl/convert.cpp
  ggml/src/ggml-sycl/dequantize.hpp
  ggml/src/ggml-sycl/dmmv.cpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
  ggml/src/ggml-sycl/mmvq.cpp
  ggml/src/ggml-sycl/quants.hpp
  ggml/src/ggml-sycl/vecdotq.hpp
Labels: ggml, SYCL

#13383 sycl: simplify bin_bcast_kernel
  ggml/src/ggml-sycl/binbcast.cpp
Labels: ggml, SYCL

#13567 convert : fix conversion for llama 4
  convert_hf_to_gguf.py
  gguf-py/gguf/tensor_mapping.py
Labels: python

#13569 gguf-py : Fix disconnect-before-connect crash on Kubuntu
  gguf-py/gguf/scripts/gguf_editor_gui.py
Labels: python

#13571 gguf : use ggml log system
  ggml/src/gguf.cpp
  src/llama-model-loader.cpp
Labels: ggml

#13582 sycl : fixed compilation warnings
  ggml/src/ggml-sycl/element_wise.cpp
Labels: ggml, SYCL

#13575 ci : add ppc64el to build-linux-cross
  .github/workflows/build-linux-cross.yml
Labels: devops

#13583 metal : add FA-vec kernel for head size 64
  ggml/src/ggml-metal/ggml-metal.m
  ggml/src/ggml-metal/ggml-metal.metal
Labels: ggml, Apple Metal

#13592 releases : use arm version of curl for windows arm releases
  .github/actions/windows-setup-curl/action.yml
  .github/workflows/release.yml
Labels: devops

#13551 webui : improve accessibility for visually impaired people
  tools/server/public/index.html.gz
  tools/server/webui/src/App.tsx
  tools/server/webui/src/components/ChatInputExtraContextItem.tsx
  tools/server/webui/src/components/ChatMessage.tsx
  tools/server/webui/src/components/ChatScreen.tsx
  tools/server/webui/src/components/Header.tsx
  tools/server/webui/src/components/SettingDialog.tsx
  tools/server/webui/src/components/Sidebar.tsx
  tools/server/webui/src/index.scss
  tools/server/webui/src/utils/common.tsx
Labels: examples, server

#13577 server : do not return error when running out of context (with ctx shift disabled)
  tools/server/server.cpp
  tools/server/tests/unit/test_ctx_shift.py
Labels: examples, python, server

#13554 vulkan: use scalar FA rather than coopmat2 when N==1
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#13556 vulkan: move common FA code to flash_attn_base.comp
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn.comp
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn_base.comp
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn_cm1.comp
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn_cm2.comp
Labels: Vulkan, ggml

#13598 parallel : add option for non-shared and larger prompts
  common/arg.cpp
  examples/parallel/README.md
  examples/parallel/parallel.cpp
Labels: examples

#13595 fix: use the current build config for `vulkan-shaders-gen`
  ggml/src/ggml-vulkan/CMakeLists.txt
Labels: Vulkan, ggml

#13608 server : added --no-prefill-assistant flag
  common/arg.cpp
  common/common.h
  tools/server/README.md
  tools/server/server.cpp
  tools/server/utils.hpp
Labels: examples, server

#13042 [CANN]Support OP MUL_MAT_ID
  ggml/src/ggml-cann/aclnn_ops.cpp
  ggml/src/ggml-cann/aclnn_ops.h
  ggml/src/ggml-cann/ggml-cann.cpp
Labels: ggml, Ascend NPU

#13631 fix: check model pointer validity before use
  examples/simple/simple.cpp
Labels: examples

#13532 ci : upgraded oneAPI version in SYCL workflows and dockerfile
  .devops/intel.Dockerfile
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: devops

#13282 mtmd : add vision support for llama 4
  convert_hf_to_gguf.py
  docs/multimodal.md
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  tools/mtmd/clip-impl.h
  tools/mtmd/clip.cpp
  tools/mtmd/clip.h
  tools/mtmd/mtmd.cpp
  tools/mtmd/tests.sh
Labels: documentation, help wanted, examples, python

#13607 Vulkan: Support fp32 accumulator in quantized matmul to fix GLM4-32B incoherence
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#13617 added load_progress_callback to common_params
  common/common.cpp
  common/common.h
Labels: merge ready

#13482 sycl : Overcoming workaround for mmap() allocation on Windows
  ggml/src/ggml-sycl/ggml-sycl.cpp
  tools/llama-bench/README.md
Labels: examples, ggml, SYCL

#13162 [CANN] Update CANN model support status
  docs/backend/CANN.md
Labels: documentation, Ascend NPU

#13194 kv-cache : add SWA support
  common/arg.cpp
  common/common.cpp
  common/common.h
  include/llama.h
  src/llama-context.cpp
  src/llama-graph.cpp
  src/llama-graph.h
  src/llama-hparams.h
  src/llama-kv-cache.cpp
  src/llama-kv-cache.h
  src/llama-memory.h
  src/llama-model.cpp
  src/llama-model.h
  tools/llama-bench/llama-bench.cpp
  tools/server/server.cpp
Labels: examples, server

#13536 sycl: disable reorder for sycl mulmat
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: ggml, SYCL

#13654 tests : avoid github urls due to throttling
  tests/test-arg-parser.cpp
Labels: testing

#13584 CUDA: skip fully masked-out KV in FA vec kernel
  ggml/src/ggml-cuda/fattn-vec-f16.cuh
  ggml/src/ggml-cuda/fattn-vec-f32.cuh
Labels: Nvidia GPU, ggml

#13653 llama : remove llama_kv_cache_view API + remove deprecated
  common/arg.cpp
  common/common.cpp
  common/common.h
  examples/lookahead/lookahead.cpp
  examples/lookup/lookup.cpp
  examples/parallel/parallel.cpp
  include/llama.h
  src/llama-context.cpp
  src/llama-kv-cache.cpp
  src/llama-kv-cache.h
Labels: examples

#13650 mtmd-helper : bug fix to token batching in mtmd
  tools/mtmd/mtmd-helper.cpp
Labels: examples

#13626 vulkan: small fixes
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_iq1_m.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mm.comp
Labels: Vulkan, ggml

#13647 musa: Upgrade MUSA SDK version to rc4.0.1 and use mudnn::Unary::IDENTITY op to accelerate D2D memory copy
  .devops/musa.Dockerfile
  .github/workflows/build.yml
  README.md
  ci/README.md
  docs/docker.md
  ggml/src/ggml-cuda/cpy.cu
  ggml/src/ggml-cuda/fattn-mma-f16.cuh
  ggml/src/ggml-musa/CMakeLists.txt
  ggml/src/ggml-musa/mudnn.cu
  ggml/src/ggml-musa/mudnn.cuh
Labels: documentation, Nvidia GPU, devops, ggml

#13634 server : fix first message identification
  tools/server/server.cpp
  tools/server/tests/unit/test_chat_completion.py
Labels: examples, python, server

#13659 Add the endpoints /api/tags and /api/chat
  tools/server/server.cpp
Labels: examples, server

#13667 ggml : add ggml_gelu_erf()
  ggml/include/ggml.h
  ggml/src/ggml-cpu/ggml-cpu.c
  ggml/src/ggml-cpu/ops.cpp
  ggml/src/ggml-cpu/vec.h
  ggml/src/ggml-metal/ggml-metal.m
  ggml/src/ggml-metal/ggml-metal.metal
  ggml/src/ggml.c
Labels: ggml, Apple Metal

#13687 gguf-py : display the invalid gguf type
  gguf-py/gguf/gguf_reader.py
Labels: python

#13685 examples : switch retrieval to llama_encode
  common/arg.cpp
  examples/retrieval/retrieval.cpp
Labels: examples

#13642 releases : build CPU backend separately (windows)
  .github/workflows/release.yml
Labels: devops

#12795 opencl: fix couple crashes
  ggml/src/ggml-opencl/ggml-opencl.cpp
Labels: ggml

#12622 opencl: Add support for multiple devices
  ggml/src/ggml-opencl/ggml-opencl.cpp
Labels: ggml

#13587 SYCL: Avoid using SYCL-Graph for unsupported nodes
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: ggml, SYCL

#13702 sycl: Remove waits from async functions call
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: ggml, SYCL

#13701 gguf-py : correct charsmap parameter typing
  gguf-py/gguf/gguf_writer.py
Labels: python

#13699 common: Include torch package for s390x
  requirements/requirements-convert_hf_to_gguf.txt
  requirements/requirements-convert_hf_to_gguf_update.txt
  requirements/requirements-convert_lora_to_gguf.txt
Labels: python

#13623 mtmd : add ultravox audio input
  .editorconfig
  README.md
  common/arg.cpp
  common/common.h
  convert_hf_to_gguf.py
  docs/multimodal.md
  gguf-py/gguf/constants.py
  gguf-py/gguf/gguf_writer.py
  gguf-py/gguf/tensor_mapping.py
  tools/mtmd/CMakeLists.txt
  tools/mtmd/clip-impl.h
  tools/mtmd/clip.cpp
  tools/mtmd/clip.h
  tools/mtmd/miniaudio.h
  tools/mtmd/mtmd-audio.cpp
  tools/mtmd/mtmd-audio.h
  tools/mtmd/mtmd-cli.cpp
  tools/mtmd/mtmd-helper.cpp
  tools/mtmd/mtmd.cpp
  tools/mtmd/mtmd.h
  tools/server/utils.hpp
Labels: documentation, examples, python, server

#13713 tts : fix n_ubatch + make WavTokenizer cache-less
  src/llama-model.cpp
  tools/tts/tts.cpp
Labels: examples

#13707 release : fix windows hip release
  .github/workflows/release.yml
Labels: devops

#13657 use LOG_WARN to replace `std::cerr`
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml
