Repository ggml-org/llama.cpp, pull requests merged in 2025-10, with the labels that each got.

#16363 Remove running `llama-server` within WebUI `dev.sh` script
  tools/server/webui/scripts/dev.sh
Labels: server/webui, examples, server

#16366 ci : use registry cache for docker builds
  .github/workflows/docker.yml
Labels: devops

#16373 common: introduce http.h for httplib-based client
  CODEOWNERS
  common/CMakeLists.txt
  common/arg.cpp
  common/http.h
  tools/run/run.cpp
Labels: examples

#16075 Fix parameter loading in PLaMo2
  convert_hf_to_gguf.py
  src/llama-hparams.h
  src/llama-model.cpp
Labels: python

#16371 [SYCL]Update to oneAPI 2025.2
  .devops/intel.Dockerfile
  .github/workflows/build.yml
  .github/workflows/release.yml
  docs/backend/SYCL.md
Labels: documentation, devops, SYCL

#16381 ci : fix clean-up of old logs
  ci/run.sh
Labels: devops

#16294 ci: update vulkan ci
  .github/workflows/build.yml
Labels: devops

#16388 ci : attempt to fix ubuntu-latest-cmake-rpc
  .github/workflows/build.yml
Labels: devops

#16265 musa: update compile flags
  ggml/src/ggml-cuda/fattn-vec.cuh
  ggml/src/ggml-cuda/topk-moe.cu
  ggml/src/ggml-musa/CMakeLists.txt
Labels: Nvidia GPU, ggml

#15852 Feat: Apertus model implementation
  common/chat-parser.cpp
  common/chat-parser.h
  common/chat.cpp
  common/chat.h
  convert_hf_to_gguf.py
  ggml/include/ggml.h
  ggml/src/ggml-cpu/ggml-cpu.c
  ggml/src/ggml-cpu/ops.cpp
  ggml/src/ggml-cpu/unary-ops.cpp
  ggml/src/ggml-cpu/unary-ops.h
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/unary.cu
  ggml/src/ggml-cuda/unary.cuh
  ggml/src/ggml-impl.h
  ggml/src/ggml.c
  gguf-py/gguf/constants.py
  gguf-py/gguf/gguf_writer.py
  gguf-py/gguf/tensor_mapping.py
  models/templates/Apertus-8B-Instruct.jinja
  src/llama-arch.cpp
  src/llama-arch.h
  src/llama-hparams.h
  src/llama-model-loader.cpp
  src/llama-model.cpp
  src/llama-model.h
  tests/test-chat.cpp
  tools/tts/convert_pt_to_hf.py
Labels: testing, Nvidia GPU, examples, python, devops, server, ggml, Apple Metal

#16357 ggml webgpu: add support for soft_max, optimize rms_norm
  ggml/include/ggml.h
  ggml/src/ggml-webgpu/ggml-webgpu.cpp
  ggml/src/ggml-webgpu/wgsl-shaders/rms_norm.wgsl
  ggml/src/ggml-webgpu/wgsl-shaders/soft_max.tmpl.wgsl
  ggml/src/ggml.c
  tests/test-backend-ops.cpp
Labels: testing, ggml

#16389 test-barrier : do not use more threads than physically available
  tests/test-barrier.cpp
Labels: testing

#16356 Fix mobile unwanted scrolling
  tools/server/webui/src/routes/+layout.svelte
Labels: examples, server

#16402 Fix messages payload sent to chat completions
  tools/server/public/index.html.gz
  tools/server/webui/src/lib/stores/chat.svelte.ts
Labels: server/webui, examples, bugfix, server

#16405 Capture model name only after first token (streaming) or completed request
  tools/server/public/index.html.gz
  tools/server/webui/src/lib/stores/chat.svelte.ts
Labels: examples, server

#16365 vulkan: Fix FA coopmat1 invalid array indexing
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn_cm1.comp
Labels: Vulkan, ggml

#16408 Fix missing messages on sibling navigation
  tools/server/public/index.html.gz
  tools/server/webui/src/lib/stores/chat.svelte.ts
Labels: examples, server

#16276 rpc : add support for multiple devices
  common/arg.cpp
  ggml/include/ggml-backend.h
  ggml/include/ggml-rpc.h
  ggml/src/ggml-backend-impl.h
  ggml/src/ggml-rpc/ggml-rpc.cpp
  tools/llama-bench/llama-bench.cpp
  tools/rpc/rpc-server.cpp
Labels: examples, ggml

#16400 ggml webgpu: actually add softmax, fix rms_norm offset
  ggml/src/ggml-webgpu/ggml-webgpu.cpp
  ggml/src/ggml-webgpu/wgsl-shaders/rms_norm.wgsl
  ggml/src/ggml-webgpu/wgsl-shaders/soft_max.tmpl.wgsl
Labels: ggml

#16436 server: update readme to mention n_past_max metric
  tools/server/README.md
Labels: examples, server

#16444 ci : remove missing reranker model files
  ci/run.sh
Labels: devops

#16414 ci : refactor sdk caching to minimize storage
  .github/actions/install-exe/action.yml
  .github/actions/linux-setup-spacemit/action.yml
  .github/actions/linux-setup-vulkan/action.yml
  .github/actions/unarchive-tar/action.yml
  .github/actions/windows-setup-rocm/action.yml
  .github/workflows/build-cache.yml
  .github/workflows/build-linux-cross.yml
  .github/workflows/build.yml
  CODEOWNERS
Labels: devops

#16446 metal : various optimizations + refactoring
  ggml/src/ggml-metal/ggml-metal-device.cpp
  ggml/src/ggml-metal/ggml-metal-device.m
  ggml/src/ggml-metal/ggml-metal-impl.h
  ggml/src/ggml-metal/ggml-metal-ops.cpp
  ggml/src/ggml-metal/ggml-metal.metal
Labels: ggml, Apple Metal

#16148 metal : add support for non-padded FA KV
  ggml/src/ggml-cuda/fattn.cu
  ggml/src/ggml-metal/ggml-metal-device.cpp
  ggml/src/ggml-metal/ggml-metal-device.h
  ggml/src/ggml-metal/ggml-metal-impl.h
  ggml/src/ggml-metal/ggml-metal-ops.cpp
  ggml/src/ggml-metal/ggml-metal-ops.h
  ggml/src/ggml-metal/ggml-metal.cpp
  ggml/src/ggml-metal/ggml-metal.metal
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, ggml, Apple Metal

#16441 rpc : update documentation
  tools/rpc/README.md
Labels: examples

#16282 webui : added download action (#13552)
  tools/server/public/index.html.gz
  tools/server/webui/src/lib/components/app/chat/ChatSidebar/ChatSidebarActions.svelte
  tools/server/webui/src/lib/components/app/chat/ChatSidebar/ChatSidebarConversationItem.svelte
  tools/server/webui/src/lib/stores/chat.svelte.ts
  tools/server/webui/src/lib/stores/database.ts
  tools/server/webui/src/lib/types/database.d.ts
Labels: examples, server

#16464 llama : support LiquidAI LFM2-MoE hybrid model
  convert_hf_to_gguf.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  src/llama-arch.cpp
  src/llama-arch.h
  src/llama-model.cpp
  src/llama-model.h
Labels: model, python, hot

#16440 server : improve context checkpoint logic
  src/llama-memory-recurrent.cpp
  tools/server/server.cpp
Labels: examples, server

#16372 metal : mark FA blocks
  ggml/src/ggml-metal/ggml-metal-device.cpp
  ggml/src/ggml-metal/ggml-metal-device.h
  ggml/src/ggml-metal/ggml-metal-impl.h
  ggml/src/ggml-metal/ggml-metal-ops.cpp
  ggml/src/ggml-metal/ggml-metal-ops.h
  ggml/src/ggml-metal/ggml-metal.cpp
  ggml/src/ggml-metal/ggml-metal.metal
Labels: testing, ggml, Apple Metal

#16467 server : Fixed canceling pending tasks
  tools/server/server.cpp
Labels: examples, server
