Repository ggml-org/llama.cpp, pull requests merged in 2025-04, with the labels that each got.

#12674 SYCL: switch to SYCL namespace
  ggml/src/ggml-sycl/norm.cpp
Labels: ggml, SYCL

#12192 SYCL: Rename oneMKL to oneMath
  docs/backend/SYCL.md
  ggml/src/ggml-sycl/CMakeLists.txt
  ggml/src/ggml-sycl/dpct/helper.hpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
  ggml/src/ggml-sycl/outprod.cpp
Labels: documentation, examples, ggml, SYCL

#12683 vulkan: fix build when glslc doesn't support coopmat
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#12688 metal : use F32 prec in FA kernels
  ggml/src/ggml-metal/ggml-metal.m
  ggml/src/ggml-metal/ggml-metal.metal
Labels: ggml, Apple Metal

#12687 convert : BailingMoE : fix qkv split when head_dim is 0
  convert_hf_to_gguf.py
Labels: python

#12649 opencl : fix memory allocation size
  ggml/src/ggml-opencl/ggml-opencl.cpp
Labels: ggml

#12694 common : refactor downloading system, handle mmproj with -hf option
  common/arg.cpp
  common/common.cpp
  common/common.h
  examples/batched-bench/batched-bench.cpp
  examples/batched/batched.cpp
  examples/export-lora/export-lora.cpp
  examples/gritlm/gritlm.cpp
  examples/llava/README-gemma3.md
  examples/llava/gemma3-cli.cpp
  examples/llava/llava-cli.cpp
  examples/llava/minicpmv-cli.cpp
  examples/llava/qwen2vl-cli.cpp
  examples/parallel/parallel.cpp
  examples/passkey/passkey.cpp
  examples/server/server.cpp
  examples/speculative-simple/speculative-simple.cpp
  examples/speculative/speculative.cpp
  examples/tts/tts.cpp
  tests/test-arg-parser.cpp
Labels: testing, examples, server

#12671 [CANN]get_rows and dup optimization
  ggml/src/ggml-cann/CMakeLists.txt
  ggml/src/ggml-cann/aclnn_ops.cpp
  ggml/src/ggml-cann/ggml-cann.cpp
  ggml/src/ggml-cann/kernels/CMakeLists.txt
  ggml/src/ggml-cann/kernels/ascendc_kernels.h
  ggml/src/ggml-cann/kernels/dup.cpp
  ggml/src/ggml-cann/kernels/get_row_f16.cpp
  ggml/src/ggml-cann/kernels/get_row_f32.cpp
  ggml/src/ggml-cann/kernels/get_row_q4_0.cpp
  ggml/src/ggml-cann/kernels/get_row_q8_0.cpp
  ggml/src/ggml-cann/kernels/quantize_f16_q8_0.cpp
  ggml/src/ggml-cann/kernels/quantize_f32_q8_0.cpp
  ggml/src/ggml-cann/kernels/quantize_float_to_q4_0.cpp
Labels: ggml, Ascend NPU

#12697 common : remove json.hpp from common.cpp
  common/common.cpp
  common/common.h
  examples/server/server.cpp
  examples/server/utils.hpp
Labels: examples, server

#12695 llama : refactor kv cache guard
  examples/parallel/parallel.cpp
  src/llama-context.cpp
  src/llama-kv-cache.cpp
  src/llama-kv-cache.h
Labels: examples

#11397 llama : add option to override model tensor buffers
  common/arg.cpp
  common/common.cpp
  common/common.h
  ggml/src/ggml.c
  include/llama.h
  src/llama-context.cpp
  src/llama-model-loader.cpp
  src/llama-model-loader.h
  src/llama-model.cpp
  src/llama-model.h
  src/llama-quant.cpp
  src/llama.cpp
Labels: demo, need feedback, ggml

#12722 Vulkan: Fix mmq int dot float cache size
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mmq.comp
  ggml/src/ggml-vulkan/vulkan-shaders/mul_mmq_funcs.comp
Labels: Vulkan, ggml

#12559 vulkan: Implement grouped query attention in the coopmat2 FA shader
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn_cm2.comp
Labels: Vulkan, ggml

#12719 cmake: remove caching from vulkan coopmat checks
  ggml/src/ggml-vulkan/CMakeLists.txt
Labels: Vulkan, ggml

#12705 opencl: use `max_alloc_size` in backend ctx instead of querying again
  ggml/src/ggml-opencl/ggml-opencl.cpp
Labels: ggml

#12708 CANN: Fix backend op fail
  ggml/src/ggml-cann/acl_tensor.cpp
  ggml/src/ggml-cann/acl_tensor.h
  ggml/src/ggml-cann/aclnn_ops.cpp
  ggml/src/ggml-cann/aclnn_ops.h
  ggml/src/ggml-cann/ggml-cann.cpp
Labels: ggml, Ascend NPU

#9017 Simplify and improve CUDA graphs through use of indirect copy pointers
  ggml/src/ggml-cuda/common.cuh
  ggml/src/ggml-cuda/cpy.cu
  ggml/src/ggml-cuda/cpy.cuh
  ggml/src/ggml-cuda/ggml-cuda.cu
Labels: Nvidia GPU, ggml

#12709 [CANN]Support operator SIN COS ARGMAX
  ggml/src/ggml-cann/aclnn_ops.cpp
  ggml/src/ggml-cann/aclnn_ops.h
  ggml/src/ggml-cann/ggml-cann.cpp
Labels: ggml, Ascend NPU

#12704 fix MUSA compiler warning
  ggml/src/ggml-cuda/ssm-conv.cu
  ggml/src/ggml-cuda/ssm-scan.cu
Labels: Nvidia GPU, ggml

#12699 Sync minja patch to support inclusionAI/Ling-lite template and update tests
  common/minja/minja.hpp
  tests/test-chat-template.cpp
Labels: testing

#12736 SYCL: Set the SYCL_PROGRAM_COMPILE_OPTIONS env variable in the CI
  ci/run.sh
  docs/backend/SYCL.md
Labels: documentation, devops, SYCL

#12721 vulkan: Fix missing cmake logic for dot product extension
  ggml/src/ggml-vulkan/CMakeLists.txt
  ggml/src/ggml-vulkan/vulkan-shaders/CMakeLists.txt
Labels: Vulkan, ggml

#12738 CUDA: Prefer vector flash decoding kernel for Gemma models
  ggml/src/ggml-cuda/fattn.cu
Labels: Nvidia GPU, ggml

#12702 opencl: update doc for OpenCL
  docs/backend/OPENCL.md
  docs/build.md
Labels: documentation

#12744 vulkan: set cmake minimum and project name in vulkan-shaders
  ggml/src/ggml-vulkan/vulkan-shaders/CMakeLists.txt
Labels: Vulkan, ggml

#12630 vulkan: Hybrid waitForFences/getFenceStatus to reduce fence latency
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#12747 Fix CMake Error for Vulkan with LLVM
  ggml/src/ggml-vulkan/cmake/host-toolchain.cmake.in
Labels: Vulkan, ggml

#12625 sycl: allow ggml-sycl configuration and compilation using Visual Studio project/solution
  docs/backend/SYCL.md
  ggml/src/ggml-sycl/CMakeLists.txt
Labels: documentation, ggml, SYCL

#12735 Server webui: Upgrade daisyui, tailwindcss.
  examples/server/public/index.html.gz
  examples/server/webui/package-lock.json
  examples/server/webui/package.json
  examples/server/webui/postcss.config.js
  examples/server/webui/src/App.tsx
  examples/server/webui/src/Config.ts
  examples/server/webui/src/components/Header.tsx
  examples/server/webui/src/index.scss
Labels: examples, devops, server

#12757 clip : refactor clip_init, add tests
  examples/llava/clip-impl.h
  examples/llava/clip.cpp
  examples/llava/clip.h
  examples/llava/gemma3-cli.cpp
  examples/llava/llava-cli.cpp
  examples/llava/minicpmv-cli.cpp
  examples/llava/qwen2vl-cli.cpp
  examples/llava/test-1.jpeg
  examples/llava/tests.sh
Labels: examples

#12766 Fix includes in arg.cpp and gemma3-cli.cpp
  common/arg.cpp
  examples/llava/gemma3-cli.cpp
Labels: testing, examples, server, ggml

#12767 Vulkan: Tune Vulkan mmq int dot shader for performance
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#12720 vulkan: Use unclamped loads for flash attention mask
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn_cm2.comp
Labels: testing, Vulkan, ggml

#12776 vulkan: fix NaN issue in flash attention shader
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn_cm2.comp
Labels: Vulkan, ggml

#12780 musa: fix compilation warnings in mp_22/31
  ggml/src/ggml-cuda/cpy.cu
  ggml/src/ggml-cuda/fattn-common.cuh
  ggml/src/ggml-cuda/fattn-tile-f32.cu
  ggml/src/ggml-cuda/fattn-vec-f32.cuh
Labels: Nvidia GPU, ggml

#12731 CANN: Refactor to reduce duplicate code
  ggml/src/ggml-cann/aclnn_ops.cpp
  ggml/src/ggml-cann/aclnn_ops.h
  ggml/src/ggml-cann/ggml-cann.cpp
Labels: ggml, Ascend NPU

#12733 CANN: fix typo in ggml-cann
  ggml/src/ggml-cann/ggml-cann.cpp
Labels: ggml, Ascend NPU

#12761 cmake : enable curl by default
  .devops/cpu.Dockerfile
  .devops/cuda.Dockerfile
  .devops/intel.Dockerfile
  .devops/musa.Dockerfile
  .devops/rocm.Dockerfile
  .github/actions/windows-setup-curl/action.yml
  .github/workflows/bench.yml.disabled
  .github/workflows/build-linux-cross.yml
  .github/workflows/build.yml
  .github/workflows/server.yml
  CMakeLists.txt
  build-xcframework.sh
  common/CMakeLists.txt
  examples/llama.android/llama/build.gradle.kts
  examples/run/CMakeLists.txt
  examples/server/tests/README.md
  examples/sycl/win-build-sycl.bat
  licenses/LICENSE-curl
  licenses/LICENSE-httplib
  licenses/LICENSE-jsonhpp
  licenses/LICENSE-linenoise
  tests/CMakeLists.txt
Labels: build, testing, android, examples, devops, server, SYCL

#12734 sycl:remove redundant memcopy in function ggml_backend_sycl_buffer_set_tensor
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: ggml, SYCL

#12760 opencl: better identify Adreno GPU
  ggml/src/ggml-opencl/ggml-opencl.cpp
Labels: ggml

#12791 llama : Support llama 4 text-only
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/gguf_writer.py
  include/llama.h
  models/ggml-vocab-llama4.gguf.inp
  models/ggml-vocab-llama4.gguf.out
  src/llama-arch.cpp
  src/llama-arch.h
  src/llama-chat.cpp
  src/llama-chat.h
  src/llama-graph.cpp
  src/llama-graph.h
  src/llama-hparams.h
  src/llama-model.cpp
  src/llama-model.h
  src/llama-vocab.cpp
Labels: python

#12812 Revert "sycl:remove redundant memcopy in function ggml_backend_sycl_buffer_set_tensor"
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: ggml, SYCL

#12824 llava: add more helper functions to check projector types
  examples/llava/clip.cpp
  examples/llava/clip.h
Labels: examples

#12831 server : fix thread.join() on exit
  examples/server/server.cpp
Labels: examples, server

#12806 cuda : add f32 to bf16 copy op
  ggml/src/ggml-cuda/cpy.cu
  ggml/src/ggml-cuda/ggml-cuda.cu
Labels: Nvidia GPU, ggml

#12783 vulkan: Use fp16 for the flash attention P*V multiplication
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn_cm2.comp
Labels: Vulkan, ggml

#12786 [CANN]Support Opt CONV_TRANSPOSE_1D and ELU
  .devops/llama-cli-cann.Dockerfile
  .github/workflows/build.yml
  ggml/src/ggml-cann/aclnn_ops.cpp
  ggml/src/ggml-cann/aclnn_ops.h
  ggml/src/ggml-cann/ggml-cann.cpp
Labels: devops, ggml, Ascend NPU

#12832 clip : do not print ftype
  examples/llava/clip.cpp
Labels: examples

#12827 ci: detach common from the library
  examples/server/utils.hpp
  src/CMakeLists.txt
  tests/test-chat-template.cpp
Labels: testing, examples, server

#12839 musa: enable freediskspace for docker image build
  .github/workflows/docker.yml
Labels: devops

#12828 Support Qwen3 and Qwen3MoE
  convert_hf_to_gguf.py
  gguf-py/gguf/constants.py
  src/llama-arch.cpp
  src/llama-arch.h
  src/llama-model.cpp
Labels: python

#12855 ggml-impl.h: fix build on POWER9
  ggml/src/ggml-impl.h
Labels: ggml

#12856 ggml-cpu-impl.h: do not redefine bool on POWER9
  ggml/src/ggml-cpu/ggml-cpu-impl.h
Labels: ggml

#12749 Added all CPU to Docker GPU images for 'token_embd.weight' compatibility
  .devops/cuda.Dockerfile
  .devops/intel.Dockerfile
  .devops/musa.Dockerfile
  .devops/rocm.Dockerfile
  .devops/vulkan.Dockerfile
Labels: devops

#12841 [CANN]Support Opt LOG && MEAN && PAD_REFLECT_1D && STEP ...
  ggml/src/ggml-cann/acl_tensor.cpp
  ggml/src/ggml-cann/aclnn_ops.cpp
  ggml/src/ggml-cann/aclnn_ops.h
  ggml/src/ggml-cann/ggml-cann.cpp
Labels: ggml

#12820 convert : ability to lazy-load safetensors remotely without downloading to disk
  convert_hf_to_gguf.py
  gguf-py/gguf/utility.py
Labels: python

#12848 ggml: fixes #12846 compilation error
  ggml/src/ggml-cpu/simd-mappings.h
Labels: ggml

#12870 convert : proper tensor name mapping for llama4
  convert_hf_to_gguf.py
  gguf-py/gguf/tensor_mapping.py
Labels: python

#12861 Replace freediskspace to free_disk_space in docker.yml
  .github/workflows/docker.yml
Labels: devops

#12788 SYCL: Add fp16 type support to unary op kernels
  ggml/src/ggml-sycl/element_wise.cpp
  ggml/src/ggml-sycl/element_wise.hpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: ggml, SYCL

#12869 clip : use smart pointer (⚠️ breaking change)
  examples/llava/clip-impl.h
  examples/llava/clip.cpp
  examples/llava/clip.h
  examples/llava/llava.cpp
  examples/llava/mtmd.cpp
Labels: breaking change, examples

#12867 glm4-4-0414 : add Glm4Model implementation for GLM-4-0414
  README.md
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  src/llama-arch.cpp
  src/llama-arch.h
  src/llama-model.cpp
  src/llama-vocab.cpp
Labels: examples, python, server

#12664 contrib: support modelscope community
  README.md
  common/arg.cpp
  common/common.cpp
  common/common.h
  examples/run/run.cpp
Labels: examples

#12873 SYCL: Support sycl_ext_oneapi_limited_graph
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: ggml, SYCL

#12900 `tool-call`: fix non-tool-calling grammar crashes w/ Qwen / Hermes 2 templates
  common/chat.cpp
  tests/test-chat.cpp
Labels: testing, bugfix

#12903 Set cache directory in rpc-server.cpp on FreeBSD
  examples/rpc/rpc-server.cpp
Labels: examples

#12896 server : add VSCode's Github Copilot Chat support
  examples/server/server.cpp
Labels: examples, server

#12907 llava: Fix cpu-only clip image encoding sefault
  examples/llava/clip.cpp
Labels: examples

#12853 vulkan: use aligned loads for flash attention mask
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn_cm2.comp
Labels: Vulkan, ggml

#12915 Define cache directory on AIX
  common/common.cpp
  examples/rpc/rpc-server.cpp
Labels: examples

#12511 quantize: Handle user-defined quantization levels for additional tensors
  examples/quantize/quantize.cpp
  include/llama.h
  src/llama-quant.cpp
Labels: examples

#12891 ggml: disable CUDA graphs for unsupported DUP and CONT node types
  ggml/src/ggml-cuda/ggml-cuda.cu
Labels: Nvidia GPU, ggml

#12773 ggml: use _mm[512/256]_dpbusd[_avx]_epi32 to directly accumulate into the result register
  ggml/src/ggml-cpu/ggml-cpu-aarch64.cpp
Labels: ggml

#12937 [SYCL]Disable curl lib check in examples/sycl/build.sh
  examples/sycl/build.sh
Labels: examples, SYCL

#12938 rpc : use ggml_context_ptr
  ggml/src/ggml-rpc/ggml-rpc.cpp
Labels: ggml

#12929 llava: add performance print for gemma3 example
  examples/llava/gemma3-cli.cpp
Labels: examples

#12875 [CANN] Optimize CANN buffer pool memory management
  ggml/src/ggml-cann/aclnn_ops.cpp
  ggml/src/ggml-cann/ggml-cann.cpp
Labels: ggml, Ascend NPU

#12865 [CANN]Opt ROPE optimization
  ggml/src/ggml-cann/aclnn_ops.cpp
  ggml/src/ggml-cann/ggml-cann.cpp
Labels: ggml, Ascend NPU

#12829 Add AVX512 implementation of GEMM - Q4_Kx8
  ggml/src/ggml-cpu/ggml-cpu-aarch64.cpp
Labels: ggml

#12801 DeepSeek V2/V3 MLA implementation
  convert_hf_to_gguf.py
  gguf-py/gguf/constants.py
  gguf-py/gguf/gguf_writer.py
  gguf-py/gguf/tensor_mapping.py
  src/llama-arch.cpp
  src/llama-arch.h
  src/llama-context.cpp
  src/llama-graph.cpp
  src/llama-graph.h
  src/llama-hparams.h
  src/llama-kv-cache.cpp
  src/llama-model.cpp
  src/llama-model.h
Labels: python

#12887 SYCL: Add ROPE vision kernel
  ggml/src/ggml-sycl/ggml-sycl.cpp
  ggml/src/ggml-sycl/rope.cpp
Labels: ggml, SYCL

#12950 CANN: Add x86 build ci
  .github/workflows/build.yml
  ggml/src/ggml-cann/ggml-cann.cpp
Labels: devops, ggml, Ascend NPU

#12952 metal : add FA-vec kernels for head size 96
  ggml/src/ggml-metal/ggml-metal.m
  ggml/src/ggml-metal/ggml-metal.metal
Labels: ggml, Apple Metal

#12886 opencl: split `ggml-opencl.cl` into multiple files and cleanup
  ggml/src/ggml-opencl/CMakeLists.txt
  ggml/src/ggml-opencl/ggml-opencl.cpp
  ggml/src/ggml-opencl/kernels/add.cl
  ggml/src/ggml-opencl/kernels/clamp.cl
  ggml/src/ggml-opencl/kernels/cpy.cl
  ggml/src/ggml-opencl/kernels/cvt.cl
  ggml/src/ggml-opencl/kernels/diag_mask_inf.cl
  ggml/src/ggml-opencl/kernels/gelu.cl
  ggml/src/ggml-opencl/kernels/gemv_noshuffle.cl
  ggml/src/ggml-opencl/kernels/gemv_noshuffle_general.cl
  ggml/src/ggml-opencl/kernels/get_rows.cl
  ggml/src/ggml-opencl/kernels/ggml-opencl.cl
  ggml/src/ggml-opencl/kernels/ggml-opencl_im2col.cl
  ggml/src/ggml-opencl/kernels/ggml-opencl_mm.cl
  ggml/src/ggml-opencl/kernels/ggml-opencl_transpose_16.cl
  ggml/src/ggml-opencl/kernels/ggml-opencl_transpose_32.cl
  ggml/src/ggml-opencl/kernels/ggml-opencl_transpose_32_16.cl
  ggml/src/ggml-opencl/kernels/im2col_f16.cl
  ggml/src/ggml-opencl/kernels/im2col_f32.cl
  ggml/src/ggml-opencl/kernels/mul.cl
  ggml/src/ggml-opencl/kernels/mul_mat_Ab_Bi_8x4.cl
  ggml/src/ggml-opencl/kernels/mul_mv_f16_f16.cl
  ggml/src/ggml-opencl/kernels/mul_mv_f16_f32.cl
  ggml/src/ggml-opencl/kernels/mul_mv_f16_f32_1row.cl
  ggml/src/ggml-opencl/kernels/mul_mv_f16_f32_l4.cl
  ggml/src/ggml-opencl/kernels/mul_mv_f32_f32.cl
  ggml/src/ggml-opencl/kernels/mul_mv_q4_0_f32.cl
  ggml/src/ggml-opencl/kernels/mul_mv_q4_0_f32_1d_16x_flat.cl
  ggml/src/ggml-opencl/kernels/mul_mv_q4_0_f32_1d_8x_flat.cl
  ggml/src/ggml-opencl/kernels/mul_mv_q4_0_f32_8x_flat.cl
  ggml/src/ggml-opencl/kernels/mul_mv_q4_0_f32_v.cl
  ggml/src/ggml-opencl/kernels/mul_mv_q6_k.cl
  ggml/src/ggml-opencl/kernels/norm.cl
  ggml/src/ggml-opencl/kernels/relu.cl
  ggml/src/ggml-opencl/kernels/rms_norm.cl
  ggml/src/ggml-opencl/kernels/rope.cl
  ggml/src/ggml-opencl/kernels/scale.cl
  ggml/src/ggml-opencl/kernels/silu.cl
  ggml/src/ggml-opencl/kernels/softmax_4_f16.cl
  ggml/src/ggml-opencl/kernels/softmax_4_f32.cl
  ggml/src/ggml-opencl/kernels/softmax_f16.cl
  ggml/src/ggml-opencl/kernels/softmax_f32.cl
  ggml/src/ggml-opencl/kernels/transpose.cl
Labels: ggml

#12962 [CANN]310P OPT Support
  ggml/src/ggml-cann/aclnn_ops.cpp
  ggml/src/ggml-cann/ggml-cann.cpp
Labels: ggml

#12931 vulkan: enable coopmat2 FA gqa and split_k optimizations more often
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/flash_attn_cm2.comp
  tests/test-backend-ops.cpp
Labels: testing, Vulkan, ggml

#12868 opencl: fix incorrect local_size index in profiling log
  ggml/src/ggml-opencl/ggml-opencl.cpp
Labels: ggml

#12970 ggml: Re-enable CUDA graphs in presence of CONT and DUP nodes
  ggml/src/ggml-cuda/cpy.cu
  ggml/src/ggml-cuda/cpy.cuh
  ggml/src/ggml-cuda/ggml-cuda.cu
Labels: Nvidia GPU, ggml

#12955 rpc : add RPC_CMD_HELLO
  examples/rpc/rpc-server.cpp
  ggml/include/ggml-rpc.h
  ggml/src/ggml-rpc/ggml-rpc.cpp
Labels: examples, ggml

#12906 mtmd : add methods to access `mtmd_image_tokens`
  examples/llava/gemma3-cli.cpp
  examples/llava/mtmd.cpp
  examples/llava/mtmd.h
Labels: examples

#12975 SYCL: Refactor and enable FP16 in binary broadcast OPs
  ggml/src/ggml-sycl/backend.hpp
  ggml/src/ggml-sycl/binbcast.cpp
  ggml/src/ggml-sycl/binbcast.hpp
  ggml/src/ggml-sycl/common.hpp
  ggml/src/ggml-sycl/element_wise.cpp
  ggml/src/ggml-sycl/element_wise.hpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: ggml, SYCL

#12930 gguf-py : GGUF Editor GUI - Python + Qt
  gguf-py/README.md
  gguf-py/gguf/scripts/__init__.py
  gguf-py/gguf/scripts/gguf_editor_gui.py
  gguf-py/pyproject.toml
  requirements/requirements-all.txt
  requirements/requirements-gguf_editor_gui.txt
Labels: python

#12951 main : Fix Ctrl+D/newline handling
  examples/main/main.cpp
Labels: examples

#13011 clip : refactor, add `image_manipulation` and `llava_uhd` classes
  examples/llava/clip.cpp
Labels: examples

#13020 gguf-py : fix upload python package workflow
  gguf-py/pyproject.toml
Labels: python

#13022 Disable CI cross-compile builds
  .github/workflows/build.yml
Labels: devops

#13029 metal: add neg operator
  ggml/src/ggml-metal/ggml-metal.m
  ggml/src/ggml-metal/ggml-metal.metal
Labels: ggml, Apple Metal

#13031 vulkan: support noncontiguous rms_norm
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
  ggml/src/ggml-vulkan/vulkan-shaders/rms_norm.comp
Labels: Vulkan, ggml

#13030 llava: fix errors in clip.h on certain pure C compilers
  examples/llava/clip.h
Labels: examples

#13023 convert : experimental support for `--mmproj` flag
  convert_hf_to_gguf.py
  convert_lora_to_gguf.py
  examples/llava/clip-impl.h
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
Labels: examples, python

#13012 mtmd : merge llava, gemma3 and minicpmv CLI into single `llama-mtmd-cli`
  README.md
  common/arg.cpp
  examples/llava/CMakeLists.txt
  examples/llava/deprecation-warning.cpp
  examples/llava/llava-cli.cpp
  examples/llava/minicpmv-cli.cpp
  examples/llava/mtmd-cli.cpp
  examples/llava/mtmd.cpp
  examples/llava/tests.sh
  src/llama-chat.cpp
Labels: examples

#12993 SYCL: Add non-contiguous support in ROPE
  ggml/src/ggml-sycl/ggml-sycl.cpp
  ggml/src/ggml-sycl/rope.cpp
  ggml/src/ggml-sycl/rope.hpp
Labels: ggml, SYCL

#12871 ggml : add SSE 4.2 and x64 base variant for CPUs without AVX
  ggml/CMakeLists.txt
  ggml/src/CMakeLists.txt
  ggml/src/ggml-cpu/CMakeLists.txt
  ggml/src/ggml-cpu/cpu-feats-x86.cpp
Labels: ggml

#13055 llava : update documentations
  common/arg.cpp
  docs/multimodal/MobileVLM.md
  docs/multimodal/gemma3.md
  docs/multimodal/glmedge.md
  docs/multimodal/granitevision.md
  docs/multimodal/llava.md
  docs/multimodal/minicpmo2.6.md
  docs/multimodal/minicpmv2.5.md
  docs/multimodal/minicpmv2.6.md
  examples/llava/README.md
  examples/llava/android/adb_run.sh
  examples/llava/gemma3_convert_encoder_to_gguf.py
Labels: documentation, examples, python

#12850 metal : add memory pool for temp allocs
  ggml/src/ggml-metal/ggml-metal.m
Labels: ggml, Apple Metal

#13014 CUDA: noncont MMVQ + batched bs1 MUL_MAT_ID
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/mmv.cu
  ggml/src/ggml-cuda/mmv.cuh
  ggml/src/ggml-cuda/mmvq.cu
  ggml/src/ggml-cuda/mmvq.cuh
  ggml/src/ggml-cuda/quantize.cu
  ggml/src/ggml-cuda/quantize.cuh
  ggml/src/ggml-cuda/vecdotq.cuh
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, ggml

#13060 rpc : add command line option for number of threads for the CPU backend
  examples/rpc/rpc-server.cpp
Labels: examples

#13021 Append mult-eos,half-rope,bos to GLM4-0414 and Z
  convert_hf_to_gguf.py
Labels: python

#13065 mtmd : Support Pixtral 12B
  convert_hf_to_gguf.py
  convert_hf_to_gguf_update.py
  docs/multimodal/gemma3.md
  examples/llava/README.md
  examples/llava/clip-impl.h
  examples/llava/clip.cpp
  examples/llava/mtmd.cpp
  examples/llava/tests.sh
  gguf-py/gguf/constants.py
  gguf-py/gguf/tensor_mapping.py
  include/llama.h
  models/ggml-vocab-pixtral.gguf.inp
  models/ggml-vocab-pixtral.gguf.out
  src/llama-vocab.cpp
Labels: documentation, examples, python

#13080 llama-mtmd-cli: Sigint rework in mtmd vision example
  examples/llava/mtmd-cli.cpp
Labels: examples

#13016 vulkan: matmul gcn tuning
  ggml/src/ggml-vulkan/ggml-vulkan.cpp
Labels: Vulkan, ggml

#13090 metal : fix floating-point range of attention scores in FA kernels
  ggml/src/ggml-metal/ggml-metal.metal
Labels: ggml, Apple Metal

#13082 arg : clean up handling --mmproj with -hf
  common/arg.cpp
  common/common.h
  examples/llava/mtmd-cli.cpp
Labels: examples

#13093 arg : add --no-mmproj-offload
  common/arg.cpp
  common/common.h
  examples/llava/mtmd-cli.cpp
Labels: examples

#13095 CUDA: use switch statements in constexpr functions
  ggml/src/ggml-cuda/mmq.cuh
  ggml/src/ggml-cuda/mmvq.cu
Labels: Nvidia GPU, ggml

#13081 clip : remove boi/eoi embeddings for GLM-edge model (⚠️ breaking change)
  examples/llava/clip-impl.h
  examples/llava/clip.cpp
  examples/llava/mtmd.cpp
Labels: breaking change, examples

#12943 rpc : do not wait for response when sending RPC_CMD_SET_TENSOR
  ggml/include/ggml-rpc.h
  ggml/src/ggml-rpc/ggml-rpc.cpp
Labels: ggml

#13003 [SYCL][OPT] Fix reorder optimization for Q4_0
  ggml/src/ggml-sycl/common.hpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: ggml, SYCL

#13101 Force FP32 compute in GLM4 FFN Down
  src/llama-graph.cpp
Labels: Nvidia GPU, ggml

#13117 grammar : handle maxItems == 0 in JSON schema (#13116)
  common/json-schema-to-grammar.cpp
  examples/json_schema_to_grammar.py
  examples/server/public_legacy/json-schema-to-grammar.mjs
  tests/test-json-schema-to-grammar.cpp
Labels: testing, examples, python, server

#13107 ggml: move fp16/bf16 conversion optimizations to CPU backend + export conversion APIs
  ggml/include/ggml-cpu.h
  ggml/src/ggml-cpu/ggml-cpu.c
  ggml/src/ggml-cpu/ops.cpp
  ggml/src/ggml.c
Labels: ggml

#13118 clip : improve projector naming
  examples/llava/clip-impl.h
  examples/llava/clip.cpp
  examples/llava/clip.h
Labels: examples

#13123 common : add common_remote_get_content
  common/arg.cpp
  common/arg.h
  tests/test-arg-parser.cpp
Labels: testing

#12402 Add Qwen2.5VL support
  convert_hf_to_gguf.py
  examples/llava/clip-impl.h
  examples/llava/clip.cpp
  examples/llava/qwen2_vl_surgery.py
  examples/llava/qwen2vl-cli.cpp
  examples/llava/tests.sh
Labels: examples, python

#13133 Fixes Qwen2.5VL segfault during inference
  examples/llava/clip.cpp
Labels: examples

#13129 musa: fix build warning
  ggml/src/ggml-cuda/cpy.cu
Labels: Nvidia GPU, ggml

#13140 fix wrong template in GLM4-0414
  convert_hf_to_gguf.py
  src/llama-chat.cpp
Labels: python

#12922 llama-bench : Add `--override-tensors` arg
  examples/llama-bench/llama-bench.cpp
Labels: examples

#13137 CUDA: fix q_nope_absorbed precision for Deepseek 2 Lite f16
  ggml/include/ggml.h
  ggml/src/ggml-cuda/ggml-cuda.cu
  src/llama-model.cpp
Labels: Nvidia GPU, ggml

#13144 musa: fix typo in cc control
  ggml/src/ggml-cuda/common.cuh
Labels: Nvidia GPU, ggml

#13074 SYCL: Add all missing unary kernels
  ggml/src/ggml-sycl/common.hpp
  ggml/src/ggml-sycl/element_wise.cpp
  ggml/src/ggml-sycl/element_wise.hpp
  ggml/src/ggml-sycl/ggml-sycl.cpp
Labels: ggml, SYCL

#13136 clip : refactor set input for cgraph + fix qwen2.5vl input
  examples/llava/clip.cpp
Labels: examples

#13139 mtmd : fix glm-edge redundant token count
  examples/llava/mtmd.cpp
  src/llama-chat.cpp
  tests/test-chat-template.cpp
Labels: testing, examples

#13069 fix(rpc): Improve input validation and error handling
  ggml/src/ggml-rpc/ggml-rpc.cpp
Labels: ggml

#13153 clip : fix model size display
  examples/llava/clip.cpp
Labels: examples

#13141 mtmd : add qwen2vl and qwen2.5vl
  README.md
  examples/llava/CMakeLists.txt
  examples/llava/clip.cpp
  examples/llava/clip.h
  examples/llava/llava.cpp
  examples/llava/mtmd-cli.cpp
  examples/llava/mtmd.cpp
  examples/llava/mtmd.h
  examples/llava/qwen2vl-test.cpp
  examples/llava/tests.sh
Labels: examples

#13155 CUDA: fix non-cont. inputs for batched mat mul
  ggml/src/ggml-cuda/convert.cu
  ggml/src/ggml-cuda/convert.cuh
  ggml/src/ggml-cuda/ggml-cuda.cu
  src/llama-model.cpp
Labels: testing, Nvidia GPU, ggml

#13183 llama-bench: fixed size of fields to correctly map to values
  examples/llama-bench/llama-bench.cpp
Labels: examples

#13174 Prefilling assistant message in openai compatible API
  examples/server/utils.hpp
Labels: examples, server

#13201 scripts: n_depth support for compare-llama-bench
  scripts/compare-llama-bench.py
Labels: script, python

#13188 rpc : fix cache directory initialization
  examples/rpc/rpc-server.cpp
Labels: examples

#13204 docker : do not build tests
  .devops/cpu.Dockerfile
  .devops/cuda.Dockerfile
  .devops/intel.Dockerfile
  .devops/llama-cli-cann.Dockerfile
  .devops/musa.Dockerfile
  .devops/rocm.Dockerfile
  .devops/vulkan.Dockerfile
  tests/test-quantize-stats.cpp
Labels: testing, devops

#13208 convert : correct typo image_mean --> image_std
  convert_hf_to_gguf.py
Labels: python

#13176 Fix for issue #13170
  ggml/src/ggml-cpu/simd-mappings.h
Labels: ggml

#13193 vulkan: use uint array index to avoid glslang bug
  ggml/src/ggml-vulkan/vulkan-shaders/dequant_funcs_cm2.comp
Labels: Vulkan, ggml

#13207 examples: remove the unnecessary include
  examples/llava/clip-impl.h
Labels: examples

#13122 convert : improve model arch handling
  convert_hf_to_gguf.py
Labels: python

#13199 CUDA: batched+noncont MMQ, refactor bs>1 MoE code
  ggml/src/ggml-cuda/getrows.cu
  ggml/src/ggml-cuda/getrows.cuh
  ggml/src/ggml-cuda/ggml-cuda.cu
  ggml/src/ggml-cuda/mmq.cu
  ggml/src/ggml-cuda/mmq.cuh
  ggml/src/ggml-cuda/mmvq.cu
  ggml/src/ggml-cuda/quantize.cu
  ggml/src/ggml-cuda/quantize.cuh
  tests/test-backend-ops.cpp
Labels: testing, Nvidia GPU, ggml
